{"swagger":"2.0","info":{"description":"Use this API to process and manage the workflow of business processes.","version":"v1","title":"Business Process"},"host":"api.workday.com","basePath":"/businessProcess/v1","tags":[{"name":"events","description":"Use this API to retrieve business process events and their details."},{"name":"eventSteps","description":"API to process Business Process Event Steps."}],"schemes":["https"],"paths":{"/events":{"get":{"tags":["events"],"description":"Returns a collection of events based on the specified parameters. You must specify exactly one worker parameter. If a worker parameter is not specified, returns blank response. Secured by the Business Process Security Policy for each event.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maxmum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"worker","in":"query","description":"The worker for the event. Use the WID of the worker.","required":true,"type":"string","format":"string"},{"name":"status","in":"query","description":"The workflow status of the event. Use the WID of the workflow status.","required":false,"type":"string","format":"string"},{"name":"initiator","in":"query","description":"The worker who initiated the event. Use the WID of the worker.","required":false,"type":"string","format":"string"},{"name":"businessProcess","in":"query","description":"The business process type of the event. Use the WID of the business process type.","required":false,"type":"string","format":"string"},{"name":"initiatedOnOrAfter","in":"query","description":"The date the event is initiated on or after using the yyyy-mm-dd format.","required":false,"type":"string","format":"date"},{"name":"initiatedOnOrBefore","in":"query","description":"The date the event is initiated on or before using the yyyy-mm-dd format.","required":false,"type":"string","format":"date"},{"name":"completedOnOrAfter","in":"query","description":"The date the event is completed on or after using the yyyy-mm-dd format.","required":false,"type":"string","format":"date"},{"name":"completedOnOrBefore","in":"query","description":"The date the event is completed on or before using the yyyy-mm-dd format.","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"total":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/eventDetails_ce00e3198c5b100007db119d8cef0007"}}}}},"400":{"description":"Invalid request, such as invalid WID","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/events/{ID}":{"get":{"tags":["events"],"description":"Returns a business process event. Secured by the Business Process Security Policy for each event.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the business process event","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/eventDetails_ce00e3198c5b100007db119d8cef0007"}},"400":{"description":"Invalid request","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/events/{ID}/comments":{"get":{"tags":["events"],"description":"Returns comments on the specified business process event. Secured by the Business Process Security Policy for each event.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID of the business process event","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/comments_a7a41b4d029c10000b1da9c45b7b18f4"}},"total":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/events/{ID}/inProgressSteps":{"get":{"tags":["events"],"description":"Returns a summary of all business process steps that are currently in progress for the specified business process event. Secured by: Core Navigation","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID of the business process event.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"total":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/stepsInProgressView_be45cf559398100006ba2d34b00d0010"}}}}},"400":{"description":"Invalid request","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/events/{ID}/completedSteps":{"get":{"tags":["events"],"description":"Returns a summary of all business process steps that are completed for the specified buinesss process event. Secured by: Core Navigation","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The fault is 0.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID of the business process event.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"total":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/completedStepsView_0108ca756f1b10001913796229930074"}}}}},"400":{"description":"Invalid Request.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/events/{ID}/remainingSteps":{"get":{"tags":["events"],"description":"Returns a summary of all remaining business process steps for the specified business process event. Secured by: Core Navigation","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of object in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID of the business process event.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"total":{"type":"integer","format":"int64"},"data":{"type":"array","items":{"$ref":"#/definitions/remainingStepView_33c0a45dcb6a10000c26c7c9b9640020"}}}}},"400":{"description":"Invalid Request.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/eventSteps/{ID}":{"get":{"tags":["eventSteps"],"description":"Returns a business process event step. Returned results are secured based on processing person's view access to the event to which the step belongs. If the processing person does not have view access to the event, when this API is called, they will not be able to retrive the event step and receive a 404 error.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the step in a business process event.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/eventStepsView_a7a41b4d029c10000b1f92d3188e18f6"}},"400":{"description":"Invalid Request.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"404":{"description":"Resource not found.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/eventSteps/{ID}/deny":{"post":{"tags":["eventSteps"],"description":"Denies the business process event step specified by the ID. To deny a step, the processing person must have View access to the event when you call this API. Otherwise, Workday returns a 404 error.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the step in a business process event","required":true,"type":"string"},{"in":"body","name":"request","description":"Comment is required","required":true,"schema":{"$ref":"#/definitions/businessProcessStepsDeny_Request"}}],"responses":{"201":{"description":"Resource created.","schema":{"$ref":"#/definitions/businessProcessStepsDeny_0277c526ae0f100006ec0c0cc48a128b"}},"400":{"description":"Invalid request - \n  [\"A comment is required\"],\n  [\"This event step cannot be denied\"],\n  [\"You are not authorized to deny this event step\"],\n  [\"This event step is not awaiting action from you\"],\n  [\"A step action is required when multiple values are available\"]\n","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"404":{"description":"Resource not found.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}},"/eventSteps/{ID}/approve":{"post":{"tags":["eventSteps"],"description":"Approves the business process event step specified by the ID. To approve a step, the processing person must have View access to the event when you call this API. Otherwise, Workday returns a 404 error.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the step in a business process event","required":true,"type":"string"},{"in":"body","name":"request","description":"Comment is optional","required":true,"schema":{"$ref":"#/definitions/businessProcessStepsApprove_Request"}}],"responses":{"201":{"description":"Resource created.","schema":{"$ref":"#/definitions/businessProcessStepsApprove_d3a64cee269d100010ccdf1f3a7a003c"}},"400":{"description":"Invalid request - \n  [\"This event step is not awaiting action from you\"],\n  [\"This event step type cannot be approved\"]\n","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"404":{"description":"Resource not found.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}},"security":[{"oAuth2":["write","read"]}]}}},"securityDefinitions":{"oAuth2":{"type":"oauth2","flow":"implicit","authorizationUrl":"https://auth.api.workday.com/v1/authorize"}},"definitions":{"event_a7a41b4d029c10000b1f9334c61218fa":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventStepsView/event"}]},"completedByPerson_a7a41b4d029c10000b1f9327976918f9":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventStepsView/completedByPerson"}]},"businessProcessStep_126610e8eaaa10001a6221fd7bb500b2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventStepsView/businessProcessStep"}]},"status_a7a41b4d029c10000b1f9341d97718fb":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventStepsView/status"}]},"eventStepsView_a7a41b4d029c10000b1f92d3188e18f6":{"allOf":[{"type":"object","properties":{"comments":{"type":"array","description":"Returns the comments for the business process event step","items":{"$ref":"#/definitions/comments_a7a41b4d029c10000b1da9c45b7b18f4"},"x-prompt-resource":"/prompt/eventStepsView/comments","x-workday-type":"Multi-instance"},"event":{"$ref":"#/definitions/event_a7a41b4d029c10000b1f9334c61218fa"},"delayedDate":{"type":"string","format":"date","description":"The date the delayed step will trigger.","x-workday-type":"Date"},"completedByPerson":{"$ref":"#/definitions/completedByPerson_a7a41b4d029c10000b1f9327976918f9"},"creationDate":{"type":"string","format":"date","description":"The date when the event record was created.","x-workday-type":"Date"},"businessProcessStep":{"$ref":"#/definitions/businessProcessStep_126610e8eaaa10001a6221fd7bb500b2"},"status":{"$ref":"#/definitions/status_a7a41b4d029c10000b1f9341d97718fb"},"dueDate":{"type":"string","format":"date","description":"Returns the due date for this step.","x-workday-type":"Date"},"completedDate":{"type":"string","format":"date","description":"The date when this step was completed","x-workday-type":"Date"},"awaitingPersons":{"type":"array","description":"The people this event is currently awaiting for action.","items":{"$ref":"#/definitions/awaitingPerson_be45cf559398100006b982ad8c6d000e"},"x-prompt-resource":"/prompt/eventStepsView/awaitingPersons","x-workday-type":"Multi-instance"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"stepAction_0277c526ae0f100006ec0d3a4fd7128d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/businessProcessStepsDeny/stepAction"}]},"eventStatus_0277c526ae0f1000142f25a5ad5e12cd":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/businessProcessStepsDeny/eventStatus"}]},"businessProcessStepsDeny_Request":{"type":"object","required":["comment"],"properties":{"comment":{"type":"string","description":"Required comment associated with deny request.","x-workday-type":"Text"},"stepAction":{"$ref":"#/definitions/stepAction_0277c526ae0f100006ec0d3a4fd7128d"}}},"businessProcessStepsDeny_0277c526ae0f100006ec0c0cc48a128b":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns user's comment for Event Record.","x-workday-type":"Text"},"stepAction":{"$ref":"#/definitions/stepAction_0277c526ae0f100006ec0d3a4fd7128d"},"eventStatus":{"$ref":"#/definitions/eventStatus_0277c526ae0f1000142f25a5ad5e12cd"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"businessProcessStepsApprove_Request":{"type":"object","properties":{"comment":{"type":"string","description":"Optional comment associated with approve request.","x-workday-type":"Text"}}},"businessProcessStepsApprove_d3a64cee269d100010ccdf1f3a7a003c":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns user's comment for Event Record.","x-workday-type":"Text"},"eventStatus":{"$ref":"#/definitions/eventStatus_0277c526ae0f1000142f25a5ad5e12cd"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"for_ce00e3198c5b1000095ceb1fc8290014":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventDetails/for"}]},"overallBusinessProcess_ce00e3198c5b1000095ceb31e13f0015":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventDetails/overallBusinessProcess"}]},"status_ce00e3198c5b100009273f74aaf20011":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventDetails/status"}]},"initiator_ce00e3198c5b100009273f64b1bb0010":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventDetails/initiator"}]},"eventDetails_ce00e3198c5b100007db119d8cef0007":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"subBusinessProcesses":{"type":"array","description":"Returns other Business Processes (sub-processes) part of this process, including processes multiple levels down.","items":{"$ref":"#/definitions/subBusinessProcess_e72a50878598100007c686af2536000e"},"x-prompt-resource":"/prompt/eventDetails/subBusinessProcesses","x-workday-type":"Multi-instance"},"dueDate":{"type":"string","format":"date","description":"The date the business process needs to be completed.","x-workday-type":"Date"},"for":{"$ref":"#/definitions/for_ce00e3198c5b1000095ceb1fc8290014"},"overallBusinessProcess":{"$ref":"#/definitions/overallBusinessProcess_ce00e3198c5b1000095ceb31e13f0015"},"completedDate":{"type":"string","format":"date","description":"The date and time the business process was completed.","x-workday-type":"Date"},"creationDate":{"type":"string","format":"date","description":"Date the business process was initiated.","x-workday-type":"Date"},"status":{"$ref":"#/definitions/status_ce00e3198c5b100009273f74aaf20011"},"initiator":{"$ref":"#/definitions/initiator_ce00e3198c5b100009273f64b1bb0010"},"effectiveDate":{"type":"string","format":"date","description":"The date this business process takes effect.","x-workday-type":"Date"}}}]},"businessProcessStep_be45cf559398100006ba2d8567d80013":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/stepsInProgressView/businessProcessStep"}]},"status_be45cf559398100006ba2d93420c0014":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/stepsInProgressView/status"}]},"stepsInProgressView_be45cf559398100006ba2d34b00d0010":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"awaitingPersons":{"type":"array","description":"The people this event is currently awaiting for action.","items":{"$ref":"#/definitions/awaitingPerson_be45cf559398100006b982ad8c6d000e"},"x-prompt-resource":"/prompt/stepsInProgressView/awaitingPersons","x-workday-type":"Multi-instance"},"businessProcessStep":{"$ref":"#/definitions/businessProcessStep_be45cf559398100006ba2d8567d80013"},"anonymous":{"type":"boolean","description":"Returns if the event step has been anonymously assigned.","x-workday-type":"Boolean"},"status":{"$ref":"#/definitions/status_be45cf559398100006ba2d93420c0014"},"dueDate":{"type":"string","format":"date","description":"Returns the due date for this step.","x-workday-type":"Date"},"delayedDate":{"type":"string","format":"date","description":"The date the delayed step will trigger.","x-workday-type":"Date"},"creationDate":{"type":"string","format":"date","description":"The date when the event record was created.","x-workday-type":"Date"}}}]},"completedStepsView_0108ca756f1b10001913796229930074":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"completedDate":{"type":"string","format":"date","description":"The date when this step was completed","x-workday-type":"Date"},"completedByPerson":{"$ref":"#/definitions/completedByPerson_0108ca756f1b1000191379b06bbf0079"},"event":{"$ref":"#/definitions/event_0108ca756f1b1000191379c74408007b"},"status":{"$ref":"#/definitions/status_0108ca756f1b100019137981a39f0075"},"dueDate":{"type":"string","format":"date","description":"Returns the due date for this step.","x-workday-type":"Date"},"creationDate":{"type":"string","format":"date","description":"The date when the event record was created.","x-workday-type":"Date"}}}]},"remainingStepView_33c0a45dcb6a10000c26c7c9b9640020":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"stepType":{"$ref":"#/definitions/stepType_5abdf2056824100017ab4d3bb7db02e5"},"step":{"type":"string","description":"Alternate display name of the step."},"order":{"type":"string","description":"order of the step in Workflow Definition."},"groups":{"type":"array","description":"Security Groups this event step can be routed to.","items":{"$ref":"#/definitions/securityGroupView_5abdf20568241000191b2a1b8cf502ea"},"x-prompt-resource":"/prompt/remainingStepView/groups","x-workday-type":"Multi-instance"},"completionStep":{"type":"boolean","description":"Returns if the step is marked as completion step or not.","x-workday-type":"Boolean"},"dueDate":{"type":"string","format":"date","description":"Returns the due date for this step.","x-workday-type":"Date"}}}]},"event_0108ca756f1b1000191379c74408007b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/completedStepsView/event"}]},"status_0108ca756f1b100019137981a39f0075":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/completedStepsView/status"}]},"completedByPerson_0108ca756f1b1000191379b06bbf0079":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/completedStepsView/completedByPerson"}]},"person_a7a41b4d029c10000b46e7abcec61901":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/comments/person"}]},"comments_a7a41b4d029c10000b1da9c45b7b18f4":{"allOf":[{"type":"object","properties":{"person":{"$ref":"#/definitions/person_a7a41b4d029c10000b46e7abcec61901"},"comment":{"type":"string","description":"Comment","x-workday-type":"Text"},"commentDate":{"type":"string","format":"date","description":"Gives the moment at which the instance was originally created.","x-workday-type":"Date"}}}]},"stepType_5abdf2056824100017ab4d3bb7db02e5":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/reaminingStepView/stepType"}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"awaitingPerson_be45cf559398100006b982ad8c6d000e":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"securityGroupView_5abdf20568241000191b2a1b8cf502ea":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"subBusinessProcess_e72a50878598100007c686af2536000e":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]}}}