{"swagger":"2.0","info":{"description":"HR Compensation REST API Service","version":"v1","title":"Compensation"},"host":"api.workday.com","basePath":"/compensation/v1","tags":[{"name":"workers"}],"schemes":["https"],"paths":{"/workers/{ID}/requestOneTimePayment":{"post":{"tags":["workers"],"description":"**Secured by:** Initiating Action for Business Process: `Request One-Time Payment`","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"Workday ID or reference ID of the worker","required":true,"type":"string"},{"in":"body","name":"oneTimePaymentPlanEventInput","required":true,"schema":{"$ref":"#/definitions/oneTimePaymentPlanEventInput_ada36316d338100011ac2ed696990026"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/oneTimePaymentPlanEventInput_ada36316d338100011ac2ed696990026"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"reason_ada36316d338100012078240be64002b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/oneTimePaymentPlanEventInput/reason"}]},"position_aa655adbcee910002fcec09dadb70084":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/oneTimePaymentPlanEventInput/position"}]},"oneTimePaymentPlanEventInput_ada36316d338100011ac2ed696990026":{"allOf":[{"type":"object","properties":{"reason":{"$ref":"#/definitions/reason_ada36316d338100012078240be64002b"},"effectiveDate":{"type":"string","format":"date","description":"The date this business process takes effect.","x-workday-type":"Date"},"employeeVisibilityDate":{"type":"string","format":"date","description":"Returns the date that a compensation change is visible to a ~worker~.","x-workday-type":"Date"},"position":{"$ref":"#/definitions/position_aa655adbcee910002fcec09dadb70084"},"oneTimePayments":{"type":"array","description":"The one-time payments associated with the event.","items":{"$ref":"#/definitions/oneTimePaymentInput_ada36316d338100012347e847126002d"},"x-prompt-resource":"/prompt/oneTimePaymentPlanEventInput/oneTimePayments","x-workday-type":"Multi-instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"payrollWorktags_65d8813baebc100013a407fcbbc6021e":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"paymentCurrency_ada36316d33810001344647d7c610037":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/oneTimePaymentInput/paymentCurrency"}]},"oneTimePaymentPlan_ada36316d33810001344646d1df60036":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/oneTimePaymentInput/oneTimePaymentPlan"}]},"oneTimePaymentInput_ada36316d338100012347e847126002d":{"allOf":[{"type":"object","properties":{"payrollWorktags":{"type":"array","description":"One-Time Payment Worktags for REST API","items":{"$ref":"#/definitions/payrollWorktags_65d8813baebc100013a407fcbbc6021e"},"x-prompt-resource":"/prompt/oneTimePaymentInput/payrollWorktags","x-workday-type":"Multi-instance"},"paymentCurrency":{"$ref":"#/definitions/paymentCurrency_ada36316d33810001344647d7c610037"},"coverageStartDate":{"type":"string","format":"date","description":"The Start Date of the Coverage Period.","x-workday-type":"Date"},"paymentAmount":{"type":"integer","description":"Amount of compensation payment","x-workday-type":"Numeric"},"coverageEndDate":{"type":"string","format":"date","description":"The End Date of the Coverage Period.","x-workday-type":"Date"},"additionalInformation":{"type":"string","description":"Additional information for this compensation payment","x-workday-type":"Text"},"paymentPercent":{"type":"integer","description":"The actual amount for the bonus payment represented as a percentage.  The percentage is usually calculated as a percentage of base pay, but on the bonus plan setup it is possible to override the calculation basis to calculate as a percentage of a set of compensation elements.","x-workday-type":"Numeric"},"oneTimePaymentPlan":{"$ref":"#/definitions/oneTimePaymentPlan_ada36316d33810001344646d1df60036"},"scheduledPaymentDate":{"type":"string","format":"date","description":"Returns the date scheduled for payment for a one-time payment request.","x-workday-type":"Date"},"sendToPayroll":{"type":"boolean","description":"Returns true if the one-time payment is processed by Payroll.","x-workday-type":"Boolean"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]}}}