{"swagger":"2.0","info":{"description":"API for Multichannel Collaboration (MCC) services.","version":"v1","title":"Connect"},"host":"api.workday.com","basePath":"/connect/v1","tags":[{"name":"sendMessage","description":"Send a message to Workday users."},{"name":"notificationTypes","description":"Retrieve available notification types."},{"name":"messageTemplates","description":"Manage message templates."}],"schemes":["https"],"paths":{"/sendMessage":{"post":{"tags":["sendMessage"],"description":"An entry in `messageTemplate` or `emailBody` is required. Secured by: Administer Communications","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["messageDetail"]},{"in":"body","name":"messageDetail","required":true,"schema":{"$ref":"#/definitions/messageDetail_d922f3734ac610000865fd4fbbe20013"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/messageDetail_d922f3734ac610000865fd4fbbe20013"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/notificationTypes":{"get":{"tags":["notificationTypes"],"description":"Secured by: Set Up: Message Templates","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["notificationCategoryDetail"]}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/notificationCategoryDetail_5a1a2175398910001d7aa50ec49d01e1"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/notificationTypes/{ID}":{"get":{"tags":["notificationTypes"],"description":"Secured by: Set Up: Message Templates","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["notificationCategoryDetail"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/notificationCategoryDetail_5a1a2175398910001d7aa50ec49d01e1"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/messageTemplates":{"get":{"tags":["messageTemplates"],"description":"Secured by: Set Up: Message Templates","produces":["application/json"],"parameters":[{"name":"name","in":"query","description":"Message Template Name","required":false,"type":"string"},{"name":"notificationType","in":"query","description":"Notification Type indicates where the template can be used.","required":false,"type":"string"},{"name":"inactive","in":"query","description":"Indicates template is active or has been disabled.","required":false,"type":"boolean"},{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["messageTemplateDetail"]}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["messageTemplates"],"description":"Secured by: Set Up: Message Templates","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["messageTemplateDetail"]},{"in":"body","name":"messageTemplateDetail","required":true,"schema":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/messageTemplates/{ID}":{"get":{"tags":["messageTemplates"],"description":"Secured by: Set Up: Message Templates","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["messageTemplateDetail"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"put":{"tags":["messageTemplates"],"description":"Secured by: Set Up: Message Templates","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["messageTemplateDetail"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"messageTemplateDetail","required":true,"schema":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["messageTemplates"],"description":"Secured by: Set Up: Message Templates","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"messageTemplateDetail","required":true,"schema":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/messageTemplateDetail_5408cc3a0b34100012c2709ce5180033"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"commID_d2a92f140a3c1000172b26c5a7e10122":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/messageDetail/commID"}]},"notificationType_a596d8d9ee4910001d8ab64e3b28004c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/messageDetail/notificationType"}]},"emailDetail_d922f3734ac610000865fd872ab50014":{"allOf":[{"$ref":"#/definitions/emailDetail_eb4d31b1f322100013cbe9495079019a"},{"x-prompt-resource":"/prompt/messageDetail/emailDetail"}]},"recipients_9d574635b01b10001712b0ebd0f5128e":{"allOf":[{"$ref":"#/definitions/recipientsDetail_a596d8d9ee4910001902b69ba0de003f"},{"x-prompt-resource":"/prompt/messageDetail/recipients"}]},"messageTemplate_a596d8d9ee491000187844a2389b0034":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/messageDetail/messageTemplate"}]},"pushDetail_d922f3734ac61000114560d348db0021":{"allOf":[{"$ref":"#/definitions/pushDetail_eb4d31b1f32210001ce75e0095e501d0"},{"x-prompt-resource":"/prompt/messageDetail/pushDetail"}]},"messageDetail_d922f3734ac610000865fd4fbbe20013":{"allOf":[{"type":"object","required":["notificationType","recipients"],"properties":{"notificationType":{"$ref":"#/definitions/notificationType_a596d8d9ee4910001d8ab64e3b28004c"},"emailDetail":{"$ref":"#/definitions/emailDetail_d922f3734ac610000865fd872ab50014"},"recipients":{"$ref":"#/definitions/recipients_9d574635b01b10001712b0ebd0f5128e"},"messageTemplate":{"$ref":"#/definitions/messageTemplate_a596d8d9ee491000187844a2389b0034"},"pushDetail":{"$ref":"#/definitions/pushDetail_d922f3734ac61000114560d348db0021"}}}]},"parentCategory_5a1a2175398910001e704ab0f44501e9":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/notificationCategoryDetail/parentCategory"}]},"emailTemplateBehavior_5a1a2175398910001eea5b329fb301f9":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/notificationCategoryDetail/emailTemplateBehavior"}]},"notificationCategoryDetail_5a1a2175398910001d7aa50ec49d01e1":{"allOf":[{"type":"object","properties":{"parentCategory":{"$ref":"#/definitions/parentCategory_5a1a2175398910001e704ab0f44501e9"},"name":{"type":"string","x-workday-type":"Text"},"referenceID":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"string","description":"A preview of the instance"}}}]},"createdBy_5ba8cf19f72310001cd096a5f2e70065":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/messageTemplateDetail/createdBy"}]},"emailDetail_eb4d31b1f3221000185722ca02fc01a3":{"allOf":[{"$ref":"#/definitions/emailDetail_eb4d31b1f322100013cbe9495079019a"},{"x-prompt-resource":"/prompt/messageTemplateDetail/emailDetail"}]},"pushDetail_eb4d31b1f32210001cbbffd809fd01c9":{"allOf":[{"$ref":"#/definitions/pushDetail_eb4d31b1f32210001ce75e0095e501d0"},{"x-prompt-resource":"/prompt/messageTemplateDetail/pushDetail"}]},"notificationType_5408cc3a0b3410001368d430b5b90039":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/messageTemplateDetail/notificationType"}]},"lastUpdatedBy_eb4d31b1f32210001d3f4858dc3701d9":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/messageTemplateDetail/lastUpdatedBy"}]},"messageTemplateDetail_5408cc3a0b34100012c2709ce5180033":{"allOf":[{"type":"object","properties":{"createdBy":{"$ref":"#/definitions/createdBy_5ba8cf19f72310001cd096a5f2e70065"},"emailDetail":{"$ref":"#/definitions/emailDetail_eb4d31b1f3221000185722ca02fc01a3"},"lastUpdated":{"type":"string","format":"date","x-workday-type":"Date"},"pushDetail":{"$ref":"#/definitions/pushDetail_eb4d31b1f32210001cbbffd809fd01c9"},"usageCount":{"type":"integer","description":"Count of campaigns using this template.","x-workday-type":"Numeric"},"createdOn":{"type":"string","format":"date","description":"Gives the date that the instance was originally created.","x-workday-type":"Date"},"notificationType":{"$ref":"#/definitions/notificationType_5408cc3a0b3410001368d430b5b90039"},"name":{"type":"string","description":"Message Template Name","x-workday-type":"Text"},"lastUpdatedBy":{"$ref":"#/definitions/lastUpdatedBy_eb4d31b1f32210001d3f4858dc3701d9"},"referenceID":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"},"inactive":{"type":"boolean","description":"Indicates template is active or has been disabled.","x-workday-type":"Boolean"},"descriptor":{"type":"string","example":"string","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"pushDetail_eb4d31b1f32210001ce75e0095e501d0":{"allOf":[{"type":"object","properties":{"redirectURL":{"type":"string","description":"The URL to launch the appropriate mobile app upon acknowledgement.","x-workday-type":"Text"},"message":{"type":"string","description":"Message content of a push notification.","x-workday-type":"Rich Text"}}}]},"recipientsDetail_a596d8d9ee4910001902b69ba0de003f":{"allOf":[{"type":"object","properties":{"contacts":{"type":"array","description":"Recipients for the Send Message.","items":{"$ref":"#/definitions/workerRepresentation_c580deb0bd9b100009ac0d35f4330074"},"x-prompt-resource":"/prompt/recipientsDetail/contacts","x-workday-type":"Multi-instance"}}}]},"audienceRepresentation_72aac3feac6010001e01ec9dfb020025":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"}}}]},"workerRepresentation_c580deb0bd9b100009ac0d35f4330074":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"}}}]},"notificationConfigurableContextDetail_a596d8d9ee4910001dcbc541ef1d004e":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"string","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"emailDetail_eb4d31b1f322100013cbe9495079019a":{"allOf":[{"type":"object","properties":{"name":{"type":"string","description":"Email Configuration Data container for REST API.","x-workday-type":"Text"},"body":{"type":"string","description":"Message content of the email.","x-workday-type":"Rich Text"},"subject":{"type":"string","description":"Email subject line.","x-workday-type":"Rich Text"},"replyTo":{"type":"string","description":"Reply To","x-workday-type":"Text"}}}]}}}