{"swagger":"2.0","info":{"version":"v1","title":"Conversation Services","description":"Conversation Services enables application developers and partners to integrate customized bots with Workday and use Workday Talk to interact with them."},"host":"api.workday.com","basePath":"/tlkw/rest","schemes":["https"],"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"security":[{"oauth":[]}],"tags":[{"name":"Chat Message","description":"Chat Message API"}],"paths":{"/conversations/{id}/chatMessages":{"post":{"tags":["Chat Message"],"summary":"Posts a new chat message","description":"Creates a message in a conversation. Messages currently support: `**bold**, _italic_ , ~~strike out~~, [link](http://a.com), ![image](https://goo.gl/vuD18c)`","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The conversation ID","required":true,"type":"string"},{"name":"message","in":"body","description":"The chat message request","required":true,"schema":{"$ref":"#/definitions/CreateChatMessageRequest"}}],"responses":{"200":{"description":"The request was successful","schema":{"$ref":"#/definitions/ChatMessageCreatedResponse"}},"default":{"description":"An error occurred","schema":{"$ref":"#/definitions/FailureResponse"}}}}}},"definitions":{"CreateChatMessageRequest":{"type":"object","required":["text"],"properties":{"parentChatMessageID":{"type":"string"},"text":{"type":"string"},"quickReplies":{"type":"array","items":{"$ref":"#/definitions/CreateChatMessageQuickReplies"}}}},"CreateChatMessageQuickReplies":{"type":"object","required":["label"],"properties":{"label":{"type":"string","description":"The max length of a label should be no more than 30 characters. If longer than 30 characters the label will be truncated"},"type":{"type":"string","description":"One of either 'primary' or 'secondary', any other values are converted to 'secondary'","enum":["primary","secondary"]}}},"ChatMessageCreatedResponse":{"type":"object","properties":{"_type":{"type":"string","enum":["talk.chatMessage.created"]},"chatMessage":{"$ref":"#/definitions/ChatMessageResponse"},"conversationID":{"type":"string"}}},"ChatMessageResponse":{"type":"object","properties":{"_type":{"type":"string","enum":["talk.chatMessage"]},"id":{"type":"string"},"version":{"type":"number"},"createdByID":{"type":"string"},"createdByDisplayName":{"type":"string"},"createdTime":{"type":"number"},"deleted":{"type":"boolean"},"locale":{"type":"string"},"modifiedByID":{"type":"string"},"modifiedByDisplayName":{"type":"string"},"modifiedTime":{"type":"number"},"parentChatMessageID":{"type":"string"},"conversationID":{"type":"string"},"text":{"properties":{"_type":{"type":"string","enum":["talk.chatMessage.text"]},"text":{"type":"string"},"createdByDisplayName":{"type":"string"},"createdByID":{"type":"string"},"createdTime":{"type":"number"},"stripped":{"type":"string"}}}}},"FailureResponse":{"type":"object","properties":{"_type":{"type":"string","enum":["failure"]},"errorCode":{"type":"string"}}}}}