{"swagger":"2.0","info":{"title":"Customer Activities","description":"Returns Customer Activity including Invoices, Invoice Adjustments, Bad Debt Write-off, Invoice Payments, Refunds, Payment Returns and Payment Transfers.","version":"v1"},"host":"api.workday.com","basePath":"/common/v1","schemes":["https"],"produces":["application/json"],"consumes":["application/json"],"tags":[{"name":"Customer Activity"}],"parameters":{"activityId":{"name":"activityId","in":"path","description":"The unique Activity identifier.","type":"string","required":true},"id":{"name":"id","in":"path","description":"The unique Customer identifier.","type":"string","required":true}},"paths":{"/customers/{id}":{"parameters":[{"$ref":"#/parameters/id"}],"get":{"tags":["Customer Activity"],"description":"Retrieves details about a customer.","responses":{"200":{"description":"Customer data.","schema":{"$ref":"#/definitions/customer"}}}}},"/customers/{id}/activities":{"parameters":[{"$ref":"#/parameters/id"}],"get":{"tags":["Customer Activity"],"description":"Retrieves Activities for a particular Customer (see parameters).","parameters":[{"name":"fromDate","in":"query","description":"The earliest date for which to retrieve Activity, inclusive of the date.","required":false,"type":"string","format":"date"},{"name":"toDate","in":"query","description":"The latest date for which to retrieve Activity, inclusive of the date.","required":false,"type":"string","format":"date"}],"responses":{"200":{"description":"A list of Customer Activities for the Customer.  The list is filtered by fromDate and/or toDate if the parameters are included.","schema":{"type":"array","items":{"$ref":"#/definitions/activity"}}}}}},"/customers/{id}/activities/{activityId}":{"parameters":[{"$ref":"#/parameters/id"},{"$ref":"#/parameters/activityId"}],"get":{"tags":["Customer Activity"],"description":"Retrieve a particular instance of Activity by ID.","responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/activity"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}}},"definitions":{"customer":{"type":"object","description":"The Customer associated to the Activity.","properties":{"name":{"type":"string","description":"The Customer Name."},"id":{"type":"string","description":"The Workday ID."}}},"activity":{"type":"object","required":["id","transactionType","transactionDate"],"properties":{"id":{"type":"string","description":"The Workday ID."},"transactionType":{"type":"string","description":"Contains values of Adjustment, Invoice, Payment, Payment Return, Payment Transfer In, Payment Transfer Out, Refund, Write-off."},"transactionDate":{"type":"string","description":"The date the Activity was added to Workday.","format":"date"},"transactionNumber":{"type":"string","description":"The unique user-facing ID for the Activity."},"transactionAmountSigned":{"type":"object","description":"The Amount, with sign, associated to the Activity.","properties":{"currency":{"type":"string"},"value":{"type":"number"}}},"transactionStatus":{"type":"string","description":"The current status of the transaction. Applicable for all transaction types."},"applicationStatus":{"type":"string","description":"The payment or application status of the customer invoice, customer invoice adjustment or customer invoice payment.  For customer invoice payments, the amount that has been applied to invoices. Application status can be Unapplied, Applied with On Account, or Fully Applied.  For invoices, the payment status. The status can be Paid, Partially Paid, or Unpaid."},"invoiceDueDate":{"type":"string","description":"The due date of the Invoice if the Activity is an Invoice.","format":"date"},"invoiceOpportunity":{"type":"object","description":"The Opportunity associated to an Invoice if the Activity is an Invoice and the Invoice has been created from an Opportunity.","properties":{"name":{"type":"string"},"id":{"type":"string"},"oportunityReferenceId":{"type":"string"}}},"paymentReference":{"type":"string","description":"The Payment Reference, when the Activity is a Payment."}}},"error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"fields":{"type":"string"}}}}}