{"swagger":"2.0","info":{"description":"The public APIs to create and manage custom business process configurations.","version":"v1","title":"Custom Business Process Config"},"host":"api.workday.com","basePath":"/customBusinessProcessConfig/v1","schemes":["https"],"tags":[{"name":"Types","description":"A collection of custom business process types defined in Workday."},{"name":"Event Task Definitions","description":"A collection of Event Task Definitions for custom business process defined in Workday."}],"paths":{"/types":{"post":{"tags":["Types"],"description":"Creates a new custom business process type, including initiating actions.","operationId":"create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","schema":{"$ref":"#/definitions/createCustomBusinessProcessTypeDetail"}}],"responses":{"200":{"description":"Creates a new custom business process type instance","schema":{"$ref":"#/definitions/customBusinessProcessTypeDetail"}},"400":{"description":"Possible Validations:\n\n- The name for custom business process type is required and must be unique across all custom business process types.\n\n- The name for initiating actions is required and must be unique within a custom business process type.\n\n- The referenceIdValue must be unique across all custom business process types.\n\n- The referenceIdValue for initiatingActions must be unique across all initiating actions.\n\n- Custom object is not valid for target business object.\n\n- You are not allowed to set more than one initiating allowed action as default.\n\n- The Custom Task cannot be used by more than one initiating allowed action.\n\n- The Event Task Definition is required for the Event Action Task Configuration\n\n- The Event Action is required for the Event Action Task Configuration\n"}},"security":[{"oAuth2":["write","read"]}]},"get":{"tags":["Types"],"description":"Returns summary of all custom business process types","operationId":"get","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Returns summary of all custom business process types","schema":{"$ref":"#/definitions/allCustomBusinessProcessTypeDetails"}}},"security":[{"oAuth2":["write","read"]}]}},"/types/{id}":{"get":{"tags":["Types"],"description":"Returns a custom business process type","operationId":"view","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday Id of the custom business process type","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a custom business process type for the Id supplied","schema":{"$ref":"#/definitions/customBusinessProcessTypeDetail"}},"404":{"description":"Not Found."}},"security":[{"oAuth2":["write","read"]}]},"put":{"tags":["Types"],"description":"Updates a custom business process type","operationId":"update","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday Id of the custom business process type","required":true,"type":"string"},{"name":"request","in":"body","description":"Custom business process type data to be updated.","required":true,"schema":{"$ref":"#/definitions/editCustomBusinessProcessTypeDetail"}}],"responses":{"200":{"description":"Updates a custom business process type for the Id supplied","schema":{"$ref":"#/definitions/customBusinessProcessTypeDetail"}},"400":{"description":"Possible Validations:\n\n-The referenceIdValue must be unique across all custom business process types.\n\n-The name for custom business process type must be unique across all custom business process types.\n\n-Custom object is not valid for target business object.\n\n-Changes to the custom object are not allowed once an event exists for this custom business process.\n\n-Changes to the business object are not allowed once an event exists for this custom business process.\n\n-Changes to the Name are not allowed once an event exists for this custom business process.\n\n-Changes to the ID are not allowed once an event exists for this custom business process.\n"}},"security":[{"oAuth2":["write","read"]}]},"delete":{"tags":["Types"],"description":"Deletes a custom business process type","operationId":"delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday Id of the custom business process type","required":true,"type":"string"}],"responses":{"200":{"description":"Deletes a custom business process type for the Id supplied"},"400":{"description":"Possible Validations:\n- The custom business process type cannot be deleted because it has references.\n- You cannot delete a custom business process type that has been used by a business process event."},"404":{"description":"Not Found."}},"security":[{"oAuth2":["write","read"]}]}},"/eventTaskDefinitions":{"post":{"tags":["Event Task Definitions"],"description":"Creates a new event task definition.","operationId":"createEventTaskDefinition","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"request","in":"body","schema":{"$ref":"#/definitions/createCustomBusinessProcessEventTaskDetail"}}],"responses":{"200":{"description":"Creates a new custom event task definition instance","schema":{"$ref":"#/definitions/customBusinessProcessEventTaskDetail"}},"400":{"description":"Poossible Validations:\n\n-The name for event task definition is required and must be unique across all event task definitions.\n\n-VPS application is a required field.\n\n-VPS site is a required field.\n\n-The referenceIdValue must be unique across all VPS definitions.\n"}},"security":[{"oAuth2":["write","read"]}]},"get":{"tags":["Event Task Definitions"],"description":"Returns summary of all event task definitions","operationId":"getEventTaskDefinition","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Returns summary of all event task definitions","schema":{"$ref":"#/definitions/allCustomBusinessProcessEventTaskDetails"}}},"security":[{"oAuth2":["write","read"]}]}},"/eventTaskDefinitions/{id}":{"get":{"tags":["Event Task Definitions"],"description":"Returns a event task definition","operationId":"viewEventTaskDefinition","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday Id of the event task definition","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a event task definition for the Id supplied","schema":{"$ref":"#/definitions/customBusinessProcessEventTaskDetail"}},"404":{"description":"Not Found."}},"security":[{"oAuth2":["write","read"]}]},"put":{"tags":["Event Task Definitions"],"description":"Updates a event task definition.","operationId":"updateEventTaskDefinition","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday Id of the event task definition","required":true,"type":"string"},{"name":"request","in":"body","description":"Event task definition data to be updated.","required":true,"schema":{"$ref":"#/definitions/editCustomBusinessProcessEventTaskDetail"}}],"responses":{"200":{"description":"Updates a event task definition for the Id supplied","schema":{"$ref":"#/definitions/customBusinessProcessEventTaskDetail"}},"400":{"description":"Possible Validations:\n\n-The name for event task definition is required and must be unique across all event task definitions.\n\n-VPS application is a required field.\n\n-VPS site is a required field.\n\n-The referenceIdValue must be unique across all event task definitions.\n"}},"security":[{"oAuth2":["write","read"]}]},"patch":{"tags":["Event Task Definitions"],"description":"Updates a event task definition.","operationId":"patchEventTaskDefinition","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday Id of the event task definition","required":true,"type":"string"},{"name":"request","in":"body","description":"Event task definition data to be updated.","required":true,"schema":{"$ref":"#/definitions/patchCustomBusinessProcessEventTaskDetail"}}],"responses":{"200":{"description":"Updates a event task definition for the Id supplied","schema":{"$ref":"#/definitions/customBusinessProcessEventTaskDetail"}},"400":{"description":"Possible Validations:\n\n-The name for event task definition is required and must be unique across all event task definitions.\n\n-VPS application is a required field.\n\n-VPS site is a required field.\n\n-The referenceIdValue must be unique across all event task definitions.\n"}},"security":[{"oAuth2":["write","read"]}]},"delete":{"tags":["Event Task Definitions"],"description":"Deletes a event task definition","operationId":"deleteEventTaskDefinition","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday Id of the event task definition","required":true,"type":"string"}],"responses":{"200":{"description":"Deletes a event task definition for the Id supplied"},"400":{"description":"The event task definition cannot be deleted because it has references."},"404":{"description":"Not Found."}},"security":[{"oAuth2":["write","read"]}]}}},"securityDefinitions":{"oAuth2":{"type":"oauth2","scopes":{"write":"modify custom business process types","read":"read custom business process types"},"description":"Register an API Client","flow":"implicit","authorizationUrl":"https://auth.api.workday.com/v1/authorize"}},"definitions":{"allCustomBusinessProcessTypeDetails":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/customBusinessProcessTypeDetail"}}}},"customBusinessProcessTypeDetail":{"type":"object","required":["name"],"properties":{"id":{"type":"string"},"Custom_Business_Process_Type_ID":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"inactive":{"type":"boolean"},"referenceIdValue":{"type":"string"},"eventActions":{"type":"array","items":{"$ref":"#/definitions/eventActionWithID"}},"eventActionTaskConfig":{"type":"array","items":{"$ref":"#/definitions/eventActionEventTaskConfigResponse"}},"initiatingActions":{"type":"array","items":{"$ref":"#/definitions/initiatingActionDetailResponse"}},"stepActions":{"type":"array","items":{"$ref":"#/definitions/stepActionDetailResponse"}},"customObjectDefinition":{"$ref":"#/definitions/instanceWithIdAndDescriptor"},"targetBusinessObject":{"$ref":"#/definitions/instanceWithIdAndDescriptor"}}},"createCustomBusinessProcessTypeDetail":{"type":"object","required":["name"],"properties":{"referenceIdValue":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"inactive":{"type":"boolean"},"eventActions":{"type":"array","items":{"$ref":"#/definitions/instanceWithId"}},"eventActionTaskConfig":{"type":"array","items":{"$ref":"#/definitions/eventActionEventTaskConfigRequest"}},"initiatingActions":{"type":"array","items":{"$ref":"#/definitions/initiatingActionDetailRequest"}},"stepActions":{"type":"array","items":{"$ref":"#/definitions/stepActionDetailRequest"}},"customObjectDefinition":{"$ref":"#/definitions/instanceWithId"},"targetBusinessObject":{"$ref":"#/definitions/instanceWithId"}}},"eventActionEventTaskConfigResponse":{"type":"object","properties":{"id":{"type":"string"},"eventAction":{"$ref":"#/definitions/eventActionWithID"},"eventTaskDefinition":{"$ref":"#/definitions/instanceWithIdAndDescriptor"}}},"eventActionEventTaskConfigRequest":{"type":"object","required":["eventAction","eventTaskDefinition"],"properties":{"eventAction":{"$ref":"#/definitions/instanceWithId"},"eventTaskDefinition":{"$ref":"#/definitions/instanceWithId"}}},"eventActionWithID":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"Event_Action_Type_ID":{"type":"string"}}},"editCustomBusinessProcessTypeDetail":{"type":"object","required":["name"],"properties":{"referenceIdValue":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"inactive":{"type":"boolean"},"customObjectDefinition":{"$ref":"#/definitions/instanceWithId"},"targetBusinessObject":{"$ref":"#/definitions/instanceWithId"}}},"initiatingActionDetailResponse":{"type":"object","properties":{"id":{"type":"string"},"Initiating_Action_ID":{"type":"string"},"referenceIdValue":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"inactive":{"type":"boolean"},"default":{"type":"boolean"},"customTask":{"$ref":"#/definitions/instanceWithIdAndDescriptor"}}},"initiatingActionDetailRequest":{"type":"object","required":["name"],"properties":{"referenceIdValue":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"inactive":{"type":"boolean"},"default":{"type":"boolean"},"customTask":{"$ref":"#/definitions/instanceWithId"}}},"stepActionDetailResponse":{"type":"object","properties":{"id":{"type":"string"},"Step_Action_ID":{"type":"string"},"referenceIdValue":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"inactive":{"type":"boolean"},"eventTaskDefinition":{"$ref":"#/definitions/instanceWithIdAndDescriptor"}}},"stepActionDetailRequest":{"type":"object","required":["name"],"properties":{"referenceIdValue":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"inactive":{"type":"boolean"},"eventTaskDefinition":{"$ref":"#/definitions/instanceWithId"}}},"instanceWithId":{"type":"object","properties":{"id":{"type":"string"}}},"instanceWithIdAndDescriptor":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}}},"createCustomBusinessProcessEventTaskDetail":{"type":"object","required":["vpsApplication","name","vpsSite"],"properties":{"name":{"type":"string"},"description":{"type":"string"},"vpsApplication":{"type":"string"},"vpsSite":{"type":"string"},"vpsRoute":{"type":"string"},"referenceIdValue":{"type":"string"}}},"editCustomBusinessProcessEventTaskDetail":{"type":"object","required":["vpsApplication","name","vpsSite"],"properties":{"name":{"type":"string"},"description":{"type":"string"},"vpsApplication":{"type":"string"},"vpsSite":{"type":"string"},"vpsRoute":{"type":"string"},"referenceIdValue":{"type":"string"}}},"patchCustomBusinessProcessEventTaskDetail":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"vpsApplication":{"type":"string"},"vpsSite":{"type":"string"},"vpsRoute":{"type":"string"},"referenceIdValue":{"type":"string"}}},"customBusinessProcessEventTaskDetail":{"type":"object","required":["vpsApplication","name","vpsSite"],"properties":{"id":{"type":"string"},"Event_Task_Definition_ID":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"referenceIdValue":{"type":"string"},"vpsApplication":{"type":"string"},"vpsSite":{"type":"string"},"vpsRoute":{"type":"string"}}},"allCustomBusinessProcessEventTaskDetails":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/customBusinessProcessEventTaskDetail"}}}}}}