{"swagger":"2.0","info":{"description":"A collection with resources that define operations to create, update and view and delete Multi-Instance Custom Object Data. Custom objects accessible through the Workday REST API are extensions of existing Workday objects. Example: Worker object can be extended to include a custom object named Stock Grants. If a single worker can have more than 1 stock grant, it is an example of a multi-instance custom object.\nTo view information about custom objects, use the Custom Object Definitions resource.\n\nSince field types vary based on the custom object field definitions, the recommendation is to do a GET request of an instance created in the UI first to understand the format that the body of update requests should take.","version":"v2","title":"Custom Object Data v2 (Multi-Instance)"},"host":"api.workday.com","basePath":"/customObject/v2","schemes":["https"],"securityDefinitions":{"OAuth 2.0":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"security":[{"OAuth 2.0":[]}],"produces":["application/json"],"consumes":["application/json"],"tags":[{"name":"Custom Objects","description":"Create, update, and delete for a multi-instance custom object"}],"paths":{"/{extendedBusinessObjectResource}/{extendedBusinessObjectId}/customObjects/{customObjectAlias}":{"parameters":[{"name":"extendedBusinessObjectResource","description":"Business Object that has been extended by the multi-instance custom object","type":"string","enum":["academicAffiliates","academicUnits","academicUnitHierarchies","bankAccounts","businessAssets","companies","costCenters","customers","customerContracts","customerContractLines","customerInvoice","customerInvoiceAdjustments","customerInvoiceLine","formerWorkers","jobProfiles","ledgerAccounts","loans","locations","positionRestrictions","projects","applicants","purchaseOrders","regions","supervisoryOrganizations","suppliers","supplierContracts","supplierInvoices","supplierInvoiceAdjustments","workers"],"in":"path","required":true},{"name":"extendedBusinessObjectId","description":"ID of the instance of the Extended Business Object","type":"string","in":"path","required":true},{"name":"customObjectAlias","description":"Web service alias for the custom object definition. When the custom object is created, the alias is supplied by the object creator.","in":"path","type":"string","required":true}],"get":{"tags":["Custom Objects"],"summary":"Get a collection of multi-instance custom objects","description":"Returns an array of the multi-instance custom objects for a specific instance of an extended business object.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","responses":{"200":{"description":"Custom object definition","schema":{"$ref":"#/definitions/AnyValue"}}}}},"/customObjects/{customObjectAlias}":{"parameters":[{"name":"customObjectAlias","description":"Web service alias for the custom object. When the custom object is created, the alias is supplied by the object creator.","in":"path","type":"string","required":true}],"post":{"tags":["Custom Objects"],"summary":"Create new custom objects or update existing instances of multi-instance custom objects.","description":"To POST custom objects, in the request body you supply at minimum the specific extended Workday object, a value for the reference ID, and any required custom fields defined for the custom object. Also include in the request body any additional custom fields and their values. A successful POST request that creates an object returns the HTTP status code: 201 Created.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","parameters":[{"name":"updateIfExists","in":"query","description":"When true, updates the object if it exists. When false, return an error if the object exists. Default is false. If the object does not exist, a new object is created regardless of this setting.","required":false,"type":"boolean"},{"name":"bulk","in":"query","description":"When true, this allows for an array of custom objects to be provided in the request body. This allows for multiple custom objects to be created and/or updated simulatneously. Default is false.","required":false,"type":"boolean"},{"name":"putCustomObjectRequest","in":"body","description":"The details of the custom object that's being persisted","required":true,"schema":{"$ref":"#/definitions/AnyValue"}}],"responses":{"200":{"description":"Custom object updated","schema":{"$ref":"#/definitions/persistCustomObjectType"}},"201":{"description":"Custom object created","schema":{"$ref":"#/definitions/persistCustomObjectType"}}}}},"/customObjects/{customObjectAlias}/{customObjectID}":{"parameters":[{"name":"customObjectAlias","description":"Web service alias for the custom object. When the custom object is created, the alias is supplied by the object creator.","in":"path","type":"string","required":true},{"name":"customObjectID","description":"For multi-instance custom objects, the custom object ID is any valid ID for the custom object which includes the compound ID for the custom object. The compound ID is defined as a concatenation of the WID of the extended business object, a semi-colon, and the reference ID of the custom object. Example: The Worker ID (ID=66faa65677834f0a9b586dd5645e900) links with the reference ID (grantName=Merit_4Q2011), separated by a semicolon (;) to look like: /customObjects/stockGrants/66faa65677834f0a9b586dd5645e9004;grantName=Merit_4Q2011","type":"string","in":"path","required":true}],"get":{"tags":["Custom Objects"],"summary":"Get a specific instance of a multi-instance custom object","description":"To GET a specific instance of a multi-instance custom object the custom object ID must be provided; the custom object ID is any valid ID for the custom object, OR the compound ID.The compound ID is defined as a concatenation of the WID of the extended business object, a semi-colon, and the reference ID of the custom object. Example: The Worker ID (ID=66faa65677834f0a9b586dd5645e900) links with the reference ID (grantName=Merit_4Q2011), separated by a semicolon (;) to look like: /customObjects/stockGrants/66faa65677834f0a9b586dd5645e9004;grantName=Merit_4Q2011.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","responses":{"200":{"description":"Custom object definition","schema":{"$ref":"#/definitions/AnyValue"}}}},"put":{"tags":["Custom Objects"],"summary":"Updates existing instances of custom objects. For multi-instance custom objects","description":"PUT updates existing instances of custom objects. For multi-instance custom objects, you can use either the custom object ID or the compound ID.  If the object doesn't exist, you receive an error message.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","parameters":[{"name":"putCustomObjectRequest","in":"body","description":"The details of the custom object that's being persisted","required":true,"schema":{"$ref":"#/definitions/AnyValue"}}],"responses":{"200":{"description":"Custom object updated","schema":{"$ref":"#/definitions/persistCustomObjectType"}}}},"delete":{"tags":["Custom Objects"],"summary":"Delete an instance of a custom object.","description":"The DELETE operation removes a single custom object. For multi-instance custom objects, you can use either the custom object ID or the compound ID.  If the object doesn't exist, you receive an error message.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","responses":{"200":{"description":"Custom object deleted","schema":{"$ref":"#/definitions/persistCustomObjectType"}}}}}},"definitions":{"AnyValue":{"type":"object","description":"Since this represents a custom object, it can be any type","properties":{"{custom object type (e.g. worker)}":{"$ref":"#/definitions/instance"},"stringField":{"type":"string"},"numberField":{"type":"number"},"etc":{"type":"boolean"}}},"instance":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}},"required":["id"]},"persistCustomObjectType":{"type":"object","properties":{"ok":{"type":"string"}}}}}