{"swagger":"2.0","info":{"description":"A collection with resources that define operations to create, update and view and delete Single-Instance Custom Object Data. Custom objects accessible through the Workday REST API are extensions of existing Workday objects.  Example: Worker object can be extended to include a custom object named Parking Space. If a worker can only have only 1 assigned parking space, it is an example of a single-instance custom object. To examine how the custom object is defined, use the View Custom Object task.\n\nSince field types vary based on the custom object field definitions, the recommendation is to do a GET request of an instance created in the UI first to understand the format that the body of update requests should take.","version":"v2","title":"Custom Object Data v2 (Single-Instance)"},"host":"api.workday.com","basePath":"/customObject/v2","schemes":["https"],"securityDefinitions":{"OAuth 2.0":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"security":[{"OAuth 2.0":[]}],"produces":["application/json"],"consumes":["application/json"],"tags":[{"name":"Custom Object","description":"Create, update, and delete data for a specific Custom Object"}],"paths":{"/customObjects/{customObjectAlias}":{"parameters":[{"name":"customObjectAlias","description":"Web service alias for the custom object definition. When the custom object is created, the alias is supplied by the object creator.","in":"path","type":"string","required":true}],"post":{"tags":["Custom Object"],"summary":"Create a new, or update an existing instance of a custom object.","description":"To POST custom objects, in the request body you supply the specific extended Workday object and a value for the reference ID (if defined). Also include in the request body the custom fields and their values. A successful POST request that creates an object returns the HTTP status code: 201 Created.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","parameters":[{"name":"updateIfExists","in":"query","description":"When true, updates the object if it exists. When false, return an error if the object exists. Default is false. If the object does not exist, a new object is created regardless of this setting.","required":false,"type":"boolean"},{"name":"bulk","in":"query","description":"When true, this allows for an array of custom objects to be provided in the request body. This allows for multiple custom objects to be created and/or updated simulatneously. Default is false.","required":false,"type":"boolean"},{"name":"putCustomObjectRequest","in":"body","description":"The details of the custom object that's being persisted","required":true,"schema":{"$ref":"#/definitions/AnyValue"}}],"responses":{"200":{"description":"Custom object updated","schema":{"$ref":"#/definitions/persistCustomObjectType"}},"201":{"description":"Custom object created","schema":{"$ref":"#/definitions/persistCustomObjectType"}}}}},"/customObjects/{customObjectAlias}/{customObjectID}":{"parameters":[{"name":"customObjectAlias","description":"Web service alias for the custom object definition. When the custom object is created, the alias is supplied by the object creator.","in":"path","type":"string","required":true},{"name":"customObjectID","description":"For single-instance custom objects, the custom object ID is any valid ID for the custom object, OR any valid ID for the extended Workday object. Example: The ID of the Parking Space of a Worker or the ID of that Worker can be used interchangeably for that Parking Space.","type":"string","in":"path","required":true}],"get":{"tags":["Custom Object"],"summary":"Get a specific instance of a custom object","description":"To GET a single-instance custom objects the custom object ID must be provided, the custom object ID is any valid ID for the custom object, OR any valid ID for the extended Workday object. Example: The ID of the Parking Space of a Worker or the ID of that Worker can be used interchangeably for that Parking Space.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","responses":{"200":{"description":"Custom object definition","schema":{"$ref":"#/definitions/AnyValue"}}}},"put":{"tags":["Custom Object"],"summary":"Updates existing instances of custom objects","description":"PUT updates existing instances of custom objects. For single-instance custom objects, you can use either the custom object ID or the extended Workday object ID.  If the object doesn't exist, you receive an error message.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","parameters":[{"name":"putCustomObjectRequest","in":"body","description":"The details of the custom object that's being persisted","required":true,"schema":{"$ref":"#/definitions/AnyValue"}}],"responses":{"200":{"description":"Custom object updated","schema":{"$ref":"#/definitions/persistCustomObjectType"}}}},"delete":{"tags":["Custom Object"],"summary":"Delete an instance of a custom object.","description":"The DELETE operation removes a single custom object. For single-instance custom objects, you can use either the custom object ID or the extended Workday object ID.  If the object doesn't exist, you receive an error message.\nSecured by: Dependent on Security Domain configured for the Custom Object\nScope: Dependent on Security Domain configured for the Custom Object.","responses":{"200":{"description":"Custom object deleted","schema":{"$ref":"#/definitions/persistCustomObjectType"}}}}}},"definitions":{"AnyValue":{"type":"object","description":"Since this represents a custom object, it can be any type","properties":{"{custom object type (e.g. worker)}":{"$ref":"#/definitions/instance"},"stringField":{"type":"string"},"numberField":{"type":"number"},"etc":{"type":"boolean"}}},"instance":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}},"required":["id"]},"persistCustomObjectType":{"type":"object","properties":{"ok":{"type":"string"}}}}}