{"swagger":"2.0","info":{"version":"v1","title":"Customer Accounts","description":"Returns customer accounts information including customers, invoices, adjustments, and payments."},"host":"api.workday.com","basePath":"/customerAccounts/v1","schemes":["https"],"tags":[{"name":"Payments","description":"Use this REST API to record customer payments and retrieve basic customer payments information."},{"name":"Customers","description":"Use this REST API to retrieve basic customer profile information including credit details, payment terms and total balance."},{"name":"Customer Invoices","description":"Use this REST API to retrieve customer invoices."},{"name":"Customer Invoice PDFs","description":"Use this REST API to retrieve printed customer invoice PDF documents."}],"paths":{"/payments":{"post":{"tags":["Payments"],"description":"Secured by: Process: Customer Invoice Payment \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"},{"in":"body","name":"createCustomerPayment","required":true,"schema":{"$ref":"#/definitions/createCustomerPayment_acb8755e2a5c10000944fa9215030016"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/createCustomerPayment_acb8755e2a5c10000944fa9215030016"}},"400":{"description":"a validation error occurred (https://community.workday.com/rest/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/payments/{ID}/remittanceDetails":{"post":{"tags":["Payments"],"description":"Secured by: Process: Customer Invoice Payment \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"},{"name":"ID","in":"path","description":"ID of specified instance.  When a payment is created via the API the ID is returned in the response to the POST request.  Use this ID when adding remittance data to the newly created payment.","required":true,"type":"string"},{"in":"body","name":"createRemittanceDetails","required":true,"schema":{"$ref":"#/definitions/createRemittanceDetails_c4802df362a6100002fb64e6b98e00e6"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/createRemittanceDetails_c4802df362a6100002fb64e6b98e00e6"}},"400":{"description":"a validation error occurred (https://community.workday.com/rest/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/payments/{ID}":{"get":{"tags":["Payments"],"description":"Secured by: Process: Customer Invoice Payment \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"},{"name":"ID","in":"path","description":"ID of specified instance. When a payment is created via the API the ID is returned in the response to the POST request.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/viewCustomerPayment_e53233d2427c100015e5b5017dfd011f"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customers":{"get":{"tags":["Customers"],"description":"Secured by: View: Customer \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"name","in":"query","description":"The name of the customer.","required":false,"type":"string"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customerView_6f49b2c25ade10000ffd8fc9fba00011"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customers/{ID}":{"get":{"tags":["Customers"],"description":"Secured by: View: Customer \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"},{"name":"ID","in":"path","description":"ID of specified instance.  A list of customer instances can be retrieved by doing a GET on the customers endpoint.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/customerView_6f49b2c25ade10000ffd8fc9fba00011"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/invoices":{"get":{"tags":["Customer Invoices"],"description":"Secured by: Process: Customer Invoice - View, Process: Project Billing \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"toDueDate","in":"query","description":"The due date for the reporting transaction.","required":false,"type":"string"},{"name":"fromInvoiceDate","in":"query","description":"The date of the customer invoice.","required":false,"type":"string"},{"name":"fromDueDate","in":"query","description":"The due date for the reporting transaction.","required":false,"type":"string"},{"name":"company","in":"query","description":"The company for the reporting transaction.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"transactionType","in":"query","description":"The transaction type for the reporting transaction.","required":false,"type":"string"},{"name":"toInvoiceDate","in":"query","description":"The date of the customer invoice.","required":false,"type":"string"},{"name":"billToCustomer","in":"query","description":"The customer for the invoice.  This field allows you to drill into the details of the evaluation and access related actions.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"invoiceStatus","in":"query","description":"Include invoices with these invoice statuses. Values: Approved (91b0d382d50848e898733757caa9f84a), Canceled (dc76c9b6446c11de98360015c5e6daf6), Denied (dc76c7cc446c11de98360015c5e6daf6), Draft (dc76c4fc446c11de98360015c5e6daf6), Incomplete(e264bc68581342baa70ab61bf71032fe), In Progress (dc76c8bc446c11de98360015c5e6daf6).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"paymentStatus","in":"query","description":"Include invoices with these payments statuses. Values: Paid (d9e4362a446c11de98360015c5e6daf6), Unpaid (d9e43940446c11de98360015c5e6daf6), Partially Paid (d9e43706446c11de98360015c5e6daf6).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customerInvoice_454806779bee100004de1cfb95640008"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/invoices/{ID}/printRuns":{"get":{"tags":["Customer Invoices"],"description":"Secured by: Process: Customer Invoice - View, Process: Project Billing \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"},{"name":"ID","in":"path","description":"ID of specified instance. A list of invoice instances can be retrieved by doing a GET on the invoices endpoint.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/printRun_2872e600aaf31000090b5d1de881000b"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/invoices/{ID}":{"get":{"tags":["Customer Invoices"],"description":"Secured by: Process: Customer Invoice - View, Process: Project Billing \n\nScope: Customer Accounts","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"},{"name":"ID","in":"path","description":"ID of specified instance. A list of invoice instances can be retrieved by doing a GET on the invoices endpoint.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/customerInvoice_454806779bee100004de1cfb95640008"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/invoicePDFs/{ID}":{"get":{"tags":["Customer Invoice PDFs"],"description":"Secured by: Process: Customer Invoice - View, Process: Project Billing \n\nScope: Customer Accounts","produces":["application/octet-stream"],"parameters":[{"name":"view","in":"query","description":"The view of the response.","required":false,"type":"string"},{"name":"ID","in":"path","description":"ID of specified instance. The ID of an invoice PDF can be found for a particular invoice by using the printRuns endpoint and selecting pdf ID data element from the returned print run(s).","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"file"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}},"externalDocs":{"description":"Your operation may contain a multipart attachment that is not documented here.","url":"Link to external document on multipart attachments to be added."}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://i-xxxxxxxxxxxxxxxxx.workdaysuv.com/super/authorize","flow":"implicit"}},"definitions":{"viewCustomerPayment_e53233d2427c100015e5b5017dfd011f":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"ID of the instance"}}}]},"remitFromCustomer_a5e8680980e310000bcc72814bdc00ed":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createCustomerPayment/remitFromCustomer"}]},"type_acb8755e2a5c10000944fab4cb6a0017":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createCustomerPayment/type"}]},"company_acb8755e2a5c10000944fadc811f001a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createCustomerPayment/company"}]},"createCustomerPayment_acb8755e2a5c10000944fa9215030016":{"allOf":[{"type":"object","properties":{"memo":{"type":"string","x-workday-type":"Text"},"remitFromCustomer":{"$ref":"#/definitions/remitFromCustomer_a5e8680980e310000bcc72814bdc00ed"},"readyToAutoApply":{"type":"boolean","x-workday-type":"Boolean"},"transactionNumber":{"type":"string","x-workday-type":"Text"},"reference":{"type":"string","x-workday-type":"Text"},"amount":{"type":"integer","x-workday-type":"Numeric"},"type":{"$ref":"#/definitions/type_acb8755e2a5c10000944fab4cb6a0017"},"date":{"type":"string","format":"date","x-workday-type":"Date"},"company":{"$ref":"#/definitions/company_acb8755e2a5c10000944fadc811f001a"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"invoice_53f0b4fc8cb210001bc7a99530cf01ab":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createRemittanceDetails/invoice"}]},"billToCustomer_c4802df362a6100003fff37f553a00eb":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createRemittanceDetails/billToCustomer"}]},"createRemittanceDetails_c4802df362a6100002fb64e6b98e00e6":{"allOf":[{"type":"object","properties":{"amountToPay":{"type":"integer","x-workday-type":"Numeric"},"invoice":{"$ref":"#/definitions/invoice_53f0b4fc8cb210001bc7a99530cf01ab"},"billToCustomer":{"$ref":"#/definitions/billToCustomer_c4802df362a6100003fff37f553a00eb"},"id":{"type":"string","description":"ID of the instance"}}}]},"viewRemittanceDetails_17b89f3dcfab1000056c7a877cbe00f1":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the instance"}}}]},"paymentTerms_89bd3613f2ed10000efbeeadab6d0034":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customerView/paymentTerms"}]},"category_89bd3613f2ed10000f374fd397e30039":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customerView/category"}]},"customerView_6f49b2c25ade10000ffd8fc9fba00011":{"allOf":[{"type":"object","properties":{"creditLimit":{"type":"integer","x-workday-type":"Numeric"},"name":{"type":"string","x-workday-type":"Text"},"paymentTerms":{"$ref":"#/definitions/paymentTerms_89bd3613f2ed10000efbeeadab6d0034"},"satisfactionScore":{"type":"integer","x-workday-type":"Numeric"},"groups":{"type":"array","items":{"$ref":"#/definitions/customerGroup_89bd3613f2ed10000f549a4139d9003b"},"x-prompt-resource":"/prompt/customerView/groups","x-workday-type":"Multi-instance"},"compositeRiskScore":{"type":"integer","x-workday-type":"Numeric"},"primaryPhone":{"type":"string","x-workday-type":"Text"},"commercialCreditScore":{"type":"integer","x-workday-type":"Numeric"},"totalBalance":{"type":"integer","x-workday-type":"Numeric"},"category":{"$ref":"#/definitions/category_89bd3613f2ed10000f374fd397e30039"},"id":{"type":"string","description":"ID of the instance"}}}]},"company_454806779bee100004de1d18a6800009":{"allOf":[{"$ref":"#/definitions/companyDisplay_454806779bee100012868f74a4de125e"},{"x-prompt-resource":"/prompt/customerInvoice/company"}]},"invoiceType_454806779bee10001555335a57a4127f":{"allOf":[{"$ref":"#/definitions/invoiceTypeDisplay_454806779bee1000171c7f7347d612a2"},{"x-prompt-resource":"/prompt/customerInvoice/invoiceType"}]},"adjustmentReason_ea22ae003e8f100003ff6fe709020057":{"allOf":[{"$ref":"#/definitions/relatedAdjustmentReasonDisplay_ea22ae003e8f10000b96a781d0770086"},{"x-prompt-resource":"/prompt/customerInvoice/adjustmentReason"}]},"relatedInvoice_ea22ae003e8f100003ff702208870059":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customerInvoice/relatedInvoice"}]},"paymentStatus_454806779bee100015553345672c127e":{"allOf":[{"$ref":"#/definitions/paymentStatusDisplay_454806779bee100015be3e7130161284"},{"x-prompt-resource":"/prompt/customerInvoice/paymentStatus"}]},"currency_ea22ae003e8f100003ff7033ef99005b":{"allOf":[{"$ref":"#/definitions/currencyDisplay_ea22ae003e8f1000113e1136deee008c"},{"x-prompt-resource":"/prompt/customerInvoice/currency"}]},"billToCustomerAddress_6fae704362ee1000095084fe10ee02e8":{"allOf":[{"$ref":"#/definitions/billToAddressDisplay_6fae704362ee1000094eadc444eb02d9"},{"x-prompt-resource":"/prompt/customerInvoice/billToCustomerAddress"}]},"invoiceStatus_454806779bee10001555336692021280":{"allOf":[{"$ref":"#/definitions/invoiceStatusDisplay_454806779bee10001671ec898aac128b"},{"x-prompt-resource":"/prompt/customerInvoice/invoiceStatus"}]},"billToCustomer_454806779bee1000170ed615c16612a0":{"allOf":[{"$ref":"#/definitions/customerDisplay_454806779bee1000170e4a3a0ebc129e"},{"x-prompt-resource":"/prompt/customerInvoice/billToCustomer"}]},"customerInvoice_454806779bee100004de1cfb95640008":{"allOf":[{"type":"object","properties":{"invoiceDate":{"type":"string","format":"date","x-workday-type":"Date"},"transactionType":{"type":"string","x-workday-type":"Text"},"withholdingAmount":{"type":"integer","x-workday-type":"Numeric"},"company":{"$ref":"#/definitions/company_454806779bee100004de1d18a6800009"},"inCollection":{"type":"boolean","x-workday-type":"Boolean"},"netAmount":{"type":"integer","x-workday-type":"Numeric"},"disputeAmount":{"type":"integer","x-workday-type":"Numeric"},"dueAmount":{"type":"integer","x-workday-type":"Numeric"},"invoiceType":{"$ref":"#/definitions/invoiceType_454806779bee10001555335a57a4127f"},"poNumber":{"type":"string","x-workday-type":"Text"},"relatedAdjustments":{"type":"array","items":{"$ref":"#/definitions/relatedAdjustmentDisplay_ea22ae003e8f1000076f15328dc70070"},"x-prompt-resource":"/prompt/customerInvoice/relatedAdjustments","x-workday-type":"Multi-instance"},"adjustmentReason":{"$ref":"#/definitions/adjustmentReason_ea22ae003e8f100003ff6fe709020057"},"taxAmount":{"type":"integer","x-workday-type":"Numeric"},"disputeDate":{"type":"string","format":"date","x-workday-type":"Date"},"relatedInvoice":{"$ref":"#/definitions/relatedInvoice_ea22ae003e8f100003ff702208870059"},"paymentStatus":{"$ref":"#/definitions/paymentStatus_454806779bee100015553345672c127e"},"currency":{"$ref":"#/definitions/currency_ea22ae003e8f100003ff7033ef99005b"},"dueDate":{"type":"string","format":"date","x-workday-type":"Date"},"memo":{"type":"string","x-workday-type":"Text"},"billToCustomerAddress":{"$ref":"#/definitions/billToCustomerAddress_6fae704362ee1000095084fe10ee02e8"},"inDispute":{"type":"boolean","x-workday-type":"Boolean"},"disputeReasons":{"type":"array","items":{"$ref":"#/definitions/disputeReasonDisplay_ea22ae003e8f1000071353909aa6006a"},"x-prompt-resource":"/prompt/customerInvoice/disputeReasons","x-workday-type":"Multi-instance"},"invoiceStatus":{"$ref":"#/definitions/invoiceStatus_454806779bee10001555336692021280"},"billToCustomer":{"$ref":"#/definitions/billToCustomer_454806779bee1000170ed615c16612a0"},"retentionAmount":{"type":"integer","x-workday-type":"Numeric"},"totalAmount":{"type":"integer","x-workday-type":"Numeric"},"invoiceNumber":{"type":"string","x-workday-type":"Text"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"ID of the instance"}}}]},"pdf_2872e600aaf3100017ce30bcabd6003e":{"allOf":[{"$ref":"#/definitions/invoicePDFDisplay_2872e600aaf3100017d702a7fa960040"},{"x-prompt-resource":"/prompt/printRun/pdf"}]},"printRunType_2872e600aaf310000d58e10605e30027":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/printRun/printRunType"}]},"printRun_2872e600aaf31000090b5d1de881000b":{"allOf":[{"type":"object","properties":{"pdf":{"$ref":"#/definitions/pdf_2872e600aaf3100017ce30bcabd6003e"},"deliveryMethod":{"type":"array","items":{"$ref":"#/definitions/deliveryMethodDisplay_2872e600aaf310001620b7746c190032"},"x-prompt-resource":"/prompt/printRun/deliveryMethod","x-workday-type":"Multi-instance"},"printedDateTime":{"type":"string","format":"date","x-workday-type":"Date"},"printRunType":{"$ref":"#/definitions/printRunType_2872e600aaf310000d58e10605e30027"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"ID of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"invoicePDFDisplay_2872e600aaf3100017d702a7fa960040":{"allOf":[{"type":"object","properties":{"name":{"type":"string","x-workday-type":"Text"},"id":{"type":"string","description":"ID of the instance"}}}]},"countryRegionDisplay_6fae704362ee10000974dae97e9102ef":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"deliveryMethodDisplay_2872e600aaf310001620b7746c190032":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"countryRegion_6fae704362ee1000094eae57a3f402e4":{"allOf":[{"$ref":"#/definitions/countryRegionDisplay_6fae704362ee10000974dae97e9102ef"},{"x-prompt-resource":"/prompt/billToAddressDisplay/countryRegion"}]},"country_6fae704362ee1000094eae22e9bc02df":{"allOf":[{"$ref":"#/definitions/countryDisplay_6fae704362ee1000096afa6dcf9002ec"},{"x-prompt-resource":"/prompt/billToAddressDisplay/country"}]},"billToAddressDisplay_6fae704362ee1000094eadc444eb02d9":{"allOf":[{"type":"object","properties":{"regionSubdivision1":{"type":"string","x-workday-type":"Text"},"countryRegion":{"$ref":"#/definitions/countryRegion_6fae704362ee1000094eae57a3f402e4"},"addressLine3":{"type":"string","x-workday-type":"Text"},"citySubdivision1":{"type":"string","x-workday-type":"Text"},"addressLine1":{"type":"string","x-workday-type":"Text"},"addressLine4":{"type":"string","x-workday-type":"Text"},"city":{"type":"string","x-workday-type":"Text"},"citySubdivision2":{"type":"string","x-workday-type":"Text"},"country":{"$ref":"#/definitions/country_6fae704362ee1000094eae22e9bc02df"},"addressLine2":{"type":"string","x-workday-type":"Text"},"regionSubdivision2":{"type":"string","x-workday-type":"Text"},"postalCode":{"type":"string","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"ID of the instance"}}}]},"countryDisplay_6fae704362ee1000096afa6dcf9002ec":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"invoiceTypeDisplay_454806779bee1000171c7f7347d612a2":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"relatedAdjustmentDisplay_ea22ae003e8f1000076f15328dc70070":{"allOf":[{"type":"object","properties":{"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"ID of the instance"}}}]},"companyDisplay_454806779bee100012868f74a4de125e":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"relatedAdjustmentReasonDisplay_ea22ae003e8f10000b96a781d0770086":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"customerGroup_89bd3613f2ed10000f549a4139d9003b":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"invoiceStatusDisplay_454806779bee10001671ec898aac128b":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"currencyDisplay_ea22ae003e8f1000113e1136deee008c":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"paymentStatusDisplay_454806779bee100015be3e7130161284":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"ID of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"disputeReasonDisplay_ea22ae003e8f1000071353909aa6006a":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"customerDisplay_454806779bee1000170e4a3a0ebc129e":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]}}}