{"swagger":"2.0","info":{"description":"This is the REST API documentation for Workday Custom Tasks. A custom task provides UI integration from Workday to an external application page. It can be used as a related action or search result to navigate from Workday to the external app. It can also be used to display external content within Workday, as a Worklet or as a tab in a Profile Group. You can use the API supported operations here to create and maintain custom tasks in your Workday system.","version":"v1","title":"Custom Tasks"},"host":"api.workday.com","basePath":"/customTask/v1","produces":["application/json"],"consumes":["application/json"],"tags":[{"name":"customTasks","description":"The custom tasks resource"}],"schemes":["https"],"paths":{"/customTasks":{"get":{"tags":["customTasks"],"description":"Get all custom task definitions. Secured by: Custom Task","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK. All custom task definitions successfully returned, limited by any query parameters","schema":{"type":"object","description":"A collection of custom task objects","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/defaultCustomTaskRepresentation"}},"total":{"type":"integer","format":"int64"}}}}}},"post":{"tags":["customTasks"],"description":"Create a new custom task definition. Secured by: Custom Task","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["defaultCustomTaskRepresentation"]},{"in":"body","name":"defaultCustomTaskRepresentation","required":true,"schema":{"$ref":"#/definitions/defaultCustomTaskRepresentation"}}],"responses":{"201":{"description":"OK. The custom task was successfully created","schema":{"$ref":"#/definitions/defaultCustomTaskRepresentation"}},"400":{"description":"A validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/customTasks/{id}":{"get":{"tags":["customTasks"],"description":"Get a specific custom task. {id} can be a wid, or be of the form \"Custom_Task_ID={customTaskId}\".\nSecured by: Custom Task.","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"view","in":"query","description":"The view of the response","type":"string","enum":["defaultCustomTaskRepresentation"]}],"responses":{"200":{"description":"OK. The custom task was returned","schema":{"$ref":"#/definitions/defaultCustomTaskRepresentation"}}}},"put":{"tags":["customTasks"],"description":"Update a specific custom task. {id} can be a wid, or be of the form \"Custom_Task_ID={customTaskId}\".\nSecured by: Custom Task.","produces":["application/json"],"parameters":[{"name":"id","in":"path","type":"string","description":"Id of specified instance","required":true},{"name":"defaultCustomTaskRepresentation","in":"body","required":true,"schema":{"$ref":"#/definitions/defaultCustomTaskRepresentation"}}],"responses":{"200":{"description":"OK. The custom task was updated","schema":{"$ref":"#/definitions/defaultCustomTaskRepresentation"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"defaultCustomTaskRepresentation":{"type":"object","properties":{"id":{"type":"string","description":"The Workday id of the custom task","readOnly":true},"descriptor":{"type":"string","readOnly":true},"title":{"type":"string","description":"The task title, presented to the user in search results and as a related action","example":"Order Business Cards","x-workday-type":"Text"},"customTaskId":{"type":"string","description":"The Reference ID to use for lookups. When creating a new custom task, this will be auto-created based on the _title_, if not otherwise specified.","x-workday-type":"Text","example":"ORDER_BUSINESS_CARDS"},"applicationId":{"type":"string","description":"The external application name","x-workday-type":"Text","example":"orderBizCards"},"siteId":{"type":"string","description":"The external site name","x-workday-type":"Text","example":"extApps"},"routePath":{"type":"string","description":"The route path to the application page. There are two substitution variables\nthat can pass data as query parameter values from Workday to your application\npage. They are: \n- \"customTaskObjectId\", replaced with the wid of the selected\n  _businessObject_ instance, if any\n- \"taskTitle\", replaced with the _title_ of the invoked\n  custom task\n","x-workday-type":"Text","example":"/home?workerId={customTaskObjectId}&title={taskTitle}"},"businessObject":{"$ref":"#/definitions/businessObject"},"securedSelection":{"type":"boolean","description":"Set to _true_ to prompt for a secured instance of the _businessObject_.\nContext-aware security groups will be evaluated against the instance.","example":"true|false","x-workday-type":"Boolean"},"unsecuredSelection":{"type":"boolean","description":"Set to _true_ to prompt for an unsecured instance of the _businessObject_.\nAny instance of the _businessObject_ can be selected.","example":"true|false","x-workday-type":"Boolean"},"noSelection":{"type":"boolean","description":"Set to _true_ if no instance of the _businessObject_ is to be selected.","example":"true|false","x-workday-type":"Boolean"},"domains":{"type":"array","description":"The domains providing security group permissions for this task.","items":{"$ref":"#/definitions/securityDomain"},"x-prompt-resource":"/prompt/defaultCustomTaskRepresentation/domains","x-workday-type":"Multi-instance"},"testOnly":{"type":"boolean","description":"Set to _true_ if task is to be restricted to a set of _testUsers_. No other users will have access to the task.","example":"true|false","x-workday-type":"Boolean"},"testUsers":{"type":"array","description":"Workday accounts authorized to run the task while in testOnly mode","items":{"$ref":"#/definitions/systemUser"},"x-prompt-resource":"/prompt/defaultCustomTaskRepresentation/testUsers","x-workday-type":"Multi-instance"}},"required":["title","applicationId","siteId","routePath","businessObject"]},"businessObject":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}],"description":"The business object that is the subject of this task. Set *one* of these custom task fields to true to define the behavior of the task:\n* _securedSelection_\n* _unsecuredSelection_\n* _noSelection_\n\n(Not all selection options are available for all business objects.)\n","x-prompt-resource":"/prompt/defaultCustomTaskRepresentation/businessObject"},"securityDomain":{"type":"object","properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true}},"required":["id"]},"systemUser":{"type":"object","properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true}},"required":["id"]},"INSTANCE_MODEL_REFERENCE":{"type":"object","properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]},"ERROR_MODEL_REFERENCE":{"type":"object","properties":{"error":{"type":"string","description":"A description of the error","readOnly":true,"example":"invalid request: validation errors"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","readOnly":true,"items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]}}}