{"swagger":"2.0","info":{"description":"Use this API to process and manage the workflow of Custom Business Processes.","version":"v1","title":"Custom Business Process"},"host":"api.workday.com","basePath":"/customBusinessProcess/v1","tags":[{"name":"Events","description":"Use this API to view, create, delete, or submit Custom Business Process events."},{"name":"EventSteps","description":"Use this API to submit steps in a Custom Business Process."}],"schemes":["https"],"paths":{"/events":{"post":{"tags":["Events"],"description":"Creates a new Custom Business Process event for a Custom Business Process type.","operationId":"create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","description":"The data to create a new Custom Business Process event.","name":"request","schema":{"$ref":"#/definitions/createEventRequest"}}],"responses":{"200":{"description":"Created a new Custom Business Process event instance","schema":{"$ref":"#/definitions/createEventResponse"}},"400":{"description":"Possible Validations:\n\n-Description is required.\n\n-The Custom Business Process type is required and must be active.\n\n-The 'for' field is required and must be valid for the Custom Business Process type.\n\n-The 'for' field must be empty since the Custom Business Process type does not support it.\n\n-The initiating allowed action is not valid for the Custom Business Process Type.\n\n-Initiating Allowed Action or Custom Task are required if the Custom Business Process Type does not have an active primary Initiating Allowed Action.\n\n-You don't have permissions for the initiating allowed action.\n\n-The custom task is not valid for the Custom Business Process Type.\n"}},"security":[{"oAuth2":["write","read"]}]},"get":{"tags":["Events"],"description":"Retrieves a collection of Custom Business Process events. Security: the processing person must have view access to the event to retrieve it in this collection.","operationId":"get","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customBusinessProcessType","in":"query","description":"The ID of the Custom Business Process type. Custom Business Process type values can be found through the Types resource in the Custom Business Process Config service.","required":false,"type":"string"},{"name":"for","in":"query","description":"The worker these events are about. Worker IDs can be found through the Workers resource in the Human Resource Management service.","required":false,"type":"string"},{"name":"status","in":"query","description":"The workflow status of the event. Use value service to find all possible options.","required":false,"type":"string"},{"name":"initiatedOnOrAfter","in":"query","description":"Field to filter event initiated on or after this date","required":false,"type":"string","format":"date-time"},{"name":"initiatedOnOrBefore","in":"query","description":"Field to filter event initiated on or before this date","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Returns summary of all Custom Business Process events","schema":{"$ref":"#/definitions/allCustomBusinessProcessEventSummary"}}},"security":[{"oAuth2":["write","read"]}]}},"/events/{id}":{"get":{"tags":["Events"],"description":"Returns a Custom Business Process event","operationId":"view","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday ID of the Custom Business Process event","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the Custom Business Process event for the ID supplied.","schema":{"$ref":"#/definitions/customBusinessProcessEventSummary"}},"404":{"description":"Not Found."}},"security":[{"oAuth2":["write","read"]}]},"delete":{"tags":["Events"],"description":"Deletes the specified event. Events that have been launched cannot be deleted. Security: the processing person must have view access to the specified event.","operationId":"delete","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday ID of the Custom Business Process event","required":true,"type":"string"}],"responses":{"200":{"description":"The event was successfully deleted."},"400":{"description":"Invalid request. The event could not be deleted because it has been launched."},"404":{"description":"Resource not found."}},"security":[{"oAuth2":["write","read"]}]}},"/events/{id}/launch":{"post":{"tags":["Events"],"description":"Launches the specified Custom Business Process event. Security: the processing person must be the initiator of this event.","operationId":"launch","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday ID of the Custom Business Process event","required":true,"type":"string"},{"name":"request","in":"body","description":"The data to initiate workflow","required":true,"schema":{"$ref":"#/definitions/launchCustomBusinessProcessEventRequest"}}],"responses":{"201":{"description":"Successfully launched the event.","schema":{"$ref":"#/definitions/launchCustomBusinessProcessEventResponse"}},"400":{"description":"Invalid request. Possible Validations: 1) The Custom Business Process event cannot be launched because the related Custom Business Process type is not active. 2) The Custom Business Process event has already been launched. 3) System user does not have authorization to launch this Custom Business Process event."}},"security":[{"oAuth2":["write","read"]}]}},"/events/{id}/submitRevise":{"post":{"tags":["Events"],"description":"Submits a revise step for the specified event, with an optional comment. Security: the event must have a revision step awaiting action from the processing person.","operationId":"submitRevise","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday ID of the Custom Business Process event","required":true,"type":"string"},{"name":"request","in":"body","description":"The request body","required":true,"schema":{"$ref":"#/definitions/submitReviseRequest"}}],"responses":{"201":{"description":"Revision step for the Custom Business Process event submitted successfully.","schema":{"$ref":"#/definitions/submitReviseResponse"}},"400":{"description":"Possible Validations:\n\n-Event must have a revision step awaiting the processing person.\n"}},"security":[{"oAuth2":["write","read"]}]}},"/eventSteps/{id}/submit":{"post":{"tags":["EventSteps"],"description":"Submits the specified event step with an optional comment. Security: the event step must be awaiting action from the processing person.","operationId":"post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The Workday ID of the Custom Business Process event step.","required":true,"type":"string"},{"name":"request","in":"body","description":"The request body","required":true,"schema":{"$ref":"#/definitions/customBusinessProcessEventStepSubmitRequest"}}],"responses":{"201":{"description":"Submitted successfully.","schema":{"$ref":"#/definitions/customBusinessProcessEventStepSubmitResponse"}},"400":{"description":"Invalid request. Possible validations: 1) Event Step must be awaiting the processing person. 2) Event Step should be of type Action. 3) Event must be a Custom Business Process event."}},"security":[{"oAuth2":["write","read"]}]}}},"securityDefinitions":{"oAuth2":{"type":"oauth2","scopes":{"write":"modify Custom Business Process events","read":"read Custom Business Process events"},"description":"Register an API Client","flow":"implicit","authorizationUrl":"https://auth.api.workday.com/v1/authorize"}},"definitions":{"createEventRequest":{"type":"object","required":["description","customBusinessProcessType"],"properties":{"description":{"type":"string"},"effectiveDate":{"type":"string"},"customBusinessProcessType":{"$ref":"#/definitions/instanceRequest"},"initiatingAllowedAction":{"$ref":"#/definitions/instanceRequest"},"customTask":{"$ref":"#/definitions/instanceRequest"},"for":{"$ref":"#/definitions/instanceRequest"}}},"createEventResponse":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"description":{"type":"string"},"effectiveDate":{"type":"string"},"customBusinessProcessType":{"$ref":"#/definitions/customBusinessProcessTypeResponse"},"initiatingAllowedAction":{"$ref":"#/definitions/initiatingAllowedActionResponse"},"initiatingCustomTask":{"$ref":"#/definitions/instanceResponse"},"for":{"$ref":"#/definitions/instanceResponse"},"customObject":{"$ref":"#/definitions/instanceResponse"}}},"allCustomBusinessProcessEventSummary":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/customBusinessProcessEventSummary"}}}},"customBusinessProcessEventSummary":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"status":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}}},"description":{"type":"string"},"customBusinessProcessType":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"Custom_Business_Process_Type_ID":{"type":"string"}}},"initiatingAllowedAction":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"Initiating_Action_ID":{"type":"string"}}},"for":{"$ref":"#/definitions/instanceResponse"},"initiationDate":{"type":"string"}}},"launchCustomBusinessProcessEventRequest":{"type":"object","properties":{"description":{"type":"string"},"comment":{"type":"string"}}},"launchCustomBusinessProcessEventResponse":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"description":{"type":"string"},"comment":{"type":"string"},"status":{"type":"string"}}},"instanceResponse":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}}},"instanceRequest":{"type":"object","required":["id"],"properties":{"id":{"type":"string"}}},"customBusinessProcessTypeResponse":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"Custom_Business_Process_Type_ID":{"type":"string"}}},"initiatingAllowedActionResponse":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"Initiating_Action_ID":{"type":"string"}}},"submitReviseRequest":{"type":"object","properties":{"comment":{"type":"string"}}},"submitReviseResponse":{"type":"object","properties":{"id":{"type":"string"},"description":{"type":"string"},"comment":{"type":"string"}}},"eventStepSummary":{"type":"object","properties":{"id":{"type":"string"}}},"customBusinessProcessEventStepSubmitRequest":{"type":"object","properties":{"comment":{"type":"string"}}},"customBusinessProcessEventStepSubmitResponse":{"type":"object","properties":{"id":{"type":"string"},"description":{"type":"string"},"comment":{"type":"string"}}}}}