{"swagger":"2.0","info":{"description":"A collection with resources that define operations to create, update and view custom object definitions and custom field types defined in your particular implementation of Workday.  You must be secured to the 'Custom Object Management' domain to successfully execute these resource operations.","version":"v1","title":"Custom Object Definitions"},"host":"api.workday.com","securityDefinitions":{"OAuth 2.0":{"type":"oauth2","authorizationUrl":"https://{host}/{tenant}/authorize","flow":"implicit"}},"security":[{"OAuth 2.0":[]}],"produces":["application/json"],"consumes":["application/json"],"tags":[{"name":"definitions","description":"The Custom Object Definitions service collection has resources that define operations to create, update, activate, delete and view custom object definitions defined in your particular implementation of Workday.  This service has subresources to create, update, delete and view custom field (/fields), condition rules (/conditionRules) and user-defined validations (/validations).  A custom object definition is activated via the subresource '/activate'."},{"name":"definitions/fields","description":"The fields sub-resource provides operations to create, update, delete and view Custom Fields for the specified custom object definition."},{"name":"definitions/conditionRules","description":"The conditionRules sub-resource provides operations to create, update, delete Condition Rules for the specified custom object definition."},{"name":"definitions/validations","description":"The validations sub-resource provides operations to create, update, delete user defined Validations for the specified custom object definition."},{"name":"fieldTypes","description":"The Custom Field Types service collection has resources that define operations to create, update and view. There is no DELETE operation because custom field types can be inactivated but not deleted."},{"name":"fieldTypes/listValues","description":"The listValues sub-resource provides operations to view, create, and update Custom List Values for a specific instance of a Custom field Type of type 'Custom List'. There is no DELETE operation because custom list values can be inactivated but not deleted."}],"basePath":"/customObjectDefinition/v1","schemes":["https"],"paths":{"/definitions":{"get":{"tags":["definitions"],"description":"This GET operation retrieves summary or detail information for custom object definitions. Summary is the default representation.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["summary","detail"]}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/summary_76dc8bbf27441000087af1637dc5121e"}},"total":{"type":"integer","format":"int64"}}}}}},"post":{"tags":["definitions"],"description":"Use this method to create the custom object definition. Creating an active custom object definition that custom data can be entered for requires several steps. Step 1: Create the custom object definition shell. Required fields include name, ID, multi-instance boolean.  At least 1 value for Domain is required for users to enter custom data.Step 2: Add custom fields. Step 3: For a multi-instance custom object, specify the custom field for reference id and display value. Step 4: Activate the custom object definition.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"in":"body","name":"detail +TG","required":true,"schema":{"$ref":"#/definitions/detail_+TG_f91297ea5192100009e2a77fcc2b11ce"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/detail_+TG_f91297ea5192100009e2a77fcc2b11ce"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}":{"get":{"tags":["definitions"],"description":"This GET operation retrieves summary and detail information for the specified custom object definition instance. Summary is the default representation.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["summary","detail"]},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/summary_76dc8bbf27441000087af1637dc5121e"}}}},"put":{"tags":["definitions"],"description":"Use this method to update the custom object definition. Once a custom object definition is active, some of the body parameters cannot be updated including name, ID and multi-instance boolean. ","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"detail +TG","required":true,"schema":{"$ref":"#/definitions/detail_+TG_f91297ea5192100009e2a77fcc2b11ce"}}],"responses":{"200":{"description":"put response","schema":{"$ref":"#/definitions/detail_+TG_f91297ea5192100009e2a77fcc2b11ce"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}},"delete":{"tags":["definitions"],"description":"You cannot delete a custom object definition if it currently has custom data or if any of its custom fields are referenced in a custom report, calculation field or condition rule.","produces":["application/json"],"parameters":[{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"deleting response"},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}/validations":{"get":{"tags":["definitions/validations"],"description":"This GET request retrieves all the user defined Validations for the custom object definition. This is the default GET operation.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customObjectValidation_+TG_35c90babc34d1000507988206a760019"}},"total":{"type":"integer","format":"int64"}}}}}},"post":{"tags":["definitions/validations"],"description":"Use this method to create a new validation. Required fields for every validation include name, custom field, condition rule, severity level and message.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"customObjectValidation +TG","required":true,"schema":{"$ref":"#/definitions/customObjectValidation_+TG_35c90babc34d1000507988206a760019"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customObjectValidation_+TG_35c90babc34d1000507988206a760019"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}/validations/{VALIDATION_ID_PATH_PARAMETER}":{"get":{"tags":["definitions/validations"],"description":"This GET request returns all data for a specific user defined Validation.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"VALIDATION_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Validation reference.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customObjectValidation_+TG_35c90babc34d1000507988206a760019"}},"total":{"type":"integer","format":"int64"}}}}}},"put":{"tags":["definitions/validations"],"description":" Use this method to update a specific validation.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"VALIDATION_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Validation reference.","required":true,"type":"string"},{"in":"body","name":"customObjectValidation +TG","required":true,"schema":{"$ref":"#/definitions/customObjectValidation_+TG_35c90babc34d1000507988206a760019"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customObjectValidation_+TG_35c90babc34d1000507988206a760019"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}},"delete":{"tags":["definitions/validations"],"description":"Use this method to delete a user defined validation. A custom object user defined validation can always be deleted.","produces":["application/json"],"parameters":[{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"VALIDATION_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Validation reference.","required":true,"type":"string"}],"responses":{"200":{"description":"deleting response"},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}/fields":{"get":{"tags":["definitions/fields"],"description":"This GET request retrieves all the Custom Fields for the Custom Object Definition including removed/inactive custom fields. This is the default GET operation.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customField_+TG_f91297ea519210000d1eaec9254b11e4"}},"total":{"type":"integer","format":"int64"}}}}}},"post":{"tags":["definitions/fields"],"description":"Use this method to create a custom field for a custom object definition. Required fields include name, category, authorized usage, web service alias and custom field type.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"customField +TG","required":true,"schema":{"$ref":"#/definitions/customField_+TG_f91297ea519210000d1eaec9254b11e4"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customField_+TG_f91297ea519210000d1eaec9254b11e4"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}/fields/{FIELD_ID_PATH_PARAMETER}":{"get":{"tags":["definitions/fields"],"description":"This GET request retrieves all the detail for a specific custom field.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Custom Object Definition reference.","required":true,"type":"string"},{"name":"FIELD_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Custom Field reference.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customField_+TG_f91297ea519210000d1eaec9254b11e4"}},"total":{"type":"integer","format":"int64"}}}}}},"put":{"tags":["definitions/fields"],"description":"Use this method to update a custom field.  Once the custom object definition is active, some of the attributes for a custom field cannot be updated including ID and custom field type.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Custom Object Definition reference.","required":true,"type":"string"},{"name":"FIELD_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Custom Field reference.","required":true,"type":"string"},{"in":"body","name":"detail +TG","required":true,"schema":{"$ref":"#/definitions/detail_+TG_f91297ea5192100009e2a77fcc2b11ce"}}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customField_+TG_f91297ea519210000d1eaec9254b11e4"}},"total":{"type":"integer","format":"int64"}}}}}},"delete":{"tags":["definitions/fields"],"description":"Use this method to delete a custom field. A custom field cannot be deleted if its custom object definition currently has custom data or the custom field is referenced in a custom report, calculation field or condition rule.","produces":["application/json"],"parameters":[{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Custom Object Definition reference.","required":true,"type":"string"},{"name":"FIELD_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Custom Field reference.","required":true,"type":"string"}],"responses":{"200":{"description":"deleting response"},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}/conditionRules":{"get":{"tags":["definitions/conditionRules"],"description":"This GET request retrieves all the user defined Validations for the custom object definition. This is the default GET operation.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/conditionRuleSummary_+TG_868a86607f4f1000162d6df187820024"}},"total":{"type":"integer","format":"int64"}}}}}},"post":{"tags":["definitions/conditionRules"],"description":"Use this method to create a new condition rule. Required fields for every condition rule include condition item and order.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"conditionRuleDetail +TG","required":true,"schema":{"$ref":"#/definitions/conditionRuleDetail_+TG_6a2d00bbe62110001233df6028a50020"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/conditionRuleDetail_+TG_6a2d00bbe62110001233df6028a50020"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}/conditionRules/{RULE_ID_PATH_PARAMETER}":{"get":{"tags":["definitions/conditionRules"],"description":"This GET request returns all data for a specific user defined Validation.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"RULE_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Condition Rule reference.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/conditionRuleSummary_+TG_868a86607f4f1000162d6df187820024"}},"total":{"type":"integer","format":"int64"}}}}}},"put":{"tags":["definitions/conditionRules"],"description":"Use this method to update a specific condition rule.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"RULE_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Condition Rule reference.","required":true,"type":"string"},{"in":"body","name":"conditionRuleDetail +TG","required":true,"schema":{"$ref":"#/definitions/conditionRuleDetail_+TG_6a2d00bbe62110001233df6028a50020"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/conditionRuleDetail_+TG_6a2d00bbe62110001233df6028a50020"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}},"delete":{"tags":["definitions/conditionRules"],"description":"Use this method to delete a condition rule. A Condition Rule cannot be deleted if it is in use.","produces":["application/json"],"parameters":[{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"RULE_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance. This is the WID (Workday ID) of the Condition Rule reference.","required":true,"type":"string"}],"responses":{"200":{"description":"deleting response"},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/definitions/{ID_PATH_PARAMETER}/activate":{"post":{"tags":["definitions"],"description":"Use this method to activate a custom object definition.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"customObjectDefinitionActivate +TG","required":true,"schema":{"$ref":"#/definitions/customObjectDefinitionActivate_+TG_c1f30420f50c10000af05f4fa919124c"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customObjectDefinitionActivate_+TG_c1f30420f50c10000af05f4fa919124c"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/fieldTypes":{"get":{"tags":["fieldTypes"],"description":"This GET request retrieves all the Custom Field Types. This is the default GET operation.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customFieldTypeDetail_19a566100570100021fab79af31f0012"}},"total":{"type":"integer","format":"int64"}}}}}},"post":{"tags":["fieldTypes"],"description":"Use this method to create a new custom field type. Required fields for every custom field type include name, web service alias and fieldType. Specific custom field types may have additional required fields.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"in":"body","name":"customFieldTypeDetail","required":true,"schema":{"$ref":"#/definitions/customFieldTypeDetail_19a566100570100021fab79af31f0012"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customFieldTypeDetail_19a566100570100021fab79af31f0012"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/fieldTypes/{ID_PATH_PARAMETER}":{"get":{"tags":["fieldTypes"],"description":"This GET request retrieves detail information for the specified Custom Field Type.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/customFieldTypeDetail_19a566100570100021fab79af31f0012"}}}},"put":{"tags":["fieldTypes"],"description":"Use this method to update the custom field type. You cannot inactivate a custom field type that is currently in use by a custom field in a custom object definition, including inactive/removed custom fields.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"customFieldTypeDetail","required":true,"schema":{"$ref":"#/definitions/customFieldTypeDetail_19a566100570100021fab79af31f0012"}}],"responses":{"200":{"description":"put response","schema":{"$ref":"#/definitions/customFieldTypeDetail_19a566100570100021fab79af31f0012"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/fieldTypes/{ID_PATH_PARAMETER}/listValues":{"get":{"tags":["fieldTypes/listValues"],"description":"The GET method returns all Custom List Values for the specified Custom List. This is the default GET operation.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customListValueDetail_19a56610057010004a53e67ab30e0181"}},"total":{"type":"integer","format":"int64"}}}}}},"post":{"tags":["fieldTypes/listValues"],"description":"Use this method to create a new Custom List Value within an existing Custom List.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"customListValueDetail","required":true,"schema":{"$ref":"#/definitions/customListValueDetail_19a56610057010004a53e67ab30e0181"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customListValueDetail_19a56610057010004a53e67ab30e0181"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}},"/fieldTypes/{ID_PATH_PARAMETER}/listValues/{LIST_ID_PATH_PARAMETER}":{"get":{"tags":["fieldTypes/listValues"],"description":"The GET method returns all data for a specific Custom List Value instance.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"LIST_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customListValueDetail_19a56610057010004a53e67ab30e0181"}},"total":{"type":"integer","format":"int64"}}}}}},"put":{"tags":["fieldTypes/listValues"],"description":"Use this method to update a specific custom list value. A custom list value can be inactivated at any time.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string"},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"LIST_ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"customFieldTypeDetail","required":true,"schema":{"$ref":"#/definitions/customFieldTypeDetail_19a566100570100021fab79af31f0012"}}],"responses":{"200":{"description":"put response","schema":{"$ref":"#/definitions/customListValueDetail_19a56610057010004a53e67ab30e0181"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}}}}}},"definitions":{"summary_76dc8bbf27441000087af1637dc5121e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"multiInstance":{"type":"boolean","description":"True if the custom object has multiple instances for the extended business object.","x-workday-type":"Boolean"},"businessObject":{"$ref":"#/definitions/businessObject_76dc8bbf27441000087af5f9649f1223"},"businessObjectFilter":{"$ref":"#/definitions/businessObjectFilter_76dc8bbf27441000087af586f2981222"},"active":{"type":"boolean","description":"Indicates if the custom object is active or draft","x-workday-type":"Boolean"},"customObjectDefinitionId":{"type":"string","description":"The alias for a custom object.","x-workday-type":"Text"},"name":{"type":"string","description":"The name of the custom object.","x-workday-type":"Text"}}}]},"referenceId_f91297ea51921000b5136d52375713ac":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/referenceId"}]},"businessObjectFilter_f91297ea519210000a806434f71511d7":{"allOf":[{"$ref":"#/definitions/customObjectType_+TG_f91297ea519210002c34090c3540122d"},{"x-prompt-resource":"/prompt/detail/businessObjectFilter"}]},"displayValue_f91297ea51921000b5136d1791eb13ab":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/displayValue"}]},"businessObject_f91297ea519210000a8064ceb44411db":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/businessObject"}]},"uiVisibilityRule_f91297ea51921000b5f52048a07613bd":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/uiVisibilityRule"}]},"detail_+TG_f91297ea5192100009e2a77fcc2b11ce":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"referenceId":{"$ref":"#/definitions/referenceId_f91297ea51921000b5136d52375713ac"},"businessObjectFilter":{"$ref":"#/definitions/businessObjectFilter_f91297ea519210000a806434f71511d7"},"displayValue":{"$ref":"#/definitions/displayValue_f91297ea51921000b5136d1791eb13ab"},"multiInstance":{"type":"boolean","description":"True if the custom object has multiple instances for the extended business object.","x-workday-type":"Boolean"},"fields":{"type":"array","description":"Returns the custom fields for the Custom Object.","items":{"$ref":"#/definitions/customField_+TG_f91297ea519210000d1eaec9254b11e4"},"x-prompt-resource":"/prompt/detail/fields","x-workday-type":"Multi-instance"},"domains":{"type":"array","description":"Contains the Security Domains that secure this object.","items":{"$ref":"#/definitions/domain_f91297ea51921000183022a687a61203"},"x-prompt-resource":"/prompt/detail/domains","x-workday-type":"Multi-instance"},"businessObject":{"$ref":"#/definitions/businessObject_f91297ea519210000a8064ceb44411db"},"active":{"type":"boolean","description":"Indicates if the custom object is active or draft","x-workday-type":"Boolean"},"uiVisibilityRule":{"$ref":"#/definitions/uiVisibilityRule_f91297ea51921000b5f52048a07613bd"},"customObjectDefinitionId":{"type":"string","description":"The alias for a custom object.","x-workday-type":"Text"},"hideOnView":{"type":"boolean","description":"Returns true if Hide on View when Unpopulated is true.","x-workday-type":"Boolean"},"name":{"type":"string","description":"The name of the custom object.","x-workday-type":"Text"}}}]},"conditionRuleDetail_+TG_6a2d00bbe62110001233df6028a50020":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"conditionRuleId":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"},"ruleDescription":{"type":"string","description":"Returns the condition rule description provided by user.","x-workday-type":"Text"},"conditionItems":{"type":"array","description":"Returns the condition items composing the rule.","items":{"$ref":"#/definitions/conditionItemDetail_6a2d00bbe6211000160e0c46fda8003d"},"x-prompt-resource":"/prompt/conditionRuleDetail/conditionItems","x-workday-type":"Multi-instance"},"comment":{"type":"string","description":"Returns the comment entered for the rule","x-workday-type":"Text"}}}]},"conditionRuleSummary_+TG_868a86607f4f1000162d6df187820024":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"ruleDescription":{"type":"string","description":"Returns the condition rule description provided by user.","x-workday-type":"Text"},"comment":{"type":"string","description":"Returns the comment entered for the rule","x-workday-type":"Text"}}}]},"severityLevel_3a8d337cdf01100042d2dbf34a0b0018":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectValidation/severityLevel"}]},"conditionRule_3a8d337cdf01100042d2dcc38546001a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectValidation/conditionRule"}]},"customField_3a8d337cdf01100042d2dc779cc80019":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectValidation/customField"}]},"customObjectValidation_+TG_35c90babc34d1000507988206a760019":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"severityLevel":{"$ref":"#/definitions/severityLevel_3a8d337cdf01100042d2dbf34a0b0018"},"messageText":{"type":"string","description":"The message displayed when the validation is triggered.","x-workday-type":"Text"},"onlyOnOk":{"type":"boolean","description":"If true, this validation will only be executed when the validation is submitted.  Otherwise, it will be triggered once data is entered for the custom object.","x-workday-type":"Boolean"},"name":{"type":"string","description":"The name of the validation.","x-workday-type":"Text"},"conditionRule":{"$ref":"#/definitions/conditionRule_3a8d337cdf01100042d2dcc38546001a"},"customField":{"$ref":"#/definitions/customField_3a8d337cdf01100042d2dc779cc80019"}}}]},"fieldType_f91297ea5192100063f2b46a1e901289":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customField/fieldType"}]},"customField_+TG_f91297ea519210000d1eaec9254b11e4":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"prompts":{"type":"array","description":"Returns the Prompt Identifiers for the Custom Field.","items":{"$ref":"#/definitions/promptIdentifier_f91297ea519210006849f45ddf8712b1"},"x-prompt-resource":"/prompt/customField/prompts","x-workday-type":"Multi-instance"},"categories":{"type":"array","description":"Contains one or more categories that have been associated with the report field.","items":{"$ref":"#/definitions/externalFieldCategory_f91297ea5192100064904939b217128d"},"x-prompt-resource":"/prompt/customField/categories","x-workday-type":"Multi-instance"},"fieldType":{"$ref":"#/definitions/fieldType_f91297ea5192100063f2b46a1e901289"},"inactive":{"type":"boolean","description":"Returns a true value if the report field should no longer be used.","x-workday-type":"Boolean"},"order":{"type":"string","description":"Returns the order of the custom field.","maxLength":6,"x-workday-type":"Text"},"alias":{"type":"string","description":"Returns the web service alias of the custom field.","x-workday-type":"Text"},"authorizedUsages":{"type":"array","description":"Indicates the parts of the application where a field is intended to be used.","items":{"$ref":"#/definitions/externalFieldUsage_f91297ea519210005fc757544af9126a"},"x-prompt-resource":"/prompt/customField/authorizedUsages","x-workday-type":"Multi-instance"},"name":{"type":"string","description":"The name of the report field.","x-workday-type":"Text"},"displayOptions":{"type":"array","description":"Contains one or more display options that have been associated with the report field.","items":{"$ref":"#/definitions/displayOption_f91297ea51921000b751b7cc382713cc"},"x-prompt-resource":"/prompt/customField/displayOptions","x-workday-type":"Multi-instance"},"validations":{"type":"array","description":"Contains one or more custom field validations that have been associated with the report field.","items":{"$ref":"#/definitions/customFieldValidation_f91297ea51921000b6bdc24da93113c5"},"x-prompt-resource":"/prompt/customField/validations","x-workday-type":"Multi-instance"}}}]},"customObjectDefinitionActivate_+TG_c1f30420f50c10000af05f4fa919124c":{"allOf":[{"type":"object"}]},"fieldType_19a566100570100030ac8e11924c0046":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/fieldType"}]},"currencyInfo_19a566100570100030ac8d5b28c90045":{"allOf":[{"$ref":"#/definitions/currencyCustomFieldTypeDetail_19a566100570100030bd61f02bb70048"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/currencyInfo"}]},"decimalInfo_9b0ed2dfc04310005ae461fdea6100b4":{"allOf":[{"$ref":"#/definitions/decimalCustomFieldTypeDetail_9b0ed2dfc04310005ae36b42f56100b2"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/decimalInfo"}]},"listInfo_19a56610057010004945b190ec290150":{"allOf":[{"$ref":"#/definitions/listCustomFieldTypeDetail_19a5661005701000498a70d06a6c0167"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/listInfo"}]},"textInfo_9b0ed2dfc04310007e08800614060208":{"allOf":[{"$ref":"#/definitions/textCustomFieldTypeDetail_9b0ed2dfc04310007dc7cb59568001f9"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/textInfo"}]},"paragraphInfo_9b0ed2dfc04310007d64b2ad200e01f1":{"allOf":[{"$ref":"#/definitions/paragraphCustomFieldTypeDetail_9b0ed2dfc04310007d437eaac0fc01ea"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/paragraphInfo"}]},"integerInfo_9b0ed2dfc04310007cb65e94107a01de":{"allOf":[{"$ref":"#/definitions/integerCustomFieldTypeDetail_9b0ed2dfc04310007c51ea21de5301d1"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/integerInfo"}]},"customFieldTypeDetail_19a566100570100021fab79af31f0012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"fieldType":{"$ref":"#/definitions/fieldType_19a566100570100030ac8e11924c0046"},"currencyInfo":{"$ref":"#/definitions/currencyInfo_19a566100570100030ac8d5b28c90045"},"decimalInfo":{"$ref":"#/definitions/decimalInfo_9b0ed2dfc04310005ae461fdea6100b4"},"listInfo":{"$ref":"#/definitions/listInfo_19a56610057010004945b190ec290150"},"textInfo":{"$ref":"#/definitions/textInfo_9b0ed2dfc04310007e08800614060208"},"alias":{"type":"string","description":"The web service alias of the Custom Field Type used in REST APIs.","x-workday-type":"Text"},"name":{"type":"string","description":"Name given to Type of Custom Field.","x-workday-type":"Text"},"paragraphInfo":{"$ref":"#/definitions/paragraphInfo_9b0ed2dfc04310007d64b2ad200e01f1"},"inactive":{"type":"boolean","description":"Indicates if the Custom Field Type is not active.","x-workday-type":"Boolean"},"integerInfo":{"$ref":"#/definitions/integerInfo_9b0ed2dfc04310007cb65e94107a01de"}}}]},"customListValueDetail_19a56610057010004a53e67ab30e0181":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"order":{"type":"string","description":"The order for the Custom List Value.","maxLength":6,"x-workday-type":"Text"},"inactive":{"type":"boolean","description":"Returns true if the custom list value is Inactive.","x-workday-type":"Boolean"},"alias":{"type":"string","description":"Web Service Alias for Custom List Value.","x-workday-type":"Text"},"name":{"type":"string","description":"The name of the Custom List Value.","x-workday-type":"Text"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"displayOption_f91297ea51921000b751b7cc382713cc":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"customFieldValidation_f91297ea51921000b6bdc24da93113c5":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"promptIdentifier_f91297ea519210006849f45ddf8712b1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"externalFieldCategory_f91297ea5192100064904939b217128d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"externalFieldUsage_f91297ea519210005fc757544af9126a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"customObjectType_+TG_f91297ea519210002c34090c3540122d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"domain_f91297ea51921000183022a687a61203":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"instanceReference_a60866e6a8af10000f4816d19d78006d":{"type":"object","properties":{"id":{"type":"string","description":"Returns the Workday ID for a given object.","maxLength":36,"x-workday-type":"Text"},"descriptor":{"type":"string","description":"Returns the instance descriptor.","x-workday-type":"Text"}}},"targetField_a933da6c29d51000057c44d969c20020":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/conditionItemDetail/targetField"}]},"sourceField_a60866e6a8af100008ebca322002002e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/conditionItemDetail/sourceField"}]},"conditionItemDetail_6a2d00bbe6211000160e0c46fda8003d":{"type":"object","properties":{"and":{"type":"boolean","description":"Returns true if the condition item uses an AND operator.","x-workday-type":"Boolean"},"targetBoolean":{"type":"boolean","description":"Returns the target boolean used  to compare against the source field.","x-workday-type":"Boolean"},"targetDate":{"type":"string","format":"date","description":"Returns the target date used to compare against the condition item source field.","x-workday-type":"Date"},"targetText":{"type":"string","description":"Returns the target text used to compare against the condition item source field.","x-workday-type":"Text"},"targetInstances":{"type":"array","description":"Returns the target instances used to compare against the condition item source field.","items":{"$ref":"#/definitions/instanceReference_a60866e6a8af10000f4816d19d78006d"},"x-prompt-resource":"/prompt/conditionItemDetail/targetInstances","x-workday-type":"Multi-instance"},"targetNumber":{"type":"integer","format":"int64","description":"Returns the target number used to compare against the condition item source field.","minimum":-1000000000000,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"or":{"type":"boolean","description":"Returns true if the condition item uses OR operator.","x-workday-type":"Boolean"},"relationalOperator":{"type":"string","description":"Returns the condition item relational operator name.","x-workday-type":"Text"},"targetField":{"$ref":"#/definitions/targetField_a933da6c29d51000057c44d969c20020"},"sourceField":{"$ref":"#/definitions/sourceField_a60866e6a8af100008ebca322002002e"},"order":{"type":"string","description":"Returns the order of the condition item.","maxLength":6,"x-workday-type":"Text"},"closeParentheses":{"type":"boolean","description":"Returns true if the condition item has close parentheses.","x-workday-type":"Boolean"},"openParentheses":{"type":"boolean","description":"Returns true when the condition item has open parentheses.","x-workday-type":"Boolean"}}},"textCustomFieldTypeDetail_9b0ed2dfc04310007dc7cb59568001f9":{"type":"object","properties":{"maxLength":{"type":"number","description":"The Maximum Length for the Custom Text.","minimum":0,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"}}},"paragraphCustomFieldTypeDetail_9b0ed2dfc04310007d437eaac0fc01ea":{"type":"object","properties":{"maxLength":{"type":"number","description":"The Maximum Length for the Custom Paragraph Text.","minimum":0,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"}}},"integerCustomFieldTypeDetail_9b0ed2dfc04310007c51ea21de5301d1":{"type":"object","properties":{"min":{"type":"number","description":"The Minimum Value for the Custom Integer.","minimum":-2147483648,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"max":{"type":"number","description":"The Maximum Value for the Custom Integer.","minimum":-2147483648,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"}}},"decimalCustomFieldTypeDetail_9b0ed2dfc04310005ae36b42f56100b2":{"type":"object","properties":{"min":{"type":"number","description":"The Minimum Value for the Custom Decimal.","minimum":-2147483648,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"max":{"type":"number","description":"The Maximum Value for the Custom Decimal.","minimum":-2147483648,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"precision":{"type":"number","description":"The Decimal Precision of the Custom Decimal.","minimum":0,"maximum":100,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"}}},"listCustomFieldTypeDetail_19a5661005701000498a70d06a6c0167":{"type":"object","properties":{"values":{"type":"array","description":"Values for Custom List","items":{"$ref":"#/definitions/customListValueDetail_19a56610057010004a53e67ab30e0181"},"x-prompt-resource":"/prompt/listCustomFieldTypeDetail/values","x-workday-type":"Multi-instance"}}},"currencyCustomFieldTypeDetail_19a566100570100030bd61f02bb70048":{"type":"object","properties":{"precision":{"type":"number","description":"The Currency Precision for the Custom Currency.","minimum":0,"maximum":100,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"max":{"type":"number","description":"The Maximum Currency Value for the Custom Currency.","minimum":-2147483648,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"min":{"type":"number","description":"the Minimum Currency for the Custom Currency.","minimum":-2147483648,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"}}},"businessObject_76dc8bbf27441000087af5f9649f1223":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/summary/businessObject"}]},"businessObjectFilter_76dc8bbf27441000087af586f2981222":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/summary/businessObjectFilter"}]}}}