{"swagger":"2.0","info":{"title":"Expenses","description":"This is the REST API documentation for Workday Expenses. You can use the APIs and supported operations documented here to extend the functionality of Workday Expenses.","version":"v1"},"host":"api.workday.com","schemes":["https"],"basePath":"/expense/v1","produces":["application/json"],"consumes":["application/json"],"tags":[{"name":"Entries","description":"Self-service Expense Entries that are user modifiable and can be used in an Expense Report for that user. This can typically be a quick expense with a minimal set of fields. \n\nExample: $50 spent on `Car Rental` (an Expense Item).\n\nSecured by: `Self-Service: Expense Report`"},{"name":"ExpenseItems","description":"Resource to operate on Expense Items. \n\nExample: Car Rental\n\nSecured by: `Access Expense Item (Segmented)`, `View: Expense Item`"},{"name":"Reports","description":"Resource used for creating, editing, and submitting Expense Reports. \n\nExample: Trip to San Francisco, referencing an Expense Entry `$50 spent on Car Rental`\n\nSecured by: `Self-Service: Expense Report`"}],"parameters":{"id":{"name":"id","in":"path","description":"The unique Workday Identifier (WID) for the resource. Only WID will work here.","type":"string","required":true},"body":{"name":"entriesBody","in":"body","description":"Expense Entry object that needs to be created","required":true,"schema":{"$ref":"#/definitions/entry"}}},"paths":{"/entries":{"get":{"tags":["Entries"],"description":"Gets all the Expense Entries for the user sorted by date in ascending order.","parameters":[{"name":"fromDate","in":"query","description":"The earliest date for which to retrieve the Expense Entries, inclusive of the date.","required":false,"type":"string","format":"date"},{"name":"toDate","in":"query","description":"The latest date for which to retrieve the Expense Entries, inclusive of the date.","required":false,"type":"string","format":"date"},{"name":"expenseEntryStatus","in":"query","description":"The status for the expense entries. Possible WIDs for this query parameter are\n  New -> dc74b9a0446c11de98360015c5e6daf6\n  Pending -> dc74b8b0446c11de98360015c5e6daf6\n  Expensed -> dc74ba90446c11de98360015c5e6daf6\n  Closed -> dc74bb80446c11de98360015c5e6daf6\n  Prepaid -> fdef527489e34c00b438b5dd7dacee79\n  Do Not Show -> 281f291f7a1b4a2b8c9e94b0e733510e\n  Paid -> d5478541ee1b431ab34a28339b40caf5","required":false,"type":"string","format":"Workday ID (WID)"},{"name":"entryType","in":"query","description":"The type of expense for the expense entries. Possible WIDs for this query parameter are\n  Quick Expense -> 744524587a9b4f74bdaa69fd7ffb91fc\n  Credit Card Transaction -> cd152f26446c11de98360015c5e6daf6\n  Travel Booking Record -> 3b370c53eda4100004772fea0e870002","required":false,"type":"string","format":"Workday ID (WID)"}],"responses":{"200":{"description":"A list of Expense Entries for the user.  The list is filtered by fromDate, toDate, entryType, and/or status if the parameters are included.","schema":{"type":"array","items":{"$ref":"#/definitions/entryResponse"}}}}},"post":{"tags":["Entries"],"description":"Creates a new Quick Expense instance for the user.","parameters":[{"name":"entryBody","in":"body","description":"Details for the new Quick Expense instance.","required":true,"schema":{"$ref":"#/definitions/entryPost"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/entryResponse"}},"400":{"description":"- Date is required for non-OCR request.\n- Only 1 image attachment is accepted for OCR request.\n","schema":{"$ref":"#/definitions/error"}}}}},"/entries/{id}":{"get":{"tags":["Entries"],"description":"Gets details of an Expense Entry referenced by its Workday Identifier (WID).","parameters":[{"$ref":"#/parameters/id"}],"responses":{"200":{"description":"Information about the Expense Entry.","schema":{"$ref":"#/definitions/entryResponse"}}}},"put":{"tags":["Entries"],"description":"Updates an Expense Entry referenced by its Workday Identifier (WID). Note that only Expense Entries with a type of \"Quick Expense\" and a status of \"New\" may be edited.","parameters":[{"$ref":"#/parameters/id"},{"$ref":"#/parameters/body"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/entryPost"}},"400":{"description":"Quick Expense status is not new.","schema":{"$ref":"#/definitions/error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}},"patch":{"tags":["Entries"],"description":"Updates an Expense Entry referenced by its Workday Identifier (WID) for the fields provided in the body. Note that only Expense Entries with a type of \"Quick Expense\" and a status of \"New\" may be edited.","parameters":[{"$ref":"#/parameters/id"},{"$ref":"#/parameters/body"}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/entryPost"}},"400":{"description":"Quick Expense status is not new.","schema":{"$ref":"#/definitions/error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["Entries"],"description":"Deletes an Expense Entry referenced by its Workday Identifier (WID). Note that only Expense Entries with a type of \"Quick Expense\" and a status of \"New\" may be edited.","parameters":[{"$ref":"#/parameters/id"}],"responses":{"200":{"description":"Successful response"},"400":{"description":"You can only delete quick expense. You can't delete credit card transactions or travel booking records.","schema":{"$ref":"#/definitions/error"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/entries/{id}/attachments":{"post":{"tags":["Entries"],"description":"Adds the attachment to the existing entry","parameters":[{"name":"id","in":"path","description":"The unique Workday Identifier (WID) of Entry","required":true,"type":"string"},{"name":"attachment","in":"body","description":"Attachment to be added to existing Entry","required":true,"schema":{"$ref":"#/definitions/attachment"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/attachmentResponse"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/error"}}}}},"/expenseItems":{"get":{"tags":["ExpenseItems"],"description":"Gets matching Expense Items for a given input string","parameters":[{"name":"searchString","in":"query","description":"String input to be used to generate an array of Expense Items.","required":true,"type":"string"},{"name":"disallowFixedItems","in":"query","description":"Boolean input to be filter fixed items.","required":false,"type":"boolean"}],"responses":{"200":{"description":"A list of Expense Items for the user.","schema":{"type":"array","items":{"$ref":"#/definitions/expenseItem"}}}}}},"/reports":{"get":{"tags":["Reports"],"description":"Gets the Expense Report determined by query parameters","parameters":[{"name":"expenseReportStatus","in":"query","description":"Status of the Expense Report. Possible statuses are -\n  Draft-> dc76c4fc446c11de98360015c5e6daf6\n  In Progress-> dc76c8bc446c11de98360015c5e6daf6\n  Approved-> 91b0d382d50848e898733757caa9f84a\n  Canceled-> dc76c9b6446c11de98360015c5e6daf6","required":false,"type":"string"},{"name":"expenseReportMemo","in":"query","description":"Name of Expense Report","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"Part of date range (creation date) to search for Expense Reports. If start date is not provided, it becomes end date.","required":false,"type":"string"},{"name":"toDate","in":"query","description":"Part of date range (creation date) to search for Expense Reports. If end date is not provided, it becomes current date. If neither is provided, then all available expenses are displayed.","required":false,"type":"string"}],"responses":{"200":{"description":"List of Expense Reports returned from query","schema":{"type":"array","items":{"$ref":"#/definitions/expenseReport"}}}}},"post":{"tags":["Reports"],"description":"Create a new Expense Report","parameters":[{"name":"expenseReportBody","in":"body","description":"Data to create the new Expense Report","required":true,"schema":{"$ref":"#/definitions/expenseReportPost"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/expenseReportPostResponse"}}}}},"/reports/{id}/submit":{"post":{"tags":["Reports"],"description":"Submit the Expense Report for approval","parameters":[{"name":"id","in":"path","description":"The WID of the Expense Report to be submitted","required":true,"type":"string"},{"name":"expenseReportBody","in":"body","description":"Empty body for expense report approval creation event","required":true,"schema":{"$ref":"#/definitions/expenseReportEvent"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/expenseReportEventResponse"}},"400":{"description":"Invalid expense report to submit","schema":{"$ref":"#/definitions/expenseReportDraftResponse"}}}}},"/reports/{id}/lines":{"post":{"tags":["Reports"],"description":"Create a new Expense Report Line for an Expense Report","parameters":[{"name":"id","in":"path","description":"The WID for the Expense Report to be modified","required":true,"type":"string"},{"name":"expenseReportLineBody","in":"body","description":"Details of Expense Report Line to be created","required":true,"schema":{"$ref":"#/definitions/expenseReportLinePOST"}}],"responses":{"200":{"description":"Successful response","schema":{"$ref":"#/definitions/expenseReportLineResponse"}}}}}},"definitions":{"entry":{"type":"object","required":["date"],"properties":{"id":{"type":"string","description":"The Workday ID of the Expense Entry."},"descriptor":{"type":"string","description":"The Display ID of the Expense Entry."},"date":{"type":"string","description":"The date the Expense was incurred.","format":"date"},"amount":{"$ref":"#/definitions/currencyAttribute"},"merchant":{"type":"string","description":"Merchant of the Expense."},"memo":{"type":"string","description":"Memo of the Expense."},"expenseItem":{"$ref":"#/definitions/expenseItem"}}},"entryPost":{"type":"object","properties":{"date":{"type":"string","description":"The date the Expense was incurred. Required for non-OCR requests.","format":"date"},"amount":{"$ref":"#/definitions/currencyAttribute"},"merchant":{"type":"string","description":"Merchant of the Expense."},"memo":{"type":"string","description":"Memo of the Expense."},"hasOCRReceipt":{"type":"boolean","description":"Whether the request contains an image attachment to be scanned by OCR. Required for OCR request."},"expenseItem":{"$ref":"#/definitions/expenseItem"},"attachments":{"type":"array","description":"The attachments for Expense Entry. Single image attachment required for OCR request.","items":{"properties":{"attachmentContent":{"type":"object","description":"The attachment content attached to Expense Entry."},"fileLength":{"type":"number","description":"File length of the uploaded attachment."},"filename":{"type":"string","description":"Name of the attachment uploaded."},"contentType":{"$ref":"#/definitions/mimeType"}}}}}},"entryResponse":{"type":"object","properties":{"id":{"type":"string","description":"The Workday ID of the Expense Entry."},"date":{"type":"string","description":"The date the Expense was incurred. Required for none-OCR request.","format":"date"},"amount":{"$ref":"#/definitions/currencyAttribute"},"merchant":{"type":"string","description":"Merchant of the Expense."},"memo":{"type":"string","description":"Memo of the Expense."},"expenseItem":{"$ref":"#/definitions/expenseItem"},"entryType":{"$ref":"#/definitions/entryType"},"expenseEntryStatus":{"$ref":"#/definitions/expenseEntryStatus"},"hasOCRReceipt":{"type":"boolean","description":"Whether the request contains an image attachment to be scanned by OCR. Required for OCR request."},"scanStatus":{"$ref":"#/definitions/scanStatus"},"attachments":{"type":"array","description":"The attachments for Expense Entry. Single image attachment required for OCR request.","items":{"$ref":"#/definitions/attachmentResponse"}}}},"attachment":{"type":"object","properties":{"attachmentContent":{"type":"object","description":"The attachment content attached to Expense Entry."},"fileLength":{"type":"number","description":"File length of the uploaded attachment."},"filename":{"type":"string","description":"Name of the attachment uploaded."},"contentType":{"$ref":"#/definitions/mimeType"}}},"attachmentResponse":{"type":"object","properties":{"id":{"type":"string","description":"Workday id of the attachment."},"attachmentContent":{"type":"object","description":"The attachment content attached to Expense Entry."},"fileLength":{"type":"number","description":"File length of the uploaded attachment."},"filename":{"type":"string","description":"Name of the attachment uploaded."},"contentType":{"$ref":"#/definitions/mimeType"}}},"mimeType":{"type":"object","properties":{"id":{"type":"string","description":"Workday id of the Mime type."},"descriptor":{"type":"string","description":"Name of the Mime type."}}},"currencyAttribute":{"type":"object","properties":{"currency":{"type":"string","description":"ISO 4217 Standard alphabetic code of the currency."},"value":{"type":"string","description":"The Display ID of the currency."}}},"expenseItem":{"type":"object","properties":{"id":{"type":"string","description":"Workday id for Expense Item instance."},"descriptor":{"type":"string","description":"The Display ID of the Expense Item."}}},"expenseReport":{"type":"object","properties":{"id":{"type":"string","description":"WID of the expense report"},"descriptor":{"type":"string","description":"EXP number of the report"},"expenseReportMemo":{"type":"string","description":"The name of the Expense Report"},"expenseReportNumber":{"type":"string","description":"The number of the Expense Report"},"totalAmount":{"$ref":"#/definitions/totalAmount"},"creationDate":{"type":"string","description":"The date the Expense Report was created"},"expenseReportStatus":{"$ref":"#/definitions/expenseReportStatus"}}},"expenseReportPostResponse":{"type":"object","properties":{"id":{"type":"string","description":"WID of the expense report"},"descriptor":{"type":"string","description":"EXP number of the report"},"expenseReportMemo":{"type":"string","description":"The name of the Expense Report"},"expenseReportNumber":{"type":"string","description":"The number of the Expense Report"},"company":{"$ref":"#/definitions/company"},"payee":{"$ref":"#/definitions/payee"},"creationDate":{"type":"string","description":"The date the Expense Report was created"},"worktag":{"type":"array","items":{"$ref":"#/definitions/worktag"}}}},"expenseReportPost":{"type":"object","properties":{"expenseReportMemo":{"type":"string","description":"The name of the Expense Report"},"company":{"$ref":"#/definitions/company"},"creationDate":{"type":"string","description":"The date the Expense Report was created"},"worktag":{"type":"array","items":{"$ref":"#/definitions/worktag"}}}},"company":{"type":"object","properties":{"id":{"type":"string","description":"WID of the company"},"descriptor":{"type":"string","description":"Name of the company"}}},"payee":{"type":"object","properties":{"id":{"type":"string","description":"WID of the payee"},"descriptor":{"type":"string","description":"Name of the payee"}}},"worktag":{"type":"object","properties":{"id":{"type":"string","description":"WID of the worktag"},"descriptor":{"type":"string","description":"The name of the worktag."}}},"entrySummary":{"type":"object","properties":{"id":{"type":"string","description":"Workday id for Entry instance."}}},"expenseReportLinePOST":{"type":"object","properties":{"quickExpense":{"$ref":"#/definitions/entrySummary"},"creditCardTransaction":{"$ref":"#/definitions/entrySummary"},"travelBookingRecord":{"$ref":"#/definitions/entrySummary"}}},"expenseReportLineResponse":{"type":"object","properties":{"id":{"type":"string","description":"WID of the expense report line"},"descriptor":{"type":"string","description":"Description for expense report line"},"entries":{"type":"array","items":{"$ref":"#/definitions/entrySummary"}},"date":{"type":"string","description":"Date for Expense Report Line"},"expenseItem":{"$ref":"#/definitions/expenseItem"},"totalAmount":{"$ref":"#/definitions/totalAmount"},"memo":{"type":"string","description":"Memo for expense report line"}}},"expenseReportEventResponse":{"type":"object","properties":{"id":{"type":"string","description":"WID of the expense report event"},"descriptor":{"type":"string","description":"Name of the expense report event"}}},"expenseReportDraftResponse":{"properties":{"error":{"type":"string","example":"invalid request: validation failures."},"errors":{"type":"array","items":{"type":"object","properties":{"error":{"type":"string","example":"Can only submit Expense Reports that are in Draft Status."}}}}}},"expenseReportStatus":{"type":"object","properties":{"id":{"type":"string","description":"WID of the expense report"},"descriptor":{"type":"string","description":"EXP number of the report"}}},"totalAmount":{"type":"object","properties":{"currency":{"type":"string","description":"Currency of payment"},"value":{"type":"string","description":"Amount of payment"}}},"expenseReportEvent":{"type":"object"},"entryType":{"type":"object","properties":{"id":{"type":"string","description":"Workday ID of the class of the expense instance."},"descriptor":{"type":"string","description":"The Display ID for class of the expense instance."}}},"scanStatus":{"type":"object","properties":{"id":{"type":"string","description":"Workday id for Scan Status instance."},"descriptor":{"type":"string","description":"The Display ID of the scan status."}}},"expenseEntryStatus":{"type":"object","properties":{"id":{"type":"string","description":"Workday ID of the expense status instance."},"descriptor":{"type":"string","description":"The Display ID of the expense status instance."}}},"error":{"properties":{"error":{"type":"string","example":"Invalid request: validation failures."},"errors":{"type":"array","items":{"type":"object","properties":{"error":{"type":"string","example":"Validation error message."}}}}}}}}