{"swagger":"2.0","info":{"description":"These APIs are for pay groups used in Payroll Interface. Using these APIs, Payroll Interface Administrators and Payroll Interface Partners can view pay group details and their payroll periods. Payroll period statuses can be updated using these APIs.","version":"v1","title":"Global Payroll"},"host":"api.workday.com","basePath":"/globalPayroll/v1","tags":[{"name":"payGroups","description":"Payroll Interface pay groups"}],"schemes":["https"],"paths":{"/payGroups":{"get":{"tags":["payGroups"],"description":"Get all Payroll Interface pay groups, sorted in ascending alphabetical order. Secured by: Set Up: Payroll Interface (Update Pay Period Status)","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["payGroupSummary"]}],"responses":{"200":{"description":"OK. All Payroll Interface pay groups successfully returned.","schema":{"type":"object","description":"A collection of Payroll Interface pay group objects","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/payGroupSummary"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/payGroups/{paygroup-id}":{"get":{"tags":["payGroups"],"description":"Get a specific Payroll Interface pay group. {paygroup-id} can be a WID or be of the form \"Organization_Reference_ID={paygroup-id}\". Secured by: Set Up: Payroll Interface (Update Pay Period Status)","produces":["application/json"],"parameters":[{"name":"paygroup-id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["payGroupSummary"]}],"responses":{"200":{"description":"OK. The Payroll Interface pay group was returned.","schema":{"$ref":"#/definitions/payGroupSummary"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/payGroups/{paygroup-id}/periods":{"get":{"tags":["payGroups"],"description":"Get all payroll periods for the Payroll Interface pay group, sorted in descending order by the period end date. Secured by: Payroll Interface (Update Pay Period Status)","produces":["application/json"],"parameters":[{"name":"paygroup-id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"periodEndDate","in":"query","description":"Period end date defined on the payroll period. This should not be used with the showMostRecentOnly query parameter. If both the periodEndDate and showMostRecentOnly query parameters are provided, the API will only consider the periodEndDate query parameter.","required":false,"type":"string"},{"name":"showMostRecentOnly","in":"query","description":"Used as to determine whether to show only the recent payroll periods (true) or all payroll periods (false). This should not be used with the periodEndDate query parameter. If both the showMostRecentOnly and periodEndDate query parameters are provided, the API will ignore the showMostRecentOnly query parameter.","required":false,"type":"boolean"},{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["periodSummary"]}],"responses":{"200":{"description":"OK. All payroll periods returned for the pay group.","schema":{"type":"object","description":"A collection of payroll period objects for the pay group object.","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/periodSummary"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/payGroups/{paygroup-id}/periods/{period-id}":{"get":{"tags":["payGroups"],"description":"Get a specific payroll period for the Payroll Interface pay group. {period-id} can be a WID or be of the form \"Period_ID={period-id}\". Secured by: Set Up: Payroll Interface (Update Pay Period Status)","produces":["application/json"],"parameters":[{"name":"paygroup-id","in":"path","description":"Id of parent instance","required":true,"type":"string"},{"name":"period-id","in":"path","description":"Id of child instance","required":true,"type":"string"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["periodSummary"]}],"responses":{"200":{"description":"OK. The payroll period for the Payroll Interface pay group was returned.","schema":{"$ref":"#/definitions/periodSummary"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["payGroups"],"description":"Update a specific payroll period for the Payroll Interface pay group. {period-id} can be a WID or be of the form \"Period_ID={period-id}\". Secured by: Set Up: Payroll Interface (Update Pay Period Status)","produces":["application/json"],"parameters":[{"name":"paygroup-id","in":"path","description":"Id of parent instance","required":true,"type":"string"},{"name":"period-id","in":"path","description":"Id of child instance","required":true,"type":"string"},{"name":"status","in":"body","description":"The status you would like to change for the payroll period instance. Valid statuses: Not Yet Started, In Progress, Complete.","required":true,"schema":{"$ref":"#/definitions/periodStatusUpdate"}},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["periodSummary"]}],"responses":{"200":{"description":"OK. The payroll period for the Payroll Interface pay group was updated successfully.","schema":{"$ref":"#/definitions/periodSummary"}},"400":{"description":"- Missing 'status' field. Must be one of the following: Not Yet Started, In Progress, Complete\n- Invalid status. Must be one of the following: Not Yet Started, In Progress, Complete\n- Other errors: https://community.workday.com/rest/error-messages","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"payGroupSummary":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"Organization_Reference_ID":{"type":"string","description":"Organization Reference ID","x-workday-type":"Text"},"descriptor":{"type":"string","description":"The name of the Payroll Interface pay group"}}}]},"periodSummary":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"Period_ID":{"type":"string","description":"Period Reference ID","x-workday-type":"Text"},"periodStartDate":{"type":"string","format":"date","description":"Period Start Date defined on the payroll period.","x-workday-type":"Date"},"periodEndDate":{"type":"string","format":"date","description":"Period End Date defined on the payroll period.","x-workday-type":"Date"},"periodIsEarliestOpen":{"type":"boolean","description":"Returns true if this period is the earliest open pay period.","x-workday-type":"Boolean"},"status":{"type":"string","description":"The status of a payroll period.","x-workday-type":"Text"}}}]},"periodStatusUpdate":{"allOf":[{"type":"object","properties":{"status":{"type":"string","description":"The desired payroll period status","example":"Complete"}}}]},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}}}}