{"swagger":"2.0","info":{"description":"These APIs are for Payroll Interface. Using these APIs, Payroll Interface Administrators and Payroll Interface Partners can view and maintain payroll inputs through the Worker and Batch APIs.","version":"labs","title":"Global Payroll (Labs)"},"host":"api.workday.com","basePath":"/globalPayroll/labs","tags":[{"name":"payComponents","description":"Pay Components for Payroll Interface"},{"name":"workers","description":"Workers for Payroll Interface"},{"name":"batches","description":"Batch IDs for Payroll Interface"}],"schemes":["https"],"paths":{"/payComponents":{"get":{"tags":["payComponents"],"description":"Retrieves a collection of Payroll Interface pay components, sorted by name in ascending alphabetical order. Secured by: Set Up: Payroll Interface. Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"usage","in":"query","description":"The pay component usage type.","required":false,"type":"string","enum":["deduction","earning"]},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection. Example: If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"A collection of Payroll Interface pay components","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/componentData"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/payComponents/{ID}":{"get":{"tags":["payComponents"],"description":"Retrieves a Payroll Interface pay component for the specified {ID}. Secured by: Set Up: Payroll Interface. Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID or reference ID of the pay component. The reference ID uses the <Deduction_Code>=<id> format for deductions and <Earning_Code>=<=id> for earnings; example: Deduction_Code=Deduction1, Earning_Code=Earning1. The value of the Workday ID can be found in the list of pay components from the response of an API request to /payComponents. The value of the reference ID is the same as the pay component code, which can be found in the View External Payroll Deductions or View External Payroll Earnings report.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/componentData"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/workers":{"get":{"tags":["workers"],"description":"Retrieves a collection of Payroll Interface workers, sorted by name in ascending alphabetical order. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection. Example: If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"A collection of Payroll Interface worker objects","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/workerData"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/workers/{ID}":{"get":{"tags":["workers"],"description":"Retrieves a Payroll Interface worker for the specified {ID}. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the worker. This value can be found in the list of workers from the response of an API request to /workers.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/workerData"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/workers/{ID}/externalInputs":{"get":{"tags":["workers"],"description":"Retrieves a collection of Payroll Interface payroll inputs for the worker specified by {ID}. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"batchId","in":"query","description":"The Workday ID or reference ID of the batch for the payroll input. The reference ID uses the <Batch_ID>=<id> format; example: Batch_ID=1234. The value of the Workday ID can be found in the list of batches from the response of an API request to /batches. The value of the reference ID is the same as the batch ID, which is displayed in the \"descriptor\" field of the response of an API request to /batches.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"component","in":"query","description":"The Workday ID or reference ID of the Payroll Interface pay component for the payroll input. The reference ID uses the <Deduction_Code>=<id> format for deductions and <Earning_Code>=<=id> for earnings; example: Deduction_Code=Deduction1, Earning_Code-Earning1. The value of the Workday ID can be found in the list of pay components from the response of an API request to /payComponents. The value of the reference ID is the same as the pay component code, which can be found in the View External Payroll Deductions or View External Payroll Earnings report.","required":false,"type":"string"},{"name":"startDate","in":"query","description":"The start date of the payroll input using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"endDate","in":"query","description":"The end date of the payroll input using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection. Example: If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID of the worker. This value can be found in the list of workers from the response of an API request to /workers.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"A collection of Payroll Interface payroll inputs","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/inputData"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["workers"],"description":"Create one or multiple (up to 100) Payroll Interface payroll inputs for the specified worker. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the worker. This value can be found in the list of workers from the response of an API request to /workers.","required":true,"type":"string"},{"name":"bulk","in":"query","description":"If true, this enables bulk creation.","required":false,"type":"boolean"},{"in":"body","name":"inputData","required":true,"schema":{"$ref":"#/definitions/inputData"}}],"responses":{"201":{"description":"Resource(s) created.","schema":{"$ref":"#/definitions/inputData"}},"400":{"description":"Invalid request. Possible error(s): An invalid Payroll Interface pay component was provided.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/workers/{ID}/externalInputs/{subresourceID}":{"get":{"tags":["workers"],"description":"Retrieves a Payroll Interface payroll input for the specified {subresourceID} for the worker specified by {ID}. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the worker. This value can be found in the list of workers from the response of an API request to /workers.","required":true,"type":"string"},{"name":"subresourceID","in":"path","description":"The Workday ID of the payroll input. This can be found in the list of payroll inputs from the response of an API request to /workers/{ID}/externalInputs.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/inputData"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["workers"],"description":"Updates one or multiple (up to 100) Payroll Interface payroll inputs for the worker specified by {ID}. Partially updates the existing payroll input with the specified data in the request body. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the worker. This value can be found in the list of workers from the response of an API request to /workers.","required":true,"type":"string"},{"name":"subresourceID","in":"path","description":"The Workday ID of the payroll input. This can be found in the list of payroll inputs from the response of an API request to /workers/{ID}/externalInputs.","required":true,"type":"string"},{"name":"bulk","in":"query","description":"If true, this enables bulk update.","required":false,"type":"boolean"},{"in":"body","name":"inputData","required":true,"schema":{"$ref":"#/definitions/inputData"}}],"responses":{"200":{"description":"Resource(s) updated.","schema":{"$ref":"#/definitions/inputData"}},"400":{"description":"Invalid request. Possible error(s): An invalid Payroll Interface pay component was provided.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"delete":{"tags":["workers"],"description":"Deletes a Payroll Interface payroll input for the specified {subresourceID} for the worker specified by {ID}. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the worker. This value can be found in the list of workers from the response of an API request to /workers.","required":true,"type":"string"},{"name":"subresourceID","in":"path","description":"The Workday ID of the payroll input. This can be found in the list of payroll inputs from the response of an API request to /workers/{ID}/externalInputs.","required":true,"type":"string"}],"responses":{"200":{"description":"Resource deleted."},"400":{"description":"a validation error occurred (https://community.workday.com/rest/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/batches":{"get":{"tags":["batches"],"description":"Retrieves a collection of batches, sorted by batch ID in ascending alphabetical order. Secured by: REST API Public. Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"usage","in":"query","description":"The Workday ID or reference ID of the batch usage. The reference ID uses the <Application_Batch_Usage_ID>=<id> format; example: Batch_ID=PAYROLL_INTERFACE. See the available values listed.","required":false,"type":"array","items":{"type":"string","enum":[{"descriptor":"Payroll Interface","id":"a1feb800d44246a5a9e176df7fa91cf9","Application_Batch_Usage_ID":"PAYROLL_INTERFACE"}]},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection. Example: If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"A collection of batch IDs","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/batchData"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/batches/{ID}":{"get":{"tags":["batches"],"description":"Retrieves a batch for the specified {ID}. Secured by: REST API Public. Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID or reference ID of the batch. The reference ID uses the <Batch_ID>=<id> format; example: Batch_ID=1234. The value of the Workday ID can be found in the list of batches from the response of an API request to /batches. The value of the reference ID is the same as the batch ID, which is displayed in the \"descriptor\" field of the response of an API request to /batches.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/batchData"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"delete":{"tags":["batches"],"description":"Deletes all payroll inputs associated with the batch, along with the batch ID. Secured by: Process: Delete External Payroll Input by Batch ID - batch. Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID or reference ID of the batch. The reference ID uses the <Batch_ID>=<id> format; example: Batch_ID=1234. The value of the Workday ID can be found in the list of batches from the response of an API request to /batches. The value of the reference ID is the same as the batch ID, which is displayed in the \"descriptor\" field of the response of an API request to /batches.","required":true,"type":"string"},{"name":"type","in":"query","description":"The type of resource to delete. A batch can apply to different resources.","required":true,"type":"string","enum":["deleteInputs"]}],"responses":{"200":{"description":"Resources (batch and related payroll input instance(s)) deleted."},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/batches/{ID}/externalInputs":{"get":{"tags":["batches"],"description":"Retrieves a collection of Payroll Interface payroll inputs for the batch specified by {ID}. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"startDate","in":"query","description":"The start date of the payroll input using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"endDate","in":"query","description":"The end date of the payroll input using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"component","in":"query","description":"The Workday ID or reference ID of the pay component for the payroll input. The reference ID uses the <Deduction_Code>=<id> format for deductions and <Earning_Code>=<=id> for earnings; example: Deduction_Code=Deduction1, Earning_Code-Earning1. The value of the Workday ID can be found in the list of pay components from the response of an API request to /payComponents. The value of the reference ID is the same as the pay component code, which can be found in the View External Payroll Deductions or View External Payroll Earnings report.","required":false,"type":"string"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection. Example: If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID or reference ID of the batch. The reference ID uses the <Batch_ID>=<id> format; example: Batch_ID=1234. The value of the Workday ID can be found in the list of batches from the response of an API request to /batches. The value of the reference ID is the same as the batch ID, which is displayed in the \"descriptor\" field of the response of an API request to /batches.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"A collection of Payroll Interace payroll inputs","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/inputBatch"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["batches"],"description":"Create one or multiple (up to 100) Payroll Interface payroll inputs for the batch specified by {ID}. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID or reference ID of the batch. The reference ID uses the <Batch_ID>=<id> format; example: Batch_ID=1234. The value of the Workday ID can be found in the list of batches from the response of an API request to /batches. The value of the reference ID is the same as the batch ID, which is displayed in the \"descriptor\" field of the response of an API request to /batches.","required":true,"type":"string"},{"name":"bulk","in":"query","description":"If true, this enables bulk creation.","required":false,"type":"boolean"},{"in":"body","name":"inputBatch","required":true,"schema":{"$ref":"#/definitions/inputBatch"}}],"responses":{"201":{"description":"Resource(s) created.","schema":{"$ref":"#/definitions/inputBatch"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/batches/{ID}/externalInputs/{subresourceID}":{"get":{"tags":["batches"],"description":"Retrieves a Payroll Interface payroll input for the specified {subresourceID} for the batch specified by {ID}. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID or reference ID of the batch. The reference ID uses the <Batch_ID>=<id> format; example: Batch_ID=1234. The value of the Workday ID can be found in the list of batches from the response of an API request to /batches. The value of the reference ID is the same as the batch ID, which is displayed in the \"descriptor\" field of the response of an API request to /batches.","required":true,"type":"string"},{"name":"subresourceID","in":"path","description":"ID of specified payroll input instance. This can be found in the list of payroll inputs from the response of an API request to /batches/{ID}/externalInputs.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/inputBatch"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["batches"],"description":"Updates one or multiple (up to 100) Payroll Interface payroll inputs for the batch specified by {ID}. Partially updates the existing payroll input with the specified data in the request body. Secured by: Worker Data: Payroll Interface (Payroll Input by Worker). Scope: Payroll Interface","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID or reference ID of the batch. The reference ID uses the <Batch_ID>=<id> format; example: Batch_ID=1234. The value of the Workday ID can be found in the list of batches from the response of an API request to /batches. The value of the reference ID is the same as the batch ID, which is displayed in the \"descriptor\" field of the response of an API request to /batches.","required":true,"type":"string"},{"name":"bulk","in":"query","description":"If true, this enables bulk update.","required":false,"type":"boolean"},{"name":"subresourceID","in":"path","description":"ID of specified payroll input instance. This can be found in the list of payroll inputs from the response of an API request to /batches/{ID}/externalInputs.","required":true,"type":"string"},{"in":"body","name":"inputBatch","required":true,"schema":{"$ref":"#/definitions/inputBatch"}}],"responses":{"200":{"description":"Resource(s) updated.","schema":{"$ref":"#/definitions/inputBatch"}},"400":{"description":"Invalid request.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://i-xxxxxxxxxxxxxxxxx.workdaysuv.com/super/authorize","flow":"implicit"}},"definitions":{"componentData":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Referral Incentive","description":"The name of the Payroll Interface pay component"},"id":{"type":"string","description":"Id of the instance"}}}]},"workerData":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"John Doe","description":"The name of the worker"}}}]},"position":{"allOf":[{"$ref":"#/definitions/positionData"},{}]},"batch":{"allOf":[{"$ref":"#/definitions/batchData"},{}]},"worktag":{"allOf":[{"$ref":"#/definitions/worktagData"},{}]},"component":{"allOf":[{"$ref":"#/definitions/componentData"},{}]},"inputData":{"allOf":[{"type":"object","properties":{"position":{"$ref":"#/definitions/position"},"batch":{"$ref":"#/definitions/batch"},"unit":{"type":"integer","x-workday-type":"Numeric"},"percentage":{"type":"integer","x-workday-type":"Numeric"},"goalAmount":{"$ref":"#/definitions/goalAmount"},"rate":{"$ref":"#/definitions/rate"},"worktag":{"$ref":"#/definitions/worktag"},"value":{"$ref":"#/definitions/inputValue"},"component":{"$ref":"#/definitions/component"},"adjustment":{"type":"boolean","x-workday-type":"Boolean"},"startDate":{"type":"string","format":"date","x-workday-type":"Date"},"endDate":{"type":"string","format":"date","x-workday-type":"Date"},"comment":{"type":"string","x-workday-type":"Text"},"descriptor":{"type":"string","example":"string","description":"The payroll input name, which contains payroll input details"},"id":{"type":"string","description":"Id of the instance"}}}]},"batchData":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Batch-1","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"worker":{"allOf":[{"$ref":"#/definitions/workerData"},{}]},"inputBatch":{"allOf":[{"type":"object","properties":{"worker":{"$ref":"#/definitions/worker"},"goalAmount":{"$ref":"#/definitions/goalAmount"},"component":{"$ref":"#/definitions/component"},"percentage":{"type":"integer","x-workday-type":"Numeric"},"unit":{"type":"integer","x-workday-type":"Numeric"},"worktag":{"$ref":"#/definitions/worktag"},"position":{"$ref":"#/definitions/position"},"startDate":{"type":"string","format":"date","x-workday-type":"Date"},"rate":{"$ref":"#/definitions/rate"},"endDate":{"type":"string","format":"date","x-workday-type":"Date"},"value":{"$ref":"#/definitions/inputValue"},"adjustment":{"type":"boolean","x-workday-type":"Boolean"},"comment":{"type":"string","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"positionData":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"P-101","description":"The name of the position"},"id":{"type":"string","description":"Id of the instance"}}}]},"worktagData":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"rate":{"allOf":[{"type":"object","properties":{"value":{"type":"integer","example":"10","description":"Input rate for pay component."},"currency":{"type":"string","example":"USD","description":"Currency of the rate"}}}]},"goalAmount":{"allOf":[{"type":"object","properties":{"value":{"type":"integer","example":"10","description":"Input goal amount for pay component."},"currency":{"type":"string","example":"USD","description":"Currency of the goal amount"}}}]},"inputValue":{"allOf":[{"type":"object","properties":{"value":{"type":"integer","example":"10","description":"Input value for pay component."},"currency":{"type":"string","example":"USD","description":"Currency of the input value"}}}]}}}