{"swagger":"2.0","info":{"version":"v2Alpha","title":"Grants (v2Alpha)","description":"This is the REST API documentation for Grants. You can use the APIs and supported operations documented here to extend the functionality of Grants Management."},"host":"api.workday.com","basePath":"/grants/v2Alpha","tags":[{"name":"Award","description":"Use this REST API to retrieve basic award and award line information"}],"schemes":["https"],"paths":{"/awards/":{"get":{"description":"Retrieves all the awards.\n\nSecured by: Process: Award - Core, View: Award Contract\nScope: Grants","tags":["Award"],"parameters":[{"name":"awardStatus","in":"query","description":"Status of an award. Values - Approved 91b0d382d50848e898733757caa9f84a, Approval in Process 3d46fe27ed464f9aaaddcd510731c5f0","required":false,"type":"string"},{"name":"effective","in":"query","description":"Date that signifies which version of the award is effective. Default to current date if not provided","required":false,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Awards"}}}}},"/awards/{awardId}":{"get":{"tags":["Award"],"description":"Returns the exposed fields of a particular award referenced by its Workday Identifier (WID).\n\nSecured by: Process: Award - Core, View: Award Contract\nScope: Grants","parameters":[{"name":"awardId","in":"path","description":"The Reference-ID(Award_Reference_ID)/WID of an award. You can retrieve the WID of an award by querying the GET/awards API.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Award"}},"404":{"description":"Invalid ID supplied"}}}},"/awards/{awardId}/lines":{"get":{"description":"Return the exposed fields on award lines for a particular instance of an award.\n\nSecured by: Process: Award - Core, View: Award Contract\nScope: Grants","tags":["Award"],"parameters":[{"name":"awardId","in":"path","description":"The Reference-ID(Award_Reference_ID)/WID of an award. You can retrieve the WID of an award by querying the GET/awards API.","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/Lines"}},"404":{"description":"Invalid ID supplied"}}}}},"definitions":{"Awards":{"type":"object","properties":{"total":{"type":"integer","example":1},"data":{"type":"array","items":{"$ref":"#/definitions/Award"}}}},"Award":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"$ref":"#/definitions/DID"},"name":{"type":"string","example":"Workday Innovation Fund"},"scheduleStartDate":{"type":"string","example":"2008-08-04"},"scheduleEndDate":{"type":"string","example":"2008-08-04"},"contractStartDate":{"type":"string","example":"2008-08-04"},"contractEndDate":{"type":"string","example":"2008-08-04"},"lifecycleStatus":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Open"}}},"awardStatus":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Approved"}}},"specialConditions":{"type":"array","items":{"$ref":"#/definitions/SpecialCondition"}}}},"SpecialCondition":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Publications"},"comment":{"type":"string","example":"This is a special condition"}}},"Lines":{"type":"object","properties":{"total":{"type":"integer","example":1},"data":{"type":"array","items":{"$ref":"#/definitions/Line"}}}},"Line":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"$ref":"#/definitions/DID"},"facilitiesAndAdministrationRate":{"type":"number","example":0.25},"lifecycleStatus":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Open"}}},"spendRestriction":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Allowable-Flowers"}}},"startDate":{"type":"string","example":"2008-08-04"},"endDate":{"type":"string","example":"2008-08-04"},"grant":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Workday Grant"}}}}},"WID":{"description":"Workday ID for an Instance","type":"string","example":"0123456789abcdef0123456789abcdef"},"DID":{"description":"Display ID for an Instance","type":"string","example":"Example Display ID"}}}