{"swagger":"2.0","info":{"description":"The public Workday API.","version":"","title":"Organizations"},"host":"api.workday.com","basePath":"/common/v1","schemes":["https"],"paths":{"/organizations":{"get":{"tags":["organizations"],"description":"Secured by: Reports: Organization","produces":["application/json"],"parameters":[{"name":"organizationType","in":"query","description":"Reference to an Organization Type. Example: Organization Type WID. Requests must provide an Organization Type.","required":true,"type":"string"},{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["organizationSummary"]}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/organizationSummary_a03132f19b911000119b05cfd7cf0032"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occcured","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/organizations/{ID_PATH_PARAMETER}":{"get":{"tags":["organizations"],"description":"Secured by: Reports: Organization","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["organizationSummary"]},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/organizationSummary_a03132f19b911000119b05cfd7cf0032"}},"default":{"description":"an error occcured","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/organizationTypes":{"get":{"tags":["organizationTypes"],"description":"Secured by: Set Up: Organization","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"number","maximum":2147483647,"exclusiveMaximum":false,"minimum":0,"exclusiveMinimum":false},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["organizationTypeSummary","customObjectType +TG"]}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/organizationTypeSummary_e91ac1399cd410000481d84f988f0ec7"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occcured","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/organizationTypes/{ID_PATH_PARAMETER}":{"get":{"tags":["organizationTypes"],"description":"Secured by: Set Up: Organization","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["organizationTypeSummary","customObjectType +TG"]},{"name":"ID_PATH_PARAMETER","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/organizationTypeSummary_e91ac1399cd410000481d84f988f0ec7"}},"default":{"description":"an error occcured","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"organizationSummary_a03132f19b911000119b05cfd7cf0032":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"organizationTypeSummary_e91ac1399cd410000481d84f988f0ec7":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"workersCompletedMostRecentStep_ccabdb57917b100015f1c49cd0490027":{"allOf":[{"$ref":"#/definitions/workerSummary_a489aef739484c13a59e6d502a9e7b68"},{"x-prompt-resource":"/prompt/timeOffEventView/workersCompletedMostRecentStep"}]},"transactionStatus_ccabdb57917b100015f1c48ca6900026":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeOffEventView/transactionStatus"}]},"subject_0376ff5a4a15100007c0a8cbe1057c2b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeOffEventView/subject"}]},"timeOffEventView_0376ff5a4a1510000796bc2c1a1b7c27":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"due":{"type":"string","format":"date","description":"The date the business process needs to be completed.","x-workday-type":"Date"},"eventRecordsAwaitingAction":{"type":"array","description":"For all the workflow steps awaiting action within this Business Process, returns the Event Records.","items":{"$ref":"#/definitions/eventRecordAssigneeView_0376ff5a4a1510000af28e34eeb17c3c"},"x-prompt-resource":"/prompt/timeOffEventView/eventRecordsAwaitingAction","x-workday-type":"Multi-instance"},"sentBack":{"type":"boolean","description":"Returns \"Yes\" if the transaction has ever been Sent Back (for non-manual send back).","x-workday-type":"Boolean"},"workersCompletedMostRecentStep":{"$ref":"#/definitions/workersCompletedMostRecentStep_ccabdb57917b100015f1c49cd0490027"},"transactionStatus":{"$ref":"#/definitions/transactionStatus_ccabdb57917b100015f1c48ca6900026"},"completed":{"type":"string","format":"date","description":"The date and time the business process was completed.","x-workday-type":"Date"},"deniedByWorker":{"type":"array","description":"The ~worker~ who denied the business process","items":{"$ref":"#/definitions/workerSummary_a489aef739484c13a59e6d502a9e7b68"},"x-prompt-resource":"/prompt/timeOffEventView/deniedByWorker","x-workday-type":"Multi-instance"},"timeOffEntry":{"type":"array","description":"Returns the time off entries for a Time Off Event.","items":{"$ref":"#/definitions/timeOffEntries_436f2afb755f100012528fa3260e000f"},"x-prompt-resource":"/prompt/timeOffEventView/timeOffEntry","x-workday-type":"Multi-instance"},"approvalWID":{"type":"string","description":"Returns the Approval Event Record WID of the Event awaiting the processing person.","x-workday-type":"Text"},"subject":{"$ref":"#/definitions/subject_0376ff5a4a15100007c0a8cbe1057c2b"},"approvedByWorkers":{"type":"array","description":"List of ~workers~ who approved this business process","items":{"$ref":"#/definitions/workerSummary_a489aef739484c13a59e6d502a9e7b68"},"x-prompt-resource":"/prompt/timeOffEventView/approvedByWorkers","x-workday-type":"Multi-instance"}}}]},"customer_+TG_c29dedec19201000113a945e977f000c":{"type":"object","properties":{"name":{"type":"string","description":"The name of the customer.","x-workday-type":"Text"},"id":{"type":"string","description":"Returns the Workday ID for a given object.","maxLength":36,"x-workday-type":"Text"}}},"invoiceOpportunity_671e9196f9971000115942211aba00a8":{"allOf":[{"$ref":"#/definitions/opportunityDisplay_+TG_c29dedec19201000119fd1d13ca40019"},{"x-prompt-resource":"/prompt/activity/invoiceOpportunity"}]},"activity_+TG_bb1fcf6de05b100009ce64e02ac43c08":{"type":"object","properties":{"invoiceOpportunity":{"$ref":"#/definitions/invoiceOpportunity_671e9196f9971000115942211aba00a8"},"paymentReference":{"type":"string","description":"Returns the check number for customer payments.","x-workday-type":"Text"},"transactionAmountSigned":{"type":"integer","format":"int64","description":"The transaction amount signed for the reporting transaction.","minimum":-9223372036854.775,"maximum":9223372036854.775,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"transactionDate":{"type":"string","format":"date","description":"The transaction date for the reporting transaction.","x-workday-type":"Date"},"transactionType":{"type":"string","description":"The transaction type for the reporting transaction.","x-workday-type":"Text"},"applicationStatus":{"type":"string","description":"The payment or application status of the customer invoice, customer invoice adjustment or customer invoice payment.  For customer invoice payments, the amount that has been applied to invoices. Application status can be Unapplied, Applied with On Account, or Fully Applied.  For invoices, the payment status. The status can be Paid, Partially Paid, or Unpaid.","x-workday-type":"Text"},"transactionNumber":{"type":"string","description":"The transaction number for the reporting transaction.","x-workday-type":"Text"},"transactionStatus":{"type":"string","description":"The current status of the transaction. Applicable for all transaction types.","x-workday-type":"Text"},"invoiceDueDate":{"type":"string","format":"date","description":"The due date for the reporting transaction.","x-workday-type":"Date"},"id":{"type":"string","description":"Returns the Workday ID for a given object.","maxLength":36,"x-workday-type":"Text"}}},"customBusinessProcessTypeDetail_043537da05e410001b92d22c67c4004e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"initiatingActions":{"type":"array","description":"Returns all initiating actions for this custom business process type","items":{"$ref":"#/definitions/initiatingActionDetail_049a0b79c1b91000150e81a5b30f002f"},"x-prompt-resource":"/prompt/customBusinessProcessTypeDetail/initiatingActions","x-workday-type":"Multi-instance"},"stepActions":{"type":"array","description":"Returns all step actions for this custom business process type","items":{"$ref":"#/definitions/stepActionDetail_049a0b79c1b910001c2b347cf5170049"},"x-prompt-resource":"/prompt/customBusinessProcessTypeDetail/stepActions","x-workday-type":"Multi-instance"},"name":{"type":"string","description":"Returns the name of this custom business process type","x-workday-type":"Text"},"custom_Business_Process_Type_ID":{"type":"string","description":"Returns the Reference ID value for this custom business process type","x-workday-type":"Text"},"inactive":{"type":"boolean","description":"Returns 'Yes' if this custom business process type is inactive","x-workday-type":"Boolean"},"description":{"type":"string","description":"Returns the description of this custom business process type","x-workday-type":"Text"}}}]},"webhookTrigger_83bcc83195ae10000d0730f4f6d6000d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"name":{"type":"string","x-workday-type":"Text"},"payload":{"type":"string","x-workday-type":"Text"}}}]},"authCredentials_f28357099111100017daa55f8f1700bd":{"allOf":[{"$ref":"#/definitions/authCredentials_f2835709911110001802016661d100bf"},{"x-prompt-resource":"/prompt/eventWebhook/authCredentials"}]},"authType_f283570991111000172889a709ab00b6":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventWebhook/authType"}]},"contentType_f28357099111100017288746e14000b5":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/eventWebhook/contentType"}]},"eventWebhook_f2835709911110000bad89c2ecd5003e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"authCredentials":{"$ref":"#/definitions/authCredentials_f28357099111100017daa55f8f1700bd"},"webhookTriggers":{"type":"array","items":{"$ref":"#/definitions/webhookTriggers_f2835709911110001b1f4c38939e00d0"},"x-prompt-resource":"/prompt/eventWebhook/webhookTriggers","x-workday-type":"Multi-instance"},"inactive":{"type":"boolean","x-workday-type":"Boolean"},"authType":{"$ref":"#/definitions/authType_f283570991111000172889a709ab00b6"},"contentType":{"$ref":"#/definitions/contentType_f28357099111100017288746e14000b5"},"name":{"type":"string","x-workday-type":"Text"},"url":{"type":"string","x-workday-type":"Text"}}}]},"jobChangeReasonSummary_69b1f5fbb40c4cd6b9c55b226ca2424c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"isForContingentWorker":{"type":"boolean","description":"Identifies whether the reason is allowed to be entered for ~contingent workers~.","x-workday-type":"Boolean"},"isForEmployee":{"type":"boolean","description":"Identifies whether the reason is allowed to be entered for ~employees~.","x-workday-type":"Boolean"},"managerReason":{"type":"boolean","description":"Identifies whether the reason is allowed to be entered by managers.","x-workday-type":"Boolean"}}}]},"currency_a6a4206726901000146e7628f6ef003e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/receipt/currency"}]},"receipt_a6a42067269010000d6b610a13a6001a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"currency":{"$ref":"#/definitions/currency_a6a4206726901000146e7628f6ef003e"},"memo":{"type":"string","description":"Receipt Memo","x-workday-type":"Text"},"amount":{"type":"integer","format":"int64","description":"Receipt Amount","minimum":-9223372036854.775,"maximum":9223372036854.775,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"date":{"type":"string","format":"date","description":"Receipt Date","x-workday-type":"Date"}}}]},"currencySummary_f7dc233a4e114809884aa7756004c682":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"precision":{"type":"number","description":"Decimal precision for currency amounts","minimum":0,"maximum":10,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"code":{"type":"string","description":"Currency ID - 3 character currency code identified by ISO 4217","x-workday-type":"Text"}}}]},"businessObject_34be994eb6db43a2baf4434b0b6eeb1f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectSummary/businessObject"}]},"businessObjectFilter_4cc336db28131000150213b05fc00c17":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectSummary/businessObjectFilter"}]},"customObjectSummary_220ed60a667940aa9ce7ca77293e12aa":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"customObjectName":{"type":"string","description":"The name of the custom object.","x-workday-type":"Text"},"businessObject":{"$ref":"#/definitions/businessObject_34be994eb6db43a2baf4434b0b6eeb1f"},"businessObjectFilter":{"$ref":"#/definitions/businessObjectFilter_4cc336db28131000150213b05fc00c17"},"active":{"type":"boolean","description":"Indicates if the custom object is active or draft","x-workday-type":"Boolean"},"customObjectAlias":{"type":"string","description":"The alias for a custom object.","x-workday-type":"Text"},"multiInstance":{"type":"boolean","description":"True if the custom object has multiple instances for the extended business object.","x-workday-type":"Boolean"}}}]},"referenceId_f91297ea51921000b5136d52375713ac":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/referenceId"}]},"businessObjectFilter_f91297ea519210000a806434f71511d7":{"allOf":[{"$ref":"#/definitions/customObjectType_+TG_f91297ea519210002c34090c3540122d"},{"x-prompt-resource":"/prompt/detail/businessObjectFilter"}]},"displayValue_f91297ea51921000b5136d1791eb13ab":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/displayValue"}]},"businessObject_f91297ea519210000a8064ceb44411db":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/businessObject"}]},"uiVisibilityRule_f91297ea51921000b5f52048a07613bd":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/detail/uiVisibilityRule"}]},"detail_+TG_f91297ea5192100009e2a77fcc2b11ce":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"referenceId":{"$ref":"#/definitions/referenceId_f91297ea51921000b5136d52375713ac"},"businessObjectFilter":{"$ref":"#/definitions/businessObjectFilter_f91297ea519210000a806434f71511d7"},"displayValue":{"$ref":"#/definitions/displayValue_f91297ea51921000b5136d1791eb13ab"},"multiInstance":{"type":"boolean","description":"True if the custom object has multiple instances for the extended business object.","x-workday-type":"Boolean"},"fields":{"type":"array","description":"Returns the custom fields for the Custom Object.","items":{"$ref":"#/definitions/customField_+TG_f91297ea519210000d1eaec9254b11e4"},"x-prompt-resource":"/prompt/detail/fields","x-workday-type":"Multi-instance"},"domains":{"type":"array","description":"Contains the Security Domains that secure this object.","items":{"$ref":"#/definitions/domain_f91297ea51921000183022a687a61203"},"x-prompt-resource":"/prompt/detail/domains","x-workday-type":"Multi-instance"},"businessObject":{"$ref":"#/definitions/businessObject_f91297ea519210000a8064ceb44411db"},"active":{"type":"boolean","description":"Indicates if the custom object is active or draft","x-workday-type":"Boolean"},"uiVisibilityRule":{"$ref":"#/definitions/uiVisibilityRule_f91297ea51921000b5f52048a07613bd"},"customObjectDefinitionId":{"type":"string","description":"The alias for a custom object.","x-workday-type":"Text"},"hideOnView":{"type":"boolean","description":"Returns true if Hide on View when Unpopulated is true.","x-workday-type":"Boolean"},"name":{"type":"string","description":"The name of the custom object.","x-workday-type":"Text"}}}]},"conditionRuleDetail_+TG_6a2d00bbe62110001233df6028a50020":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"conditionRuleId":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"},"ruleDescription":{"type":"string","description":"Returns the condition rule description provided by user.","x-workday-type":"Text"},"conditionItems":{"type":"array","description":"Returns the condition items composing the rule.","items":{"$ref":"#/definitions/conditionItemDetail_6a2d00bbe6211000160e0c46fda8003d"},"x-prompt-resource":"/prompt/conditionRuleDetail/conditionItems","x-workday-type":"Multi-instance"},"comment":{"type":"string","description":"Returns the comment entered for the rule","x-workday-type":"Text"}}}]},"conditionRuleSummary_+TG_868a86607f4f1000162d6df187820024":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"ruleDescription":{"type":"string","description":"Returns the condition rule description provided by user.","x-workday-type":"Text"},"comment":{"type":"string","description":"Returns the comment entered for the rule","x-workday-type":"Text"}}}]},"severityLevel_3a8d337cdf01100042d2dbf34a0b0018":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectValidation/severityLevel"}]},"conditionRule_3a8d337cdf01100042d2dcc38546001a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectValidation/conditionRule"}]},"customField_3a8d337cdf01100042d2dc779cc80019":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customObjectValidation/customField"}]},"customObjectValidation_+TG_35c90babc34d1000507988206a760019":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"severityLevel":{"$ref":"#/definitions/severityLevel_3a8d337cdf01100042d2dbf34a0b0018"},"messageText":{"type":"string","description":"The message displayed when the validation is triggered.","x-workday-type":"Text"},"onlyOnOk":{"type":"boolean","description":"If true, this validation will only be executed when the validation is submitted.  Otherwise, it will be triggered once data is entered for the custom object.","x-workday-type":"Boolean"},"name":{"type":"string","description":"The name of the validation.","x-workday-type":"Text"},"conditionRule":{"$ref":"#/definitions/conditionRule_3a8d337cdf01100042d2dcc38546001a"},"customField":{"$ref":"#/definitions/customField_3a8d337cdf01100042d2dc779cc80019"}}}]},"fieldType_f91297ea5192100063f2b46a1e901289":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customField/fieldType"}]},"customField_+TG_f91297ea519210000d1eaec9254b11e4":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"prompts":{"type":"array","description":"Returns the Prompt Identifiers for the Custom Field.","items":{"$ref":"#/definitions/promptIdentifier_f91297ea519210006849f45ddf8712b1"},"x-prompt-resource":"/prompt/customField/prompts","x-workday-type":"Multi-instance"},"categories":{"type":"array","description":"Contains one or more categories that have been associated with the report field.","items":{"$ref":"#/definitions/externalFieldCategory_f91297ea5192100064904939b217128d"},"x-prompt-resource":"/prompt/customField/categories","x-workday-type":"Multi-instance"},"fieldType":{"$ref":"#/definitions/fieldType_f91297ea5192100063f2b46a1e901289"},"inactive":{"type":"boolean","description":"Returns a true value if the report field should no longer be used.","x-workday-type":"Boolean"},"order":{"type":"string","description":"Returns the order of the custom field.","maxLength":6,"x-workday-type":"Text"},"alias":{"type":"string","description":"Returns the web service alias of the custom field.","x-workday-type":"Text"},"authorizedUsages":{"type":"array","description":"Indicates the parts of the application where a field is intended to be used.","items":{"$ref":"#/definitions/externalFieldUsage_f91297ea519210005fc757544af9126a"},"x-prompt-resource":"/prompt/customField/authorizedUsages","x-workday-type":"Multi-instance"},"name":{"type":"string","description":"The name of the report field.","x-workday-type":"Text"},"displayOptions":{"type":"array","description":"Contains one or more display options that have been associated with the report field.","items":{"$ref":"#/definitions/displayOption_f91297ea51921000b751b7cc382713cc"},"x-prompt-resource":"/prompt/customField/displayOptions","x-workday-type":"Multi-instance"},"validations":{"type":"array","description":"Contains one or more custom field validations that have been associated with the report field.","items":{"$ref":"#/definitions/customFieldValidation_f91297ea51921000b6bdc24da93113c5"},"x-prompt-resource":"/prompt/customField/validations","x-workday-type":"Multi-instance"}}}]},"customObjectDefinitionActivate_+TG_c1f30420f50c10000af05f4fa919124c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"inboxTaskApproval_0bef40b1f59e4742a679ebd6f690961a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"comment":{"type":"string","format":"url","description":"Returns the comments for the business process event step","readOnly":true,"x-workday-type":"Multi-instance"}}}]},"initiator_f48f5f155a4448758b8be033ecd99f87":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/businessTitleChangeDetail/initiator"}]},"subject_11c61172ead64041a04fc92c28a3b34e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/businessTitleChangeDetail/subject"}]},"businessTitleChangeDetail_f3169dd3470046378f404ac21e864ab4":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"currentBusinessTitle":{"type":"string","description":"The business title for the ~worker~ prior to this business process.  If there is no business title override, this field defaults to the job title or job profile name.","x-workday-type":"Text"},"proposedBusinessTitle":{"type":"string","description":"The new business title for the ~worker~ as of the effective date.  If there is no business title override, this field defaults to the job title or job profile name.","x-workday-type":"Text"},"effective":{"type":"string","format":"date","description":"The date this business process takes effect.","x-workday-type":"Date"},"due":{"type":"string","format":"date","description":"The date the business process needs to be completed.","x-workday-type":"Date"},"initiated":{"type":"string","format":"date","description":"The date and time the business process was initiated.","x-workday-type":"Date"},"initiator":{"$ref":"#/definitions/initiator_f48f5f155a4448758b8be033ecd99f87"},"subject":{"$ref":"#/definitions/subject_11c61172ead64041a04fc92c28a3b34e"}}}]},"subject_0cb6354752a84103b396a3d00b503568":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/businessProcessSummary/subject"}]},"initiator_f3b51f13346543ba83122960f6c8a9c2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/businessProcessSummary/initiator"}]},"businessProcessSummary_5a3be01347ed4c30b2ab02b28d97b655":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"subject":{"$ref":"#/definitions/subject_0cb6354752a84103b396a3d00b503568"},"initiator":{"$ref":"#/definitions/initiator_f3b51f13346543ba83122960f6c8a9c2"},"effective":{"type":"string","format":"date","description":"The date this business process takes effect.","x-workday-type":"Date"},"due":{"type":"string","format":"date","description":"The date the business process needs to be completed.","x-workday-type":"Date"},"initiated":{"type":"string","format":"date","description":"The date and time the business process was initiated.","x-workday-type":"Date"}}}]},"regionSummary_67c8da8a32e140d983492857a9e4fcff":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"code":{"type":"string","description":"The ISO alpha-2 code for a country region.","x-workday-type":"Text"},"name":{"type":"string","description":"The name of the region.","x-workday-type":"Text"}}}]},"countrySummary_c14a30f3ef524207982c1ad62f128c21":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"alpha3Code":{"type":"string","description":"The ISO alpha-3 code for a country.","maxLength":3,"x-workday-type":"Text"},"countryRegions":{"type":"string","format":"url","description":"The regions for a country.","readOnly":true,"x-workday-type":"Multi-instance"},"alpha2Code":{"type":"string","description":"The ISO alpha-2 code for a country.","maxLength":2,"x-workday-type":"Text"}}}]},"manager_0c28a4eb372c41ab9a109e9703487457":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/supervisoryOrganizationSummary/manager"}]},"supervisoryOrganizationSummary_3a94b57f042a4ebb95027e09d6192992":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"manager":{"$ref":"#/definitions/manager_0c28a4eb372c41ab9a109e9703487457"},"workers":{"type":"string","format":"url","description":"Contains the ~workers~ in the organization.","readOnly":true,"x-workday-type":"Multi-instance"},"name":{"type":"string","description":"The organization name for the organization.","x-workday-type":"Text"},"code":{"type":"string","description":"The organization id for the organization.","x-workday-type":"Text"}}}]},"primarySupervisoryOrganization_642d7497e69c48da946fc503f66d7da1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/workerSummary/primarySupervisoryOrganization"}]},"workerSummary_a489aef739484c13a59e6d502a9e7b68":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"primaryWorkPhone":{"type":"string","description":"The primary work phone number for the ~worker~ including the area code and country code.","x-workday-type":"Text"},"isManager":{"type":"boolean","description":"Identifies if the ~worker~ has a manager role.","x-workday-type":"Boolean"},"primaryWorkEmail":{"type":"string","description":"The primary work email address for the ~worker~.","x-workday-type":"Text"},"businessTitle":{"type":"string","description":"The business title for the ~worker's~ primary position. If no business title is defined for a position, the position title is returned back.","x-workday-type":"Text"},"primarySupervisoryOrganization":{"$ref":"#/definitions/primarySupervisoryOrganization_642d7497e69c48da946fc503f66d7da1"}}}]},"location_d6235be431f940598806053af7ba94ef":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/workerProfile/location"}]},"primarySupervisoryOrganization_851e1342d4c2489c9680fb2a899227ca":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/workerProfile/primarySupervisoryOrganization"}]},"workerPhotos_0657dff000e410000565652c22ad0019":{"allOf":[{"$ref":"#/definitions/imageDetailsView_f25a37564308100006925a882f770148"},{"x-prompt-resource":"/prompt/workerProfile/workerPhotos"}]},"workerProfile_c0a0dce56eb142d39dbffeb505becf7a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"primaryWorkEmail":{"type":"string","description":"The primary work email address for the ~worker~.","x-workday-type":"Text"},"isManager":{"type":"boolean","description":"Identifies if the ~worker~ has a manager role.","x-workday-type":"Boolean"},"primaryWorkPhone":{"type":"string","description":"The primary work phone number for the ~worker~ including the area code and country code.","x-workday-type":"Text"},"location":{"$ref":"#/definitions/location_d6235be431f940598806053af7ba94ef"},"primarySupervisoryOrganization":{"$ref":"#/definitions/primarySupervisoryOrganization_851e1342d4c2489c9680fb2a899227ca"},"primaryWorkAddressText":{"type":"string","description":"Returns the primary work address for the ~worker~, or from their default primary work location, full format on a single line.","x-workday-type":"Text"},"yearsOfService":{"type":"integer","format":"int64","description":"The years of service for the ~worker~.","minimum":-92233720368547760,"maximum":92233720368547760,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"workerPhotos":{"$ref":"#/definitions/workerPhotos_0657dff000e410000565652c22ad0019"},"businessTitle":{"type":"string","description":"The business title for the ~worker's~ primary position. If no business title is defined for a position, the position title is returned back.","x-workday-type":"Text"},"dateOfBirth":{"type":"string","format":"date","description":"The birth date of the ~worker~.","x-workday-type":"Date"},"supervisoryOrganizationsManaged":{"type":"string","format":"url","description":"Returns all Supervisory Organizations the ~worker~ is associated with as a leadership role.","readOnly":true,"x-workday-type":"Multi-instance"}}}]},"status_056982a2aa04100005cc4858775a0026":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/paySlipSummary/status"}]},"paySlipSummary_056982a2aa04100005cc479e6e5a0022":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"net":{"type":"integer","format":"int64","description":"Net Pay for a Payroll Result","minimum":-9223372036854.775,"maximum":9223372036854.775,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"gross":{"type":"integer","format":"int64","description":"Gross Pay for a Payroll Result","minimum":-9223372036854.775,"maximum":9223372036854.775,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"status":{"$ref":"#/definitions/status_056982a2aa04100005cc4858775a0026"},"date":{"type":"string","format":"date","description":"Payment Date","x-workday-type":"Date"}}}]},"organizationType_7f3b2f7a5a8910001a137fb9ae22001f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/workerOrganizationSummary/organizationType"}]},"workerOrganizationSummary_b09201ecbe6f10000c600196a3f70012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"organizationType":{"$ref":"#/definitions/organizationType_7f3b2f7a5a8910001a137fb9ae22001f"}}}]},"employee_436f2afb755f100012528fe3effe0015":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeOffEntries/employee"}]},"unitOfTime_436f2afb755f100012528fdc5a960014":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeOffEntries/unitOfTime"}]},"timeOffRequest_436f2afb755f100012528fd1e2e60013":{"allOf":[{"$ref":"#/definitions/timeOffEntryStatus_436f2afb755f1000125176952ea6000c"},{"x-prompt-resource":"/prompt/timeOffEntries/timeOffRequest"}]},"timeOff_436f2afb755f100012528fbfc62e0011":{"allOf":[{"$ref":"#/definitions/timeOff_436f2afb755f10001245239d27960009"},{"x-prompt-resource":"/prompt/timeOffEntries/timeOff"}]},"timeOffEntries_436f2afb755f100012528fa3260e000f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"units":{"type":"integer","format":"int64","description":"The units entered for a time off request line item.","minimum":-1000000000000,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"employee":{"$ref":"#/definitions/employee_436f2afb755f100012528fe3effe0015"},"unitOfTime":{"$ref":"#/definitions/unitOfTime_436f2afb755f100012528fdc5a960014"},"timeOffRequest":{"$ref":"#/definitions/timeOffRequest_436f2afb755f100012528fd1e2e60013"},"date":{"type":"string","format":"date","description":"The date requested to be taken for a paid time off request line item.","x-workday-type":"Date"},"timeOff":{"$ref":"#/definitions/timeOff_436f2afb755f100012528fbfc62e0011"}}}]},"initiator_7f6d98c3e99344df800de3b5defa4549":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/inboxTaskSummary/initiator"}]},"stepType_e351106ef7c14ce19def3e2a50eeb806":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/inboxTaskSummary/stepType"}]},"status_e00f98895a7b48e7a681a308f8b8ad71":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/inboxTaskSummary/status"}]},"overallProcess_f06a97ddf4794a5c8ff063bd51bfc2e4":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/inboxTaskSummary/overallProcess"}]},"subject_9d3d194b5fe340cba946593757de5d10":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/inboxTaskSummary/subject"}]},"inboxTaskSummary_1bbb07a8ab4349dd934ca72301974204":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"initiator":{"$ref":"#/definitions/initiator_7f6d98c3e99344df800de3b5defa4549"},"stepType":{"$ref":"#/definitions/stepType_e351106ef7c14ce19def3e2a50eeb806"},"status":{"$ref":"#/definitions/status_e00f98895a7b48e7a681a308f8b8ad71"},"overallProcess":{"$ref":"#/definitions/overallProcess_f06a97ddf4794a5c8ff063bd51bfc2e4"},"subject":{"$ref":"#/definitions/subject_9d3d194b5fe340cba946593757de5d10"},"due":{"type":"string","format":"date","description":"Returns the due date for this step.","x-workday-type":"Date"},"assigned":{"type":"string","format":"date","description":"Returns the date when the event record was last updated on.","x-workday-type":"Date"}}}]},"timeType_+TG_3e1cd863032b1000070740045c0a002c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"instanceID":{"type":"string","x-workday-type":"Text"}}}]},"supervisoryOrganization_e868185fab874bb994e045d84ad1a658":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/changeJobInput/supervisoryOrganization"}]},"jobChangeReason_3679c9f487c4403b90fff56091c0e360":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/changeJobInput/jobChangeReason"}]},"changeJobInput_cadd132f15994dc3bcda042ae1c90629":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"supervisoryOrganization":{"$ref":"#/definitions/supervisoryOrganization_e868185fab874bb994e045d84ad1a658"},"jobChangeReason":{"$ref":"#/definitions/jobChangeReason_3679c9f487c4403b90fff56091c0e360"},"moveManagersTeam":{"type":"boolean","description":"Returns a boolean that indicates whether teams reporting to the Manager moved with them during the Change Job Event.","x-workday-type":"Boolean"},"effective":{"type":"string","format":"date","description":"The date this business process takes effect.","x-workday-type":"Date"},"proposedOrganizations":{"type":"array","description":"Contains the organizations with staffing behavior that are assigned to the position as a result of this event.\nAll staffing behavior organization types are included (company, cost center, region, custom organizations, fund, grant, program, gift, business unit).","items":{"$ref":"#/definitions/proposedStaffsInput_caa87cab145210000473a5695c1c0011"},"x-prompt-resource":"/prompt/changeJobInput/proposedOrganizations","x-workday-type":"Multi-instance"}}}]},"timePunchType_+TG_17320ebfeaef10000d9c3980f1dd0040":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"referenceID":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"}}}]},"businessTitleChangeInput_0123d0c7e84e4263a53f5d74968690af":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"proposedBusinessTitle":{"type":"string","description":"The new business title for the ~worker~ as of the effective date.  If there is no business title override, this field defaults to the job title or job profile name.","x-workday-type":"Text"}}}]},"timeType_1c4decb09001100017ca6ce06ddf009c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEvents/timeType"}]},"worker_1c4decb0900110000982b68b2e57003f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEvents/worker"}]},"punchType_1c4decb0900110000982b62fe822003d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEvents/punchType"}]},"timeClockEvents_+TG_1c4decb0900110000982b554c9db003b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"timeType":{"$ref":"#/definitions/timeType_1c4decb09001100017ca6ce06ddf009c"},"worker":{"$ref":"#/definitions/worker_1c4decb0900110000982b68b2e57003f"},"referenceID":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"},"punchType":{"$ref":"#/definitions/punchType_1c4decb0900110000982b62fe822003d"}}}]},"unitOfTime_581c389cce1410000feacb26b51c0003":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeOffPlans/unitOfTime"}]},"timeOffPlans_581c389cce1410000feacaebd2e40002":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"timeOffBalance":{"type":"integer","format":"int64","description":"Returns the time off balance including pending events for the ~worker~ and time off plan.  This report field should be used within Calculated Fields.","minimum":-1000000000000,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"unitOfTime":{"$ref":"#/definitions/unitOfTime_581c389cce1410000feacb26b51c0003"}}}]},"status_cb3b17a9fc7c10001292a9dacfae0081":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectSummary/status"}]},"owner_cb3b17a9fc7c10001292a9b9c6700080":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectSummary/owner"}]},"projectSummary_cb3b17a9fc7c1000117aeac037d1006a":{"type":"object","properties":{"isProjectInactive":{"type":"boolean","description":"Returns True if the current ~Project~ or the associated ~Project~ Hierarchy is Inactive.","x-workday-type":"Boolean"},"endDate":{"type":"string","format":"date","description":"Returns the end date for the approved ~project~.","x-workday-type":"Date"},"name":{"type":"string","description":"Returns the ~project~ name of an approved ~project~.","x-workday-type":"Text"},"startDate":{"type":"string","format":"date","description":"Returns the start date for the approved ~project~.","x-workday-type":"Date"},"status":{"$ref":"#/definitions/status_cb3b17a9fc7c10001292a9dacfae0081"},"owner":{"$ref":"#/definitions/owner_cb3b17a9fc7c10001292a9b9c6700080"},"percentComplete":{"type":"integer","format":"int64","description":"Identifies the percent complete on the ~project~.","minimum":0,"maximum":1000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"description":{"type":"string","description":"Returns the description of the ~project~.","x-workday-type":"Text"}}},"projectDetails_be698ab8e99710003434b8a08cc514cf":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"phases":{"type":"array","description":"Identifies the ~Project Plan Phases~ associated with the ~Project~.","items":{"$ref":"#/definitions/phaseDetails_be698ab8e997100034342dd0ebda14ca"},"x-prompt-resource":"/prompt/projectDetails/phases","x-workday-type":"Multi-instance"}}}]},"fieldType_19a566100570100030ac8e11924c0046":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/fieldType"}]},"currencyInfo_19a566100570100030ac8d5b28c90045":{"allOf":[{"$ref":"#/definitions/currencyCustomFieldTypeDetail_19a566100570100030bd61f02bb70048"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/currencyInfo"}]},"decimalInfo_9b0ed2dfc04310005ae461fdea6100b4":{"allOf":[{"$ref":"#/definitions/decimalCustomFieldTypeDetail_9b0ed2dfc04310005ae36b42f56100b2"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/decimalInfo"}]},"listInfo_19a56610057010004945b190ec290150":{"allOf":[{"$ref":"#/definitions/listCustomFieldTypeDetail_19a5661005701000498a70d06a6c0167"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/listInfo"}]},"textInfo_9b0ed2dfc04310007e08800614060208":{"allOf":[{"$ref":"#/definitions/textCustomFieldTypeDetail_9b0ed2dfc04310007dc7cb59568001f9"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/textInfo"}]},"paragraphInfo_9b0ed2dfc04310007d64b2ad200e01f1":{"allOf":[{"$ref":"#/definitions/paragraphCustomFieldTypeDetail_9b0ed2dfc04310007d437eaac0fc01ea"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/paragraphInfo"}]},"integerInfo_9b0ed2dfc04310007cb65e94107a01de":{"allOf":[{"$ref":"#/definitions/integerCustomFieldTypeDetail_9b0ed2dfc04310007c51ea21de5301d1"},{"x-prompt-resource":"/prompt/customFieldTypeDetail/integerInfo"}]},"customFieldTypeDetail_19a566100570100021fab79af31f0012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"fieldType":{"$ref":"#/definitions/fieldType_19a566100570100030ac8e11924c0046"},"currencyInfo":{"$ref":"#/definitions/currencyInfo_19a566100570100030ac8d5b28c90045"},"decimalInfo":{"$ref":"#/definitions/decimalInfo_9b0ed2dfc04310005ae461fdea6100b4"},"listInfo":{"$ref":"#/definitions/listInfo_19a56610057010004945b190ec290150"},"textInfo":{"$ref":"#/definitions/textInfo_9b0ed2dfc04310007e08800614060208"},"alias":{"type":"string","description":"The web service alias of the Custom Field Type used in REST APIs.","x-workday-type":"Text"},"name":{"type":"string","description":"Name given to Type of Custom Field.","x-workday-type":"Text"},"paragraphInfo":{"$ref":"#/definitions/paragraphInfo_9b0ed2dfc04310007d64b2ad200e01f1"},"inactive":{"type":"boolean","description":"Indicates if the Custom Field Type is not active.","x-workday-type":"Boolean"},"integerInfo":{"$ref":"#/definitions/integerInfo_9b0ed2dfc04310007cb65e94107a01de"}}}]},"customListValueDetail_19a56610057010004a53e67ab30e0181":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"order":{"type":"string","description":"The order for the Custom List Value.","maxLength":6,"x-workday-type":"Text"},"inactive":{"type":"boolean","description":"Returns true if the custom list value is Inactive.","x-workday-type":"Boolean"},"alias":{"type":"string","description":"Web Service Alias for Custom List Value.","x-workday-type":"Text"},"value":{"type":"string","description":"The name of the Custom List Value.","x-workday-type":"Text"}}}]},"userinfo_e43770f8ca581000233c8820c94400de":{"type":"object","properties":{"workerID":{"type":"string","description":"Instance ID of the ~Worker~ for this System Account","x-workday-type":"Text"},"currency":{"type":"string","description":"returns the preferred currency id for the user","x-workday-type":"Text"},"email":{"type":"string","description":"email address","x-workday-type":"Text"},"enablePdfAndExcel":{"type":"boolean","x-workday-type":"Boolean"},"fullName":{"type":"string","description":"Full Name of the person associated with this System Account if any","x-workday-type":"Text"},"imageLastUpdated":{"type":"string","format":"date","x-workday-type":"Date"},"instanceID":{"type":"string","description":"The Instance ID for the System Account.\n\nNot meant for use outside of Worksheets.","x-workday-type":"Text"},"locale":{"type":"string","x-workday-type":"Text"},"timezone":{"type":"string","x-workday-type":"Text"},"language":{"type":"string","x-workday-type":"Text"},"userName":{"type":"string","description":"The user name for this account.","x-workday-type":"Text"}}},"taggableConfiguration_aa8aaaaeca391000321b455e3c150390":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/validateWorktagInput/taggableConfiguration"}]},"validateWorktagInput_+TG_aa8aaaaeca3910002fd14d954eea0371":{"type":"object","properties":{"validationTypes":{"type":"array","description":"Do Not Use. This CRF can be used only by REST APIs.\nIndicates a set of validation types which should be included in the REST response. If this request parm is not present or is empty, then all validation types supported by the 'validateWorktags' REST API will be included in the response.","items":{"$ref":"#/definitions/worktagValidationTypeInput_+TG_7ccdf8f26ee910000b6a70bc5fd600c2"},"x-prompt-resource":"/prompt/validateWorktagInput/validationTypes","x-workday-type":"Multi-instance"},"restrictions":{"type":"array","description":"This CRF can be used only by REST APIs.\nRestrictions to be validated in combination with the worktags.","items":{"$ref":"#/definitions/restrictionInput_+TG_4b3cd975feb010000567e14324830071"},"x-prompt-resource":"/prompt/validateWorktagInput/restrictions","x-workday-type":"Multi-instance"},"invalidRestrictionsForWorktags":{"type":"array","description":"This CRF can be used only by REST APIs.\nRepresents the pair of invalid restrictions and a worktag with 'Restricted to' values.","items":{"$ref":"#/definitions/worktagAndRestrictionInput_f08fabab3cae10001a2f1a982daa01b5"},"x-prompt-resource":"/prompt/validateWorktagInput/invalidRestrictionsForWorktags","x-workday-type":"Multi-instance"},"onlyOneProjectOrPhaseOrTaskAllowed":{"type":"string","description":"Do Not Use. This CRF can be used only by REST APIs.\nOnly one worktag value of type ~Project~, ~Project Phase~ or ~Project Task~ is allowed to be sent in the request. This error indicates that the set of worktags contains more than one worktag of these types.","x-workday-type":"Text"},"allowBuiltInWorktags":{"type":"string","description":"When TRUE, allowed worktag types in request are a union of tenant-configured worktags in 'Maintain Worktag Usage' for the taggable type in request + all promptable worktag types for Accounting Journal' taggable type that are not a promptable worktag type for the taggable type in the request.\nWhen FALSE, no change in existing behavior (allowed worktag types in request are limited to tenant-configured worktags in 'Maintain Worktag Usage' for the taggable type in request)","x-workday-type":"Text"},"missingRequiredWorktagTypesForWorktags":{"type":"array","description":"This CRF can be used only by REST APIs.\nRepresents the pair of related worktag and missing required worktag types for that related worktag. Worktag Types can be configured as Required on Transaction on Maintain Related Worktag Usage or the in Related Worktag Widget.","items":{"$ref":"#/definitions/worktagAndTypeInput_+TG_854b3abfd54d10000e8038b032223278"},"x-prompt-resource":"/prompt/validateWorktagInput/missingRequiredWorktagTypesForWorktags","x-workday-type":"Multi-instance"},"nonAllowedWorktagTypesForTaggableConfig":{"type":"array","description":"This CRF can be used only by REST APIs.\nSet of worktag types sent in the request that are not allowed by the Taggable configuration.","items":{"$ref":"#/definitions/worktagTypeInput_3f71b007c34610000e0bb926bf370056"},"x-prompt-resource":"/prompt/validateWorktagInput/nonAllowedWorktagTypesForTaggableConfig","x-workday-type":"Multi-instance"},"missingRequiredWorktagTypesForTaggableConfig":{"type":"array","description":"This CRF can be used only by REST APIs.\nWorktag types which are configured as required for the Taggable configuration but are not sent in the request.","items":{"$ref":"#/definitions/worktagTypeInput_3f71b007c34610000e0bb926bf370056"},"x-prompt-resource":"/prompt/validateWorktagInput/missingRequiredWorktagTypesForTaggableConfig","x-workday-type":"Multi-instance"},"nonAllowedInactiveWorktagValues":{"type":"array","description":"This CRF can be used only by REST APIs.\nSet of inactive worktags sent in the request which are disallowed by the Taggable configuration.","items":{"$ref":"#/definitions/worktagInput_+TG_aa8aaaaeca39100034443e493aef03ce"},"x-prompt-resource":"/prompt/validateWorktagInput/nonAllowedInactiveWorktagValues","x-workday-type":"Multi-instance"},"status":{"type":"string","description":"This CRF can be used only by REST APIs.\nIndicates whether the worktags sent in the request are valid or have any validation errors.","x-workday-type":"Text"},"worktags":{"type":"array","description":"This CRF can be used only by REST APIs.\nSet of worktags to be validated against tenant configurations such as allowed worktag types, required on transaction, related worktags and taggable configuration.","items":{"$ref":"#/definitions/worktagInput_+TG_aa8aaaaeca39100034443e493aef03ce"},"x-prompt-resource":"/prompt/validateWorktagInput/worktags","x-workday-type":"Multi-instance"},"invalidWorktagCombinations":{"type":"array","description":"This CRF can be used only by REST APIs.\nRepresents the pair of related worktag and a set of worktags which are not allowed by the configuration for that related worktag.","items":{"$ref":"#/definitions/worktagsComboInput_f08fabab3cae10000b041ae3234b009d"},"x-prompt-resource":"/prompt/validateWorktagInput/invalidWorktagCombinations","x-workday-type":"Multi-instance"},"taggableConfiguration":{"$ref":"#/definitions/taggableConfiguration_aa8aaaaeca391000321b455e3c150390"},"missingRequiredWorktagTypesAfterDefaulting":{"type":"array","description":"This CRF can be used only by REST APIs.\nWorktag types which are configured as required for the taggable configuration but are not explicitly sent in the request and are not defaulted from the related worktags.","items":{"$ref":"#/definitions/worktagTypeInput_3f71b007c34610000e0bb926bf370056"},"x-prompt-resource":"/prompt/validateWorktagInput/missingRequiredWorktagTypesAfterDefaulting","x-workday-type":"Multi-instance"}}},"workerImage_0657dff000e4100004c6b75fac6f000b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"workerPhotos_c8382dc213601000034d870690ea003f":{"allOf":[{"$ref":"#/definitions/imageDetailsView_f25a37564308100006925a882f770148"},{"x-prompt-resource":"/prompt/workerPhotoWIDView/workerPhotos"}]},"workerPhotoWIDView_c8382dc213601000034d862eaba4003e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"workerPhotos":{"$ref":"#/definitions/workerPhotos_c8382dc213601000034d870690ea003f"}}}]},"userActivityTracking_ac0016a29fb810000d25a655d2740b94":{"type":"object","properties":{"ipAddress":{"type":"string","description":"The user's IP Address from the user signon used to make the request.","x-workday-type":"Text"},"userAgent":{"type":"string","description":"The client browser and operating system information from the user signon used to make this request.","x-workday-type":"Text"},"deviceType":{"type":"string","description":"The device type from the user signon used to make the request.","x-workday-type":"Text"},"systemAccount":{"type":"string","description":"The system account that initiated the request.","x-workday-type":"Text"},"sessionId":{"type":"string","description":"The system ID for tracking signons from the user signon used to make the request.","x-workday-type":"Text"},"requestTime":{"type":"string","format":"date","description":"The request time of the action.","x-workday-type":"Date"},"taskDisplayName":{"type":"string","description":"The action executed in the transaction.","x-workday-type":"Text"},"activityAction":{"type":"string","description":"The type of action that was executed.","x-workday-type":"Text"}}},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"event_e51f91610b6a100025350c013cd8000e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/feedbackSummary/event"}]},"badge_a6ab9069588610002b8c0c8217af0012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/feedbackSummary/badge"}]},"toWorker_a6ab9069588610002b8c0c1d3d610011":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/feedbackSummary/toWorker"}]},"fromWorker_a6ab9069588610002b8c0bb4e5d80010":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/feedbackSummary/fromWorker"}]},"feedbackSummary_a6ab9069588610002b8c0b4f60a8000f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"hiddenFromManager":{"type":"boolean","description":"Yes if the feedback is private between the feedback provider and the ~worker~. Private feedback isn't shared with managers.","x-workday-type":"Boolean"},"hiddenFromWorker":{"type":"boolean","description":"Yes if the feedback is confidential between the feedback provider and the manager. ~Employees~ don't see confidential feedback.","x-workday-type":"Boolean"},"showsFeedbackProviderName":{"type":"boolean","description":"Is the name of the feedback provider's name displayed?","x-workday-type":"Boolean"},"event":{"$ref":"#/definitions/event_e51f91610b6a100025350c013cd8000e"},"badge":{"$ref":"#/definitions/badge_a6ab9069588610002b8c0c8217af0012"},"toWorker":{"$ref":"#/definitions/toWorker_a6ab9069588610002b8c0c1d3d610011"},"fromWorker":{"$ref":"#/definitions/fromWorker_a6ab9069588610002b8c0bb4e5d80010"}}}]},"badge_96569dfd073710000ff9930f04160079":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/giveFeedbackDetail/badge"}]},"giveFeedbackDetail_96569dfd073710000ff99236d1850077":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"showsFeedbackProviderName":{"type":"boolean","description":"Is the name of the feedback provider's name displayed?","x-workday-type":"Boolean"},"hiddenFromWorker":{"type":"boolean","description":"Yes if the feedback is confidential between the feedback provider and the manager. ~Employees~ don't see confidential feedback.","x-workday-type":"Boolean"},"hiddenFromManager":{"type":"boolean","description":"Yes if the feedback is private between the feedback provider and the ~worker~. Private feedback isn't shared with managers.","x-workday-type":"Boolean"},"badge":{"$ref":"#/definitions/badge_96569dfd073710000ff9930f04160079"}}}]},"socialNetworkAccount_6d221d1684231000174896f5fbb900e9":{"allOf":[{"$ref":"#/definitions/socialNetworkAccountDetailsSubCreate_b431c1eeabab10002f6580f013970255"},{"x-prompt-resource":"/prompt/socialNetworkAccountDetailsCreate/socialNetworkAccount"}]},"socialNetworkAccountDetailsCreate_6d221d16842310001719224c180200e2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"socialNetworkAccount":{"$ref":"#/definitions/socialNetworkAccount_6d221d1684231000174896f5fbb900e9"}}}]},"contentType_524f73df9603100002a7370a0f140015":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/testAttachment/contentType"}]},"testAttachment_b7db506c5ea610001ec8a1eae0a00002":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"fileLength":{"type":"number","description":"File length of the attachment","minimum":0,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"contentType":{"$ref":"#/definitions/contentType_524f73df9603100002a7370a0f140015"},"fileName":{"type":"string","description":"File name of the attachment","maxLength":255,"x-workday-type":"Text"}}}]},"webAddressData_b431c1eeabab1000309b91cd520c029a":{"allOf":[{"$ref":"#/definitions/webAddressDetailsData_69be742bf7c31000041f725986d00024"},{"x-prompt-resource":"/prompt/webAddressDetailsCreate/webAddressData"}]},"webAddressDetailsCreate_b431c1eeabab1000309b91b0e0cc0299":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"webAddressData":{"$ref":"#/definitions/webAddressData_b431c1eeabab1000309b91cd520c029a"}}}]},"socialNetworkType_b431c1eeabab10002f7735539979025e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/socialNetworkAccountDetailsSubCreate/socialNetworkType"}]},"socialNetworkAccountDetailsSubCreate_b431c1eeabab10002f6580f013970255":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"username":{"type":"string","description":"The user name for the social network account.  This is currently only valid for Twitter, and will not return any values for the other social network types.","x-workday-type":"Text"},"url":{"type":"string","description":"The finalized URL that is used for retrieving the social media account, this data is always populated.","x-workday-type":"Text"},"socialNetworkType":{"$ref":"#/definitions/socialNetworkType_b431c1eeabab10002f7735539979025e"}}}]},"phoneData_b431c1eeabab10002f014458755f0242":{"allOf":[{"$ref":"#/definitions/phoneDetailsData_69be742bf7c3100003fa3dea674e0019"},{"x-prompt-resource":"/prompt/phoneNumberDetailsCreate/phoneData"}]},"phoneNumberDetailsCreate_b431c1eeabab10002f013be319570241":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"phoneData":{"$ref":"#/definitions/phoneData_b431c1eeabab10002f014458755f0242"}}}]},"emailData_b431c1eeabab10002e2c6ad18db9021c":{"allOf":[{"$ref":"#/definitions/emailDetailsData_69be742bf7c3100003b18cf48369000c"},{"x-prompt-resource":"/prompt/emailAddressDetailsCreate/emailData"}]},"emailAddressDetailsCreate_b431c1eeabab10002e2c4e883491021b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"emailData":{"$ref":"#/definitions/emailData_b431c1eeabab10002e2c6ad18db9021c"}}}]},"workspaceFromWorkerPrimaryJob_f74f7e125a161000048d095c2cd99e69":{"allOf":[{"$ref":"#/definitions/locationDetailsLite_a76009758917100022e49f6616c30254"},{"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/workspaceFromWorkerPrimaryJob"}]},"workerPhotos_cf9017bbb25910000460014045b8003c":{"allOf":[{"$ref":"#/definitions/imageDetailsView_f25a37564308100006925a882f770148"},{"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/workerPhotos"}]},"location_cf9017bbb25910000460011e0e25003a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/location"}]},"primarySupervisoryOrganization_cf9017bbb2591000046000c69b960035":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/primarySupervisoryOrganization"}]},"workerProfileWithInCommonInfo_cf9017bbb259100003f684d3c64a0031":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"orgChartDeepLink":{"type":"string","description":"Deep link to the Org Chart task for this ~worker~","x-workday-type":"Text"},"workspaceFromWorkerPrimaryJob":{"$ref":"#/definitions/workspaceFromWorkerPrimaryJob_f74f7e125a161000048d095c2cd99e69"},"workerInstanceURL":{"type":"string","description":"Deep link to the instance view for ~worker~.","x-workday-type":"Text"},"workerManagers":{"type":"array","description":"The supervisory manager(s) for the ~worker's~ primary position.","items":{"$ref":"#/definitions/workerSummary_a489aef739484c13a59e6d502a9e7b68"},"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/workerManagers","x-workday-type":"Multi-instance"},"companiesInCommon":{"type":"array","description":"Companies in common for the current user with the ~worker~.","items":{"$ref":"#/definitions/jobHistoryViewWithLink_9677b4f1e3331000129993c480c20071"},"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/companiesInCommon","x-workday-type":"Multi-instance"},"schoolsInCommon":{"type":"array","description":"Schools in common between the current user and the ~worker~.","items":{"$ref":"#/definitions/schoolViewWithLink_9677b4f1e333100010921ef5ae09006b"},"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/schoolsInCommon","x-workday-type":"Multi-instance"},"skillsInCommon":{"type":"array","description":"Skills in common between the current user and the ~worker~.","items":{"$ref":"#/definitions/skillItemViewWithLink_9677b4f1e3331000094d37c92263002b"},"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/skillsInCommon","x-workday-type":"Multi-instance"},"supervisoryOrganizationsManaged":{"type":"string","format":"url","description":"Returns all Supervisory Organizations the ~worker~ is associated with as a leadership role.","readOnly":true,"x-workday-type":"Multi-instance"},"giveFeedbackURL":{"type":"string","description":"Deep Link to Give Feedback Task for the ~worker~","x-workday-type":"Text"},"businessTitle":{"type":"string","description":"The business title for the ~worker's~ primary position. If no business title is defined for a position, the position title is returned back.","x-workday-type":"Text"},"publicInstantMessengers":{"type":"array","description":"Public Instant Messengers for the ~worker~.","items":{"$ref":"#/definitions/instantMessengerDetailsData_69be742bf7c3100003d891ee26fa0012"},"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/publicInstantMessengers","x-workday-type":"Multi-instance"},"primaryWorkAddressText":{"type":"string","description":"Returns the primary work address for the ~worker~, or from their default primary work location, full format on a single line.","x-workday-type":"Text"},"workerPhotos":{"$ref":"#/definitions/workerPhotos_cf9017bbb25910000460014045b8003c"},"primaryWorkPhone":{"type":"string","description":"The primary work phone number for the ~worker~ including the area code and country code.","x-workday-type":"Text"},"location":{"$ref":"#/definitions/location_cf9017bbb25910000460011e0e25003a"},"isManager":{"type":"boolean","description":"Identifies if the ~worker~ has a manager role.","x-workday-type":"Boolean"},"primaryWorkEmail":{"type":"string","description":"The primary work email address for the ~worker~.","x-workday-type":"Text"},"dateOfBirth":{"type":"string","format":"date","description":"The birth date of the ~worker~.","x-workday-type":"Date"},"yearsOfService":{"type":"integer","format":"int64","description":"The years of service for the ~worker~.","minimum":-92233720368547760,"maximum":92233720368547760,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"primarySupervisoryOrganization":{"$ref":"#/definitions/primarySupervisoryOrganization_cf9017bbb2591000046000c69b960035"},"publicPhones":{"type":"array","description":"All Public Phones  for the ~worker~.","items":{"$ref":"#/definitions/phoneDetailsData_69be742bf7c3100003fa3dea674e0019"},"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/publicPhones","x-workday-type":"Multi-instance"},"publicEmailAddresses":{"type":"array","description":"The public email addresses for the ~worker~","items":{"$ref":"#/definitions/emailDetailsData_69be742bf7c3100003b18cf48369000c"},"x-prompt-resource":"/prompt/workerProfileWithInCommonInfo/publicEmailAddresses","x-workday-type":"Multi-instance"}}}]},"phaseDetails_be698ab8e997100034342dd0ebda14ca":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"name":{"type":"string","description":"Name of ~Project Plan Phase~","x-workday-type":"Text"},"rowId":{"type":"string","description":"WBS ID of ~Project Plan Phase~","x-workday-type":"Text"},"tasks":{"type":"array","description":"Identifies all the ~project tasks~ that are grouped under the ~project phase~.","items":{"$ref":"#/definitions/taskDetails_be698ab8e99710003410d0bcb0e214c3"},"x-prompt-resource":"/prompt/phaseDetails/tasks","x-workday-type":"Multi-instance"}}}]},"taskDetails_be698ab8e99710003410d0bcb0e214c3":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"startDate":{"type":"string","format":"date","description":"The start date of the ~project task~.","x-workday-type":"Date"},"percentComplete":{"type":"integer","format":"int64","description":"Identifies the progress of the ~project task~.","minimum":0,"maximum":1000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"rowId":{"type":"string","description":"WBS ID of ~Project Plan Task~","x-workday-type":"Text"},"endDate":{"type":"string","format":"date","description":"The end date of the ~project task~.","x-workday-type":"Date"},"name":{"type":"string","description":"Name of ~Project Plan Task~","x-workday-type":"Text"}}}]},"image_35c3fc9ace521000142770bb5d6e0154":{"type":"object"},"displayOption_f91297ea51921000b751b7cc382713cc":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"customFieldValidation_f91297ea51921000b6bdc24da93113c5":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"worktagWithRestrictedToValues_f08fabab3cae10002bec472cf4f9027a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/worktagAndRestrictionInput/worktagWithRestrictedToValues"}]},"worktagAndRestrictionInput_f08fabab3cae10001a2f1a982daa01b5":{"type":"object","properties":{"worktagWithRestrictedToValues":{"$ref":"#/definitions/worktagWithRestrictedToValues_f08fabab3cae10002bec472cf4f9027a"},"invalidRestrictedToValues":{"type":"array","description":"This CRF can be used only by REST APIs.\nIndicates invalid 'Restricted To Values' for a worktag.","items":{"$ref":"#/definitions/restrictionInput_+TG_4b3cd975feb010000567e14324830071"},"x-prompt-resource":"/prompt/worktagAndRestrictionInput/invalidRestrictedToValues","x-workday-type":"Multi-instance"}}},"promptIdentifier_f91297ea519210006849f45ddf8712b1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"worktagWithAllowedValues_f08fabab3cae10000bd8f5a584f100c1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/worktagsComboInput/worktagWithAllowedValues"}]},"worktagsComboInput_f08fabab3cae10000b041ae3234b009d":{"type":"object","properties":{"invalidWorktagValues":{"type":"array","description":"This CRF can be used only by REST APIs.\nSet of worktags from the REST request which are not valid for the anchor worktag with allowed values.","items":{"$ref":"#/definitions/worktagInput_+TG_aa8aaaaeca39100034443e493aef03ce"},"x-prompt-resource":"/prompt/worktagsComboInput/invalidWorktagValues","x-workday-type":"Multi-instance"},"worktagWithAllowedValues":{"$ref":"#/definitions/worktagWithAllowedValues_f08fabab3cae10000bd8f5a584f100c1"}}},"externalFieldCategory_f91297ea5192100064904939b217128d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"worktagTypeInput_3f71b007c34610000e0bb926bf370056":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"externalFieldUsage_f91297ea519210005fc757544af9126a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"worktagInput_+TG_aa8aaaaeca39100034443e493aef03ce":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"customObjectType_+TG_f91297ea519210002c34090c3540122d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"domain_f91297ea51921000183022a687a61203":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"locationDetailsLite_a76009758917100022e49f6616c30254":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"regionCode":{"type":"string","description":"The ISO 3166-2 region code of the primary address for the location.","x-workday-type":"Text"},"locationName":{"type":"string","description":"Returns a Location's External Name or Default name if External is empty. If you do not want the default name to be returned when the external name is empty then use 'Location External Name' CRF.","x-workday-type":"Text"}}}]},"region_a93ff6ca9216100017d52a94fd850f96":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/Location Simple View Definition/region"}]},"country_a93ff6ca9216100017d52a8b7c810f95":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/Location Simple View Definition/country"}]},"Location_Simple_View_Definition_a93ff6ca9216100017d52a7434ff0f94":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"regionCode":{"type":"string","description":"The ISO 3166-2 region code of the primary address for the location.","x-workday-type":"Text"},"locationName":{"type":"string","description":"Returns a Location's External Name or Default name if External is empty. If you do not want the default name to be returned when the external name is empty then use 'Location External Name' CRF.","x-workday-type":"Text"},"region":{"$ref":"#/definitions/region_a93ff6ca9216100017d52a94fd850f96"},"country":{"$ref":"#/definitions/country_a93ff6ca9216100017d52a8b7c810f95"}}}]},"stepActionDetail_049a0b79c1b910001c2b347cf5170049":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"inactive":{"type":"boolean","description":"Returns 'Yes' if this custom allowed action is inactive.","x-workday-type":"Boolean"},"step_Action_ID":{"type":"string","description":"Returns the Reference ID value for this custom allowed sep action.","x-workday-type":"Text"},"description":{"type":"string","description":"Returns the description of this custom allowed action.","x-workday-type":"Text"},"name":{"type":"string","description":"Returns the name of this custom allowed action","x-workday-type":"Text"}}}]},"initiatingActionDetail_049a0b79c1b91000150e81a5b30f002f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"description":{"type":"string","description":"Returns the description of this custom allowed action.","x-workday-type":"Text"},"initiating_Action_ID":{"type":"string","description":"Returns the Reference ID value for this custom allowed initiating action.","x-workday-type":"Text"},"name":{"type":"string","description":"Returns the name of this custom allowed action","x-workday-type":"Text"},"inactive":{"type":"boolean","description":"Returns 'Yes' if this custom allowed action is inactive.","x-workday-type":"Boolean"}}}]},"jobProfileSummary_f0516314f4c31000164975563fc1007f":{"type":"object","properties":{"management_level":{"type":"string","description":"The job profile's management type name","x-workday-type":"Text"},"job_profile_id":{"type":"string","description":"The job code for the job profile.  This is the unique identifier for the job profile.","x-workday-type":"Text"},"management_level_rank":{"type":"number","description":"The job profile's management level number","minimum":0,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"job_profile_name":{"type":"string","description":"The name of the job profile.","x-workday-type":"Text"},"job_family":{"type":"string","description":"The job profile's family name","x-workday-type":"Text"},"job_family_group":{"type":"string","description":"The job profile's family group name","x-workday-type":"Text"}}},"riskLevel_c859d04eef3410004f6435f48341002b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectDetailedSummary/riskLevel"}]},"group_c859d04eef3410002906a1bd9112001a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectDetailedSummary/group"}]},"company_c859d04eef3410002906a18408990018":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectDetailedSummary/company"}]},"primaryHierarchy_c859d04eef3410002906a161b38e0017":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectDetailedSummary/primaryHierarchy"}]},"status_c859d04eef34100028bf873e79530010":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectDetailedSummary/status"}]},"owner_c859d04eef34100028bf85644471000f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/projectDetailedSummary/owner"}]},"projectDetailedSummary_+TG_c859d04eef34100028bf82cc33c2000d":{"type":"object","properties":{"riskLevel":{"$ref":"#/definitions/riskLevel_c859d04eef3410004f6435f48341002b"},"isBillable":{"type":"boolean","description":"Returns true if the ~project~ is billable.","x-workday-type":"Boolean"},"isCapital":{"type":"boolean","description":"Returns true if the ~project~ is capital.","x-workday-type":"Boolean"},"group":{"$ref":"#/definitions/group_c859d04eef3410002906a1bd9112001a"},"company":{"$ref":"#/definitions/company_c859d04eef3410002906a18408990018"},"primaryHierarchy":{"$ref":"#/definitions/primaryHierarchy_c859d04eef3410002906a161b38e0017"},"description":{"type":"string","description":"Returns the description of the ~project~.","x-workday-type":"Text"},"isProjectInactive":{"type":"boolean","description":"Returns True if the current ~Project~ or the associated ~Project~ Hierarchy is Inactive.","x-workday-type":"Boolean"},"endDate":{"type":"string","format":"date","description":"Returns the end date for the approved ~project~.","x-workday-type":"Date"},"name":{"type":"string","description":"Returns the ~project~ name of an approved ~project~.","x-workday-type":"Text"},"startDate":{"type":"string","format":"date","description":"Returns the start date for the approved ~project~.","x-workday-type":"Date"},"status":{"$ref":"#/definitions/status_c859d04eef34100028bf873e79530010"},"owner":{"$ref":"#/definitions/owner_c859d04eef34100028bf85644471000f"},"percentComplete":{"type":"integer","format":"int64","description":"Identifies the percent complete on the ~project~.","minimum":0,"maximum":1000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"}}},"webhookTriggers_f2835709911110001b1f4c38939e00d0":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"authCredentials_f2835709911110001802016661d100bf":{"type":"object","properties":{"password":{"type":"string","x-workday-type":"Text"},"username":{"type":"string","x-workday-type":"Text"}}},"stockGrantSummary_c225afe3715a100006d7d8c8318e1ab0":{"type":"object","properties":{"grant_type":{"type":"string","description":"Stock Grant Type Name for Stock Grant","x-workday-type":"Text"},"last_vest_date":{"type":"string","format":"date","description":"The most recent date of the vesting information.","x-workday-type":"Date"},"shares_granted":{"type":"number","description":"The number of shares granted for the stock grant.","minimum":0,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"grant_date":{"type":"string","format":"date","description":"The grant date for the stock grant.","x-workday-type":"Date"},"shares_vested":{"type":"number","description":"The number of shares vested for the stock grant.","minimum":0,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"}}},"externalJobHistorySummary_544c71b8ba5610001d53cea9fb4f00c8":{"type":"object","properties":{"start_date":{"type":"string","format":"date","description":"The date the ~worker~ started the job.","x-workday-type":"Date"},"end_date":{"type":"string","format":"date","description":"The date the ~worker~ left the job.","x-workday-type":"Date"},"company_name":{"type":"string","description":"The company where the job was held.","x-workday-type":"Text"},"job_title":{"type":"string","description":"The job title of the job.","x-workday-type":"Text"}}},"competencySummary_544c71b8ba5610001cba0a96448700c1":{"type":"object","properties":{"name":{"type":"string","description":"Name of the ~Competency~.","x-workday-type":"Text"}}},"educationAchievementSummary_544c71b8ba5610001acf604d2efa0097":{"type":"object","properties":{"start_year":{"type":"string","format":"date","description":"The first year in which studies took place at the school.","x-workday-type":"Date"},"gpa":{"type":"string","description":"The average grade in all subjects.","x-workday-type":"Text"},"major":{"type":"string","description":"Field of Study name for the education achievement","x-workday-type":"Text"},"degree":{"type":"string","description":"Degree Name for the Education Achievement","x-workday-type":"Text"},"school_name":{"type":"string","description":"The name of the school.","x-workday-type":"Text"},"end_year":{"type":"string","format":"date","description":"The last year in which studies took place at the school.","x-workday-type":"Date"}}},"terminationReasonSummary_544c71b8ba56100018d4def553170079":{"type":"object","properties":{"type":{"type":"string","description":"Name for the Event Classification Subcategory","x-workday-type":"Text"},"involuntary":{"type":"boolean","description":"Returns true if the termination was involuntary.","x-workday-type":"Boolean"},"retirement":{"type":"boolean","description":"Returns true if the termination was from retirement.","x-workday-type":"Boolean"}}},"supervisoryOrganizationSummary_1369173a8b40100015b85952dd790073":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"level":{"type":"number","description":"The number of levels down from the top level organization for this organization.","minimum":0,"maximum":1000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"}}}]},"locationHierarchyView_c4502027a2bc100003e166f3f9b30035":{"type":"object","properties":{"city":{"type":"string","description":"The city from the primary address for the Location.","x-workday-type":"Text"},"country":{"type":"string","description":"The country from the primary address for the Location.","x-workday-type":"Text"},"state":{"type":"string","description":"The state from the primary address for the Location.","x-workday-type":"Text"}}},"termination_primary_544c71b8ba561000189d624df3470074":{"allOf":[{"$ref":"#/definitions/terminationReasonSummary_544c71b8ba56100018d4def553170079"},{"x-prompt-resource":"/prompt/riskRetentionProfile/termination_primary"}]},"riskRetentionProfile_c4502027a2bc1000036975ab92150027":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"is_high_loss_impact_risk":{"type":"boolean","description":"Returns true if the ~employee~ is high ~loss impact~ risk. Only returns a value for ~employees~ as ~contingent workers~ do not have ~retention~ risk tracked.","x-workday-type":"Boolean"},"instanceID":{"type":"string","x-workday-type":"Text"},"work_experience":{"type":"array","description":"Contains the prior jobs held for the ~worker~ outside of the current company.","items":{"$ref":"#/definitions/externalJobHistorySummary_544c71b8ba5610001d53cea9fb4f00c8"},"x-prompt-resource":"/prompt/riskRetentionProfile/work_experience","x-workday-type":"Multi-instance"},"termination_date":{"type":"string","format":"date","description":"The effective date of the ~worker's~ last termination. Doesn't include future-dated terminations.","x-workday-type":"Date"},"stock_grants":{"type":"array","description":"Contains the stock grants that have been approved.","items":{"$ref":"#/definitions/stockGrantSummary_c225afe3715a100006d7d8c8318e1ab0"},"x-prompt-resource":"/prompt/riskRetentionProfile/stock_grants","x-workday-type":"Multi-instance"},"skills":{"type":"array","description":"Contains the ~Competencies~ for which the ~worker~ has a skill.  Contains the ~competency~ only, not the skill level","items":{"$ref":"#/definitions/competencySummary_544c71b8ba5610001cba0a96448700c1"},"x-prompt-resource":"/prompt/riskRetentionProfile/skills","x-workday-type":"Multi-instance"},"education":{"type":"array","description":"Contains a ~worker's~ educational experience, one record for each school attended..","items":{"$ref":"#/definitions/educationAchievementSummary_544c71b8ba5610001acf604d2efa0097"},"x-prompt-resource":"/prompt/riskRetentionProfile/education","x-workday-type":"Multi-instance"},"termination_primary":{"$ref":"#/definitions/termination_primary_544c71b8ba561000189d624df3470074"},"termination_secondary":{"type":"array","description":"The secondary termination reasons for the ~worker's~ last termination. Doesn't include future-dated terminations.","items":{"$ref":"#/definitions/terminationReasonSummary_544c71b8ba56100018d4def553170079"},"x-prompt-resource":"/prompt/riskRetentionProfile/termination_secondary","x-workday-type":"Multi-instance"},"fte":{"type":"integer","format":"int64","description":"The full time equivalent percentage for the ~worker's~ primary position.","minimum":0,"maximum":10000000000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"continuous_service_date":{"type":"string","format":"date","description":"~Employee~ service date taking into account breaks in service.","x-workday-type":"Date"},"termination_regrettable":{"type":"boolean","description":"Returns true if the ~employee's~ termination was regrettable. This typically is the case for high performers leaving a company voluntarily.","x-workday-type":"Boolean"},"history":{"type":"array","description":"Returns relevant Risk/Retention Analysis ~Worker~ events that are completed, viewable by the Processing Person, and are effective within the start and end dates.","items":{"$ref":"#/definitions/workerSnapshotForEvent_c4502027a2bc10000368d37f1b3d0022"},"x-prompt-resource":"/prompt/riskRetentionProfile/history","x-workday-type":"Multi-instance"},"tenure":{"type":"integer","format":"int64","description":"The years of service for the ~worker~ including partial years. Represented in 2 decimals.","minimum":0,"maximum":100000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"organizations":{"type":"array","description":"The supervisory organization and superior organization for the ~worker's~ primary position.  Used for faceted search only. Only returns supervisory organizations whose visibility is set to 'Everyone'.","items":{"$ref":"#/definitions/supervisoryOrganizationSummary_1369173a8b40100015b85952dd790073"},"x-prompt-resource":"/prompt/riskRetentionProfile/organizations","x-workday-type":"Multi-instance"},"is_high_retention_risk":{"type":"boolean","description":"Returns true if the ~employee~ is high ~retention~ risk. Only returns a value for ~employees~ as ~contingent workers~ do not have ~retention~ risk tracked.","x-workday-type":"Boolean"},"is_high_potential":{"type":"boolean","description":"Returns true if the ~employee~ is high ~potential~. Only returns a value for ~employees~, as ~contingent workers~ do not have ~potential~ tracked.","x-workday-type":"Boolean"}}}]},"location_c4502027a2bc100003b188e93ae90032":{"allOf":[{"$ref":"#/definitions/locationHierarchyView_c4502027a2bc100003e166f3f9b30035"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/location"}]},"calibration_performance_39bf5da0d7e41000080603ffcbea0086":{"allOf":[{"$ref":"#/definitions/reviewRating_39bf5da0d7e410000b63055be2bf008b"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/calibration_performance"}]},"calibration_potential_39bf5da0d7e41000080603e64f550085":{"allOf":[{"$ref":"#/definitions/eventPotential_39bf5da0d7e410000bebce1fdd1600a3"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/calibration_potential"}]},"job_profile_f0516314f4c310001022ca5965b60076":{"allOf":[{"$ref":"#/definitions/jobProfileSummary_f0516314f4c31000164975563fc1007f"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/job_profile"}]},"workerSnapshotForEvent_c4502027a2bc10000368d37f1b3d0022":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"performance_rating_manager":{"type":"integer","format":"int64","description":"The manager's numeric rating value of the manager evaluation. Only returns values for ~Employee~ Review, will return 0 for others. Bypasses normal business process security.","minimum":0,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"compa_ratio":{"type":"integer","format":"int64","description":"Proposed Compa-Ratio as of this ~Worker~ Event","minimum":-1000000000000000,"maximum":1000000000000000,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"manager_id":{"type":"string","description":"The manager ~worker~ id for this Event","maxLength":36,"x-workday-type":"Text"},"currency":{"type":"string","description":"The currency ID in which the current amount are displayed as of the completion of this ~Worker~ Event.","x-workday-type":"Text"},"effective":{"type":"string","format":"date","description":"The date this business process takes effect.","x-workday-type":"Date"},"is_promotion":{"type":"boolean","description":"Returns true if the event is a promotion and a false if the event is not a promotion.","x-workday-type":"Boolean"},"location":{"$ref":"#/definitions/location_c4502027a2bc100003b188e93ae90032"},"bonus":{"type":"integer","format":"int64","description":"The one-time payment amount for the event, in currency's precision accuracy.","minimum":-9223372036854.775,"maximum":9223372036854.775,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"calibration_performance":{"$ref":"#/definitions/calibration_performance_39bf5da0d7e41000080603ffcbea0086"},"base_pay":{"type":"integer","format":"int64","description":"The proposed base pay for the ~employee~ from the ~Employee~ Compensation Event or ~Employee~ Compensation Event subprocess(es). This is the sum of an ~employee's~ compensation element amounts that are considered base pay. The number is represented in the currency and frequency of the ~employee's~ compensation grade profile, or compensation grade if no compensation grade profile exists. Limited to currency's precision.","minimum":-9223372036854.775,"maximum":9223372036854.775,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"calibration_potential":{"$ref":"#/definitions/calibration_potential_39bf5da0d7e41000080603e64f550085"},"completed":{"type":"string","format":"date","description":"The date and time the business process was completed.","x-workday-type":"Date"},"job_profile":{"$ref":"#/definitions/job_profile_f0516314f4c310001022ca5965b60076"},"event_label":{"type":"string","description":"Label for this Event","x-workday-type":"Text"},"is_demotion":{"type":"boolean","description":"Returns true if the event is a demotion","x-workday-type":"Boolean"},"compensation_grade_rank":{"type":"number","description":"The compensation grade rank newly assigned or changed for the ~worker~.","minimum":0,"maximum":2147483647,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"compensation_grade":{"type":"string","description":"The compensation grade name newly assigned or changed for the ~worker~.","x-workday-type":"Text"},"base_pay_annualization_factor":{"type":"integer","format":"int64","description":"The Frequency for the Contract Pay Rate on the position as of this business process' completion.","minimum":0,"maximum":10000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"},"job_title":{"type":"string","description":"The new job title for the ~worker~ as of the effective date.","x-workday-type":"Text"},"pay_range_penetration":{"type":"integer","format":"int64","description":"Pay Range Penetration for this Event","minimum":-9223372036854.775,"maximum":9223372036854.775,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"performance_rating_employee":{"type":"integer","format":"int64","description":"The ~employee's~ numeric rating value of the self evaluation. Only returns values for ~Employee~ Review, will return 0 for others. Bypasses normal business process security.","minimum":0,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":false,"x-workday-type":"Numeric"}}}]},"timeOffEntryStatus_436f2afb755f1000125176952ea6000c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"status":{"type":"string","description":"The current status of the business process.  For example: Successfully Completed, Denied, Terminated.","x-workday-type":"Text"}}}]},"plan_436f2afb755f1000124523c2d036000a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeOff/plan"}]},"timeOff_436f2afb755f10001245239d27960009":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"plan":{"$ref":"#/definitions/plan_436f2afb755f1000124523c2d036000a"}}}]},"timeOffSummary_a4987daee40c10001221a8988b400006":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"totalDailyBalance":{"type":"integer","format":"int64","description":"Displays the total balance for all daily plans eligible for a ~worker~.","minimum":-1000000000000,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"totalHourlyBalance":{"type":"integer","format":"int64","description":"Displays the total balance for all hourly plans eligible for a ~worker~.","minimum":-1000000000000,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"}}}]},"restrictionInput_+TG_4b3cd975feb010000567e14324830071":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"webAddressDetailsData_69be742bf7c31000041f725986d00024":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"url":{"type":"string","description":"The complete URL address of the web site.","x-workday-type":"Text"}}}]},"phoneType_25a7a0fd2def1000038ff89715d1001b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/phoneDetailsData/phoneType"}]},"phoneDetailsData_69be742bf7c3100003fa3dea674e0019":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"areaCode":{"type":"string","description":"The area code in the phone number.","x-workday-type":"Text"},"phoneNumber":{"type":"string","description":"The phone number including area code, but without country code.","x-workday-type":"Text"},"countryCode":{"type":"string","description":"The country code in the phone number.","x-workday-type":"Text"},"phoneType":{"$ref":"#/definitions/phoneType_25a7a0fd2def1000038ff89715d1001b"},"extension":{"type":"string","description":"The extension in the phone number.","x-workday-type":"Text"}}}]},"instantMessengerType_69be742bf7c3100003d8921838820014":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/instantMessengerDetailsData/instantMessengerType"}]},"instantMessengerDetailsData_69be742bf7c3100003d891ee26fa0012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"instantMessengerType":{"$ref":"#/definitions/instantMessengerType_69be742bf7c3100003d8921838820014"},"instantMessengerID":{"type":"string","description":"The instant messenger id","x-workday-type":"Text"}}}]},"emailDetailsData_69be742bf7c3100003b18cf48369000c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"email":{"type":"string","description":"The email address.","x-workday-type":"Text"}}}]},"region_69be742bf7c31000037c047ba9350001":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/addressDetailsData/region"}]},"country_a93b30400b5210001f7b62b1ed2200e2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/addressDetailsData/country"}]},"addressDetailsData_374a246e77f910000630d244fb65003a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"addressLine1":{"type":"string","description":"The first line of the address.","x-workday-type":"Text"},"addressLine2":{"type":"string","description":"The second line of the address.","x-workday-type":"Text"},"city":{"type":"string","description":"The city from the address.","x-workday-type":"Text"},"region":{"$ref":"#/definitions/region_69be742bf7c31000037c047ba9350001"},"country":{"$ref":"#/definitions/country_a93b30400b5210001f7b62b1ed2200e2"}}}]},"webAddressData_27582b71a42e100005a7a4a8429b004b":{"allOf":[{"$ref":"#/definitions/webAddressDetailsData_69be742bf7c31000041f725986d00024"},{"x-prompt-resource":"/prompt/webAddressDetails/webAddressData"}]},"webAddressDetails_27582b71a42e10000472bd88f3230021":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"webAddressData":{"$ref":"#/definitions/webAddressData_27582b71a42e100005a7a4a8429b004b"}}}]},"phoneData_27582b71a42e10000599350113b50046":{"allOf":[{"$ref":"#/definitions/phoneDetailsData_69be742bf7c3100003fa3dea674e0019"},{"x-prompt-resource":"/prompt/phoneDetails/phoneData"}]},"phoneDetails_27582b71a42e1000046c36f07eb3001f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"phoneData":{"$ref":"#/definitions/phoneData_27582b71a42e10000599350113b50046"}}}]},"instantMessengerDetails_27582b71a42e10000466afc80b3d001d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}]},"emailData_27582b71a42e1000057506e12a7d003e":{"allOf":[{"$ref":"#/definitions/emailDetailsData_69be742bf7c3100003b18cf48369000c"},{"x-prompt-resource":"/prompt/emailDetails/emailData"}]},"emailDetails_27582b71a42e1000045f411cda5d001b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"emailData":{"$ref":"#/definitions/emailData_27582b71a42e1000057506e12a7d003e"}}}]},"visibility_27582b71a42e10000554538e37920037":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/addressDetails/visibility"}]},"addressData_27582b71a42e100004d3b76cf7410034":{"allOf":[{"$ref":"#/definitions/addressDetailsData_374a246e77f910000630d244fb65003a"},{"x-prompt-resource":"/prompt/addressDetails/addressData"}]},"addressDetails_27582b71a42e10000458649a0ca80019":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"type":"object","properties":{"visibility":{"$ref":"#/definitions/visibility_27582b71a42e10000554538e37920037"},"addressData":{"$ref":"#/definitions/addressData_27582b71a42e100004d3b76cf7410034"}}}]},"instanceReference_a60866e6a8af10000f4816d19d78006d":{"type":"object","properties":{"id":{"type":"string","description":"Returns the Workday ID for a given object.","maxLength":36,"x-workday-type":"Text"},"descriptor":{"type":"string","description":"Returns the instance descriptor.","x-workday-type":"Text"}}},"targetField_a933da6c29d51000057c44d969c20020":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/conditionItemDetail/targetField"}]},"sourceField_a60866e6a8af100008ebca322002002e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/conditionItemDetail/sourceField"}]},"conditionItemDetail_6a2d00bbe6211000160e0c46fda8003d":{"type":"object","properties":{"and":{"type":"boolean","description":"Returns true if the condition item uses an AND operator.","x-workday-type":"Boolean"},"targetBoolean":{"type":"boolean","description":"Returns the target boolean used  to compare against the source field.","x-workday-type":"Boolean"},"targetDate":{"type":"string","format":"date","description":"Returns the target date used to compare against the condition item source field.","x-workday-type":"Date"},"targetText":{"type":"string","description":"Returns the target text used to compare against the condition item source field.","x-workday-type":"Text"},"targetInstances":{"type":"array","description":"Returns the target instances used to compare against the condition item source field.","items":{"$ref":"#/definitions/instanceReference_a60866e6a8af10000f4816d19d78006d"},"x-prompt-resource":"/prompt/conditionItemDetail/targetInstances","x-workday-type":"Multi-instance"},"targetNumber":{"type":"integer","format":"int64","description":"Returns the target number used to compare against the condition item source field.","minimum":-1000000000000,"maximum":1000000000000,"exclusiveMinimum":false,"exclusiveMaximum":true,"x-workday-type":"Numeric"},"or":{"type":"boolean","description":"Returns true if the condition item uses OR operator.","x-workday-type":"Boolean"},"relationalOperator":{"type":"string","description":"Returns the condition item relational operator name.","x-workday-type":"Text"},"targetField":{"$ref":"#/definitions/targetField_a933da6c29d510000
[...]
