{"swagger":"2.0","info":{"version":"v1","title":"Outbound Webhooks","description":"Documents creating, editing, and viewing webhooks.\n"},"tags":[{"name":"Outbound Webhooks"},{"name":"Webhook Triggers"}],"paths":{"/eventWebhooks":{"get":{"summary":"List all webhooks","description":"Get all webhooks within the collection.","tags":["Outbound Webhooks"],"responses":{"200":{"description":"Returns an array of references to all webhooks a user has access to.","schema":{"type":"object","properties":{"count":{"type":"number","example":1},"data":{"type":"array","items":{"$ref":"#/definitions/WebhookView"}}}}}}},"post":{"summary":"Create webhook","description":"Create a new webhook.","tags":["Outbound Webhooks"],"parameters":[{"name":"eventWebhook","description":"Webhook details","in":"body","required":true,"schema":{"$ref":"#/definitions/WebhookEdit"}}],"responses":{"201":{"description":"Returns a reference to the webhook that was created","schema":{"$ref":"#/definitions/WebhookView"}}}}},"/eventWebhooks/{Webhook_ID}":{"put":{"summary":"Edit webhook","description":"This is an example of how to edit an instance of class Item","tags":["Outbound Webhooks"],"parameters":[{"name":"Webhook_ID","in":"path","description":"Webhook identifier. This can either be a Workday ID (WID) or a Reference ID in the form of Webhook_ID=WEBHOOK-15-5.","required":true,"type":"string"},{"name":"eventWebhook","description":"The properties you would like to change for the webhook","in":"body","required":true,"schema":{"$ref":"#/definitions/WebhookEdit"}}],"responses":{"200":{"description":"Returns a reference to the Item that was edited","schema":{"$ref":"#/definitions/WebhookView"}}}},"delete":{"summary":"Delete a webhook","tags":["Outbound Webhooks"],"parameters":[{"name":"Webhook_ID","in":"path","description":"Webhook identifier. This can either be a Workday ID (WID) or a Reference ID in the form of Webhook_ID=WEBHOOK-15-5.","required":true,"type":"string"}],"responses":{"204":{"description":"Webhook was deleted"}}},"get":{"summary":"Retrieves details about a single webhook","tags":["Outbound Webhooks"],"parameters":[{"name":"Webhook_ID","in":"path","description":"Webhook identifier. This can either be a Workday ID (WID) or a Reference ID in the form of Webhook_ID=WEBHOOK-15-5.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns webhook details","schema":{"$ref":"#/definitions/WebhookView"}}}}},"/webhookTriggers":{"get":{"summary":"List all webhook triggers","description":"Get all webhook triggers within the collection.","tags":["Webhook Triggers"],"responses":{"200":{"description":"Returns an array of references to all webhook triggers a user has access to.","schema":{"type":"object","properties":{"count":{"type":"number","example":1},"data":{"type":"array","items":{"$ref":"#/definitions/WebhookTriggerView"}}}}}}}},"/webhookTriggers/{Webhook_Trigger_ID}":{"get":{"summary":"Retrieves details about a single webhook trigger","tags":["Webhook Triggers"],"parameters":[{"name":"Webhook_Trigger_ID","in":"path","description":"Webhook Trigger identifier. This can either be a Workday ID (WID) or a Reference ID in the form of Webhook_Trigger_ID=WEBHOOK_EVENT_SERVICE_CONFIGURATION-15-1.","required":true,"type":"string"}],"responses":{"200":{"description":"Returns webhook trigger details","schema":{"$ref":"#/definitions/WebhookTriggerView"}}}}}},"definitions":{"WebhookView":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Example webhook"},"name":{"type":"string","example":"Example webhook"},"url":{"type":"string","example":"http://client.example.com/example-webhook"},"contentType":{"$ref":"#/definitions/ContentTypeView"},"authType":{"$ref":"#/definitions/AuthTypeView"},"authCredentials":{"$ref":"#/definitions/AuthCredentialsView"},"webhookTriggers":{"type":"array","items":{"$ref":"#/definitions/WebhookTriggersView"}},"inactive":{"type":"boolean","example":false}}},"WebhookEdit":{"type":"object","required":["name","url","contentType"],"properties":{"name":{"type":"string","example":"Example webhook"},"url":{"type":"string","example":"http://client.example.com/example-webhook"},"contentType":{"$ref":"#/definitions/ContentTypeReference"},"authType":{"$ref":"#/definitions/AuthTypeReference"},"authCredentials":{"$ref":"#/definitions/AuthCredentialsReference"},"webhookTriggers":{"type":"array","items":{"$ref":"#/definitions/WebhookReference"}},"inactive":{"type":"boolean","example":false}}},"ContentTypeView":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID_content_type"},"descriptor":{"$ref":"#/definitions/DID_content_type"}}},"AuthTypeView":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID_auth_type"},"descriptor":{"$ref":"#/definitions/DID_auth_type"}}},"AuthCredentialsView":{"type":"object","properties":{"username":{"$ref":"#/definitions/VALUE_username"}}},"WebhookTriggersView":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"$ref":"#/definitions/DID_webhook_trigger"}}},"WebhookTriggerView":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string","example":"Example webhook"},"name":{"type":"string","example":"Request Time Off - Notify Twilio"},"payload":{"type":"string","example":"From=+14089630009&To=+15104500393&Body=An employee has requested time off."}}},"WebhookReference":{"type":"object","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"ContentTypeReference":{"type":"object","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID_content_type"}}},"AuthTypeReference":{"type":"object","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID_auth_type"}}},"AuthCredentialsReference":{"type":"object","required":["username","password"],"properties":{"username":{"$ref":"#/definitions/VALUE_username"},"password":{"$ref":"#/definitions/VALUE_password"}}},"WID":{"description":"Workday ID for an Instance","type":"string","example":"0123456789abcdef0123456789abcdef"},"WID_content_type":{"description":"Workday ID for application/x-www-form-urlencoded","type":"string","example":"d969a07a5d4410000f3d5a07df66001d"},"DID_content_type":{"description":"Display ID for application/x-www-form-urlencoded","type":"string","example":"application/x-www-form-urlencoded -"},"WID_auth_type":{"description":"Workday ID for User Name Password","type":"string","example":"88bff566a25b45b0b633159af1a2f916"},"DID_auth_type":{"description":"Display ID for User Name Password","type":"string","example":"User Name Password"},"DID_webhook_trigger":{"description":"Display ID for Request Time Off - Notify Twilio","type":"string","example":"Request Time Off - Notify Twilio"},"VALUE_username":{"description":"Basic Auth Username","type":"string","example":"user$name"},"VALUE_password":{"description":"Basic Auth Password","type":"string","example":"password$123"}},"host":"api.workday.com","basePath":"/common/v1","schemes":["https"],"produces":["application/json"],"consumes":["application/json"],"securityDefinitions":{"OAuth 2.0":{"type":"oauth2","description":"Register an API Client","flow":"implicit","authorizationUrl":"https://auth.api.workday.com/v1/authorize","scopes":{"system":"developer facing api security"}}},"security":[{"OAuth 2.0":[]}]}