{"swagger":"2.0","info":{"description":"Use this API to create new payroll inputs and retrieve existing payroll inputs.","version":"v1Alpha","title":"Payroll (v1Alpha)"},"host":"api.workday.com","basePath":"/payroll/v1Alpha","tags":[{"name":"payrollInputs","description":"Ability to view and create payroll inputs for workers and pay components with input allowed. Pay Components with Special Entry checked and Payroll Tax Location Mapping are not supported. Pay Component Security Segments must be configured for security groups."}],"schemes":["https"],"paths":{"/payrollInputs":{"get":{"tags":["payrollInputs"],"description":"Retrieves a collection of payroll inputs. At least one query parameter is required to get data. <br> Security: Self-Service: Payroll Public API (Payroll Input), Worker Data: Payroll Public API (Payroll Input). <br>Scope: Core Payroll","produces":["application/json"],"parameters":[{"name":"payComponent","in":"query","description":"The pay component for this payroll input.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"worker","in":"query","description":"~Worker~ that this input is for.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"startDate","in":"query","description":"The start date before which this input does not apply.","required":false,"type":"string"},{"name":"endDate","in":"query","description":"The end date after which this input does not apply.","required":false,"type":"string"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. <br> Use offset with the limit parameter to control paging of a response collection. Example:If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/payrollInputView_dc697bd5bc1b100005f3109b925b00f6"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["payrollInputs"],"description":"Creates a payroll input. <br> Pay Components with Special Entry checked and Payroll Tax Location Mapping are not supported. Pay Component Security Segments must be configured for security groups. <br> Security: Self-Service: Payroll Public API (Payroll Input), Worker Data: Payroll Public API (Payroll Input). <br>Scope: Core Payroll","produces":["application/json"],"parameters":[{"in":"body","name":"payrollInputView","required":true,"schema":{"$ref":"#/definitions/payrollInputView_dc697bd5bc1b100005f3109b925b00f6"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/payrollInputView_dc697bd5bc1b100005f3109b925b00f6"}},"400":{"description":"a validation error occurred (https://community.workday.com/rest/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/payrollInputs/{ID}":{"get":{"tags":["payrollInputs"],"description":"Retrieves a payroll input for the specified {id}.<br>Security: Self-Service: Payroll Public API (Payroll Input), Worker Data: Payroll Public API (Payroll Input). <br>Scope: Core Payroll.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID or reference ID of the Payroll Input. The reference ID uses the <br> <identifier-type>={id} format; example:Payroll_Input_ID=PAYROLL_INPUT-4-77. The ID can be obtained from the GET /payrollInputs operation.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/payrollInputView_dc697bd5bc1b100005f3109b925b00f6"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://i-xxxxxxxxxxxxxxxxx.workdaysuv.com/super/authorize","flow":"implicit"}},"definitions":{"payComponent_dc697bd5bc1b100005f310c75c8e00f9":{"allOf":[{"$ref":"#/definitions/payComponent_d4198c33f48d10000ec87ef21d4700f1"},{}]},"currency_dc697bd5bc1b1000085ab3d0e5da0108":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"position_95417070df52100038a792408e430185":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"worker_dc697bd5bc1b100005f310b2da6e00f7":{"allOf":[{"$ref":"#/definitions/worker_95417070df5210000dc1bb7f05b8012c"},{}]},"payrollInputView_dc697bd5bc1b100005f3109b925b00f6":{"allOf":[{"type":"object","properties":{"runCategories":{"type":"array","items":{"$ref":"#/definitions/runCategory_dc697bd5bc1b10001036377098ea0116"},"x-workday-type":"Multi-instance"},"inputDetails":{"type":"array","items":{"$ref":"#/definitions/inputLine_dc697bd5bc1b10001050f53a976e0119"},"x-workday-type":"Multi-instance"},"payComponent":{"$ref":"#/definitions/payComponent_dc697bd5bc1b100005f310c75c8e00f9"},"comment":{"type":"string","x-workday-type":"Text"},"startDate":{"type":"string","format":"date","x-workday-type":"Date"},"currency":{"$ref":"#/definitions/currency_dc697bd5bc1b1000085ab3d0e5da0108"},"worktags":{"type":"array","items":{"$ref":"#/definitions/worktag_dc697bd5bc1b1000105a22eb21b8011b"},"x-workday-type":"Multi-instance"},"ongoing":{"type":"boolean","x-workday-type":"Boolean"},"position":{"$ref":"#/definitions/position_95417070df52100038a792408e430185"},"endDate":{"type":"string","format":"date","x-workday-type":"Date"},"worker":{"$ref":"#/definitions/worker_dc697bd5bc1b100005f310b2da6e00f7"},"adjustment":{"type":"boolean","x-workday-type":"Boolean"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Payroll_Input_ID":{"type":"string","description":"Reference id of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"MULTIPLE_INSTANCE_MODEL_REFERENCE":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}}}},"inputInterface_14e354bf8650100010fc3cbd9c520123":{"allOf":[{"type":"object","properties":{"name":{"type":"string","x-workday-type":"Text"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"payComponent_d4198c33f48d10000ec87ef21d4700f1":{"allOf":[{"type":"object","properties":{"code":{"type":"string","maxLength":20,"x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"runCategory_dc697bd5bc1b10001036377098ea0116":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"worker_95417070df5210000dc1bb7f05b8012c":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Employee_ID":{"type":"string","description":"Reference id of the instance"}}}]},"type_dc697bd5bc1b10001427adc082700133":{"allOf":[{"$ref":"#/definitions/inputInterface_14e354bf8650100010fc3cbd9c520123"},{}]},"inputLine_dc697bd5bc1b10001050f53a976e0119":{"allOf":[{"type":"object","properties":{"type":{"$ref":"#/definitions/type_dc697bd5bc1b10001427adc082700133"},"value":{"type":"integer","x-workday-type":"Numeric"}}}]},"worktag_dc697bd5bc1b1000105a22eb21b8011b":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]}}}