{"swagger":"2.0","info":{"description":"The Performance Management public service contains resources that expose Workday Employee Performance Management Business Services data. This service can be used for integration with other employee performance management systems.","version":"v2","title":"Performance Management (v2)"},"host":"api.workday.com","basePath":"/performanceManagement/v2","tags":[{"name":"feedbackBadges","description":"A collection of active Feedback Badges in Workday"},{"name":"workers"}],"schemes":["https"],"paths":{"/feedbackBadges":{"get":{"tags":["feedbackBadges"],"summary":"Secured by: Give Feedback initiating action\nScope: Talent Core","description":"Retrieves a collection of active Feedback Badges.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is {100}.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/feedbackBadgeDetail_9eab868ca81410001402525d054211f7"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/feedbackBadges/{ID}":{"get":{"tags":["feedbackBadges"],"summary":"Secured by: Give Feedback initiating action\nScope: Talent Core","description":"Retrieves specified Feedback Badge instance.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the Feedback Badge.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/feedbackBadgeDetail_9eab868ca81410001402525d054211f7"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/workers/{ID}/anytimeFeedbackEntries/{subresourceID}":{"get":{"tags":["workers"],"summary":"Secured by: Self-Service: Anytime Feedback, Worker Data: Anytime Feedback\nScope: Talent Core","description":"Retrieves the specified feedback given instance about the specified worker.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the Worker.","required":true,"type":"string"},{"name":"subresourceID","in":"path","description":"The Workday ID of the Feedback Given instance.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/feedbackSummary_a6ab9069588610002b8c0b4f60a8000f"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/workers/{ID}/anytimeFeedbackEntries":{"get":{"tags":["workers"],"summary":"Secured by: Self-Service: Anytime Feedback, Worker Data: Anytime Feedback\nScope: Talent Core","description":"Retrieves a collection of feedback given about the specified worker.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is {100}.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID of the Worker.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/feedbackSummary_a6ab9069588610002b8c0b4f60a8000f"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["workers"],"summary":"Secured by: Give Feedback initiating Action\nScope: Talent Core","description":"Creates a feedback given instance about the specified worker.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the Worker.","required":true,"type":"string"},{"in":"body","name":"giveFeedbackDetail","required":true,"schema":{"$ref":"#/definitions/giveFeedbackDetail_96569dfd073710000ff99236d1850077"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/giveFeedbackDetail_96569dfd073710000ff99236d1850077"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"feedbackBadgeIcon_d4d355b2d3db100020b8608b75250016":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"feedbackBadgeDetail_9eab868ca81410001402525d054211f7":{"allOf":[{"type":"object","properties":{"feedbackBadgeIcon":{"$ref":"#/definitions/feedbackBadgeIcon_d4d355b2d3db100020b8608b75250016"},"workdayID":{"type":"string","description":"Returns the Workday ID for a given object.","maxLength":36,"x-workday-type":"Text"},"feedbackBadgeID":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"},"name":{"type":"string","description":"The name of this feedback badge.","x-workday-type":"Text"}}}]},"event_e51f91610b6a100025350c013cd8000e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"badge_a6ab9069588610002b8c0c8217af0012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"toWorker_a6ab9069588610002b8c0c1d3d610011":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"fromWorker_a6ab9069588610002b8c0bb4e5d80010":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"feedbackSummary_a6ab9069588610002b8c0b4f60a8000f":{"allOf":[{"type":"object","properties":{"showFeedbackProviderName":{"type":"boolean","description":"Is the name of the feedback provider's name displayed?","x-workday-type":"Boolean"},"event":{"$ref":"#/definitions/event_e51f91610b6a100025350c013cd8000e"},"hiddenFromWorker":{"type":"boolean","description":"Yes if the feedback is confidential between the feedback provider and the manager. ~Workers~ don't see confidential feedback.","x-workday-type":"Boolean"},"comment":{"type":"string","description":"Returns the comment text for Anytime Feedback.","x-workday-type":"Rich Text"},"hiddenFromManager":{"type":"boolean","description":"Yes if the feedback is private between the feedback provider and the ~worker~. Private feedback isn't shared with managers.","x-workday-type":"Boolean"},"feedbackGivenDate":{"type":"string","format":"date","description":"Date of feedback provided.","x-workday-type":"Date"},"badge":{"$ref":"#/definitions/badge_a6ab9069588610002b8c0c8217af0012"},"toWorker":{"$ref":"#/definitions/toWorker_a6ab9069588610002b8c0c1d3d610011"},"fromWorker":{"$ref":"#/definitions/fromWorker_a6ab9069588610002b8c0bb4e5d80010"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"badge_96569dfd073710000ff9930f04160079":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"giveFeedbackDetail_96569dfd073710000ff99236d1850077":{"allOf":[{"type":"object","properties":{"hiddenFromManager":{"type":"boolean","description":"Yes if the feedback is private between the feedback provider and the ~worker~. Private feedback isn't shared with managers.","x-workday-type":"Boolean"},"showFeedbackProviderName":{"type":"boolean","description":"Is the name of the feedback provider's name displayed?","x-workday-type":"Boolean"},"hiddenFromWorker":{"type":"boolean","description":"Yes if the feedback is confidential between the feedback provider and the manager. ~Workers~ don't see confidential feedback.","x-workday-type":"Boolean"},"feedbackGivenDate":{"type":"string","format":"date","description":"Date of feedback provided.","x-workday-type":"Date"},"badge":{"$ref":"#/definitions/badge_96569dfd073710000ff9930f04160079"},"comment":{"type":"string","description":"Returns the comment text for Anytime Feedback.","x-workday-type":"Rich Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]}}}