{"swagger":"2.0","info":{"description":"The Performance Management public service contains resources that expose Workday Employee Performance Management Business Services data. This service can be used for integration with other employee performance management  systems.","version":"v1","title":"Performance Management (v1)"},"host":"api.workday.com","basePath":"/performanceManagement/v1","tags":[{"name":"feedbackBadges","description":"A collection of active Feedback Badges in Workday"},{"name":"workers"}],"schemes":["https"],"paths":{"/feedbackBadges":{"get":{"tags":["feedbackBadges"],"summary":"Retrieves a collection of active Feedback Badges.","description":"Secured by: Give Feedback initiating action\nScope: Talent Core","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/feedbackBadgeDetail_9eab868ca81410001402525d054211f7"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/feedbackBadges/{ID}":{"get":{"tags":["feedbackBadges"],"summary":"Retrieves specified Feedback Badge instance.","description":"Secured by: Give Feedback initiating action\nScope: Talent Core","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/feedbackBadgeDetail_9eab868ca81410001402525d054211f7"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/workers/{ID}/anytimeFeedbackEntries":{"get":{"tags":["workers"],"summary":"Retrieves a collection of feedback given about the specified worker.","description":"Secured by: Self-Service: Anytime Feedback, Worker Data: Anytime Feedback\nScope: Talent Core","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/feedbackSummary_a6ab9069588610002b8c0b4f60a8000f"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["workers"],"summary":"Creates a feedback given instance about the specified worker.","description":"Secured by: Give Feedback initiating Action\nScope: Talent Core","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"giveFeedbackDetail","required":true,"schema":{"$ref":"#/definitions/giveFeedbackDetail_96569dfd073710000ff99236d1850077"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/giveFeedbackDetail_96569dfd073710000ff99236d1850077"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"feedbackBadgeIcon_d4d355b2d3db100020b8608b75250016":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"feedbackBadgeDetail_9eab868ca81410001402525d054211f7":{"allOf":[{"type":"object","properties":{"feedbackBadgeIcon":{"$ref":"#/definitions/feedbackBadgeIcon_d4d355b2d3db100020b8608b75250016"},"workdayID":{"type":"string","description":"Returns the Workday ID for a given object.","maxLength":36,"x-workday-type":"Text"},"feedbackBadgeID":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID'","x-workday-type":"Text"},"name":{"type":"string","description":"The name of this feedback badge.","x-workday-type":"Text"}}}]},"event_e51f91610b6a100025350c013cd8000e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"badge_a6ab9069588610002b8c0c8217af0012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"toWorker_a6ab9069588610002b8c0c1d3d610011":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"fromWorker_a6ab9069588610002b8c0bb4e5d80010":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"feedbackSummary_a6ab9069588610002b8c0b4f60a8000f":{"allOf":[{"type":"object","properties":{"showFeedbackProviderName":{"type":"boolean","description":"Is the name of the feedback provider's name displayed?","x-workday-type":"Boolean"},"event":{"$ref":"#/definitions/event_e51f91610b6a100025350c013cd8000e"},"hiddenFromWorker":{"type":"boolean","description":"Yes if the feedback is confidential between the feedback provider and the manager. Workers don't see confidential feedback.","x-workday-type":"Boolean"},"comment":{"type":"string","description":"Returns the comment text for Anytime Feedback.","x-workday-type":"Rich Text"},"hiddenFromManager":{"type":"boolean","description":"Yes if the feedback is private between the feedback provider and the worker. Private feedback isn't shared with managers.","x-workday-type":"Boolean"},"feedbackGivenDate":{"type":"string","format":"date","description":"Date of feedback provided.","x-workday-type":"Date"},"badge":{"$ref":"#/definitions/badge_a6ab9069588610002b8c0c8217af0012"},"toWorker":{"$ref":"#/definitions/toWorker_a6ab9069588610002b8c0c1d3d610011"},"fromWorker":{"$ref":"#/definitions/fromWorker_a6ab9069588610002b8c0bb4e5d80010"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"badge_96569dfd073710000ff9930f04160079":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"giveFeedbackDetail_96569dfd073710000ff99236d1850077":{"allOf":[{"type":"object","properties":{"hiddenFromManager":{"type":"boolean","description":"Yes if the feedback is private between the feedback provider and the worker. Private feedback isn't shared with managers.","x-workday-type":"Boolean"},"showFeedbackProviderName":{"type":"boolean","description":"Is the name of the feedback provider's name displayed?","x-workday-type":"Boolean"},"hiddenFromWorker":{"type":"boolean","description":"Yes if the feedback is confidential between the feedback provider and the manager. Workers don't see confidential feedback.","x-workday-type":"Boolean"},"feedbackGivenDate":{"type":"string","format":"date","description":"Date of feedback provided.","x-workday-type":"Date"},"badge":{"$ref":"#/definitions/badge_96569dfd073710000ff9930f04160079"},"comment":{"type":"string","description":"Returns the comment text for Anytime Feedback.","x-workday-type":"Rich Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"MULTIPLE_INSTANCE_MODEL_REFERENCE":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}}}},"timeOffSummary_a4987daee40c10001221a8988b400006":{"allOf":[{"type":"object","properties":{"totalDailyBalance":{"type":"integer","description":"Displays the total balance for all daily plans eligible for a worker.","x-workday-type":"Numeric"},"totalHourlyBalance":{"type":"integer","description":"Displays the total balance for all hourly plans eligible for a worker.","x-workday-type":"Numeric"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"locationDetailsLite_a76009758917100022e49f6616c30254":{"allOf":[{"type":"object","properties":{"regionCode":{"type":"string","description":"The ISO 3166-2 region code of the primary address for the location.","x-workday-type":"Text"},"locationName":{"type":"string","description":"Returns a Location's External Name or Default name if External is empty. If you do not want the default name to be returned when the external name is empty then use 'Location External Name' CRF.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"workerPublicEmailView_dc12b44ef73e10000544627cdb0b001e":{"allOf":[{"type":"object","properties":{"publicEmailAddresses":{"type":"array","description":"The public email addresses for the worker","items":{"$ref":"#/definitions/emailDetailsData_69be742bf7c3100003b18cf48369000c"},"x-workday-type":"Multi-instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"phoneType_25a7a0fd2def1000038ff89715d1001b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"phoneDetailsData_69be742bf7c3100003fa3dea674e0019":{"allOf":[{"type":"object","properties":{"phoneNumber":{"type":"string","description":"The phone number including area code, but without country code.","x-workday-type":"Text"},"areaCode":{"type":"string","description":"The area code in the phone number.","x-workday-type":"Text"},"phoneType":{"$ref":"#/definitions/phoneType_25a7a0fd2def1000038ff89715d1001b"},"countryCode":{"type":"string","description":"The country code in the phone number.","x-workday-type":"Text"},"extension":{"type":"string","description":"The extension in the phone number.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"+1 (925) 500-5000","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"instantMessengerType_69be742bf7c3100003d8921838820014":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"instantMessengerDetailsData_69be742bf7c3100003d891ee26fa0012":{"allOf":[{"type":"object","properties":{"instantMessengerType":{"$ref":"#/definitions/instantMessengerType_69be742bf7c3100003d8921838820014"},"instantMessengerID":{"type":"string","description":"The instant messenger id","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"emailDetailsData_69be742bf7c3100003b18cf48369000c":{"allOf":[{"type":"object","properties":{"email":{"type":"string","description":"The email address.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"location_d6235be431f940598806053af7ba94ef":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"primarySupervisoryOrganization_851e1342d4c2489c9680fb2a899227ca":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"workerProfile_c0a0dce56eb142d39dbffeb505becf7a":{"allOf":[{"type":"object","properties":{"primaryWorkEmail":{"type":"string","description":"The primary work email address for the worker.","x-workday-type":"Text"},"isManager":{"type":"boolean","description":"Identifies if the worker has a manager role.","x-workday-type":"Boolean"},"primaryWorkPhone":{"type":"string","description":"The primary work phone number for the worker including the area code and country code.","x-workday-type":"Text"},"location":{"$ref":"#/definitions/location_d6235be431f940598806053af7ba94ef"},"primarySupervisoryOrganization":{"$ref":"#/definitions/primarySupervisoryOrganization_851e1342d4c2489c9680fb2a899227ca"},"primaryWorkAddressText":{"type":"string","description":"Returns the primary work address for the worker, or from their default primary work location, full format on a single line.","x-workday-type":"Text"},"yearsOfService":{"type":"integer","description":"The years of service for the worker.","x-workday-type":"Numeric"},"businessTitle":{"type":"string","description":"The business title for the worker's primary position. If no business title is defined for a position, the position title is returned back.","x-workday-type":"Text"},"supervisoryOrganizationsManaged":{"type":"string","format":"url","description":"All supervisory organizations, excluding inherited organizations, in which the worker has a leadership role.","readOnly":true,"x-workday-type":"Multi-instance"},"dateOfBirth":{"type":"string","format":"date","description":"The birth date of the worker.","x-workday-type":"Date"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"jobHistoryViewWithLink_9677b4f1e3331000129993c480c20071":{"allOf":[{"type":"object","properties":{"findWorkersByCompanyURL":{"type":"string","description":"Deep Link to Find Workers by Company Task","x-workday-type":"Text"},"jobHistoryCompanyName":{"type":"string","description":"The name of the job history company.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"schoolViewWithLink_9677b4f1e333100010921ef5ae09006b":{"allOf":[{"type":"object","properties":{"findWorkersBySchoolURL":{"type":"string","description":"Deep Link to Find Workers by School Task","x-workday-type":"Text"},"schoolName":{"type":"string","description":"The name of the school","x-workday-type":"Text"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"skillItemViewWithLink_9677b4f1e3331000094d37c92263002b":{"allOf":[{"type":"object","properties":{"findWorkerBySkillURL":{"type":"string","description":"Deep link to the Find Workers By Skill Task","x-workday-type":"Text"},"skillName":{"type":"string","description":"The name of the skill","x-workday-type":"Text"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"workspaceFromWorkerPrimaryJob_f74f7e125a161000048d095c2cd99e69":{"allOf":[{"$ref":"#/definitions/locationDetailsLite_a76009758917100022e49f6616c30254"},{}]},"location_cf9017bbb25910000460011e0e25003a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"primarySupervisoryOrganization_cf9017bbb2591000046000c69b960035":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"workerProfileWithInCommonInfo_cf9017bbb259100003f684d3c64a0031":{"allOf":[{"type":"object","properties":{"orgChartDeepLink":{"type":"string","description":"Deep link to the Org Chart task for this worker","x-workday-type":"Text"},"workspaceFromWorkerPrimaryJob":{"$ref":"#/definitions/workspaceFromWorkerPrimaryJob_f74f7e125a161000048d095c2cd99e69"},"workerInstanceURL":{"type":"string","description":"Deep link to the instance view for worker.","x-workday-type":"Text"},"workerManagers":{"type":"array","description":"The supervisory manager(s) for the worker's primary position.","items":{"$ref":"#/definitions/workerSummary_a489aef739484c13a59e6d502a9e7b68"},"x-workday-type":"Multi-instance"},"companiesInCommon":{"type":"array","description":"Companies in common for the current user with the worker.","items":{"$ref":"#/definitions/jobHistoryViewWithLink_9677b4f1e3331000129993c480c20071"},"x-workday-type":"Multi-instance"},"schoolsInCommon":{"type":"array","description":"Schools in common between the current user and the worker.","items":{"$ref":"#/definitions/schoolViewWithLink_9677b4f1e333100010921ef5ae09006b"},"x-workday-type":"Multi-instance"},"supervisoryOrganizationsManaged":{"type":"string","format":"url","description":"All supervisory organizations, excluding inherited organizations, in which the worker has a leadership role.","readOnly":true,"x-workday-type":"Multi-instance"},"skillsInCommon":{"type":"array","description":"Skills in common between the current user and the worker.","items":{"$ref":"#/definitions/skillItemViewWithLink_9677b4f1e3331000094d37c92263002b"},"x-workday-type":"Multi-instance"},"giveFeedbackURL":{"type":"string","description":"Deep Link to Give Feedback Task for the worker","x-workday-type":"Text"},"businessTitle":{"type":"string","description":"The business title for the worker's primary position. If no business title is defined for a position, the position title is returned back.","x-workday-type":"Text"},"publicInstantMessengers":{"type":"array","description":"Public Instant Messengers for the worker.","items":{"$ref":"#/definitions/instantMessengerDetailsData_69be742bf7c3100003d891ee26fa0012"},"x-workday-type":"Multi-instance"},"primaryWorkAddressText":{"type":"string","description":"Returns the primary work address for the worker, or from their default primary work location, full format on a single line.","x-workday-type":"Text"},"primaryWorkPhone":{"type":"string","description":"The primary work phone number for the worker including the area code and country code.","x-workday-type":"Text"},"location":{"$ref":"#/definitions/location_cf9017bbb25910000460011e0e25003a"},"isManager":{"type":"boolean","description":"Identifies if the worker has a manager role.","x-workday-type":"Boolean"},"primaryWorkEmail":{"type":"string","description":"The primary work email address for the worker.","x-workday-type":"Text"},"dateOfBirth":{"type":"string","format":"date","description":"The birth date of the worker.","x-workday-type":"Date"},"yearsOfService":{"type":"integer","description":"The years of service for the worker.","x-workday-type":"Numeric"},"primarySupervisoryOrganization":{"$ref":"#/definitions/primarySupervisoryOrganization_cf9017bbb2591000046000c69b960035"},"publicPhones":{"type":"array","description":"All Public Phones  for the worker.","items":{"$ref":"#/definitions/phoneDetailsData_69be742bf7c3100003fa3dea674e0019"},"x-workday-type":"Multi-instance"},"publicEmailAddresses":{"type":"array","description":"The public email addresses for the worker","items":{"$ref":"#/definitions/emailDetailsData_69be742bf7c3100003b18cf48369000c"},"x-workday-type":"Multi-instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"imageDetailsView_f25a37564308100006925a882f770148":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"primarySupervisoryOrganization_642d7497e69c48da946fc503f66d7da1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"workerSummary_a489aef739484c13a59e6d502a9e7b68":{"allOf":[{"type":"object","properties":{"primaryWorkPhone":{"type":"string","description":"The primary work phone number for the worker including the area code and country code.","x-workday-type":"Text"},"isManager":{"type":"boolean","description":"Identifies if the worker has a manager role.","x-workday-type":"Boolean"},"primaryWorkEmail":{"type":"string","description":"The primary work email address for the worker.","x-workday-type":"Text"},"businessTitle":{"type":"string","description":"The business title for the worker's primary position. If no business title is defined for a position, the position title is returned back.","x-workday-type":"Text"},"primarySupervisoryOrganization":{"$ref":"#/definitions/primarySupervisoryOrganization_642d7497e69c48da946fc503f66d7da1"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]}}}