{"swagger":"2.0","info":{"version":"v1","title":"Procurement","description":"Returns, Create and Submit Requisitions."},"host":"api.workday.com","basePath":"/procurement/v1","schemes":["https"],"produces":["application/json"],"consumes":["application/json"],"tags":[{"name":"requisitions","description":"Requisitions related operations."}],"parameters":{"requisition-id":{"name":"requisition-id","in":"path","description":"The unique Requisition identifier. This can either be a workday id (WID), or a reference id in the form of \"<identifier-type>=<identifier>\" - for example, \"Requisition_Number=REQ-1234\".","required":true,"type":"string"},"requisitionLine-id":{"name":"requisitionLine-id","in":"path","description":"The unique Requisition Line identifier. This has to be a workday id (WID).","required":true,"type":"string"},"limit":{"name":"limit","in":"query","description":"The maximum number of items to return in a single response.","required":false,"type":"integer"},"offset":{"name":"offset","in":"query","description":"The index of the first item to return.","required":false,"type":"integer"}},"paths":{"/requisitions/":{"get":{"tags":["requisitions"],"description":"Get all requisitions within the collection. Optionally, you can filter the requisitions by one or more of the parameters defined.","parameters":[{"name":"submittedBy","in":"query","type":"string","description":"Filter requisitions by submitted Worker. Expects the workday id or the reference id of the worker."},{"name":"submittedByPerson","in":"query","type":"string","description":"Filter requisitions by submitted Person. Expects the workday id or the reference id of the person."},{"name":"submittedBySupplier","in":"query","type":"string","description":"Filter requisitions by submitted Supplier. Expects the workday id or the reference id of the supplier."},{"name":"fromDate","in":"query","type":"string","description":"Filter requisitions with document date after the date specified."},{"name":"toDate","in":"query","type":"string","description":"Filter requisitions with document date on or before the date specified."},{"name":"requester","in":"query","type":"string","description":"Filter requisitions by requester."},{"name":"requisitionType","in":"query","type":"string","description":"Filter requisitions by requisition type."},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/offset"}],"responses":{"200":{"description":"Requisitions are returned successfully.","schema":{"$ref":"#/definitions/requisitionBulkGet"}}}},"post":{"tags":["requisitions"],"description":"Create a new requisition.","parameters":[{"name":"requisitionBody","in":"body","description":"Details for the new requisition.","required":true,"schema":{"$ref":"#/definitions/requisitionCreate"}}],"responses":{"201":{"description":"Creation is successful. Returns the requisition created.","schema":{"$ref":"#/definitions/requisitionCreate"}},"400":{"description":"- Requester is required.\n- Company is required to have a value.\n- Currency is required.\n- Ship-To Address is required.\n- Quantity is required and cannot be negative.\n- Spend Category is required on al requisition lines\n- Unit of Measure is required on all Item Requisition Lines\n- Requisition Line is required.\n- The specified Item is invalid.\n- The total extended amount of all lines must be greater than zero.\n- The specified requester is not valid.\n- Company is not active.\n- Unit Cost is required.\n","schema":{"$ref":"#/definitions/errorView"}}}}},"/requisitions/{requisition-id}":{"get":{"tags":["requisitions"],"parameters":[{"$ref":"#/parameters/requisition-id"}],"description":"Gets details about a requisition.","responses":{"200":{"description":"Information about the requisition.","schema":{"$ref":"#/definitions/requisition"}}}},"patch":{"tags":["requisitions"],"description":"Edits details about a requisition's header attributes","parameters":[{"$ref":"#/parameters/requisition-id"},{"name":"requisitionBody","in":"body","description":"Header details to be edited for the requisition.","required":true,"schema":{"$ref":"#/definitions/requisitionPatch"}}],"responses":{"200":{"description":"Information about the requisition after patch operation.","schema":{"$ref":"#/definitions/requisitionPatchResponse"}},"400":{"description":"- The specified Requisition Type is invalid.\n- The specified Sourcing Buyer not an active worker with access to the Sourcing domain.","schema":{"$ref":"#/definitions/errorView"}}}}},"/requisitions/{requisition-id}/requisitionLines/":{"parameters":[{"$ref":"#/parameters/requisition-id"}],"get":{"tags":["requisitions"],"description":"Get all requisition lines for the requisition","responses":{"200":{"description":"Get requisition line details","schema":{"$ref":"#/definitions/requisitionLineBulkGet"}}}},"post":{"tags":["requisitions"],"description":"Create a new requisition line for requisition. Note that this operation has Bulk support. if \"bulk=true\" is passed in through query parameter, then an array of requisition line is expected, under the \"data\" element. Each requisition line entry in the array will end up creating a new requisition line for the requisition. The maximum size of the array is 20.","parameters":[{"name":"requisitionLineBody","in":"body","description":"Details for the new requisition line. This is for the case for non-bulk case.","required":true,"schema":{"$ref":"#/definitions/requisitionLineCreate"}}],"responses":{"201":{"description":"Creation is successful. Returns the requisition line created.","schema":{"$ref":"#/definitions/requisitionLineCreate"}},"400":{"description":"- Quantity is required and cannot be negative.\n- Spend Category is required on all requisition lines\n- Unit of Measure is required on all Item Requisition Lines\n- The specified Item is invalid.\n- The total extended amount of all lines must be greater than zero.\n- Unit Cost is required.\n","schema":{"$ref":"#/definitions/errorView"}}}}},"/requisitions/{requisition-id}/requisitionLines/{requisitionLine-id}":{"parameters":[{"$ref":"#/parameters/requisition-id"},{"$ref":"#/parameters/requisitionLine-id"}],"get":{"tags":["requisitions"],"description":"Get specific requisition line for the requisition","responses":{"200":{"description":"Get requisition line details","schema":{"$ref":"#/definitions/requisitionLine"}}}},"patch":{"tags":["requisitions"],"parameters":[{"name":"requisitionLineBody","in":"body","description":"Line details to be edited for the specified requisition line. Note that bulk processing is also supported. This is done by specifying \"bulk=true\" in the query string. In that case, the parameter \"{requisitionLine-id}\" is no longer mentioned in the URL itself, instead, it'll be mentioned in the body, identified by attribute named \"id\". In the body an array of requisition line is expected, under the \"data\" element. Each requisition line entry in the array will end up editing the corresponding the requisition line (identified by the attribute named \"id\"). The maximum size of the array is 20.","required":true,"schema":{"$ref":"#/definitions/requisitionLinePatch"}}],"responses":{"200":{"description":"Returns a reference to the requisition line that was edited","schema":{"$ref":"#/definitions/requisitionLineCreate"}},"400":{"description":"- Item line's quantity must be greater than or equal to 1.\n- Item line's requested delivery date must to be later than or equal to requested date or current date.\n- Service line's start date must to be later than or equal to requested date or current date.\n- Service line's end date must to be later than or equal to start date.\n"}}}},"/requisitions/{requisition-id}/relatedPurchaseOrders":{"get":{"tags":["requisitions"],"parameters":[{"$ref":"#/parameters/requisition-id"}],"description":"Get related purchase orders for the requisition.","responses":{"200":{"description":"Information about the purchase orders for the requisition.","schema":{"$ref":"#/definitions/relatedPurchaseOrders"}}}}},"/requisitions/{requisition-id}/requisitionEvents":{"post":{"tags":["requisitions"],"description":"Create a requisition approval event. This is equivalent to submitting a requisition for approval.","parameters":[{"$ref":"#/parameters/requisition-id"},{"name":"requisitionBody","in":"body","description":"Empty body for requisition approval creation event","schema":{"$ref":"#/definitions/requisitionEventCreate"}}],"responses":{"201":{"description":"Returns a reference to the requisition that was edited"},"400":{"description":"- You cannot submit this requisition. Either the requisition is not in submittable status, or you are not authorized to submit this requisition.","schema":{"$ref":"#/definitions/errorView"}}}}},"/requisitions/{requisition-id}/attachments":{"post":{"tags":["requisitions"],"description":"Create a new attachment for requisition.","consumes":["multipart/form-data"],"parameters":[{"$ref":"#/parameters/requisition-id"},{"name":"attachmentFile","in":"formData","type":"file","description":"attachment binary content"}],"responses":{"201":{"description":"Returns a reference to the attachment that was created"}}},"get":{"tags":["requisitions"],"description":"Get all attachments for the requisition. Note that this operation will only return metadata. This cannot be used to get binary file content.","parameters":[{"$ref":"#/parameters/requisition-id"}],"responses":{"200":{"description":"Information about the attachments for the requisition.","schema":{"$ref":"#/definitions/attachments"}}}}},"/requisitions/{requisition-id}/attachments/{attachment-id}":{"patch":{"tags":["requisitions"],"description":"Update metadata for a specific attachment for requisition, such as comment and external attachment indicator","parameters":[{"$ref":"#/parameters/requisition-id"},{"name":"attachment-id","in":"path","description":"Unique attachment identifier (WID)","required":true,"type":"string"},{"name":"attachmentMetadataBody","in":"body","description":"attachment metadata content","schema":{"$ref":"#/definitions/attachmentMetadataForEdit"}}],"responses":{"200":{"description":"Returns a reference to the attachment that was edited"}}},"get":{"tags":["requisitions"],"description":"Get attachment information. Note that this operation can return either the metadata of the attachment, or the binary content of the attachment. The difference is based on whether the query parameter type is specified.","parameters":[{"$ref":"#/parameters/requisition-id"},{"name":"attachment-id","in":"path","description":"Unique attachment identifier (WID)","required":true,"type":"string"},{"name":"type","in":"query","type":"string","description":"if this parameter is passed with value \"getFileContent\", the response will be the binary file content instead."}],"responses":{"200":{"description":"Information about the attachments for the requisition.","schema":{"$ref":"#/definitions/attachmentMetadata"}}}}},"/requisitions/{requisition-id}/cancel":{"post":{"tags":["requisitions"],"description":"Cancel a requisition","parameters":[{"$ref":"#/parameters/requisition-id"},{"name":"cancelRequisitionBody","in":"body","description":"Empty body","schema":{"$ref":"#/definitions/requisitionEventCancel"}}],"responses":{"201":{"description":"- Returns a reference to the requisition that was canceled."},"400":{"description":"- Cancel was unsuccessful. Reason for not being able to cancel will be returned.","schema":{"$ref":"#/definitions/errorView"}}}}}},"definitions":{"requisitionCreate":{"type":"object","required":["requester","requisitionLines"],"description":"Requisition detail for create.","properties":{"requester":{"type":"object","description":"Requester of the requisition.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"currency":{"type":"object","description":"Currency of the requisition. If not provided, it will be defaulted based on the company.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"company":{"type":"object","description":"Company of the requisition. If not provided, it will be defaulted based on the requester.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"requisitionType":{"type":"object","description":"Type of requisition.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"sourcingBuyer":{"type":"object","description":"Sourcing Buyer.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"highPriority":{"type":"boolean","description":"Requisition is high priority."},"memo":{"type":"string","description":"Memo."},"internalMemo":{"type":"string","description":"Internal Memo."},"requisitionLines":{"type":"array","description":"Requisition line detail for create.","items":{"required":["item"],"properties":{"item":{"type":"object","description":"Purchase Item or Catalog Item to be ordered. This attribute will derive the unit cost, unit of measure and spend category on the requisition line. If the item has property Default as Service Request, a service requisition line will be created instead of goods requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"supplierItemIdentifier":{"type":"string","description":"Supplier item identifier."},"supplier":{"type":"object","description":"Supplier.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"supplierContract":{"type":"object","description":"Supplier contract for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"spendCategory":{"type":"object","description":"Spend category.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"quantity":{"type":"string","description":"Quantity being requested."},"unitOfMeasure":{"$ref":"#/definitions/InstanceReference"},"unitCost":{"$ref":"#/definitions/CurrencyAttribute"},"rfqRequired":{"type":"boolean","description":"RFQ is required."},"requestedDeliveryDate":{"type":"string","format":"date","description":"Requested delivery date."},"shipToAddress":{"type":"object","description":"Ship-to address.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"shipToContact":{"type":"object","description":"Ship-to contract for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"startDate":{"type":"string","format":"date","description":"Start date of service requisition lines."},"endDate":{"type":"string","format":"date","description":"End date of service requisition lines."},"deliverToLocation":{"type":"object","description":"Deliver-to location for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"worktags":{"type":"array","items":{"$ref":"#/definitions/instanceView"}},"memo":{"type":"string","description":"Line memo."}}}}}},"requisitionLineCreate":{"type":"object","description":"Requisition line object.","properties":{"item":{"type":"object","description":"Purchase Item or Catalog Item to be ordered. This attribute will derive the unit cost, unit of measure and spend category on the requisition line. If the item has property Default as Service Request, a service requisition line will be created instead of goods requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"supplierItemIdentifier":{"type":"string","description":"Supplier item identifier."},"supplier":{"type":"object","description":"Supplier.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"supplierContract":{"type":"object","description":"Supplier contract for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"spendCategory":{"type":"object","description":"Spend category.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"quantity":{"type":"string","description":"Quantity being requested."},"unitOfMeasure":{"$ref":"#/definitions/InstanceReference"},"unitCost":{"$ref":"#/definitions/CurrencyAttribute"},"rfqRequired":{"type":"boolean","description":"RFQ is required."},"requestedDeliveryDate":{"type":"string","format":"date","description":"Requested delivery date."},"shipToAddress":{"type":"object","description":"Ship-to address.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"shipToContact":{"type":"object","description":"Ship-to contract for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"startDate":{"type":"string","format":"date","description":"Start date of service requisition lines."},"endDate":{"type":"string","format":"date","description":"End date of service requisition lines."},"deliverToLocation":{"type":"object","description":"Deliver-to location for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"worktags":{"type":"array","items":{"$ref":"#/definitions/instanceView"}},"memo":{"type":"string","description":"Line memo."}}},"requisitionPatch":{"type":"object","description":"Requisition details for edit.","properties":{"requisitionType":{"type":"object","description":"Type of requisition.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"sourcingBuyer":{"type":"object","description":"Sourcing Buyer.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"highPriority":{"type":"boolean","description":"Requisition is high priority."},"memo":{"type":"string","description":"Memo."},"internalMemo":{"type":"string","description":"Internal Memo."}}},"requisitionPatchResponse":{"type":"object","description":"Requisition details after edit.","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string"},"memo":{"type":"string","description":"Memo."},"sourcingBuyer":{"type":"object","description":"Sourcing Buyer.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"requisitionType":{"type":"object","description":"Type of requisition.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"highPriority":{"type":"boolean","description":"Requisition is high priority."},"internalMemo":{"type":"string","description":"Internal Memo."}}},"requisition":{"type":"object","description":"The Requisition Object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string"},"company":{"$ref":"#/definitions/instanceView"},"requisitionDate":{"type":"string","format":"date","description":"Requested date"},"requester":{"$ref":"#/definitions/instanceView"},"currency":{"$ref":"#/definitions/instanceView"},"status":{"$ref":"#/definitions/instanceView"},"shippingAddress":{"$ref":"#/definitions/instanceView"},"amount":{"$ref":"#/definitions/CurrencyAttribute"},"highPriority":{"type":"boolean","description":"Requisition is high priority."},"memo":{"type":"string","description":"Memo"},"internalMemo":{"type":"string","description":"Internal Memo."},"requisitionLines":{"type":"array","description":"Requisition Lines of the requisition.","items":{"$ref":"#/definitions/requisitionLine"}}}},"requisitionLinePatch":{"type":"object","description":"Requisition line details for edit.","properties":{"supplierItemIdentifier":{"type":"string","description":"Supplier item identifier."},"quantity":{"type":"string","description":"Quantity being requested."},"unitCost":{"$ref":"#/definitions/CurrencyAttribute"},"requestedDeliveryDate":{"type":"string","format":"date","description":"Requested delivery date."},"startDate":{"type":"string","format":"date","description":"Start date of service requisition lines."},"endDate":{"type":"string","format":"date","description":"End date of service requisition lines."},"worktags":{"type":"array","items":{"$ref":"#/definitions/instanceView"}},"memo":{"type":"string","description":"Line memo."}}},"requisitionLinePatchResponse":{"type":"object","description":"Requisition line details after edit.","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string"},"supplierItemIdentifier":{"type":"string","description":"Supplier item identifier."},"quantity":{"type":"string","description":"Quantity being requested."},"unitCost":{"$ref":"#/definitions/CurrencyAttribute"},"requestedDeliveryDate":{"type":"string","format":"date","description":"Requested delivery date."},"startDate":{"type":"string","format":"date","description":"Start date of service requisition lines."},"endDate":{"type":"string","format":"date","description":"End date of service requisition lines."},"worktags":{"type":"array","items":{"$ref":"#/definitions/instanceView"}},"memo":{"type":"string","description":"Line memo."}}},"requisitionLine":{"type":"object","description":"Requisition line object.","properties":{"id":{"$ref":"#/definitions/WID"},"item":{"type":"object","description":"Purchase Item or Catalog Item to be ordered. This attribute will derive the unit cost, unit of measure and spend category on the requisition line. If the item has property Default as Service Request, a service requisition line will be created instead of goods requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"supplierItemIdentifier":{"type":"string","description":"Supplier item identifier."},"supplier":{"type":"object","description":"Supplier.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"supplierContract":{"type":"object","description":"Supplier contract for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"spendCategory":{"type":"object","description":"Spend category.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"quantity":{"type":"string","description":"Quantity being requested."},"unitOfMeasure":{"$ref":"#/definitions/InstanceReference"},"unitCost":{"$ref":"#/definitions/CurrencyAttribute"},"rfqRequired":{"type":"boolean","description":"RFQ is required."},"requestedDeliveryDate":{"type":"string","format":"date","description":"Requested delivery date."},"shipToAddress":{"type":"object","description":"Ship-to address.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"shipToContact":{"type":"object","description":"Ship-to contract for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"startDate":{"type":"string","format":"date","description":"Start date of service requisition lines."},"endDate":{"type":"string","format":"date","description":"End date of service requisition lines."},"deliverToLocation":{"type":"object","description":"Deliver-to location for requisition line.","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"worktags":{"type":"array","items":{"$ref":"#/definitions/instanceView"}},"memo":{"type":"string","description":"Line memo."}}},"requisitionBulkGet":{"type":"object","description":"Array of Requisition Objects","properties":{"total":{"type":"number","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/requisition"}}}},"requisitionLineBulkGet":{"type":"object","description":"Array of Requisition Line Objects","properties":{"total":{"type":"number","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/requisitionLine"}}}},"requisitionEventCreate":{"type":"object"},"requisitionEventCancel":{"type":"object"},"relatedPurchaseOrders":{"type":"object","description":"Purchase orders as related documents","properties":{"total":{"type":"number","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/relatedPurchaseOrderSummary"}}}},"relatedPurchaseOrderSummary":{"type":"object","description":"Purchase Order summary","properties":{"poNumber":{"type":"string"},"documentStatus":{"$ref":"#/definitions/instanceView"},"poDocumentDate":{"type":"string"}}},"attachments":{"type":"object","description":"List of attachments for requisition","properties":{"total":{"type":"number","format":"int32"},"data":{"type":"array","items":{"$ref":"#/definitions/attachmentMetadata"}}}},"attachmentMetadataForEdit":{"type":"object","description":"Attachment attributes","properties":{"comment":{"type":"string","description":"comment for attachment"},"external":{"type":"boolean"}}},"attachmentMetadata":{"type":"object","description":"Requisition Attachment summary","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string"},"fileLength":{"type":"number"},"comment":{"type":"string"},"fileName":{"type":"string"},"external":{"type":"boolean"}}},"instanceView":{"type":"object","properties":{"id":{"$ref":"#/definitions/WID"},"descriptor":{"type":"string"}}},"InstanceReference":{"type":"object","required":["id"],"properties":{"id":{"$ref":"#/definitions/WID"}}},"WID":{"description":"Workday ID for an Instance","type":"string","example":"0123456789abcdef0123456789abcdef"},"DID":{"description":"Display ID for an Instance","type":"string","example":"Example Display ID"},"CurrencyAttribute":{"type":"object","properties":{"currency":{"type":"string"},"value":{"type":"string"}}},"errorView":{"description":"This is the generic representation of an Error response.","type":"object","properties":{"error":{"type":"string","example":"Invalid request: validation failures."},"errors":{"type":"array","items":{"type":"object","properties":{"error":{"type":"string","example":"Validation error message."}}}}}}}}