{"swagger":"2.0","info":{"title":"Projects","version":"v1","description":"The public Workday API for Projects."},"host":"api.workday.com","basePath":"/projects/v1","tags":[{"name":"Ad Hoc Project Time Transactions"}],"schemes":["https"],"paths":{"/adHocProjectTimeTransactions":{"get":{"tags":["Ad Hoc Project Time Transactions"],"description":"**Secured by:** `Process: Project Billing`, `Manage: Ad Hoc Project Costing`","produces":["application/json"],"parameters":[{"name":"projectOrProjectHierarchy","in":"query","description":"Project or Project Hierarchy","required":false,"type":"string"},{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/adHocProjectTimeSummary"}},"total":{"type":"integer","format":"int64"}}}},"400":{"description":"client side error","schema":{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}}}}}},"500":{"description":"server side error","schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error'"}}}}}},"post":{"tags":["Ad Hoc Project Time Transactions"],"description":"**Secured by:** `Process: Project Billing`, `Manage: Ad Hoc Project Costing`","produces":["application/json"],"parameters":[{"in":"body","name":"createAdHocProjectTimeTransaction","required":true,"schema":{"$ref":"#/definitions/createAdHocProjectTimeTransaction"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/createAdHocProjectTimeTransaction"}},"400":{"description":"client side error","schema":{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}}}}}},"500":{"description":"server side error","schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error'"}}}}}}},"/adHocProjectTimeTransactions/{ID}":{"get":{"tags":["Ad Hoc Project Time Transactions"],"description":"**Secured by:** `Process: Project Billing`, `Manage: Ad Hoc Project Costing`","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/adHocProjectTimeSummary"}},"400":{"description":"client side error","schema":{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}}}}}},"500":{"description":"server side error","schema":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}}}}}}},"definitions":{"adHocProjectTimeSummary":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"string","description":"Number of hours and transaction date"},"project":{"$ref":"#/definitions/project"},"billingStatus":{"$ref":"#/definitions/billingStatus"},"transactionDate":{"type":"string","format":"date","description":"Transaction Date","x-workday-type":"Date"},"worker":{"$ref":"#/definitions/worker"},"task":{"$ref":"#/definitions/task"},"projectRole":{"$ref":"#/definitions/projectRole"},"hours":{"type":"integer","description":"Hours","x-workday-type":"Numeric"},"includeCost":{"type":"boolean","description":"Include Cost","x-workday-type":"Boolean"},"standardCostRate":{"type":"object","properties":{"currency":{"type":"string"},"value":{"type":"integer"}}},"rateToBill":{"type":"object","properties":{"currency":{"type":"string"},"value":{"type":"integer"}}},"worktags":{"type":"array","description":"Worktags","items":{"$ref":"#/definitions/worktagSummary"},"x-prompt-resource":"/prompt/adHocProjectTimeSummary/worktags","x-workday-type":"Multi-instance"},"memo":{"type":"string","description":"Memo","x-workday-type":"Text"}}}]},"projectRole":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"WID / ID / Reference ID"},"descriptor":{"type":"string","description":"project role for ad hoc project time transaction"}}},"worker":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"WID / ID / Reference ID"},"descriptor":{"type":"string","description":"worker for ad hoc project time transaction"}}},"billingStatus":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"WID / ID / Reference ID"},"descriptor":{"type":"string","description":"billing status for ad hoc project time transaction"}}},"project":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"WID / ID / Reference ID"},"descriptor":{"type":"string","description":"project for ad hoc project time transaction"}}},"task":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"WID / ID / Reference ID"},"descriptor":{"type":"string","description":"project plan task for ad hoc project time transaction"}}},"createAdHocProjectTimeTransaction":{"allOf":[{"type":"object","properties":{"project":{"type":"object","properties":{"id":{"type":"string"}}},"billingStatus":{"type":"object","properties":{"id":{"type":"string"}}},"transactionDate":{"type":"string","format":"date","description":"Transaction Date","x-workday-type":"Date"},"worker":{"type":"object","properties":{"id":{"type":"string"}}},"task":{"type":"object","properties":{"id":{"type":"string"}}},"projectRole":{"type":"object","properties":{"id":{"type":"string"}}},"hours":{"type":"integer","description":"Hours","x-workday-type":"Numeric"},"includeCost":{"type":"boolean","description":"Include Cost","x-workday-type":"Boolean"},"standardCostRate":{"type":"object","properties":{"currency":{"type":"string"},"value":{"type":"integer"}}},"rateToBill":{"type":"object","properties":{"currency":{"type":"string"},"value":{"type":"integer"}}},"worktags":{"type":"array","description":"Worktags","items":{"type":"object","properties":{"id":{"type":"string"}}}},"memo":{"type":"string","description":"Memo","x-workday-type":"Text"}}}]},"worktagSummary":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"string","description":"A preview of the instance"}}}]}}}