{"swagger":"2.0","info":{"description":"HR Recruiting Public API service","version":"v1","title":"Recruiting"},"host":"api.workday.com","basePath":"/recruiting/v1","tags":[{"name":"jobPostings"},{"name":"prospects"},{"name":"interviews"}],"schemes":["https"],"paths":{"/jobPostings":{"get":{"tags":["jobPostings"],"description":"**Secured by:** Job Postings: External","produces":["application/json"],"parameters":[{"name":"jobSite","in":"query","description":"The Job Posting Site for posting.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"category","in":"query","description":"The job family group for the job posting.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["jobPostingAnchorSummary"]}],"responses":{"200":{"description":"Returns a collection of active Job Postings","schema":{"type":"object","description":"Returns a collection of active Job Postings","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/jobPostingAnchorSummary_5597c990f22e10000fc34f022dce0020"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/jobPostings/{id}":{"get":{"tags":["jobPostings"],"description":"**Secured by:** Job Postings: External","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["jobPostingAnchorSummary"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/jobPostingAnchorSummary_5597c990f22e10000fc34f022dce0020"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects":{"post":{"tags":["prospects"],"description":"Creates a recruiting prospect. **Secured by:** Create External Prospects","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["prospectSummary"]},{"in":"body","name":"prospectSummary","required":true,"schema":{"$ref":"#/definitions/prospectSummary_7657284bd7781000178a3bf6e17f001a"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/prospectSummary_7657284bd7781000178a3bf6e17f001a"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects/{id}/resumeAttachments?type=viewFile":{"get":{"tags":["prospects"],"description":"**Secured by:** Prospects","produces":["application/octet-stream"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["prospectResumeAttachmentDetails","resumeAttachmentFileView","resumeAttachmentDetailsView","resumeAttachmentDetailsCreate"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"file"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects/{id}/resumeAttachments":{"get":{"tags":["prospects"],"description":"**Secured by:** Prospects","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["prospectResumeAttachmentDetails","resumeAttachmentFileView","resumeAttachmentDetailsView","resumeAttachmentDetailsCreate"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/resumeAttachmentDetailsView_134c3544d220100007f0f9b541a400a5"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["prospects"],"description":"Creates a resume attachment for the prospect. **Secured by:** Create External Prospects","consumes":["multipart/form-data"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["prospectResumeAttachmentDetails","resumeAttachmentFileView","resumeAttachmentDetailsView","resumeAttachmentDetailsCreate"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"name":"upfile","in":"formData","required":false,"type":"file"}],"responses":{"201":{"description":"posting file","schema":{"type":"file"}},"400":{"description":"Enter a file name.\nEnter a valid file extension.\nOne of the following file extensions must be used: [allowed file extensions by customer].\nSelect a file to upload.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects/{id}/skills":{"get":{"tags":["prospects"],"description":"**Secured by:** Prospects","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["candidateSkillItemDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/candidateSkillItemDetails_2705750e957f10002beca80792940019"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["prospects"],"description":"**Secured by:** Create External Prospects","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["candidateSkillItemDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"candidateSkillItemDetails","required":true,"schema":{"$ref":"#/definitions/candidateSkillItemDetails_2705750e957f10002beca80792940019"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/candidateSkillItemDetails_2705750e957f10002beca80792940019"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects/{id}/educations":{"get":{"tags":["prospects"],"description":"**Secured by:** Prospects","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["candidateEducationDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/candidateEducationDetails_9727f970aa231000052ae7db3fc0000b"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["prospects"],"description":"**Secured by:** Create External Prospects","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["candidateEducationDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"candidateEducationDetails","required":true,"schema":{"$ref":"#/definitions/candidateEducationDetails_9727f970aa231000052ae7db3fc0000b"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/candidateEducationDetails_9727f970aa231000052ae7db3fc0000b"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects/{id}":{"get":{"tags":["prospects"],"description":"**Secured by:** Prospects","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["prospectSummary"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/prospectSummary_7657284bd7781000178a3bf6e17f001a"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects/{id}/experiences":{"get":{"tags":["prospects"],"description":"**Secured by:** Prospects","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["prospectExperienceDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/prospectExperienceDetails_b4dba3cbddc710001bebf80c43270014"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["prospects"],"description":"**Secured by:** Create External Prospects","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["prospectExperienceDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"prospectExperienceDetails","required":true,"schema":{"$ref":"#/definitions/prospectExperienceDetails_b4dba3cbddc710001bebf80c43270014"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/prospectExperienceDetails_b4dba3cbddc710001bebf80c43270014"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/prospects/{id}/languages":{"get":{"tags":["prospects"],"description":"**Secured by:** Prospects","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["candidateLanguageSkillDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/candidateLanguageSkillDetails_ecf7ccfb11c11000285d4727e4270017"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["prospects"],"description":"**Secured by:** Create External Prospects","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["candidateLanguageSkillDetails"]},{"name":"id","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"candidateLanguageSkillDetails","required":true,"schema":{"$ref":"#/definitions/candidateLanguageSkillDetails_ecf7ccfb11c11000285d4727e4270017"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/candidateLanguageSkillDetails_ecf7ccfb11c11000285d4727e4270017"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/interviews":{"get":{"tags":["interviews"],"description":"Retrieves a collection of interviews.\n\nScope: Recruiting - /interviews\n\nSecured by: Interview Feedback Public API","produces":["application/json"],"parameters":[{"name":"interviewStatus","in":"query","description":"All applicable interview statuses for an Interview Event. Statuses can be: \n* AWAITING_ME - An in progress interview event is waiting for my feedback. \n* COMPLETED - An interview event has been completed.\n* FEEDBACK_COMPLETE - All feedback for this in progress interview event has been submitted.\n* NOT_SCHEDULED - An interview hasn't been scheduled for an in progress interview event.\n* PENDING_FEEDBACK - An in progress interview event is waiting for interviewer feedback.\n* SCHEDULED - An interview has been scheduled for an in progress interview event.\n* SUBMITTED_FEEDBACK - For an in progress interview event, I have submitted feedback.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection. Example: If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/interviewEventWithJobApplicationJobRequisitionInterviewerDetails_def69f12d55410000f7ec8da36ae005a"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/interviews/{ID}/feedback":{"get":{"tags":["interviews"],"description":"Retrieves an interview feedback for the specified ID.\n\nScope: Recruiting - /interviews\n\nSecured by: Interview Feedback Public API","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 1.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection. Example: If limit is 5 and offset is 9, the response returns a collection of 5 objects starting with the 10th object.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The Workday ID of the interview feedback.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/interviewDetailSummary_def69f12d5541000139a7815aae9008f"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["interviews"],"description":"Creates an interview feedback.\n\nScope: Recruiting - /interviews\n\nSecured by: Interview Feedback Public API","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the interview feedback.","required":true,"type":"string"},{"in":"body","name":"interviewDetailSummary","required":true,"schema":{"$ref":"#/definitions/interviewDetailSummary_def69f12d5541000139a7815aae9008f"}}],"responses":{"201":{"description":"Resource created.","schema":{"$ref":"#/definitions/interviewDetailSummary_def69f12d5541000139a7815aae9008f"}},"400":{"description":"Invalid request. See https://community.workday.com/rest/error-messages.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/interviews/{ID}":{"get":{"tags":["interviews"],"description":"Retrieves a collection of interviews.\n\nScope: Recruiting - /interviews\n\nSecured by: Interview Feedback Public API","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the interview.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"$ref":"#/definitions/interviewEventWithJobApplicationJobRequisitionInterviewerDetails_def69f12d55410000f7ec8da36ae005a"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"jobType_8b241418d7ce1000073b511c6e2a0041":{"allOf":[{"$ref":"#/definitions/positionWorkerTypeDetail_8b241418d7ce1000089e70503c92005a"},{"x-prompt-resource":"/prompt/jobPostingAnchorSummary/jobType"}]},"company_8b241418d7ce1000073b5122b5a90042":{"allOf":[{"$ref":"#/definitions/organizationDetail_8b241418d7ce100008b027833f33005d"},{"x-prompt-resource":"/prompt/jobPostingAnchorSummary/company"}]},"jobSite_8b241418d7ce1000073b5115cd300040":{"allOf":[{"$ref":"#/definitions/jobPostingSiteDetail_8b241418d7ce10000818455b78e40057"},{"x-prompt-resource":"/prompt/jobPostingAnchorSummary/jobSite"}]},"primaryLocation_8b241418d7ce1000073b51293ed40043":{"allOf":[{"$ref":"#/definitions/locationSummary_8b241418d7ce100007a5c9eea7de004c"},{"x-prompt-resource":"/prompt/jobPostingAnchorSummary/primaryLocation"}]},"timeType_8b241418d7ce1000073b510155b0003d":{"allOf":[{"$ref":"#/definitions/positionTimeTypeDetail_8b241418d7ce100007fe51d00f630053"},{"x-prompt-resource":"/prompt/jobPostingAnchorSummary/timeType"}]},"jobPostingAnchorSummary_5597c990f22e10000fc34f022dce0020":{"allOf":[{"type":"object","properties":{"jobType":{"$ref":"#/definitions/jobType_8b241418d7ce1000073b511c6e2a0041"},"spotlightJob":{"type":"boolean","description":"Indicates if the job posting is a ~Spotlight Job~ or not.","x-workday-type":"Boolean"},"additionalLocations":{"type":"array","description":"Additional Locations for the Job Posting.","items":{"$ref":"#/definitions/locationSummary_8b241418d7ce100007a5c9eea7de004c"},"x-prompt-resource":"/prompt/jobPostingAnchorSummary/additionalLocations","x-workday-type":"Multi-instance"},"company":{"$ref":"#/definitions/company_8b241418d7ce1000073b5122b5a90042"},"categories":{"type":"array","description":"The job family group for the job posting.","items":{"$ref":"#/definitions/jobFamilyGroupDetail_8b241418d7ce1000081068ca51810055"},"x-prompt-resource":"/prompt/jobPostingAnchorSummary/categories","x-workday-type":"Multi-instance"},"jobSite":{"$ref":"#/definitions/jobSite_8b241418d7ce1000073b5115cd300040"},"endDate":{"type":"string","format":"date","description":"The end date for the job posting.","x-workday-type":"Date"},"url":{"type":"string","description":"External URL for Job Posting if it is posted to a published Workday External Career Site.","x-workday-type":"Text"},"jobDescription":{"type":"string","description":"The ~Job Description~ for Job Posting.","x-workday-type":"Rich Text"},"startDate":{"type":"string","format":"date","description":"The start date for the job posting.","x-workday-type":"Date"},"primaryLocation":{"$ref":"#/definitions/primaryLocation_8b241418d7ce1000073b51293ed40043"},"title":{"type":"string","description":"The title for the job posting.","x-workday-type":"Text"},"timeType":{"$ref":"#/definitions/timeType_8b241418d7ce1000073b510155b0003d"},"id":{"type":"string","description":"Id of the instance"}}}]},"candidate_263b3523259410001ed40f0f6518126a":{"allOf":[{"$ref":"#/definitions/candidateSummary_263b3523259410001f3119d56cda126c"},{"x-prompt-resource":"/prompt/prospectSummary/candidate"}]},"status_4e798b9f4f0c10000f0d81a848650021":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/prospectSummary/status"}]},"type_4e798b9f4f0c10000f0d819e58340020":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/prospectSummary/type"}]},"source_4e798b9f4f0c10000f0d818b76f6001f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/prospectSummary/source"}]},"level_4e798b9f4f0c10000f0d81b1a0740022":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/prospectSummary/level"}]},"referredBy_4e798b9f4f0c10000f0d81ba535a0023":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/prospectSummary/referredBy"}]},"prospectSummary_7657284bd7781000178a3bf6e17f001a":{"allOf":[{"type":"object","properties":{"candidateTags":{"type":"array","description":"The candidate tags associated with the candidate.","items":{"$ref":"#/definitions/candidateTag_7b4e2f108d3b1000162f47403b7d0037"},"x-prompt-resource":"/prompt/prospectSummary/candidateTags","x-workday-type":"Multi-instance"},"candidatePools":{"type":"array","description":"Returns the Active Candidate Pools for the Candidate (returns static pools only).","items":{"$ref":"#/definitions/candidatePool_7c49be35aa7210001012f723bc6012ca"},"x-prompt-resource":"/prompt/prospectSummary/candidatePools","x-workday-type":"Multi-instance"},"candidate":{"$ref":"#/definitions/candidate_263b3523259410001ed40f0f6518126a"},"contactConsent":{"type":"boolean","description":"Candidate agrees to being contacted.","x-workday-type":"Boolean"},"status":{"$ref":"#/definitions/status_4e798b9f4f0c10000f0d81a848650021"},"type":{"$ref":"#/definitions/type_4e798b9f4f0c10000f0d819e58340020"},"source":{"$ref":"#/definitions/source_4e798b9f4f0c10000f0d818b76f6001f"},"level":{"$ref":"#/definitions/level_4e798b9f4f0c10000f0d81b1a0740022"},"referredBy":{"$ref":"#/definitions/referredBy_4e798b9f4f0c10000f0d81ba535a0023"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"resumeAttachmentDetailsView_134c3544d220100007f0f9b541a400a5":{"allOf":[{"type":"object","properties":{"fileName":{"type":"string","description":"File name of the attachment","maxLength":255,"x-workday-type":"Text"},"fileExtension":{"type":"string","x-workday-type":"Text"},"fileLength":{"type":"integer","description":"File length of the attachment","x-workday-type":"Numeric"},"id":{"type":"string","description":"Id of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"candidateSkillItemDetails_2705750e957f10002beca80792940019":{"allOf":[{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The skill name for the Candidate Skill Item.","x-workday-type":"Text"},"id":{"type":"string","description":"Id of the instance"}}}]},"candidateTag_7b4e2f108d3b1000162f47403b7d0037":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"hereditarySuffix_ad531c5b8cb1100009545a382bab007e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/candidateSimplifiedName/hereditarySuffix"}]},"localPersonName_bef37e992036100008848f7df19b0019":{"allOf":[{"$ref":"#/definitions/candidateLocalName_bef37e99203610000874ddba69550011"},{"x-prompt-resource":"/prompt/candidateSimplifiedName/localPersonName"}]},"country_d43d23193c7c10001e6ba703a59e00c0":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/candidateSimplifiedName/country"}]},"candidateSimplifiedName_fffcfa31e86e10001bb76c72ce250009":{"allOf":[{"type":"object","properties":{"secondary":{"type":"string","description":"The person's secondary family name.","x-workday-type":"Text"},"hereditarySuffix":{"$ref":"#/definitions/hereditarySuffix_ad531c5b8cb1100009545a382bab007e"},"middleName":{"type":"string","description":"The middle name from the name.","x-workday-type":"Text"},"localPersonName":{"$ref":"#/definitions/localPersonName_bef37e992036100008848f7df19b0019"},"primary":{"type":"string","description":"The person's family name.","x-workday-type":"Text"},"firstName":{"type":"string","description":"The person's first or given name.","x-workday-type":"Text"},"country":{"$ref":"#/definitions/country_d43d23193c7c10001e6ba703a59e00c0"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"name_263b3523259410001f765d921b01126f":{"allOf":[{"$ref":"#/definitions/candidateSimplifiedName_fffcfa31e86e10001bb76c72ce250009"},{"x-prompt-resource":"/prompt/candidateSummary/name"}]},"countryPhoneCode_af673a61b0ec10000c9d3560bf9c0137":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/candidateSummary/countryPhoneCode"}]},"candidateSummary_263b3523259410001f3119d56cda126c":{"allOf":[{"type":"object","properties":{"name":{"$ref":"#/definitions/name_263b3523259410001f765d921b01126f"},"email":{"type":"string","description":"The candidate's email address.","x-workday-type":"Text"},"phoneNumber":{"type":"string","description":"The candidate's phone number without standard formatting.","x-workday-type":"Text"},"countryPhoneCode":{"$ref":"#/definitions/countryPhoneCode_af673a61b0ec10000c9d3560bf9c0137"},"phoneExtension":{"type":"string","description":"The candidate's phone extension.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"proficiency_ecf7ccfb11c110002a0cd3c79f4c0023":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/languageAbilityDetails/proficiency"}]},"abilityType_ecf7ccfb11c110002a0cd3d48d1d0024":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/languageAbilityDetails/abilityType"}]},"languageAbilityDetails_ecf7ccfb11c110002a0cd3b3ff8b0022":{"allOf":[{"type":"object","properties":{"proficiency":{"$ref":"#/definitions/proficiency_ecf7ccfb11c110002a0cd3c79f4c0023"},"abilityType":{"$ref":"#/definitions/abilityType_ecf7ccfb11c110002a0cd3d48d1d0024"},"id":{"type":"string","description":"Id of the instance"}}}]},"language_ecf7ccfb11c11000285d4771a6300019":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/candidateLanguageSkillDetails/language"}]},"candidateLanguageSkillDetails_ecf7ccfb11c11000285d4727e4270017":{"allOf":[{"type":"object","required":["language","abilities"],"properties":{"language":{"$ref":"#/definitions/language_ecf7ccfb11c11000285d4771a6300019"},"abilities":{"type":"array","description":"Returns all abilities associated with this language skill.","items":{"$ref":"#/definitions/languageAbilityDetails_ecf7ccfb11c110002a0cd3b3ff8b0022"},"x-prompt-resource":"/prompt/candidateLanguageSkillDetails/abilities","x-workday-type":"Multi-instance"},"native":{"type":"boolean","description":"Returns true if this language skill is the native language.","x-workday-type":"Boolean"},"id":{"type":"string","description":"Id of the instance"}}}]},"jobRequisition_df78b8e577c9100015f051a74e0b00a2":{"allOf":[{"$ref":"#/definitions/jobRequisitionPublic_df78b8e577c91000162ee14015b600a4"},{}]},"jobApplication_df78b8e577c91000201ea3e7d0f60101":{"allOf":[{"$ref":"#/definitions/jobApplicationPublic_b36c621f46fd10001cc501100a4e03c7"},{}]},"interviewEventWithJobApplicationJobRequisitionInterviewerDetails_def69f12d55410000f7ec8da36ae005a":{"allOf":[{"type":"object","properties":{"interviewStatuses":{"type":"array","items":{"$ref":"#/definitions/interviewStatusRepresentation_782d6c28615f10000371c7f006740172"},"x-workday-type":"Multi-instance"},"interviewers":{"items":{"$ref":"#/definitions/workerForInterviewRepresentation_0e1101ea4ec4100008fdfd8289ed0016"},"type":"array","x-workday-type":"Multi-instance"},"overallComment":{"type":"string","x-workday-type":"Text"},"overallRating":{"type":"string","x-workday-type":"Text"},"hasCompetenciesQuestionnaires":{"type":"boolean","x-workday-type":"Boolean"},"giveInterviewFeedbackLink":{"type":"string","x-workday-type":"Text"},"workersPendingFeedback":{"type":"array","items":{"$ref":"#/definitions/workerForInterviewRepresentation_0e1101ea4ec4100008fdfd8289ed0016"},"x-workday-type":"Multi-instance"},"jobRequisition":{"$ref":"#/definitions/jobRequisition_df78b8e577c9100015f051a74e0b00a2"},"jobApplication":{"$ref":"#/definitions/jobApplication_df78b8e577c91000201ea3e7d0f60101"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"overallRating_def69f12d5541000141441c84bd00096":{"allOf":[{"$ref":"#/definitions/interviewFeedbackRatingSummary_def69f12d554100013fe5747ffa50092"},{}]},"interviewDetailSummary_def69f12d5541000139a7815aae9008f":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","x-workday-type":"Text"},"overallRating":{"$ref":"#/definitions/overallRating_def69f12d5541000141441c84bd00096"},"dateSubmitted":{"type":"string","format":"date","x-workday-type":"Date"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"candidateLocalName_bef37e99203610000874ddba69550011":{"allOf":[{"type":"object","properties":{"middleNameLocal2":{"type":"string","description":"Returns the local middle name 2.","x-workday-type":"Text"},"secondaryLastNameLocal":{"type":"string","description":"Returns the local secondary last name.","x-workday-type":"Text"},"secondaryLastNameLocal2":{"type":"string","description":"Returns the local secondary last name 2.","x-workday-type":"Text"},"lastNameLocal":{"type":"string","description":"Returns the local last name.","x-workday-type":"Text"},"firstNameLocal2":{"type":"string","description":"Returns the local first name 2.","x-workday-type":"Text"},"middleNameLocal":{"type":"string","description":"Returns the local middle name.","x-workday-type":"Text"},"lastNameLocal2":{"type":"string","description":"Returns the local last name 2.","x-workday-type":"Text"},"firstNameLocal":{"type":"string","description":"Returns the local first name.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"interviewStatusRepresentation_782d6c28615f10000371c7f006740172":{"allOf":[{"type":"object","properties":{"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"jobFamilyGroupDetail_8b241418d7ce1000081068ca51810055":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"jobPostingSiteDetail_8b241418d7ce10000818455b78e40057":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"hiringManager_b47f16fb63e910000a6ac5854fd4021c":{"allOf":[{"$ref":"#/definitions/workerForInterviewRepresentation_0e1101ea4ec4100008fdfd8289ed0016"},{}]},"jobRequisitionPublic_df78b8e577c91000162ee14015b600a4":{"allOf":[{"type":"object","properties":{"primaryRecruiters":{"type":"array","items":{"$ref":"#/definitions/workerForInterviewRepresentation_0e1101ea4ec4100008fdfd8289ed0016"},"x-workday-type":"Multi-instance"},"recruiters":{"type":"array","items":{"$ref":"#/definitions/workerForInterviewRepresentation_0e1101ea4ec4100008fdfd8289ed0016"},"x-workday-type":"Multi-instance"},"hiringManager":{"$ref":"#/definitions/hiringManager_b47f16fb63e910000a6ac5854fd4021c"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"Job_Requisition_ID":{"type":"string","description":"Reference id of the instance"}}}]},"candidatePool_7c49be35aa7210001012f723bc6012ca":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"jobApplicationPublic_b36c621f46fd10001cc501100a4e03c7":{"allOf":[{"type":"object","properties":{"yearsInCurrentJob":{"type":"integer","example":"6","x-workday-type":"Numeric"},"totalYearsExperience":{"type":"integer","example":"34","x-workday-type":"Numeric"},"numberOfJobs":{"type":"integer","example":"4","x-workday-type":"Numeric"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"positionTimeTypeDetail_8b241418d7ce100007fe51d00f630053":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"interviewDetails_def69f12d554100009fbb7e724fe0045":{"allOf":[{"$ref":"#/definitions/interviewDetailSummary_def69f12d5541000139a7815aae9008f"},{}]},"interviewFeedbackRepresentation_def69f12d554100009ac9b5f4f370031":{"allOf":[{"type":"object","properties":{"interviewDetails":{"$ref":"#/definitions/interviewDetails_def69f12d554100009fbb7e724fe0045"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"country_8b241418d7ce100007a5ca00337b004d":{"allOf":[{"$ref":"#/definitions/countryDetail_8b241418d7ce10000797fe76c17a0046"},{"x-prompt-resource":"/prompt/locationSummary/country"}]},"region_8b241418d7ce100007a5ca0b072e004e":{"allOf":[{"$ref":"#/definitions/countryRegionDetail_8b241418d7ce100007a4d8749d270049"},{"x-prompt-resource":"/prompt/locationSummary/region"}]},"locationSummary_8b241418d7ce100007a5c9eea7de004c":{"allOf":[{"type":"object","properties":{"country":{"$ref":"#/definitions/country_8b241418d7ce100007a5ca00337b004d"},"region":{"$ref":"#/definitions/region_8b241418d7ce100007a5ca0b072e004e"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"interviewFeedbackRatingSummary_def69f12d554100013fe5747ffa50092":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Interview_Feedback_Rating_ID":{"type":"string","description":"Reference id of the instance"}}}]},"degree_9727f970aa23100005e6ec6727ee0011":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/candidateEducationDetails/degree"}]},"fieldOfStudy_9727f970aa23100005e6ec5e7dd10010":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/candidateEducationDetails/fieldOfStudy"}]},"candidateEducationDetails_9727f970aa231000052ae7db3fc0000b":{"allOf":[{"type":"object","required":["schoolName"],"properties":{"schoolName":{"type":"string","description":"The name of the school the candidate attended or is attending.","x-workday-type":"Text"},"degree":{"$ref":"#/definitions/degree_9727f970aa23100005e6ec6727ee0011"},"firstYearAttended":{"type":"string","format":"date","description":"The first year the associated candidate attended this educational institution.","x-workday-type":"Date"},"fieldOfStudy":{"$ref":"#/definitions/fieldOfStudy_9727f970aa23100005e6ec5e7dd10010"},"lastYearAttended":{"type":"string","format":"date","description":"The last year the associated candidate attended this educational institution.","x-workday-type":"Date"},"gradeAverage":{"type":"string","description":"The grade average at this educational institution for the associated candidate","x-workday-type":"Text"},"id":{"type":"string","description":"Id of the instance"}}}]},"countryRegionDetail_8b241418d7ce100007a4d8749d270049":{"allOf":[{"type":"object","properties":{"code":{"type":"string","description":"The ISO alpha-2 code for a country region.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"organizationDetail_8b241418d7ce100008b027833f33005d":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"positionWorkerTypeDetail_8b241418d7ce1000089e70503c92005a":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"countryDetail_8b241418d7ce10000797fe76c17a0046":{"allOf":[{"type":"object","properties":{"alpha3Code":{"type":"string","description":"The ISO alpha-3 code for a country.","maxLength":3,"x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"workerForInterviewRepresentation_0e1101ea4ec4100008fdfd8289ed0016":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"prospectExperienceDetails_b4dba3cbddc710001bebf80c43270014":{"allOf":[{"type":"object","required":["companyName","startYear","title"],"properties":{"companyName":{"type":"string","description":"The company name the candidate entered in their job history.","x-workday-type":"Text"},"location":{"type":"string","description":"The location of this company.","x-workday-type":"Text"},"description":{"type":"string","description":"The responsibilities and achievements the candidate accrued at this company.","x-workday-type":"Text"},"startYear":{"type":"string","format":"date","description":"The year the candidate started employment at this company.","x-workday-type":"Date"},"currentlyWorkHere":{"type":"boolean","description":"Returns true if the candidate currently works this company.","x-workday-type":"Boolean"},"title":{"type":"string","description":"The business title for the candidates work experience.","x-workday-type":"Text"},"startMonth":{"type":"integer","description":"The month the candidate started employment at this company.","x-workday-type":"Numeric"},"endYear":{"type":"string","format":"date","description":"The year the candidate ended employment at this company.","x-workday-type":"Date"},"endMonth":{"type":"integer","description":"The month the candidate ended employment at this company.","x-workday-type":"Numeric"},"id":{"type":"string","description":"Id of the instance"}}}]}}}