{"swagger":"2.0","info":{"version":"v1","title":"Reference Data"},"host":"api.workday.com","basePath":"/referenceData","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"security":[{"OAuth 2.0":[]}],"paths":{"/aca_4980h_safe_harbor/vers/latest/items":{"get":{"description":"Get all items for this dataset (aca_4980h_safe_harbor) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the Affordable Care Act (ACA) 4980H Safe Harbors.\n\nDataSet category: Affordable Care Act (ACA)","operationId":"get_aca_4980h_safe_harbor_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/aca_4980h_safe_harbor_GetItemsResponse"}}}}},"/aca_4980h_safe_harbor/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (aca_4980h_safe_harbor) from the specified version: latest.\n\nDataSet description: This dataset contains the Affordable Care Act (ACA) 4980H Safe Harbors.\n\nDataSet category: Affordable Care Act (ACA)","operationId":"get_aca_4980h_safe_harbor_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/aca_4980h_safe_harbor_Item"}}}}},"/aca_4980h_safe_harbor/vers/latest/search":{"get":{"description":"Search for items for this dataset (aca_4980h_safe_harbor) from the version: latest.\n\nDataSet description: This dataset contains the Affordable Care Act (ACA) 4980H Safe Harbors.\n\nDataSet category: Affordable Care Act (ACA)","operationId":"search_aca_4980h_safe_harbor_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/aca_4980h_safe_harbor_SearchItemsResponse"}}}}},"/aca_4980h_safe_harbor/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (aca_4980h_safe_harbor) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains the Affordable Care Act (ACA) 4980H Safe Harbors.\n\nDataSet category: Affordable Care Act (ACA)","operationId":"searchScored_aca_4980h_safe_harbor_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/aca_4980h_safe_harbor_ScoredItemsResponse"}}}}},"/admission_decision/vers/latest/items":{"get":{"description":"Get all items for this dataset (admission_decision) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the list of possible admission decisions for a student application.","operationId":"get_admission_decision_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/admission_decision_GetItemsResponse"}}}}},"/admission_decision/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (admission_decision) from the specified version: latest.\n\nDataSet description: This dataset contains the list of possible admission decisions for a student application.","operationId":"get_admission_decision_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/admission_decision_Item"}}}}},"/admission_decision/vers/latest/search":{"get":{"description":"Search for items for this dataset (admission_decision) from the version: latest.\n\nDataSet description: This dataset contains the list of possible admission decisions for a student application.","operationId":"search_admission_decision_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/admission_decision_SearchItemsResponse"}}}}},"/admission_decision/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (admission_decision) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains the list of possible admission decisions for a student application.","operationId":"searchScored_admission_decision_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/admission_decision_ScoredItemsResponse"}}}}},"/calendar_year/vers/latest/items":{"get":{"description":"Get all items for this dataset (calendar_year) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the list of calendar years.\n\nDataSet category: Payroll Country Common","operationId":"get_calendar_year_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/calendar_year_GetItemsResponse"}}}}},"/calendar_year/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (calendar_year) from the specified version: latest.\n\nDataSet description: This dataset contains the list of calendar years.\n\nDataSet category: Payroll Country Common","operationId":"get_calendar_year_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/calendar_year_Item"}}}}},"/calendar_year/vers/latest/search":{"get":{"description":"Search for items for this dataset (calendar_year) from the version: latest.\n\nDataSet description: This dataset contains the list of calendar years.\n\nDataSet category: Payroll Country Common","operationId":"search_calendar_year_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/calendar_year_SearchItemsResponse"}}}}},"/calendar_year/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (calendar_year) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains the list of calendar years.\n\nDataSet category: Payroll Country Common","operationId":"searchScored_calendar_year_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/calendar_year_ScoredItemsResponse"}}}}},"/cip_code/vers/latest/items":{"get":{"description":"Get all items for this dataset (cip_code) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the list of available CIP codes of the Classification of Instructional Programs (CIP).","operationId":"get_cip_code_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/cip_code_GetItemsResponse"}}}}},"/cip_code/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (cip_code) from the specified version: latest.\n\nDataSet description: This dataset contains the list of available CIP codes of the Classification of Instructional Programs (CIP).","operationId":"get_cip_code_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/cip_code_Item"}}}}},"/cip_code/vers/latest/search":{"get":{"description":"Search for items for this dataset (cip_code) from the version: latest.\n\nDataSet description: This dataset contains the list of available CIP codes of the Classification of Instructional Programs (CIP).","operationId":"search_cip_code_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/cip_code_SearchItemsResponse"}}}}},"/cip_code/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (cip_code) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains the list of available CIP codes of the Classification of Instructional Programs (CIP).","operationId":"searchScored_cip_code_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/cip_code_ScoredItemsResponse"}}}}},"/communication_usage_type/vers/latest/items":{"get":{"description":"Get all items for this dataset (communication_usage_type) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains a list of communication method usage types.","operationId":"get_communication_usage_type_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/communication_usage_type_GetItemsResponse"}}}}},"/communication_usage_type/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (communication_usage_type) from the specified version: latest.\n\nDataSet description: This dataset contains a list of communication method usage types.","operationId":"get_communication_usage_type_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/communication_usage_type_Item"}}}}},"/communication_usage_type/vers/latest/search":{"get":{"description":"Search for items for this dataset (communication_usage_type) from the version: latest.\n\nDataSet description: This dataset contains a list of communication method usage types.","operationId":"search_communication_usage_type_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/communication_usage_type_SearchItemsResponse"}}}}},"/communication_usage_type/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (communication_usage_type) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains a list of communication method usage types.","operationId":"searchScored_communication_usage_type_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/communication_usage_type_ScoredItemsResponse"}}}}},"/country/vers/latest/items":{"get":{"description":"Get all items for this dataset (country) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This public reference data contains the list of countries with their names and their ISO 3166-1 code elements, including Alpha-2 Code, Alpha-3 Code, and Numeric-3 Code.\n\nDataSet category: Countries and Regions","operationId":"get_country_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/country_GetItemsResponse"}}}}},"/country/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (country) from the specified version: latest.\n\nDataSet description: This public reference data contains the list of countries with their names and their ISO 3166-1 code elements, including Alpha-2 Code, Alpha-3 Code, and Numeric-3 Code.\n\nDataSet category: Countries and Regions","operationId":"get_country_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/country_Item"}}}}},"/country/vers/latest/search":{"get":{"description":"Search for items for this dataset (country) from the version: latest.\n\nDataSet description: This public reference data contains the list of countries with their names and their ISO 3166-1 code elements, including Alpha-2 Code, Alpha-3 Code, and Numeric-3 Code.\n\nDataSet category: Countries and Regions","operationId":"search_country_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/country_SearchItemsResponse"}}}}},"/country/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (country) from the version: latest and with the score shown.\n\nDataSet description: This public reference data contains the list of countries with their names and their ISO 3166-1 code elements, including Alpha-2 Code, Alpha-3 Code, and Numeric-3 Code.\n\nDataSet category: Countries and Regions","operationId":"searchScored_country_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/country_ScoredItemsResponse"}}}}},"/country_city/vers/latest/items":{"get":{"description":"Get all items for this dataset (country_city) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains a list of cities by country region.\n\nDataSet category: Misc","operationId":"get_country_city_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/country_city_GetItemsResponse"}}}}},"/country_city/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (country_city) from the specified version: latest.\n\nDataSet description: This dataset contains a list of cities by country region.\n\nDataSet category: Misc","operationId":"get_country_city_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/country_city_Item"}}}}},"/country_city/vers/latest/search":{"get":{"description":"Search for items for this dataset (country_city) from the version: latest.\n\nDataSet description: This dataset contains a list of cities by country region.\n\nDataSet category: Misc","operationId":"search_country_city_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/country_city_SearchItemsResponse"}}}}},"/country_city/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (country_city) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains a list of cities by country region.\n\nDataSet category: Misc","operationId":"searchScored_country_city_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/country_city_ScoredItemsResponse"}}}}},"/country_phone_code/vers/latest/items":{"get":{"description":"Get all items for this dataset (country_phone_code) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the list of country phone codes.\n\nDataSet category: Countries and Regions","operationId":"get_country_phone_code_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/country_phone_code_GetItemsResponse"}}}}},"/country_phone_code/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (country_phone_code) from the specified version: latest.\n\nDataSet description: This dataset contains the list of country phone codes.\n\nDataSet category: Countries and Regions","operationId":"get_country_phone_code_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/country_phone_code_Item"}}}}},"/country_phone_code/vers/latest/search":{"get":{"description":"Search for items for this dataset (country_phone_code) from the version: latest.\n\nDataSet description: This dataset contains the list of country phone codes.\n\nDataSet category: Countries and Regions","operationId":"search_country_phone_code_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/country_phone_code_SearchItemsResponse"}}}}},"/country_phone_code/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (country_phone_code) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains the list of country phone codes.\n\nDataSet category: Countries and Regions","operationId":"searchScored_country_phone_code_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/country_phone_code_ScoredItemsResponse"}}}}},"/country_region/vers/latest/items":{"get":{"description":"Get all items for this dataset (country_region) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains a list of country regions by country.\n\nDataSet category: Countries and Regions","operationId":"get_country_region_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/country_region_GetItemsResponse"}}}}},"/country_region/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (country_region) from the specified version: latest.\n\nDataSet description: This dataset contains a list of country regions by country.\n\nDataSet category: Countries and Regions","operationId":"get_country_region_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/country_region_Item"}}}}},"/country_region/vers/latest/search":{"get":{"description":"Search for items for this dataset (country_region) from the version: latest.\n\nDataSet description: This dataset contains a list of country regions by country.\n\nDataSet category: Countries and Regions","operationId":"search_country_region_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/country_region_SearchItemsResponse"}}}}},"/country_region/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (country_region) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains a list of country regions by country.\n\nDataSet category: Countries and Regions","operationId":"searchScored_country_region_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/country_region_ScoredItemsResponse"}}}}},"/country_region_type/vers/latest/items":{"get":{"description":"Get all items for this dataset (country_region_type) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the various country region types.","operationId":"get_country_region_type_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/country_region_type_GetItemsResponse"}}}}},"/country_region_type/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (country_region_type) from the specified version: latest.\n\nDataSet description: This dataset contains the various country region types.","operationId":"get_country_region_type_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/country_region_type_Item"}}}}},"/country_region_type/vers/latest/search":{"get":{"description":"Search for items for this dataset (country_region_type) from the version: latest.\n\nDataSet description: This dataset contains the various country region types.","operationId":"search_country_region_type_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/country_region_type_SearchItemsResponse"}}}}},"/country_region_type/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (country_region_type) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains the various country region types.","operationId":"searchScored_country_region_type_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/country_region_type_ScoredItemsResponse"}}}}},"/currency/vers/latest/items":{"get":{"description":"Get all items for this dataset (currency) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the list of national currencies.\n\nDataSet category: Financials Core","operationId":"get_currency_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/currency_GetItemsResponse"}}}}},"/currency/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (currency) from the specified version: latest.\n\nDataSet description: This dataset contains the list of national currencies.\n\nDataSet category: Financials Core","operationId":"get_currency_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/currency_Item"}}}}},"/currency/vers/latest/search":{"get":{"description":"Search for items for this dataset (currency) from the version: latest.\n\nDataSet description: This dataset contains the list of national currencies.\n\nDataSet category: Financials Core","operationId":"search_currency_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/currency_SearchItemsResponse"}}}}},"/currency/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (currency) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains the list of national currencies.\n\nDataSet category: Financials Core","operationId":"searchScored_currency_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/currency_ScoredItemsResponse"}}}}},"/custom_org_worktag_dimension/vers/latest/items":{"get":{"description":"Get all items for this dataset (custom_org_worktag_dimension) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains a list of custom organization worktag dimensions.\n\nDataSet category: Worktags","operationId":"get_custom_org_worktag_dimension_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/custom_org_worktag_dimension_GetItemsResponse"}}}}},"/custom_org_worktag_dimension/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (custom_org_worktag_dimension) from the specified version: latest.\n\nDataSet description: This dataset contains a list of custom organization worktag dimensions.\n\nDataSet category: Worktags","operationId":"get_custom_org_worktag_dimension_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/custom_org_worktag_dimension_Item"}}}}},"/custom_org_worktag_dimension/vers/latest/search":{"get":{"description":"Search for items for this dataset (custom_org_worktag_dimension) from the version: latest.\n\nDataSet description: This dataset contains a list of custom organization worktag dimensions.\n\nDataSet category: Worktags","operationId":"search_custom_org_worktag_dimension_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/custom_org_worktag_dimension_SearchItemsResponse"}}}}},"/custom_org_worktag_dimension/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (custom_org_worktag_dimension) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains a list of custom organization worktag dimensions.\n\nDataSet category: Worktags","operationId":"searchScored_custom_org_worktag_dimension_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/custom_org_worktag_dimension_ScoredItemsResponse"}}}}},"/document_status/vers/latest/items":{"get":{"description":"Get all items for this dataset (document_status) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains a list of document statuses.\n\nDataSet category: Financials Core","operationId":"get_document_status_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/document_status_GetItemsResponse"}}}}},"/document_status/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (document_status) from the specified version: latest.\n\nDataSet description: This dataset contains a list of document statuses.\n\nDataSet category: Financials Core","operationId":"get_document_status_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/document_status_Item"}}}}},"/document_status/vers/latest/search":{"get":{"description":"Search for items for this dataset (document_status) from the version: latest.\n\nDataSet description: This dataset contains a list of document statuses.\n\nDataSet category: Financials Core","operationId":"search_document_status_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/document_status_SearchItemsResponse"}}}}},"/document_status/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (document_status) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains a list of document statuses.\n\nDataSet category: Financials Core","operationId":"searchScored_document_status_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/document_status_ScoredItemsResponse"}}}}},"/enrollment_status/vers/latest/items":{"get":{"description":"Get all items for this dataset (enrollment_status) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains a list of enrollment_statuses.\n\nDataSet category: Enrollment","operationId":"get_enrollment_status_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/enrollment_status_GetItemsResponse"}}}}},"/enrollment_status/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (enrollment_status) from the specified version: latest.\n\nDataSet description: This dataset contains a list of enrollment_statuses.\n\nDataSet category: Enrollment","operationId":"get_enrollment_status_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/enrollment_status_Item"}}}}},"/enrollment_status/vers/latest/search":{"get":{"description":"Search for items for this dataset (enrollment_status) from the version: latest.\n\nDataSet description: This dataset contains a list of enrollment_statuses.\n\nDataSet category: Enrollment","operationId":"search_enrollment_status_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/enrollment_status_SearchItemsResponse"}}}}},"/enrollment_status/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (enrollment_status) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains a list of enrollment_statuses.\n\nDataSet category: Enrollment","operationId":"searchScored_enrollment_status_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/enrollment_status_ScoredItemsResponse"}}}}},"/financial_aid_award_year/vers/latest/items":{"get":{"description":"Get all items for this dataset (financial_aid_award_year) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains a list of financial aid award years as defined by federal regulators.","operationId":"get_financial_aid_award_year_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/financial_aid_award_year_GetItemsResponse"}}}}},"/financial_aid_award_year/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (financial_aid_award_year) from the specified version: latest.\n\nDataSet description: This dataset contains a list of financial aid award years as defined by federal regulators.","operationId":"get_financial_aid_award_year_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/financial_aid_award_year_Item"}}}}},"/financial_aid_award_year/vers/latest/search":{"get":{"description":"Search for items for this dataset (financial_aid_award_year) from the version: latest.\n\nDataSet description: This dataset contains a list of financial aid award years as defined by federal regulators.","operationId":"search_financial_aid_award_year_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/financial_aid_award_year_SearchItemsResponse"}}}}},"/financial_aid_award_year/vers/latest/search/scored":{"get":{"description":"Search for items for this dataset (financial_aid_award_year) from the version: latest and with the score shown.\n\nDataSet description: This dataset contains a list of financial aid award years as defined by federal regulators.","operationId":"searchScored_financial_aid_award_year_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/financial_aid_award_year_ScoredItemsResponse"}}}}},"/jp_addresses/vers/v1.0/items":{"get":{"description":"Get all items for this dataset (jp_addresses) from the version: v1.0. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: Japanese Addresses","operationId":"get_jp_addresses_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/jp_addresses_GetItemsResponse"}}}}},"/jp_addresses/vers/v1.0/items/{id}":{"get":{"description":"Get specified item from this dataset (jp_addresses) from the specified version: v1.0.\n\nDataSet description: Japanese Addresses","operationId":"get_jp_addresses_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/jp_addresses_Item"}}}}},"/jp_addresses/vers/v1.0/search":{"get":{"description":"Search for items for this dataset (jp_addresses) from the version: v1.0.\n\nDataSet description: Japanese Addresses","operationId":"search_jp_addresses_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of item objects in specified dataset version matching search query and ordered by score.","schema":{"$ref":"#/definitions/jp_addresses_SearchItemsResponse"}}}}},"/jp_addresses/vers/v1.0/search/scored":{"get":{"description":"Search for items for this dataset (jp_addresses) from the version: v1.0 and with the score shown.\n\nDataSet description: Japanese Addresses","operationId":"searchScored_jp_addresses_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Array of scored item objects in the specified dataset version matching search query and ordered by score","schema":{"$ref":"#/definitions/jp_addresses_ScoredItemsResponse"}}}}},"/national_id_type/vers/latest/items":{"get":{"description":"Get all items for this dataset (national_id_type) from the version: latest. Optional ids parameter can be used to filter to a list of specified items.\n\nDataSet description: This dataset contains the national id types.\n\nDataSet category: IDs","operationId":"get_national_id_type_Items","parameters":[{"name":"ids","in":"query","description":"Parameter for batch get of items. Must take the format id1,id2,... where id1, id2, etc. are the ids of the items you wish to get.","required":false,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Parameter for batch get of items or search of items. For search, this is the offset to get the next batch of items. For get, this is the id to get the next batch of items.","required":false,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"An object with page information and an 'items' field thant includes an Array value of item objects.","schema":{"$ref":"#/definitions/national_id_type_GetItemsResponse"}}}}},"/national_id_type/vers/latest/items/{id}":{"get":{"description":"Get specified item from this dataset (national_id_type) from the specified version: latest.\n\nDataSet description: This dataset contains the national id types.\n\nDataSet category: IDs","operationId":"get_national_id_type_Item","parameters":[{"name":"id","in":"path","description":"Id of dataset item.","required":true,"type":"string"},{"name":"cols","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Item object with specified id for specified version.","schema":{"$ref":"#/definitions/national_id_type_Item"}}}}},"/national_id_type/vers/latest/search":{"get":{"description":"Search for items for this dataset (national_id_type) from the version: latest.\n\nDataSet description: This dataset contains the national id types.\n\nDataSet category: IDs","operationId":"search_national_id_type_Items","parameters":[{"name":"q","in":"query","description":"Query search string for searching dataset items.\n Specify search phrases using double quotes for multi-word phrases.\n All phrases are optional matches unless prefixed with + to make it required or - to make it excluded, i.e. quick +\"brown fox\" -red\n Prefix the phrase with the column name to match against a specific column, i.e. title:quick description:\"brown fox\"\n Use ? to wildcard match a single character or * to wildcard match 0 or more characters, i.e. qu?ck bro* fox\n Use parenthesis to group phrases, i.e. name:(quick \"brown fox\")\n For regex, proximity, boosting, fuzziness, ranges, and special characters refer to: https://www.elastic.co/guide/en/elasticsearch/reference/2.3/query-dsl-query-string-query.html#query-string-syntax","required":true,"type":"string"},{"name":"pageLimit","in":"query","description":"Parameter for search or batch get of items to limit the number of items that are returned. If pageLimit=0 or no pageLimit is specified, then the default limit is used. The maximum number for pageLimit is 100.","required":false,"type":"integer"},{"name":"pageId","in":"query","description":"Param
[...]
