{"swagger":"2.0","info":{"description":"Use this API to view and manage requests, leveraging Workday's Request Framework. For more detailed API usage documentation, see https://developer.workday.com/documentation#/bqq1566926410077/ManageRequests.","version":"v1Alpha","title":"Request (v1Alpha)"},"host":"api.workday.com","basePath":"/request/v1Alpha","tags":[{"name":"types","description":"Use this API to retrieve request types and their details."},{"name":"requests","description":"Use this API to initiate, view, & close requests."}],"schemes":["https"],"paths":{"/types":{"get":{"tags":["types"],"description":"Returns a collection of request types. Returned results are secured based on the processing person's Initiate access to the request. Scope: None.","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maxmum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/requestTypeSummary_51bb27ea9d6a10000ef43f2c46be01c6"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"An error occurred.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/types/{ID}":{"get":{"tags":["types"],"description":"Returns the specified request type. Returned results are secured based on the processing person's Initiate access to the request. Scope: None.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the request type instance. Use the WID of the request type instance returned by the /types API.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response.","schema":{"$ref":"#/definitions/requestTypeDetails_51bb27ea9d6a100017bb2d2805b101e7"}},"404":{"description":"Invalid WID.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/requests":{"get":{"tags":["requests"],"description":"Returns a collection of in progress requests based on the specified parameters. Does not return the associated questionnaire response for each request. Returned results are secured based on the processing person's View access to the request. To retrieve Closed requests, specify the resolution as a parameter. Use prompting on the /requests resource to see the WIDs available for each parameter field. Scope: None.","produces":["application/json"],"parameters":[{"name":"resolution","in":"query","description":"The WID for the resolution of the request.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"initiator","in":"query","description":"The WID for the initiator of the request.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"completedOnOrAfter","in":"query","description":"The date the request event was completed on or after using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"requestSubtype","in":"query","description":"The WID of the request subtype.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"initiatedOnOrAfter","in":"query","description":"The date the request event was initiated on or after using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"initiatedOnOrBefore","in":"query","description":"The date the request event was initiated on or before using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"resolutionDetails","in":"query","description":"The WID of the resolution details of the request.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"completedOnOrBefore","in":"query","description":"The date the request event was completed on or before using the yyyy-mm-dd format.","required":false,"type":"string"},{"name":"requestType","in":"query","description":"The WID of the request type.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"workdayObjectValue","in":"query","description":"The value of the Workday Object for the request, selected on the Close Request step.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maxmum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"Successful response. A successful response can return no matched data.","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/requestSummary_6531dd9ce4ca100012aa4b7e247205b7"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"An error occurred.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["requests"],"description":"Creates a request. Secured by the processing person's Initiate access on the specified request type. Scope: None.","produces":["application/json"],"parameters":[{"in":"body","name":"requestInitiate","required":true,"schema":{"$ref":"#/definitions/requestInitiate_cfaf14034314100036416238d97a0ce7"}}],"responses":{"201":{"description":"Successful response.","schema":{"$ref":"#/definitions/requestInitiate_cfaf14034314100036416238d97a0ce7"}},"400":{"description":"A validation error occurred.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"An error occurred.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/requests/{ID}/close":{"post":{"tags":["requests"],"description":"Closes the specified request. Security is evaluated based on the request event awaiting the processing person's action. Scope: None.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the request instance. Use the WID of the request instance returned by the /requests API.","required":true,"type":"string"},{"in":"body","name":"requestClose","required":true,"schema":{"$ref":"#/definitions/requestClose_f3416caceb7210000902eadbe25b00f3"}}],"responses":{"201":{"description":"Successful response.","schema":{"$ref":"#/definitions/requestClose_f3416caceb7210000902eadbe25b00f3"}},"400":{"description":"A validation error occurred.","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"An error occurred.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/requests/{ID}":{"get":{"tags":["requests"],"description":"Returns the specified request, including the completed questionnaire associated to it. Returned results are secured based on the processing person's View access to the request. Scope: None.","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The Workday ID of the request instance. Use the WID of the request instance returned by the /requests API.","required":true,"type":"string"}],"responses":{"200":{"description":"Successful response.","schema":{"$ref":"#/definitions/requestDetails_16d56a997c581000085d7d20894a00ea"}},"default":{"description":"An error occurred.","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://i-xxxxxxxxxxxxxxxxx.workdaysuv.com/super/authorize","flow":"implicit"}},"definitions":{"questionnaire_51bb27ea9d6a100017bb2d3f070c01e9":{"allOf":[{"$ref":"#/definitions/questionnaireDetails_35124aec314610000eeda1fcca6700f1"},{}]},"workdayObject_51bb27ea9d6a100017bb2d474c3101ea":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestTypeDetails_51bb27ea9d6a100017bb2d2805b101e7":{"allOf":[{"type":"object","properties":{"questionnaire":{"$ref":"#/definitions/questionnaire_51bb27ea9d6a100017bb2d3f070c01e9"},"workdayObject":{"$ref":"#/definitions/workdayObject_51bb27ea9d6a100017bb2d474c3101ea"},"description":{"type":"string","x-workday-type":"Rich Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"workdayObject_51bb27ea9d6a10000ef43f643be601c9":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"questionnaire_51bb27ea9d6a10000ef43f5c33af01c8":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestTypeSummary_51bb27ea9d6a10000ef43f2c46be01c6":{"allOf":[{"type":"object","properties":{"description":{"type":"string","x-workday-type":"Rich Text"},"workdayObject":{"$ref":"#/definitions/workdayObject_51bb27ea9d6a10000ef43f643be601c9"},"questionnaire":{"$ref":"#/definitions/questionnaire_51bb27ea9d6a10000ef43f5c33af01c8"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"workdayObjectValue_16d56a997c581000085d7da51a8400f5":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"resolution_16d56a997c581000085d7d8f174000f1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"questionnaireResponses_16d56a997c5810000898e9ae0b8500fb":{"allOf":[{"$ref":"#/definitions/questionnaireResponseDetails_6d65702d9ff01000054a75f7646f00ef"},{}]},"initiator_16d56a997c581000085d7d83f1ee00ef":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestEvent_16d56a997c581000085d7d7801ca00ed":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestType_16d56a997c581000085d7d9fcc8600f4":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"resolutionDetails_16d56a997c581000085d7d94e98a00f2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"status_16d56a997c581000085d7daaf4e800f6":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"subtype_16d56a997c581000085d7d9a830d00f3":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestDetails_16d56a997c581000085d7d20894a00ea":{"allOf":[{"type":"object","properties":{"workdayObjectValue":{"$ref":"#/definitions/workdayObjectValue_16d56a997c581000085d7da51a8400f5"},"requestDate":{"type":"string","format":"date","x-workday-type":"Date"},"resolution":{"$ref":"#/definitions/resolution_16d56a997c581000085d7d8f174000f1"},"description":{"type":"string","x-workday-type":"Rich Text"},"questionnaireResponses":{"$ref":"#/definitions/questionnaireResponses_16d56a997c5810000898e9ae0b8500fb"},"initiator":{"$ref":"#/definitions/initiator_16d56a997c581000085d7d83f1ee00ef"},"completionDate":{"type":"string","format":"date","x-workday-type":"Date"},"requestEvent":{"$ref":"#/definitions/requestEvent_16d56a997c581000085d7d7801ca00ed"},"requestType":{"$ref":"#/definitions/requestType_16d56a997c581000085d7d9fcc8600f4"},"resolutionDetails":{"$ref":"#/definitions/resolutionDetails_16d56a997c581000085d7d94e98a00f2"},"status":{"$ref":"#/definitions/status_16d56a997c581000085d7daaf4e800f6"},"subtype":{"$ref":"#/definitions/subtype_16d56a997c581000085d7d9a830d00f3"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"requestEvent_05f0381fedc61000083090fbe94f0224":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"initiator_6531dd9ce4ca10001473be6d93c305c7":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"resolution_6531dd9ce4ca10001473be85ee5505ca":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"subtype_6531dd9ce4ca10001347565e9dca05be":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"resolutionDetails_6531dd9ce4ca10001473be8e478705cb":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestType_6531dd9ce4ca10001473be46f33605c2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"workdayObjectValue_3854eadb79931000175a43b5590200ff":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"status_3854eadb799310001b18ae9fd8920113":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestSummary_6531dd9ce4ca100012aa4b7e247205b7":{"allOf":[{"type":"object","properties":{"requestEvent":{"$ref":"#/definitions/requestEvent_05f0381fedc61000083090fbe94f0224"},"completionDate":{"type":"string","format":"date","x-workday-type":"Date"},"initiator":{"$ref":"#/definitions/initiator_6531dd9ce4ca10001473be6d93c305c7"},"resolution":{"$ref":"#/definitions/resolution_6531dd9ce4ca10001473be85ee5505ca"},"subtype":{"$ref":"#/definitions/subtype_6531dd9ce4ca10001347565e9dca05be"},"resolutionDetails":{"$ref":"#/definitions/resolutionDetails_6531dd9ce4ca10001473be8e478705cb"},"description":{"type":"string","x-workday-type":"Rich Text"},"requestDate":{"type":"string","format":"date","x-workday-type":"Date"},"requestType":{"$ref":"#/definitions/requestType_6531dd9ce4ca10001473be46f33605c2"},"workdayObjectValue":{"$ref":"#/definitions/workdayObjectValue_3854eadb79931000175a43b5590200ff"},"status":{"$ref":"#/definitions/status_3854eadb799310001b18ae9fd8920113"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"requestType_cfaf14034314100036416272d0fc0ceb":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"questionnaireResponses_cfaf14034314100036416265ce870ce9":{"allOf":[{"$ref":"#/definitions/questionnaireResponseSubmit_670e7e9e117b10002734f5902a1a07c6"},{}]},"requestInitiate_cfaf14034314100036416238d97a0ce7":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","x-workday-type":"Text"},"requestType":{"$ref":"#/definitions/requestType_cfaf14034314100036416272d0fc0ceb"},"description":{"type":"string","x-workday-type":"Rich Text"},"questionnaireResponses":{"$ref":"#/definitions/questionnaireResponses_cfaf14034314100036416265ce870ce9"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"workdayObjectValue_f3416caceb7210001675680560860118":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"resolutionDetails_f3416caceb721000167568438294011e":{"allOf":[{"$ref":"#/definitions/requestResolutionsDetails_f3416caceb721000192b6fb75f7e012e"},{}]},"resolution_f3416caceb721000167568392ec8011d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestSubtype_f3416caceb7210001675684d4c97011f":{"allOf":[{"$ref":"#/definitions/requestSubtype_f3416caceb72100018e5413f3fa40127"},{}]},"requestClose_f3416caceb7210000902eadbe25b00f3":{"allOf":[{"type":"object","properties":{"workdayObjectValue":{"$ref":"#/definitions/workdayObjectValue_f3416caceb7210001675680560860118"},"comment":{"type":"string","x-workday-type":"Text"},"resolutionDetails":{"$ref":"#/definitions/resolutionDetails_f3416caceb721000167568438294011e"},"resolution":{"$ref":"#/definitions/resolution_f3416caceb721000167568392ec8011d"},"requestSubtype":{"$ref":"#/definitions/requestSubtype_f3416caceb7210001675684d4c97011f"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"questionnaireResponseSubmit_670e7e9e117b10002734f5902a1a07c6":{"allOf":[{"type":"object","properties":{"questionnaireAnswers":{"type":"array","items":{"$ref":"#/definitions/questionnaireAnswerCreate_670e7e9e117b1000276a34afc7b207cb"},"x-workday-type":"Multi-instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"questionnaireAnswerCreate_670e7e9e117b1000276a34afc7b207cb":{"allOf":[{"type":"object","properties":{"answerMultipleChoices":{"type":"array","items":{"$ref":"#/definitions/questionMultipleChoiceAnswerEmptyView_670e7e9e117b100027c36c757fb807d5"},"x-workday-type":"Multi-instance"},"answerNumeric":{"type":"integer","x-workday-type":"Numeric"},"answerText":{"type":"string","x-workday-type":"Text"},"answerDate":{"type":"string","format":"date","x-workday-type":"Date"},"questionItem":{"$ref":"#/definitions/questionItem_670e7e9e117b10002790f46f3d9c07d1"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"questionMultipleChoiceAnswerEmptyView_670e7e9e117b100027c36c757fb807d5":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"questionItem_670e7e9e117b10002790f46f3d9c07d1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestResolutionsDetails_f3416caceb721000192b6fb75f7e012e":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"questionnaireResponseDetails_6d65702d9ff01000054a75f7646f00ef":{"allOf":[{"type":"object","properties":{"totalScore":{"type":"integer","x-workday-type":"Numeric"},"creationDate":{"type":"string","format":"date","x-workday-type":"Date"},"surveyTarget":{"type":"array","items":{"$ref":"#/definitions/surveyTargetEmptyView_6d65702d9ff010000635c8e3b15d0105"},"x-workday-type":"Multi-instance"},"businessProcessType":{"$ref":"#/definitions/businessProcessType_6d65702d9ff01000061092cbaa8100ff"},"questionnaireResponseStatus":{"$ref":"#/definitions/questionnaireResponseStatus_6d65702d9ff01000061092a84bb200fb"},"questionnaireAnswers":{"type":"array","items":{"$ref":"#/definitions/questionnaireAnswerDetails_6d65702d9ff0100006578b8d4ada0107"},"x-workday-type":"Multi-instance"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"surveyTargetEmptyView_6d65702d9ff010000635c8e3b15d0105":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"businessProcessType_6d65702d9ff01000061092cbaa8100ff":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"questionnaireResponseStatus_6d65702d9ff01000061092a84bb200fb":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"questionnaireAnswerDetails_6d65702d9ff0100006578b8d4ada0107":{"allOf":[{"type":"object","properties":{"branching":{"type":"boolean","x-workday-type":"Boolean"},"questionItem":{"$ref":"#/definitions/questionItem_6d65702d9ff0100006862d6699b0010f"},"answerMultipleChoiceOrder":{"type":"string","x-workday-type":"Text"},"answerText":{"type":"string","x-workday-type":"Text"},"answerMutlipleChoice":{"$ref":"#/definitions/answerMutlipleChoice_6d65702d9ff0100006862d604cf8010e"},"answerDate":{"type":"string","format":"date","x-workday-type":"Date"},"answerNumeric":{"type":"integer","x-workday-type":"Numeric"},"questionOrder":{"type":"string","x-workday-type":"Text"},"questionBody":{"type":"string","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"questionItem_6d65702d9ff0100006862d6699b0010f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"answerMutlipleChoice_6d65702d9ff0100006862d604cf8010e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"requestSubtype_f3416caceb72100018e5413f3fa40127":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"questionnaireDetails_35124aec314610000eeda1fcca6700f1":{"allOf":[{"type":"object","properties":{"referenceIdValue":{"type":"string","x-workday-type":"Text"},"questionnaireInstructions":{"type":"string","x-workday-type":"Rich Text"},"questions":{"type":"array","items":{"$ref":"#/definitions/questionItemDetails_35124aec314610000f15a3222d1800f9"},"x-workday-type":"Multi-instance"},"name":{"type":"string","x-workday-type":"Text"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"branchingQuestion_b846d79e92ac100013f9842aa5700161":{"allOf":[{"$ref":"#/definitions/questionItemDetails_35124aec314610000f15a3222d1800f9"},{}]},"questionMultipleChoiceAnswerDetails_35124aec314610000f355986c6490104":{"allOf":[{"type":"object","properties":{"branchingQuestion":{"$ref":"#/definitions/branchingQuestion_b846d79e92ac100013f9842aa5700161"},"id":{"type":"string","x-workday-type":"Text"},"score":{"type":"integer","x-workday-type":"Numeric"},"descriptor":{"type":"string","x-workday-type":"Text"},"order":{"type":"string","x-workday-type":"Text"}}}]},"type_35124aec314610000f15a34518bf00ff":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"displayOption_35124aec314610000f15a32daa6600fa":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"questionItemDetails_35124aec314610000f15a3222d1800f9":{"allOf":[{"type":"object","properties":{"type":{"$ref":"#/definitions/type_35124aec314610000f15a34518bf00ff"},"displayOption":{"$ref":"#/definitions/displayOption_35124aec314610000f15a32daa6600fa"},"body":{"type":"string","x-workday-type":"Text"},"order":{"type":"string","x-workday-type":"Text"},"numberOfSelections":{"type":"integer","x-workday-type":"Numeric"},"possibleAnswers":{"type":"array","items":{"$ref":"#/definitions/questionMultipleChoiceAnswerDetails_35124aec314610000f355986c6490104"},"x-workday-type":"Multi-instance"},"required":{"type":"boolean","x-workday-type":"Boolean"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"href":{"type":"string","description":"A link to the instance"},"id":{"type":"string","description":"Id of the instance"}}}]}}}