{"swagger":"2.0","info":{"description":"The Revenue API contains operations that expose Workday Financials Revenue data. It includes data related to customer contracts and billable transactions.","version":"v2Alpha","title":"Revenue (v2Alpha)"},"host":"api.workday.com","basePath":"/revenue/v2Alpha","tags":[{"name":"customerContractAmendments","description":"All the Customer Contract Amendments in Workday."},{"name":"usageBasedTransactions","description":"All the Usage Based Transactions not invoiced in Workday, sorted by creation date (descending)."},{"name":"customerContracts","description":"All the Customer Contracts in Workday."},{"name":"billableTransactions","description":"All Billable Transactions not invoiced in Workday."}],"schemes":["https"],"paths":{"/customerContractAmendments":{"get":{"tags":["customerContractAmendments"],"summary":"Retrieves a collection of customer contract amendment headers.","description":"Secured by: Process: Customer Contract - View, Reports: Organization Customer Contract\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"contract","in":"query","description":"The Customer Contract for this Amendment","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"number","in":"query","description":"The contract number for the contract.","required":false,"type":"string"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customerContractAmendmentRepresentation_f58bf018ee7a100011d5273d7a910026"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["customerContractAmendments"],"summary":"Creates a customer contract amendment header.","description":"Secured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"in":"body","name":"customerContractAmendmentRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractAmendmentRepresentation_f58bf018ee7a100011d5273d7a910026"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customerContractAmendmentRepresentation_f58bf018ee7a100011d5273d7a910026"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContractAmendments/{ID}/submit":{"post":{"tags":["customerContractAmendments"],"summary":"Submits a customer contract amendment.","description":"Secured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract amendment to submit. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"},{"in":"body","name":"customerContractAmendmentDisplay","required":true,"schema":{"$ref":"#/definitions/customerContractAmendmentDisplay_4afc2899f1a310001501e84071a30051"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customerContractAmendmentDisplay_4afc2899f1a310001501e84071a30051"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContractAmendments/{ID}":{"get":{"tags":["customerContractAmendments"],"summary":"Retrieves a customer contract amendment header for the specified ID.","description":"Secured by: Process: Customer Contract - View, Reports: Organization Customer Contract\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract amendment to retrieve. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/customerContractAmendmentRepresentation_f58bf018ee7a100011d5273d7a910026"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["customerContractAmendments"],"summary":"Updates the customer contract amendment header.","description":"Updates the existing customer contract amendment with the specified data in the request body.  Data not included in the request body will not be updated.\n\nIf the customer contract amendment does not exist, the request fails with an HTTP error code 404.\n\nSecured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contract","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract amendment to update. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"},{"in":"body","name":"customerContractAmendmentRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractAmendmentRepresentation_f58bf018ee7a100011d5273d7a910026"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/customerContractAmendmentRepresentation_f58bf018ee7a100011d5273d7a910026"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContractAmendments/{ID}/cancel":{"post":{"tags":["customerContractAmendments"],"summary":"Cancels a customer contract amendment.","description":"Secured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract amendment to cancel. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"},{"in":"body","name":"cancelContractAmendmentRepresentation","required":true,"schema":{"$ref":"#/definitions/cancelContractAmendmentRepresentation_7c77ed86a48a10000b9009c812ed00d2"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/cancelContractAmendmentRepresentation_7c77ed86a48a10000b9009c812ed00d2"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContractAmendments/{ID}/lines":{"get":{"tags":["customerContractAmendments"],"summary":"Retrieves a collection of customer contract amendment lines for the specified customer contract amendment.","description":"This returns the contract lines for a customer contract amendment.  Lines are sorted by line number.\n\nSecured by: Process: Customer Contract - View, Reports: Organization Customer Contract Lines\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The ID of the customer contract amendment to retrieve lines for. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customerContractAmendmentLineRepresentation_e9be733c24d110000d88e3f844e000eb"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["customerContractAmendments"],"summary":"Creates a customer contract amendment line for the specified customer contract amendment.","description":"Secured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract amendment to post a line for. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"},{"in":"body","name":"customerContractAmendmentLineRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractAmendmentLineRepresentation_e9be733c24d110000d88e3f844e000eb"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customerContractAmendmentLineRepresentation_e9be733c24d110000d88e3f844e000eb"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContractAmendments/{ID}/lines/{lineID}":{"delete":{"tags":["customerContractAmendments"],"summary":"Deletes a draft customer contract amendment line.","description":"Secured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract amendment of the line to delete. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"},{"name":"lineID","in":"path","description":"The ID of the customer contract amendment line to delete. Use the GET customerContractAmendments/{ID}/lines operation to retrieve a collection of customer contract amendment lines.","required":true,"type":"string"}],"responses":{"200":{"description":"deleting response"},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["customerContractAmendments"],"summary":"Updates the customer contract amendment line for the specified customer contract amendment.","description":"Updates the existing customer contract amendment line with the specified data in the request body. Data not included in the request body will not be updated.\n\nIf the customer contract amendment line does not exist, the request fails with an HTTP error code 404.\n\nSecured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract amendment of the line to update. Use the GET customerContractAmendments operation to retrieve a collection of customer contract amendments.","required":true,"type":"string"},{"name":"lineID","in":"path","description":"The ID of the customer contract amendment line to update. Use the GET customerContractAmendments/{ID}/lines operation to retrieve a collection of customer contract amendment lines.","required":true,"type":"string"},{"in":"body","name":"customerContractAmendmentLineRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractAmendmentLineRepresentation_e9be733c24d110000d88e3f844e000eb"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/customerContractAmendmentLineRepresentation_e9be733c24d110000d88e3f844e000eb"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/usageBasedTransactions":{"get":{"tags":["usageBasedTransactions"],"summary":"Retrieve a collection of usage based transactions.","description":"Secured by: Process: Billing\n\nScope: Project Billing","produces":["application/json"],"parameters":[{"name":"contract","in":"query","description":"Customer Contract tied to the Billable Transaction.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"revenueStatus","in":"query","description":"The revenue recognition status for this billable transaction.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"fromDate","in":"query","description":"Date the transaction was incurred against.","required":false,"type":"string"},{"name":"billingStatus","in":"query","description":"The current billing status of the transaction. (Awaiting Review, Do Not Bill, Hold, Ready to Bill, Invoiced)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"unitOfMeasure","in":"query","description":"Unit of Measure for the Usage Based Transaction.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"customer","in":"query","description":"Customer for the Usage Based Transaction.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"toDate","in":"query","description":"Date the transaction was incurred against.","required":false,"type":"string"},{"name":"company","in":"query","description":"Company for the Usage Based Transaction.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/usageBasedTransactionRepresentation_bae67b49f26a1000177cb238aed80020"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/usageBasedTransactions/{ID}":{"get":{"tags":["usageBasedTransactions"],"summary":"Retrieve a usage based transaction for the specified ID.","description":"Secured by: Process: Billing\n\nScope: Project Billing","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the usage based transaction to retrieve. Use the GET usageBasedTransactions operation to retrieve a collection of usage based transactions.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/usageBasedTransactionRepresentation_bae67b49f26a1000177cb238aed80020"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["usageBasedTransactions"],"summary":"Updates the usage based transaction.","description":"Updates the existing usage based transaction with the specified data in the request body. Data not included in the request body will not be updated.\n\nIf the usage based transaction does not exist, the request fails with an HTTP error code 404.\n\nSecured by: Process: Billing\n\nScope: Project Billing","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the usage based transaction to update. Use the GET usageBasedTransactions operation to retrieve a collection of usage based transactions.","required":true,"type":"string"},{"in":"body","name":"editUsageBasedTransaction","required":true,"schema":{"$ref":"#/definitions/editUsageBasedTransaction_edef6942ac4b10000de1c1451e090040"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/editUsageBasedTransaction_edef6942ac4b10000de1c1451e090040"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContracts":{"get":{"tags":["customerContracts"],"summary":"Retrieves a collection of customer contract headers.","description":"Secured by: Process: Customer Contract - View, Reports: Organization Customer Contract\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"number","in":"query","description":"The contract number for the contract.","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"Date Contract becomes Effective","required":false,"type":"string"},{"name":"billToCustomer","in":"query","description":"The bill to customer for the customer contract.","required":false,"type":"string"},{"name":"company","in":"query","description":"The company for the reporting transaction.","required":false,"type":"string"},{"name":"soldToCustomer","in":"query","description":"The sold to customer for the contract.","required":false,"type":"string"},{"name":"toDate","in":"query","description":"Date Contract becomes Effective","required":false,"type":"string"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customerContractRepresentation_920f0a7eaae91000075c15dfc04f0024"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["customerContracts"],"summary":"Creates a customer contract header.","description":"Secured by: Create Customer Contract (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"in":"body","name":"customerContractRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractRepresentation_920f0a7eaae91000075c15dfc04f0024"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customerContractRepresentation_920f0a7eaae91000075c15dfc04f0024"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContracts/{ID}/submit":{"post":{"tags":["customerContracts"],"summary":"Submits a customer contract.","description":"Secured by: Create Customer Contract (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract to submit. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"},{"in":"body","name":"customerContractDisplay","required":true,"schema":{"$ref":"#/definitions/customerContractDisplay_13d297964374100011e06b664fe4007a"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customerContractDisplay_13d297964374100011e06b664fe4007a"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContracts/{ID}":{"get":{"tags":["customerContracts"],"summary":"Retrieves a customer contract header for the specified ID.","description":"Secured by: Process: Customer Contract - View, Reports: Organization Customer Contract\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract to retrieve. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/customerContractRepresentation_920f0a7eaae91000075c15dfc04f0024"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["customerContracts"],"summary":"Updates the customer contract header.","description":"Updates the existing customer contract with the specified data in the request body. Data not included in the request body will not be updated.\n\nIf the customer contract does not exist, the request fails with an HTTP error code 404.\n\nSecured by: Create Customer Contract (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract to update. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"},{"in":"body","name":"customerContractRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractRepresentation_920f0a7eaae91000075c15dfc04f0024"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/customerContractRepresentation_920f0a7eaae91000075c15dfc04f0024"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContracts/{ID}/cancel":{"post":{"tags":["customerContracts"],"summary":"Cancels a customer contract.","description":"Secured by: Create Customer Contract Amendment (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract to cancel. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"},{"in":"body","name":"cancelCustomerContractRepresentation","required":true,"schema":{"$ref":"#/definitions/cancelCustomerContractRepresentation_00cc7541f29410000f3811c6adf400c8"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/cancelCustomerContractRepresentation_00cc7541f29410000f3811c6adf400c8"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContracts/{ID}/lines":{"get":{"tags":["customerContracts"],"summary":"Retrieves a collection of customer contract lines for the specified customer contract.","description":"This returns the contract lines for a customer contract.  Lines are sorted by line number.\n\nSecured by: Process: Customer Contract - View, Reports: Organization Customer Contract Lines\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The ID of the customer contract to retrieve lines for. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/customerContractLineRepresentation_95946a41b1f1100011f85359c25c1b90"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"post":{"tags":["customerContracts"],"summary":"Creates a customer contract line for the specified customer contract.","description":"Secured by: Create Customer Contract (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract to post a line for. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"},{"in":"body","name":"customerContractLineRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractLineRepresentation_95946a41b1f1100011f85359c25c1b90"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/customerContractLineRepresentation_95946a41b1f1100011f85359c25c1b90"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/customerContracts/{ID}/lines/{lineID}":{"delete":{"tags":["customerContracts"],"summary":"Deletes a draft customer contract line.","description":"Secured by: Create Customer Contract (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract of the line to delete. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"},{"name":"lineID","in":"path","description":"The ID of the customer contract line to delete. Use the GET customerContracts/{ID}/lines operation to retrieve a collection of customer contract lines.","required":true,"type":"string"}],"responses":{"200":{"description":"deleting response"},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["customerContracts"],"summary":"Updates the customer contract line for the specified customer contract.","description":"Updates the existing customer contract line with the specified data in the request body. Data not included in the request body will not be updated.\n\nIf the customer contract line does not exist, the request fails with an HTTP error code 404.\n\nSecured by: Create Customer Contract (REST Service)\n\nScope: Customer Contracts","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the customer contract of the line to update. Use the GET customerContracts operation to retrieve a collection of customer contracts.","required":true,"type":"string"},{"name":"lineID","in":"path","description":"The ID of the customer contract line to update. Use the GET customerContracts/{ID}/lines operation to retrieve a collection of customer contract lines.","required":true,"type":"string"},{"in":"body","name":"customerContractLineRepresentation","required":true,"schema":{"$ref":"#/definitions/customerContractLineRepresentation_95946a41b1f1100011f85359c25c1b90"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/customerContractLineRepresentation_95946a41b1f1100011f85359c25c1b90"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/billableTransactions":{"get":{"tags":["billableTransactions"],"summary":"Retrieves a collection of billable transactions.","description":"Secured by: Manage: Project Details, Process: Project Billing\n\nScope: Project Billing","produces":["application/json"],"parameters":[{"name":"billingStatus","in":"query","description":"The current billing status of the transaction. (Awaiting Review, Do Not Bill, Hold, Ready to Bill, Invoiced)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"worker","in":"query","description":"Related ~worker~ tied to this billable transaction (i.e. ~worker~ on the expense report or the ~worker~ the time sheet).","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"spendCategory","in":"query","description":"If the billable transaction is tied to an expense report line, then this field returns the spend category for that line.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"timeCode","in":"query","description":"If the billable transaction is tied to an time sheet line, then this field returns the time code for that line.","required":false,"type":"string"},{"name":"phase","in":"query","description":"If the billable transaction is tied to an time sheet line, then this field returns the phase for that line.","required":false,"type":"string"},{"name":"task","in":"query","description":"If the billable transaction is tied to an time sheet line, then this field returns the task for that line.","required":false,"type":"string"},{"name":"customer","in":"query","description":"Customer tied to the ~project~ for this transaction.","required":false,"type":"string"},{"name":"toDate","in":"query","description":"Date the transaction was incurred against.","required":false,"type":"string"},{"name":"transactionSource","in":"query","description":"Identifies what type of transaction composes this billable transaction (i.e. expense report line versus time sheet line).","required":false,"type":"string"},{"name":"fromDate","in":"query","description":"Date the transaction was incurred against.","required":false,"type":"string"},{"name":"project","in":"query","description":"The ~project~ this transaction is being billed against.","required":false,"type":"string"},{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/viewBillableTransaction_8ddea882065e100006b6b409b1b4008e"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/billableTransactions/{ID}/billingRateApplication":{"get":{"tags":["billableTransactions"],"summary":"Retrieves a collection of billing rate applications for the specified billable transaction.","description":"Secured by: Manage: Project Details, Process: Project Billing\n\nScope: Project Billing","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"The maximum number of objects in a single response. The default is 20. The maximum is 100.","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The zero-based index of the first object in a response collection. The default is 0. Use offset with the limit parameter to control paging of a response collection.","required":false,"type":"integer","format":"int64"},{"name":"ID","in":"path","description":"The ID of the billable transaction to retrieve billing rate applications for. Use the GET billableTransactions operation to retrieve a collection of billable transactions.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/billingRateApplication_3d4d69e01dcc10001665940600ca00a1"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/billableTransactions/{ID}":{"get":{"tags":["billableTransactions"],"summary":"Retrieves a billable transaction for the specified ID.","description":"Secured by: Manage: Project Details, Process: Project Billing\n\nScope: Project Billing","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the billable transaction to retrieve. Use the GET billableTransactions operation to retrieve a collection of billable transactions.","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/viewBillableTransaction_8ddea882065e100006b6b409b1b4008e"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"patch":{"tags":["billableTransactions"],"summary":"Updates the billable transaction.","description":"Updates the existing billable transaction with the specified data in the request body. Data not included in the request body will not be updated.\n\nIf the billable transaction does not exist, the request fails with an HTTP error code 404.\n\nSecured by: Manage: Project Details, Process: Project Billing\n\nScope: Project Billing","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"The ID of the billable transaction to update. Use the GET billableTransactions operation to retrieve a collection of billable transactions.","required":true,"type":"string"},{"in":"body","name":"editBillableTransaction","required":true,"schema":{"$ref":"#/definitions/editBillableTransaction_8ddea882065e100013bba4b3308300b4"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/editBillableTransaction_8ddea882065e100013bba4b3308300b4"}},"400":{"description":"a validation error occurred","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://i-xxxxxxxxxxxxxxxxx.workdaysuv.com/super/authorize","flow":"implicit"}},"definitions":{"billToCustomer_200114647b99100012c070d35c330070":{"allOf":[{"$ref":"#/definitions/customerDisplay_403c2a4e9ce2100005f3fde67ba2016f"},{}]},"soldToCustomer_200114647b99100012c071515bff007b":{"allOf":[{"$ref":"#/definitions/customerDisplay_403c2a4e9ce2100005f3fde67ba2016f"},{}]},"installmentBillingScheduleTemplate_0a9ee62c596310000b70247e2c33013b":{"allOf":[{"$ref":"#/definitions/installmentBillingScheduleTemplateDisplay_a1748c0e6b3810000e43df975946002e"},{}]},"type_200114647b99100012c0710e56070075":{"allOf":[{"$ref":"#/definitions/contractTypeDisplay_63adc930657810001b63a918b0f4015a"},{}]},"company_200114647b99100012c070e013870071":{"allOf":[{"$ref":"#/definitions/companyDisplay_403c2a4e9ce210000601c146ed560173"},{}]},"amendmentType_1c99c6b77e941000094bc0d3a0c3001c":{"allOf":[{"$ref":"#/definitions/contractAmendmentTypeDisplay_155b6c9d5bca10001692120138880066"},{}]},"contract_1d719d4dcb22100008c80fce1ba60020":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"customerContractAmendmentRepresentation_f58bf018ee7a100011d5273d7a910026":{"allOf":[{"type":"object","properties":{"amendmentNumber":{"type":"string","description":"The amendment number for the customer contract.","x-workday-type":"Text"},"notes":{"type":"string","description":"Customer Contract Notes","x-workday-type":"Rich Text"},"billToCustomer":{"$ref":"#/definitions/billToCustomer_200114647b99100012c070d35c330070"},"name":{"type":"string","description":"The contract name for the customer contract.","x-workday-type":"Text"},"amendmentEffectiveDate":{"type":"string","format":"date","description":"The amendment effective date for the contract.","x-workday-type":"Date"},"worktags":{"type":"array","description":"Worktags","items":{"$ref":"#/definitions/worktagSummary_f712d0e0d34b10000e1907ce1dbb005c"},"x-workday-type":"Multi-instance"},"effectiveDate":{"type":"string","format":"date","description":"Date Contract becomes Effective","x-workday-type":"Date"},"soldToCustomer":{"$ref":"#/definitions/soldToCustomer_200114647b99100012c071515bff007b"},"number":{"type":"string","description":"The contract number for the contract.","x-workday-type":"Text"},"installmentBillingScheduleTemplate":{"$ref":"#/definitions/installmentBillingScheduleTemplate_0a9ee62c596310000b70247e2c33013b"},"lineCount":{"type":"integer","description":"The number of Contract Lines for the Customer Contract.","x-workday-type":"Numeric"},"poNumber":{"type":"string","description":"The purchase order number for the customer contract.","x-workday-type":"Text"},"signedDate":{"type":"string","format":"date","description":"The contract signed date for the customer contract.","x-workday-type":"Date"},"type":{"$ref":"#/definitions/type_200114647b99100012c0710e56070075"},"amendmentSignedDate":{"type":"string","format":"date","description":"The amendment signed date.","x-workday-type":"Date"},"company":{"$ref":"#/definitions/company_200114647b99100012c070e013870071"},"amendmentType":{"$ref":"#/definitions/amendmentType_1c99c6b77e941000094bc0d3a0c3001c"},"billingNotes":{"type":"string","description":"The billing notes for the customer contract.","x-workday-type":"Rich Text"},"contract":{"$ref":"#/definitions/contract_1d719d4dcb22100008c80fce1ba60020"},"amount":{"type":"integer","description":"The current contract amount for the customer contract.","x-workday-type":"Numeric"},"amendmentDescription":{"type":"string","description":"The amendment description.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"customerContractAmendmentDisplay_4afc2899f1a310001501e84071a30051":{"allOf":[{"type":"object","properties":{"event":{"type":"array","description":"Returns any related Events for this document.","items":{"$ref":"#/definitions/customerContractAmendmentEventDisplay_4afc2899f1a31000150c45c439f90054"},"x-workday-type":"Multi-instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Customer_Contract_Amendment_Reference_ID":{"type":"string","description":"Reference id of the instance"}}}]},"status_7c77ed86a48a10000b9009e6182900d3":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"cancelContractAmendmentRepresentation_7c77ed86a48a10000b9009c812ed00d2":{"allOf":[{"type":"object","properties":{"status":{"$ref":"#/definitions/status_7c77ed86a48a10000b9009e6182900d3"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"originalContractLine_e9be733c24d110000e032e5aedbd010c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"salesItem_e9be733c24d110000d88e43c2a5000f3":{"allOf":[{"$ref":"#/definitions/salesItemDisplay_63adc930657810001bac3af8fbf90166"},{}]},"taxApplicability_e9be733c24d110000d88e44f352f00f6":{"allOf":[{"$ref":"#/definitions/taxApplicabilityDisplay_63adc930657810001bb6806032bd0168"},{}]},"taxCode_e9be733c24d110000d88e4226daa00ef":{"allOf":[{"$ref":"#/definitions/taxCodeSummary_403c2a4e9ce2100006267faeaaa8017c"},{}]},"unitOfMeasure_e9be733c24d110000d88e461ed9c00f9":{"allOf":[{"$ref":"#/definitions/unitOfMeasureDisplay_63adc930657810001bcf059828f3016b"},{}]},"renewalTerms_bfdec036a640100017d7b325a96f0096":{"allOf":[{"$ref":"#/definitions/contractLineRenewalRepresentation_4ddb505d342710001a196f5cbf030062"},{}]},"status_3d140de8d24a10000b385a8df92700e5":{"allOf":[{"$ref":"#/definitions/status_00cc7541f29410000f5616a7f61000ce"},{}]},"revenueCategory_e9be733c24d110000d88e4357e0d00f2":{"allOf":[{"$ref":"#/definitions/revenueCategoryDisplay_63adc930657810001ba59dee1c100164"},{}]},"unitOfMeasure2_1cdee400c7a3100012038a474ca600fa":{"allOf":[{"$ref":"#/definitions/unitOfMeasureDisplay_63adc930657810001bcf059828f3016b"},{}]},"type_e9be733c24d110000d88e428b99a00f0":{"allOf":[{"$ref":"#/definitions/contractLineTypeDisplay_63adc930657810001b95a73b87cf0161"},{}]},"customerContractAmendmentLineRepresentation_e9be733c24d110000d88e3f844e000eb":{"allOf":[{"type":"object","properties":{"itemDescription":{"type":"string","description":"The line item description persisted for the document line.","x-workday-type":"Text"},"originalContractLine":{"$ref":"#/definitions/originalContractLine_e9be733c24d110000e032e5aedbd010c"},"salesItem":{"$ref":"#/definitions/salesItem_e9be733c24d110000d88e43c2a5000f3"},"taxApplicability":{"$ref":"#/definitions/taxApplicability_e9be733c24d110000d88e44f352f00f6"},"amount":{"type":"integer","description":"The extended amount for the document line.  Excludes Extended Amounts on Tax Only Invoices.","x-workday-type":"Numeric"},"quantity":{"type":"integer","description":"The quantity for the document line.","x-workday-type":"Numeric"},"billingFromDate":{"type":"string","format":"date","description":"The Billing From Date for Customer Contract Line.","x-workday-type":"Date"},"taxCode":{"$ref":"#/definitions/taxCode_e9be733c24d110000d88e4226daa00ef"},"billingToDate":{"type":"string","format":"date","description":"The Billing To Date for Customer Contract Line.","x-workday-type":"Date"},"unitOfMeasure":{"$ref":"#/definitions/unitOfMeasure_e9be733c24d110000d88e461ed9c00f9"},"renewalTerms":{"$ref":"#/definitions/renewalTerms_bfdec036a640100017d7b325a96f0096"},"renewable":{"type":"boolean","description":"Renewable Customer Contract Line","x-workday-type":"Boolean"},"unitPrice":{"type":"integer","description":"The unit cost for the customer contract line.","x-workday-type":"Numeric"},"status":{"$ref":"#/definitions/status_3d140de8d24a10000b385a8df92700e5"},"revenueCategory":{"$ref":"#/definitions/revenueCategory_e9be733c24d110000d88e4357e0d00f2"},"number":{"type":"integer","description":"The Line Number for the contract line.","x-workday-type":"Numeric"},"unitOfMeasure2":{"$ref":"#/definitions/unitOfMeasure2_1cdee400c7a3100012038a474ca600fa"},"worktags":{"type":"array","description":"Worktags","items":{"$ref":"#/definitions/worktagSummary_f712d0e0d34b10000e1907ce1dbb005c"},"x-workday-type":"Multi-instance"},"type":{"$ref":"#/definitions/type_e9be733c24d110000d88e428b99a00f0"},"quantity2":{"type":"integer","description":"The second Quantity value on the document line.","x-workday-type":"Numeric"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"customerContractLine_bae67b49f26a1000177cb29f86ac0022":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"shipToAddress_bae67b49f26a10001b03b41a6d6e0033":{"allOf":[{"$ref":"#/definitions/addressDisplay_7c1e78fa078f100007513f8b03e40046"},{}]},"customer_bae67b49f26a10001b03b49e21cb003a":{"allOf":[{"$ref":"#/definitions/customerDisplay_403c2a4e9ce2100005f3fde67ba2016f"},{}]},"billingStatus_edef6942ac4b10001e816487ef120085":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"salesItem_bae67b49f26a10001b03b48bb7600039":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"company_bae67b49f26a10001a34327a4e210030":{"allOf":[{"$ref":"#/definitions/companyDisplay_403c2a4e9ce210000601c146ed560173"},{}]},"shipToCustomer_bae67b49f26a10001b03b4363b340034":{"allOf":[{"$ref":"#/definitions/customerDisplay_403c2a4e9ce2100005f3fde67ba2016f"},{}]},"revenueStatus_bae67b49f26a10001b03b47b3b0f0038":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"unitOfMeasure_bae67b49f26a10001a343261cc45002e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"usageBasedTransactionRepresentation_bae67b49f26a1000177cb238aed80020":{"allOf":[{"type":"object","properties":{"transactionDate":{"type":"string","format":"date","description":"Date the transaction was incurred against.","x-workday-type":"Date"},"revenueStartDate":{"type":"string","format":"date","description":"The Revenue Start Date for the Usage Based Transaction.","x-workday-type":"Date"},"customerContractLine":{"$ref":"#/definitions/customerContractLine_bae67b49f26a1000177cb29f86ac0022"},"shipToAddress":{"$ref":"#/definitions/shipToAddress_bae67b49f26a10001b03b41a6d6e0033"},"revenueEndDate":{"type":"string","format":"date","description":"The Revenue End Date for the Usage Based Transaction.","x-workday-type":"Date"},"customer":{"$ref":"#/definitions/customer_bae67b49f26a10001b03b49e21cb003a"},"billingStatus":{"$ref":"#/definitions/billingStatus_edef6942ac4b10001e816487ef120085"},"description":{"type":"string","description":"Description for the Usage Based Transaction.","x-workday-type":"Text"},"salesItem":{"$ref":"#/definitions/salesItem_bae67b49f26a10001b03b48bb7600039"},"rateToBill":{"type":"integer","description":"Actual rate the transaction should bill.","x-workday-type":"Numeric"},"worktags":{"type":"array","description":"Worktags","items":{"$ref":"#/definitions/worktagSummary_f712d0e0d34b10000e1907ce1dbb005c"},"x-workday-type":"Multi-instance"},"company":{"$ref":"#/definitions/company_bae67b49f26a10001a34327a4e210030"},"shipToCustomer":{"$ref":"#/definitions/shipToCustomer_bae67b49f26a10001b03b4363b340034"},"revenueStatus":{"$ref":"#/definitions/revenueStatus_bae67b49f26a10001b03b47b3b0f0038"},"unitOfMeasure":{"$ref":"#/definitions/unitOfMeasure_bae67b49f26a10001a343261cc45002e"},"quantity":{"type":"integer","description":"The usage count or the quantity for the Billable Transaction.","x-workday-type":"Numeric"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"editUsageBasedTransaction_edef6942ac4b10000de1c1451e090040":{"allOf":[{"type":"object","properties":{"description":{"type":"string","description":"Description for the Usage Based Transaction.","x-workday-type":"Text"},"rateToBill":{"type":"integer","description":"Actual rate the transaction should bill.","x-workday-type":"Numeric"},"reasonForChange":{"type":"string","description":"Rate change reason for change","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"type_bec6d77718ad10000f16a128848e014a":{"allOf":[{"$ref":"#/definitions/contractTypeDisplay_63adc930657810001b63a918b0f4015a"},{}]},"company_bec6d77718ad10000f16a1442ad0014d":{"allOf":[{"$ref":"#/definitions/companyDisplay_403c2a4e9ce210000601c146ed560173"},{}]},"billToCustomer_920f0a7eaae9100009e451ce91d318ed":{"allOf":[{"$ref":"#/definitions/customerDisplay_403c2a4e9ce2100005f3fde67ba2016f"},{}]},"soldToCustomer_bec6d77718ad10000f16a0fef3830147":{"allOf":[{"$ref":"#/definitions/customerDisplay_403c2a4e9ce2100005f3fde67ba2016f"},{}]},"installmentBillingScheduleTemplate_a1748c0e6b3810000cd6290479790026":{"allOf":[{"$ref":"#/definitions/installmentBillingScheduleTemplateDisplay_a1748c0e6b3810000e43df975946002e"},{}]},"customerContractRepresentation_920f0a7eaae91000075c15dfc04f0024":{"allOf":[{"type":"object","properties":{"amount":{"type":"integer","description":"The current contract amount for the customer contract.","x-workday-type":"Numeric"},"type":{"$ref":"#/definitions/type_bec6d77718ad10000f16a128848e014a"},"company":{"$ref":"#/definitions/company_bec6d77718ad10000f16a1442ad0014d"},"billToCustomer":{"$ref":"#/definitions/billToCustomer_920f0a7eaae9100009e451ce91d318ed"},"soldToCustomer":{"$ref":"#/definitions/soldToCustomer_bec6d77718ad10000f16a0fef3830147"},"poNumber":{"type":"string","description":"The purchase order number for the customer contract.","x-workday-type":"Text"},"effectiveDate":{"type":"string","format":"date","description":"Date Contract becomes Effective","x-workday-type":"Date"},"name":{"type":"string","description":"The contract name for the customer contract.","x-workday-type":"Text"},"lineCount":{"type":"integer","description":"The number of Contract Lines for the Customer Contract.","x-workday-type":"Numeric"},"signedDate":{"type":"string","format":"date","description":"The contract signed date for the customer contract.","x-workday-type":"Date"},"installmentBillingScheduleTemplate":{"$ref":"#/definitions/installmentBillingScheduleTemplate_a1748c0e6b3810000cd6290479790026"},"notes":{"type":"string","description":"Customer Contract Notes","x-workday-type":"Rich Text"},"number":{"type":"string","description":"The contract number for the contract.","x-workday-type":"Text"},"worktags":{"type":"array","description":"Worktags","items":{"$ref":"#/definitions/worktagSummary_f712d0e0d34b10000e1907ce1dbb005c"},"x-workday-type":"Multi-instance"},"billingNotes":{"type":"string","description":"The billing notes for the customer contract.","x-workday-type":"Rich Text"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"customerContractDisplay_13d297964374100011e06b664fe4007a":{"allOf":[{"type":"object","properties":{"event":{"type":"array","description":"Returns any related Events for this document.","items":{"$ref":"#/definitions/customerContractEventDisplay_07bd33d776d010000a77fec8a9c70138"},"x-workday-type":"Multi-instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Customer_Contract_Reference_ID":{"type":"string","description":"Reference id of the instance"}}}]},"status_00cc7541f29410000f3811dec88400c9":{"allOf":[{"$ref":"#/definitions/status_00cc7541f29410000f5616a7f61000ce"},{}]},"amendmentType_00cc7541f29410000f3811f4375900cb":{"allOf":[{"$ref":"#/definitions/contractAmendmentTypeDisplay_155b6c9d5bca10001692120138880066"},{}]},"cancelCustomerContractRepresentation_00cc7541f29410000f3811c6adf400c8":{"allOf":[{"type":"object","properties":{"amendmentEffectiveDate":{"type":"string","format":"date","description":"The amendment effective date for the contract.","x-workday-type":"Date"},"status":{"$ref":"#/definitions/status_00cc7541f29410000f3811dec88400c9"},"amendmentType":{"$ref":"#/definitions/amendmentType_00cc7541f29410000f3811f4375900cb"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"taxCode_95946a41b1f1100014a7ad69408d1bac":{"allOf":[{"$ref":"#/definitions/taxCodeSummary_403c2a4e9ce2100006267faeaaa8017c"},{}]},"type_95946a41b1f110001261fc9254031b94":{"allOf":[{"$ref":"#/definitions/contractLineTypeDisplay_63adc930657810001b95a73b87cf0161"},{}]},"revenueCategory_95946a41b1f1100014a7ad4f50971ba9":{"allOf":[{"$ref":"#/definitions/revenueCategoryDisplay_63adc930657810001ba59dee1c100164"},{}]},"salesItem_95946a41b1f1100014a7ad583f701baa":{"allOf":[{"$ref":"#/definitions/salesItemDisplay_63adc930657810001bac3af8fbf90166"},{}]},"renewalTerms_4da83c96eed310001bdea13a83310018":{"allOf":[{"$ref":"#/definitions/contractLineRenewalRepresentation_4ddb505d342710001a196f5cbf030062"},{}]},"taxApplicability_95946a41b1f1100014a7ad60809c1bab":{"allOf":[{"$ref":"#/definitions/taxApplicabilityDisplay_63adc930657810001bb6806032bd0168"},{}]},"unitOfMeasure_95946a41b1f1100014a7ad7b2c7f1bae":{"allOf":[{"$ref":"#/definitions/unitOfMeasureDisplay_63adc930657810001bcf059828f3016b"},{}]},"unitOfMeasure2_1cdee400c7a310000feebe6a7c5000e4":{"allOf":[{"$ref":"#/definitions/unitOfMeasureDisplay_63adc930657810001bcf059828f3016b"},{}]},"customerContractLineRepresentation_95946a41b1f1100011f85359c25c1b90":{"allOf":[{"type":"object","properties":{"quantity2":{"type":"integer","description":"The second Quantity value on the document line.","x-workday-type":"Numeric"},"worktags":{"type":"array","description":"Worktags","items":{"$ref":"#/definitions/worktagSummary_f712d0e0d34b10000e1907ce1dbb005c"},"x-workday-type":"Multi-instance"},"itemDescription":{"type":"string","description":"The line item description persisted for the document line.","x-workday-type":"Text"},"quantity":{"type":"integer","description":"The quantity for the document line.","x-workday-type":"Numeric"},"taxCode":{"$ref":"#/definitions/taxCode_95946a41b1f1100014a7ad69408d1bac"},"unitPrice":{"type":"integer","description":"The unit cost for the customer contract line.","x-workday-type":"Numeric"},"type":{"$ref":"#/definitions/type_95946a41b1f110001261fc9254031b94"},"revenueCategory":{"$ref":"#/definitions/revenueCategory_95946a41b1f1100014a7ad4f50971ba9"},"salesItem":{"$ref":"#/definitions/salesItem_95946a41b1f1100014a7ad583f701baa"},"amount":{"type":"integer","description":"The extended amount for the document line.  Excludes Extended Amounts on Tax Only Invoices.","x-workday-type":"Numeric"},"renewalTerms":{"$ref":"#/definitions/renewalTerms_4da83c96eed310001bdea13a83310018"},"taxApplicability":{"$ref":"#/definitions/taxApplicability_95946a41b1f1100014a7ad60809c1bab"},"billingToDate":{"type":"string","format":"date","description":"The Billing To Date for Customer Contract Line.","x-workday-type":"Date"},"billingFromDate":{"type":"string","format":"date","description":"The Billing From Date for Customer Contract Line.","x-workday-type":"Date"},"number":{"type":"integer","description":"The Line Number for the contract line.","x-workday-type":"Numeric"},"unitOfMeasure":{"$ref":"#/definitions/unitOfMeasure_95946a41b1f1100014a7ad7b2c7f1bae"},"unitOfMeasure2":{"$ref":"#/definitions/unitOfMeasure2_1cdee400c7a310000feebe6a7c5000e4"},"renewable":{"type":"boolean","description":"Renewable Customer Contract Line","x-workday-type":"Boolean"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"adjustmentReason_f572211fb69510000af1efb6fc260016":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"billingStatus_32f06174ed841000162d26cfb2160076":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"editBillableTransaction_8ddea882065e100013bba4b3308300b4":{"allOf":[{"type":"object","properties":{"adjustmentReason":{"$ref":"#/definitions/adjustmentReason_f572211fb69510000af1efb6fc260016"},"memo":{"type":"string","description":"Memo for the ~project~ billable transaction.","x-workday-type":"Text"},"hoursToBill":{"type":"integer","description":"Actual hours this transaction should bill.","x-workday-type":"Numeric"},"zeroAmountToBill":{"type":"boolean","description":"If flag set, change Amount To Bill passed in.","x-workday-type":"Boolean"},"billingStatus":{"$ref":"#/definitions/billingStatus_32f06174ed841000162d26cfb2160076"},"rateToBill":{"type":"integer","description":"Actual rate the transaction should bill.","x-workday-type":"Numeric"},"reasonForChange":{"type":"string","description":"Rate change reason for change","x-workday-type":"Text"},"amountToBill":{"type":"integer","description":"The amount to bill the customer, rounded for currency precision.  Excludes Extended Amounts on Tax Only Invoices.","x-workday-type":"Numeric"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"billingStatus_8ddea882065e100006b6b42acb1f008f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"revenueStatus_daf7104c63ca10000acf246aea691263":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"category_8ddea882065e100006b6b45cc6c30094":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"customer_6c59ece2a7ed10001ed985eb8bc5011b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"expenseDescriptor_24877ab6f6e4100007ceac86316f00ca":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"project_8ddea882065e1000139deaad4d1f00b1":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"transactionSource_8ddea882065e1000139deac2bff700b2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"resourceProvider_32ea74fca4f3100013f567a61d010122":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"projectRole_184b770a949c1000116a331d71ff0020":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"adjustmentReason_184b770a949c1000116a33034b3d001f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"worker_32ea74fca4f310001367ea0391ae0115":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"projectTask_184b770a949c1000116a3327928e0021":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{}]},"viewBillableTransaction_8ddea882065e100006b6b409b1b4008e":{"allOf":[{"type":"object","properties":{"previouslyInvoiced":{"type":"boolean","description":"True if its a previously invoiced Billable Transaction.","x-workday-type":"Boolean"},"memo":{"type":"string","description":"Memo for the ~project~ billable transaction.","x-workday-type":"Text"},"invoiceDescription":{"type":"string","description":"Supplier invoice line item description for the billable transaction.","x-workday-type":"Text"},"adjustmentCount":{"type":"integer","description":"Count of Billing Rate Applications for this Billing Transaction.","x-workday-type":"Numeric"},"hoursToBill":{"type":"integer","description":"Actual hours this transaction should bill.","x-workday-type":"Numeric"},"zeroAmountToBill":{"type":"boolean","description":"If flag set, change Amount To Bill passed in.","x-workday-type":"Boolean"},"billableRate":{"type":"integer","description":"The original rate to bill the customer.","x-workday-type":"Numeric"},"billingStatus":{"$ref":"#/definitions/billingStatus_8ddea882065e100006b6b42acb1f008f"},"revenueStatus":{"$ref":"#/definitions/revenueStatus_daf7104c63ca10000acf246aea691263"},"reasonForChange":{"type":"string","description":"Rate change reason for change","x-workday-type":"Text"},"rateToBill":{"type":"integer","description":"Actual rate the transaction should bill.","x-workday-type":"Numeric"},"category":{"$ref":"#/definitions/category_8ddea882065e100006b6b45cc6c30094"},"customer":{"$ref":"#/definitions/customer_6c59ece2a7ed10001ed985eb8bc5011b"},"billableAmount":{"type":"integer","description":"The original amount to bill the customer.  Excludes Extended Amounts on Tax Only Invoices.","x-workday-type":"Numeric"},"expenseDescriptor":{"$ref":"#/definitions/expenseDescriptor_24877ab6f6e4100007ceac86316f00ca"},"project":{"$ref":"#/definitions/project_8ddea882065e1000139deaad4d1f00b1"},"transactionDate":{"type":"string","format":"date","description":"Date the transaction was incurred against.","x-workday-type":"Date"},"amountToBill":{"type":"integer","description":"The amount to bill the customer, rounded for currency precision.  Excludes Extended Amounts on Tax Only Invoices.","x-workday-type":"Numeric"},"transactionSource":{"$ref":"#/definitions/transactionSource_8ddea882065e1000139deac2bff700b2"},"resourceProvider":{"$ref":"#/definitions/resourceProvider_32ea74fca4f3100013f567a61d010122"},"billableHours":{"type":"integer","description":"The original hours to bill the customer.","x-workday-type":"Numeric"},"projectRole":{"$ref":"#/definitions/projectRole_184b770a949c1000116a331d71ff0020"},"adjustmentReason":{"$ref":"#/definitions/adjustmentReason_184b770a949c1000116a33034b3d001f"},"worker":{"$ref":"#/definitions/worker_32ea74fca4f310001367ea0391ae0115"},"projectTask":{"$ref":"#/definitions/projectTask_184b770a949c1000116a3327928e0021"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"href":{"type":"string","description":"A link to the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"billingRateApplication_3d4d69e01dcc10001665940600ca00a1":{"allOf":[{"type":"object","properties":{"billingRateRuleType":{"type":"string","description":"The type of rate rule for this application.","x-workday-type":"Text"},"reasonForChange":{"type":"string","description":"The reason for change for this adjustment.","x-workday-type":"Text"},"amountToBill":{"type":"integer","description":"The total amount applied to the billing rate rule break on this transaction in the currency of the Billing Schedule of the Contract Line of the Billable Transaction the Billing Rate Application is for.","x-workday-type":"Numeric"},"ruleName":{"type":"string","description":"The billing rate rule name associated with this transaction.","x-workday-type":"Text"},"quantityToBill":{"type":"integer","description":"The units applied to the billing rate rule break on this transaction.","x-workday-type":"Numeric"},"rateAdjustmentAmount":{"type":"integer","description":"The rate adjustment amount for the billable transaction.","x-workday-type":"Numeric"},"rateStartingAmount":{"type":"integer","description":"The starting rate amount, before adjustment.","x-workday-type":"Numeric"},"applicationOrder":{"type":"integer","description":"The order of this adjustment in the change history of the billable transaction.","x-workday-type":"Numeric"},"rateEndingAmount":{"type":"integer","description":"The ending rate amount, after adjustment.","x-workday-type":"Numeric"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"MULTIPLE_INSTANCE_MODEL_REFERENCE":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"}}}},"customerContractEventDisplay_07bd33d776d010000a77fec8a9c70138":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"contractAmendmentTypeDisplay_155b6c9d5bca10001692120138880066":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"countryRegionDisplay_7c1e78fa078f100007abc05bc881005b":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"Country_Region_ID":{"type":"string","description":"Reference id of the instance"}}}]},"country_7c1e78fa078f100007513fbef777004f":{"allOf":[{"$ref":"#/definitions/countryDisplay_7c1e78fa078f1000079a6bdd461d0057"},{}]},"countryRegion_7c1e78fa078f100007513fa05eb60048":{"allOf":[{"$ref":"#/definitions/countryRegionDisplay_7c1e78fa078f100007abc05bc881005b"},{}]},"addressDisplay_7c1e78fa078f100007513f8b03e40046":{"allOf":[{"type":"object","properties":{"regionSubdivision2":{"type":"string","description":"Region Subdivision 2","x-workday-type":"Text"},"citySubdivision2":{"type":"string","description":"City Subdivision 2","x-workday-type":"Text"},"citySubdivision1":{"type":"string","description":"City Subdivision 1","x-workday-type":"Text"},"addressLine2":{"type":"string","description":"Address Line 2","x-workday-type":"Text"},"postalCode":{"type":"string","description":"Postal Code","x-workday-type":"Text"},"country":{"$ref":"#/definitions/country_7c1e78fa078f100007513fbef777004f"},"addressLine4":{"type":"string","description":"Address Line 4","x-workday-type":"Text"},"countryRegion":{"$ref":"#/definitions/countryRegion_7c1e78fa078f100007513fa05eb60048"},"addressLine3":{"type":"string","description":"Address Line 3","x-workday-type":"Text"},"addressLine1":{"type":"string","description":"Address Line 1","x-workday-type":"Text"},"regionSubdivision1":{"type":"string","description":"Region Subdivision 1","x-workday-type":"Text"},"city":{"type":"string","description":"City","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"countryDisplay_7c1e78fa078f1000079a6bdd461d0057":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"ISO_3166-1_Alpha-3_Code":{"type":"string","description":"Reference id of the instance"}}}]},"companyDisplay_403c2a4e9ce210000601c146ed560173":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Company_Reference_ID":{"type":"string","description":"Reference id of the instance"}}}]},"salesItemDisplay_63adc930657810001bac3af8fbf90166":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Sales_Item_ID":{"type":"string","description":"Reference id of the instance"}}}]},"installmentBillingScheduleTemplateDisplay_a1748c0e6b3810000e43df975946002e":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"Billing_Schedule_Template_ID":{"type":"string","description":"Reference id of the instance"}}}]},"unitOfMeasureDisplay_63adc930657810001bcf059828f3016b":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"UN_CEFACT_Common_Code_ID":{"type":"string","description":"Reference id of the instance"}}}]},"contractLineRenewalRepresentation_4ddb505d342710001a196f5cbf030062":{"allOf":[{"type":"object","properties":{"notes":{"type":"string","description":"Notes from the customer contract line Renewal Terms.","x-workday-type":"Rich Text"},"rate":{"type":"integer","description":"The renewal rate (unit price) for the customer contract line.","x-workday-type":"Numeric"},"amount":{"type":"integer","description":"The Renewal Amount (Extended Amount) for the customer contract line.","x-workday-type":"Numeric"},"quantity":{"type":"integer","description":"Renewal Quantity for the customer contract line.","x-workday-type":"Numeric"},"optOutPeriod":{"type":"string","description":"The opt-out or notification period specified for the customer Contract Line Renewal in number of days.","x-workday-type":"Text"},"percent":{"type":"integer","description":"The Renewal Percent for the customer contract line.","x-workday-type":"Numeric"},"toDate":{"type":"string","format":"date","description":"The end date of the Renewal Terms for the customer contract line.","x-workday-type":"Date"},"autoRenew":{"type":"boolean","description":"Returns true if Renewal Terms set a contract line to Auto-Renew.","x-workday-type":"Boolean"},"quantity2":{"type":"integer","description":"Renewal Quantity 2 for the customer contract line.","x-workday-type":"Numeric"},"fromDate":{"type":"string","format":"date","description":"The start date of the Renewal Terms for the customer contract line.","x-workday-type":"Date"},"coTerm":{"type":"boolean","description":"Returns true if Renewal Terms set a contract line to co-terminate.","x-workday-type":"Boolean"},"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"taxCodeSummary_403c2a4e9ce2100006267faeaaa8017c":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Tax_Code_ID":{"type":"string","description":"Reference id of the instance"}}}]},"customerDisplay_403c2a4e9ce2100005f3fde67ba2016f":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Customer_Reference_ID":{"type":"string","description":"Reference id of the instance"},"Customer_ID":{"type":"string","description":"Reference id of the instance"}}}]},"status_00cc7541f29410000f5616a7f61000ce":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"taxApplicabilityDisplay_63adc930657810001bb6806032bd0168":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Tax_Applicability_ID":{"type":"string","description":"Reference id of the instance"}}}]},"contractLineTypeDisplay_63adc930657810001b95a73b87cf0161":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Contract_Line_Type_ID":{"type":"string","description":"Reference id of the instance"}}}]},"revenueCategoryDisplay_63adc930657810001ba59dee1c100164":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"Revenue_Category_ID":{"type":"string","description":"Reference id of the instance"}}}]},"contractTypeDisplay_63adc930657810001b63a918b0f4015a":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"customerContractAmendmentEventDisplay_4afc2899f1a31000150c45c439f90054":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"worktagSummary_f712d0e0d34b10000e1907ce1dbb005c":{"allOf":[{"type":"object","properties":{"id":{"type":"string","description":"Id of the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]}}}