{"swagger":"2.0","info":{"version":"v1Alpha","title":"Student","description":"The Public Student REST APIs will allow customers to implement student functionality into their existing websites.\n\nExample Use Cases\n---\n - Having a student directory where students can view/search other students profiles and contact information.\n - Being able to create a Student Charge on the Student Account  \n   Examples -> club dues, sports tickets\n - Displaying a public course catalog."},"host":"api.workday.com","basePath":"/student/v1Alpha","schemes":["https"],"produces":["application/json"],"consumes":["application/json"],"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"security":[{"OAuth 2.0":[]}],"tags":[{"name":"Student Foundation","description":"Core Student components"},{"name":"Curriculum","description":"Course and Course Section interface"},{"name":"Student Records","description":"API for components in Student Records"},{"name":"Student Finance","description":"API for components in Student Finance"}],"paths":{"/students/{id}":{"get":{"tags":["Student Foundation"],"summary":"Gets the View of a Student","description":"Domain: Student Data: Public Student Reports","parameters":[{"name":"id","in":"path","description":"The WID of the Student","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a Student","schema":{"$ref":"#/definitions/Student"}}}}},"/students/me":{"get":{"tags":["Student Foundation"],"summary":"Gets the View of the currently logged in Student","description":"Domain: Student Data: Public Student Reports","responses":{"200":{"description":"Returns a Student","schema":{"$ref":"#/definitions/Student"}}}}},"/students":{"get":{"tags":["Student Foundation"],"summary":"Gets the List of all Students matching the query parameters.","description":"Domain: Student Data: Public Student Reports","parameters":[{"name":"academicUnit","in":"query","description":"The WID of the student's primary Academic Unit","required":false,"type":"string"},{"name":"academicLevel","in":"query","description":"The WID of the student's primary Academic Level","required":false,"type":"string"},{"name":"programOfStudy","in":"query","description":"The WID of the student's primary Program of Study","required":false,"type":"string"}],"responses":{"200":{"description":"Returns Students","schema":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/Student"}}}}}}}},"/students/{id}/courseRegistrations":{"get":{"tags":["Student Records"],"summary":"Gets the List of Course Registrations for a Student","description":"Domain: Manage: Academic Records","parameters":[{"name":"id","in":"path","description":"The WID of the Student","required":true,"type":"string"},{"name":"academicPeriod","in":"query","description":"The WID of an academic period to filter by","required":false,"type":"string"}],"responses":{"200":{"description":"Returns all course registrations for a student.","schema":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/CourseRegistration"}}}}}}}},"/students/{id}/charges":{"post":{"tags":["Student Finance"],"summary":"Creates a Student Charge for a Student","description":"Domain: Apply Student Charge","parameters":[{"name":"id","in":"path","description":"The WID of the Student","required":true,"type":"string"},{"name":"studentCharge","description":"Detailed charge information to be applied to the Student's account","in":"body","schema":{"$ref":"#/definitions/StudentCharge"}}],"responses":{"200":{"description":"Create a Charge for a Student"}}}},"/students/{id}/charges/{chargeId}":{"get":{"tags":["Student Finance"],"summary":"Gets view information for a single Student Charge","description":"Domain: Manage: Student Financial Accounts","parameters":[{"name":"id","in":"path","description":"The WID of the Student","required":true,"type":"string"},{"name":"chargeId","in":"path","description":"The WID of the Charge","required":true,"type":"string"}],"responses":{"200":{"description":"View a specific course","schema":{"$ref":"#/definitions/StudentChargeView"}}}}},"/courses/{id}":{"get":{"tags":["Curriculum"],"summary":"Gets the View for a Course.","description":"Domain: Manage: Curriculum Management","parameters":[{"name":"id","in":"path","description":"The WID of the Course","required":true,"type":"string"}],"responses":{"200":{"description":"View a specific Course","schema":{"$ref":"#/definitions/Course"}}}}},"/courses":{"get":{"tags":["Curriculum"],"summary":"Gets the list of all Courses matching the query parameters.","description":"Domain: Manage: Curriculum Management","parameters":[{"name":"subject","in":"query","description":"The WID of the Course Subject","required":false,"type":"string"}],"responses":{"200":{"description":"Returns all offered Courses","schema":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/Course"}}}}}}}},"/courseSections/{id}":{"get":{"tags":["Curriculum"],"summary":"Gets the View for a Course Section.","description":"Domain: Manage: Curriculum Management","parameters":[{"name":"id","in":"path","description":"The WID of the Course Section","required":true,"type":"string"}],"responses":{"200":{"description":"View a specific Course Section","schema":{"$ref":"#/definitions/CourseSection"}}}}},"/courseSections":{"get":{"tags":["Curriculum"],"summary":"Gets the list of all Course Sections matching the query parameters.","description":"Domain: Manage: Curriculum Management","parameters":[{"name":"academicPeriod","in":"query","description":"The WID of the Academic Period where the Course Section starts in.","required":true,"type":"string"},{"name":"academicLevel","in":"query","description":"The WID of the Academic Level for the Course Section.","required":false,"type":"string"},{"name":"subject","in":"query","description":"The WID of the Course Subject for the Course Section.","required":false,"type":"string"},{"name":"course","in":"query","description":"The WID of the Course for the Course Section.","required":false,"type":"string"}],"responses":{"200":{"description":"Returns all Course Sections based on query parameters.","schema":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/CourseSection"}}}}}}}},"/courseSubjects/{id}":{"get":{"tags":["Curriculum"],"summary":"Gets the View for a Course Subject.","description":"Domain: Manage: Curriculum Management","parameters":[{"name":"id","in":"path","description":"The WID of the Course Subject","required":true,"type":"string"}],"responses":{"200":{"description":"Returns a specific Course Subject.","schema":{"$ref":"#/definitions/CourseSubject"}}}}},"/courseSubjects":{"get":{"tags":["Curriculum"],"summary":"Gets the list of all Course Subjects.","description":"Domain: Manage: Curriculum Management","responses":{"200":{"description":"Returns all course subjects","schema":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/CourseSubject"}}}}}}}},"/programsOfStudy/{id}":{"get":{"tags":["Student Foundation"],"summary":"Gets the View for a Program of Study.","description":"Domain: Manage: Program of Study","parameters":[{"name":"id","in":"path","description":"The WID of the Program of Study","required":true,"type":"string"}],"responses":{"200":{"description":"View a specific Program of Study","schema":{"$ref":"#/definitions/ProgramOfStudy"}}}}},"/programsOfStudy":{"get":{"tags":["Student Foundation"],"summary":"Gets the list of all Programs of Study.","description":"Domain: Manage: Program of Study","responses":{"200":{"description":"Returns all Programs of Study.","schema":{"type":"object","properties":{"total":{"type":"number"},"data":{"type":"array","items":{"$ref":"#/definitions/ProgramOfStudy"}}}}}}}}},"definitions":{"Student":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"preferredName":{"type":"string","description":"Returns the preferred name for the student"},"address":{"type":"string","description":"Returns the primary home address for the student"},"emailAddress":{"type":"string","description":"Returns the primary home email address for the student"},"phoneNumber":{"type":"string","description":"Returns the primary home phone number for the student"},"facebookURL":{"type":"string"},"googlePlusURL":{"type":"string"},"linkedInURL":{"type":"string"},"twitterUserName":{"type":"string"},"primaryStudentRecord":{"$ref":"#/definitions/StudentRecord"},"competencyAssignments":{"$ref":"#/definitions/CompetencyAssignment"}}},"StudentCharge":{"type":"object","properties":{"chargeDate":{"type":"string","format":"date"},"dueDate":{"type":"string","format":"date"},"academicPeriod":{"$ref":"#/definitions/InstanceReference"},"chargeItem":{"$ref":"#/definitions/InstanceReference"},"amount":{"$ref":"#/definitions/CurrencyValue"},"memo":{"type":"string"}}},"StudentChargeView":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"chargeDate":{"type":"string","format":"date"},"dueDate":{"type":"string","format":"date"},"academicPeriod":{"$ref":"#/definitions/InstanceReference"},"chargeItem":{"$ref":"#/definitions/InstanceReference"},"amount":{"$ref":"#/definitions/CurrencyValue"},"memo":{"type":"string"}}},"Course":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"subject":{"$ref":"#/definitions/CourseSubject"},"listingNumber":{"type":"integer"},"academicLevel":{"$ref":"#/definitions/Instance"},"academicUnits":{"$ref":"#/definitions/Instance"},"instructionalFormats":{"$ref":"#/definitions/Instance"}}},"CourseSection":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"course":{"$ref":"#/definitions/Course"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"subject":{"$ref":"#/definitions/CourseSubject"},"academicLevel":{"$ref":"#/definitions/InstanceReference"},"academicPeriod":{"$ref":"#/definitions/Instance"},"deliveryMode":{"$ref":"#/definitions/Instance"},"instructionalFormat":{"$ref":"#/definitions/Instance"},"instructors":{"$ref":"#/definitions/Instructor"},"status":{"$ref":"#/definitions/Instance"},"components":{"$ref":"#/definitions/SectionComponent"},"campusLocations":{"$ref":"#/definitions/Instance"},"tags":{"$ref":"#/definitions/Instance"},"hidden":{"type":"boolean"}}},"CourseSubject":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"abbreviation":{"type":"string"},"name":{"type":"string"}}},"CourseRegistration":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"course":{"$ref":"#/definitions/Instance"},"units":{"type":"integer"},"academicPeriod":{"$ref":"#/definitions/Instance"},"grade":{"$ref":"#/definitions/Instance"}}},"ProgramOfStudy":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"academicUnit":{"$ref":"#/definitions/Instance"},"academicLevel":{"$ref":"#/definitions/Instance"},"cipCode":{"$ref":"#/definitions/Instance"},"programType":{"$ref":"#/definitions/Instance"},"credentials":{"$ref":"#/definitions/Credential"}}},"Credential":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"credentialType":{"$ref":"#/definitions/Instance"}}},"StudentRecord":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"academicUnit":{"$ref":"#/definitions/Instance"},"academicLevel":{"$ref":"#/definitions/Instance"},"primaryProgramOfStudy":{"$ref":"#/definitions/Instance"}}},"SectionComponent":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"meetingPattern":{"$ref":"#/definitions/Instance"},"location":{"$ref":"#/definitions/Instance"}}},"CompetencyAssignment":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"},"competency":{"$ref":"#/definitions/Instance"}}},"Instance":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}},"example":[{"id":"d21df98113c110d01e24dc286dfa0069","descriptor":"The display ID of the instance"}]},"InstanceReference":{"type":"object","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}},"example":[{"id":"d21df98113c110d01e24dc286dfa0069"}]},"Instructor":{"type":"object","description":"Primary Instructors returned only.","properties":{"id":{"type":"string"},"descriptor":{"type":"string"}}},"CurrencyValue":{"type":"object","properties":{"value":{"type":"number","format":"double"},"currency":{"type":"string"}}}}}