{"swagger":"2.0","info":{"description":"The Talent Management public service contains resources that expose Workday Talent Management Business Services data. This service can be used for integration with other talent management  systems.","version":"v1","title":"Talent Management"},"host":"api.workday.com","basePath":"/talentManagement/v1","tags":[{"name":"mentorships","description":"The Mentorship interface"},{"name":"createMentorshipForWorker","description":"Create Mentorship For Worker interface"},{"name":"createMentorshipForMe","description":"Create Mentorship For Me interface"}],"schemes":["https"],"paths":{"/mentorships":{"get":{"tags":["mentorships"],"summary":"Get all mentorships","description":"Returns mentorships viewable by authenticated user.\n\nSecured by: Worker Data: Mentoring, Self Service: Mentoring","produces":["application/json"],"parameters":[{"name":"mentee","in":"query","description":"Filter the mentorship by using the WID of Mentee.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"closed","in":"query","description":"Get only the closed mentorship if set to true.","required":false,"type":"boolean"},{"name":"mentor","in":"query","description":"Filter the mentorship by using the WID of Mentor.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"closeMentorshipReason","in":"query","description":"Filter the mentorship using the WID of close mentorship reason.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"mentorType","in":"query","description":"Filter the mentorship by using the WID of Mentor Type.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"inProgress","in":"query","description":"Get only the in progress mentorship if set to true.","required":false,"type":"boolean"},{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["mentorshipDetail","referenceIndexData"]}],"responses":{"200":{"description":"getting response","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/mentorshipDetail_ff0d12e68ab310001383c6eeeee0001d"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/mentorships/{ID}/close":{"post":{"tags":["mentorships"],"summary":"Closes the mentorship.","description":"Functional Description\n---\nThe Close Mentorship endpoint will be used to Close mentorships.\n\nExample Use Cases\n---\nESS: Worker or Mentor wants to close the mentorship.\n\nAdditional Information\n---\n* Security for ESS and MSS follows the security policy of the Manage Mentorship business process policy.\n** Close ~Mentorship~ with\n* If the business policy for Manage ~Mentorship~ has an approval step, then the mentorship will not be closed until the mentorship event is approved.\n\nSecured by: Close ~Mentorship~ with","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["createMentorshipForMeInput","closeMentorshipInput","editMentorshipInput","createMentorshipForWorkerInput","workerSnapshotForEvent"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"closeMentorshipInput","required":true,"schema":{"$ref":"#/definitions/closeMentorshipInput_96e7ee2167ea10001dd469373766088c"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/closeMentorshipInput_96e7ee2167ea10001dd469373766088b"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/mentorships/{ID}":{"get":{"tags":["mentorships"],"summary":"","description":"","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["mentorshipDetail","referenceIndexData"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"getting response","schema":{"$ref":"#/definitions/mentorshipDetail_ff0d12e68ab310001383c6eeeee0001d"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/mentorships/{ID}/edit":{"post":{"tags":["mentorships"],"summary":"Edit the mentorship.","description":"Functional Description\n---\nThe Edit Mentorship endpoint will be used to Edit the mentorships.\n\nExample Use Cases\n---\nESS: Worker or Mentor wants to edit the mentorship to update additional informations.\n\nAdditional Information\n---\n* Security for ESS and MSS follows the security policy of the Manage Mentorship business process policy.\nEdit ~Mentorship~ with\n* If the business policy for Manage ~Mentorship~ has an approval step, then the mentorship will not be updated until the mentorship event is approved.\n\nSecured by: Edit ~Mentorship~ with","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["createMentorshipForMeInput","closeMentorshipInput","editMentorshipInput","createMentorshipForWorkerInput","workerSnapshotForEvent"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"editMentorshipInput","required":true,"schema":{"$ref":"#/definitions/editMentorshipInput_d8a7d527cba210002b7fb16a7a42082b"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/editMentorshipInput_d8a7d527cba210002b7fb16a7a42082a"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/createMentorshipForWorker":{"post":{"tags":["createMentorshipForWorker"],"summary":"Creates a mentorship between two workers.","description":"Functional Description\n---\nThe Create Mentorship For Worker endpoint is used to create new mentorships between two workers.\n\nExample Use Cases\n---\nA manager can create a mentorship for thier direct report, and have the ability to choose a mentor, mentor type, and provide a purpose.\nAn Admin can create a mentorship between a worker and a mentor.\n\nAdditional Information\n---\nThe security follows the security policy of the Manage Mentorship business process.\nThe mentee, mentor, mentor type, purpose, and comment are specified in the body of the request.\nIf the business definition for Manage ~Mentorship~ has an approval step, then the mentorship is not created until the mentorship event is approved in Workday.\n\nSecured by: Add a ~Mentor~ for ~Worker~","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["createMentorshipForMeInput","closeMentorshipInput","editMentorshipInput","createMentorshipForWorkerInput","workerSnapshotForEvent"]},{"in":"body","name":"createMentorshipForWorkerInput","required":true,"schema":{"$ref":"#/definitions/createMentorshipForWorkerInput_9250dd1b917610001f4b181b79d90321"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/createMentorshipForWorkerInput_9250dd1b917610001f4b181b79d90320"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}},"/createMentorshipForMe":{"post":{"tags":["createMentorshipForMe"],"summary":"Creates a mentorship for the current processing worker where the user is also the mentee.","description":"Functional Description\n---\nThe Create Mentorship For Me endpoint is used by a user to create new mentorships for themself.\n\nExample Use Cases\n---\nESS: An employee wants to create a mentorship for themself and choose a mentor, mentor type, and provide a purpose.\n\nAdditional Information\n---\n* The security for the employee follows the security policy of the Manage Mentorship business process.\n* The mentee will default to current processing worker, and the mentor is specified in the body of the request.\n* If the business definition for Manage Mentorship has an approval step, then the mentorship is not created until the mentorship event is approved in Workday.\n\nSecured by: Add a ~Mentor~","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["createMentorshipForMeInput","closeMentorshipInput","editMentorshipInput","createMentorshipForWorkerInput","workerSnapshotForEvent"]},{"in":"body","name":"createMentorshipForMeInput","required":true,"schema":{"$ref":"#/definitions/createMentorshipForMeInput_9250dd1b917610001d2a9f52b53f02d3"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/createMentorshipForMeInput_9250dd1b917610001d2a9f52b53f02d2"}},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"closeMentorshipReason_ff0d12e68ab310001383c73aec170021":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/mentorshipDetail/closeMentorshipReason"}]},"mentorType_ff0d12e68ab310001383c74c41d00023":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/mentorshipDetail/mentorType"}]},"mentee_ff0d12e68ab310001383c75da64c0025":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/mentorshipDetail/mentee"}]},"mentorship_ff0d12e68ab310001383c74347a10022":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/mentorshipDetail/mentorship"}]},"mentor_ff0d12e68ab310001383c7547e180024":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/mentorshipDetail/mentor"}]},"mentorshipDetail_ff0d12e68ab310001383c6eeeee0001d":{"allOf":[{"type":"object","properties":{"purpose":{"type":"string","description":"Returns the purpose of the ~mentorship~.","x-workday-type":"Rich Text"},"closeMentorshipReason":{"$ref":"#/definitions/closeMentorshipReason_ff0d12e68ab310001383c73aec170021"},"startDate":{"type":"string","format":"date","description":"Returns the start date of the ~mentorship~.","x-workday-type":"Date"},"mentorType":{"$ref":"#/definitions/mentorType_ff0d12e68ab310001383c74c41d00023"},"mentee":{"$ref":"#/definitions/mentee_ff0d12e68ab310001383c75da64c0025"},"mentorship":{"$ref":"#/definitions/mentorship_ff0d12e68ab310001383c74347a10022"},"mentor":{"$ref":"#/definitions/mentor_ff0d12e68ab310001383c7547e180024"},"endDate":{"type":"string","format":"date","description":"Returns the end date of the ~mentorship~.","x-workday-type":"Date"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"closeMentorshipReason_96e7ee2167ea10001dd4695b51ef088c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/closeMentorshipInput/closeMentorshipReason"}]},"closeMentorshipInput_96e7ee2167ea10001dd469373766088b":{"allOf":[{"type":"object","properties":{"closeMentorshipReason":{"$ref":"#/definitions/closeMentorshipReason_96e7ee2167ea10001dd4695b51ef088c"},"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"closeMentorshipInput_96e7ee2167ea10001dd469373766088c":{"allOf":[{"type":"object","properties":{"closeMentorshipReason":{"$ref":"#/definitions/closeMentorshipReason_96e7ee2167ea10001dd4695b51ef088c"},"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"}}}]},"editMentorshipInput_d8a7d527cba210002b7fb16a7a42082a":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"},"purpose":{"type":"string","description":"Returns the proposed purpose for the ~mentorship~.","x-workday-type":"Rich Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"editMentorshipInput_d8a7d527cba210002b7fb16a7a42082b":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"},"purpose":{"type":"string","description":"Returns the proposed purpose for the ~mentorship~.","x-workday-type":"Rich Text"}}}]},"mentee_9250dd1b917610001f4b183baf160321":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createMentorshipForWorkerInput/mentee"}]},"mentorType_9250dd1b917610001f4b186789ce0324":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createMentorshipForWorkerInput/mentorType"}]},"mentor_9250dd1b917610001f4b185e02700323":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createMentorshipForWorkerInput/mentor"}]},"createMentorshipForWorkerInput_9250dd1b917610001f4b181b79d90320":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"},"mentee":{"$ref":"#/definitions/mentee_9250dd1b917610001f4b183baf160321"},"mentorType":{"$ref":"#/definitions/mentorType_9250dd1b917610001f4b186789ce0324"},"mentor":{"$ref":"#/definitions/mentor_9250dd1b917610001f4b185e02700323"},"purpose":{"type":"string","description":"Returns the proposed purpose for the ~mentorship~.","x-workday-type":"Rich Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"createMentorshipForWorkerInput_9250dd1b917610001f4b181b79d90321":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"},"mentee":{"$ref":"#/definitions/mentee_9250dd1b917610001f4b183baf160321"},"mentorType":{"$ref":"#/definitions/mentorType_9250dd1b917610001f4b186789ce0324"},"mentor":{"$ref":"#/definitions/mentor_9250dd1b917610001f4b185e02700323"},"purpose":{"type":"string","description":"Returns the proposed purpose for the ~mentorship~.","x-workday-type":"Rich Text"}}}]},"mentor_9250dd1b917610001d2a9f9b6b4c02d5":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createMentorshipForMeInput/mentor"}]},"mentorType_9250dd1b917610001d2a9f91dd7602d4":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/createMentorshipForMeInput/mentorType"}]},"createMentorshipForMeInput_9250dd1b917610001d2a9f52b53f02d2":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"},"mentor":{"$ref":"#/definitions/mentor_9250dd1b917610001d2a9f9b6b4c02d5"},"mentorType":{"$ref":"#/definitions/mentorType_9250dd1b917610001d2a9f91dd7602d4"},"purpose":{"type":"string","description":"Returns the proposed purpose for the ~mentorship~.","x-workday-type":"Rich Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"}}}]},"createMentorshipForMeInput_9250dd1b917610001d2a9f52b53f02d3":{"allOf":[{"type":"object","properties":{"comment":{"type":"string","description":"Returns last comment entered on the event, not including composed events, without security filtering. This CRF is for Integration use only.","x-workday-type":"Text"},"mentor":{"$ref":"#/definitions/mentor_9250dd1b917610001d2a9f9b6b4c02d5"},"mentorType":{"$ref":"#/definitions/mentorType_9250dd1b917610001d2a9f91dd7602d4"},"purpose":{"type":"string","description":"Returns the proposed purpose for the ~mentorship~.","x-workday-type":"Rich Text"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}},"reviewRating_39bf5da0d7e410000b63055be2bf008b":{"allOf":[{"type":"object","properties":{"rating":{"type":"string","description":"Name of Rating","x-workday-type":"Text"},"ratingValue":{"type":"integer","description":"Value of Rating","x-workday-type":"Numeric"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"jobProfileSummary_f0516314f4c31000164975563fc1007f":{"allOf":[{"type":"object","properties":{"management_level":{"type":"string","description":"The job profile's management type name","x-workday-type":"Text"},"job_profile_id":{"type":"string","description":"The job code for the job profile.  This is the unique identifier for the job profile.","x-workday-type":"Text"},"management_level_rank":{"type":"integer","description":"The job profile's management level number","x-workday-type":"Numeric"},"job_profile_name":{"type":"string","description":"The name of the job profile.","x-workday-type":"Text"},"job_family":{"type":"string","description":"The job profile's family name","x-workday-type":"Text"},"job_family_group":{"type":"string","description":"The job profile's family group name","x-workday-type":"Text"}}}]},"locationHierarchyView_c4502027a2bc100003e166f3f9b30035":{"allOf":[{"type":"object","properties":{"city":{"type":"string","description":"The city from the primary address for the Location.","x-workday-type":"Text"},"country":{"type":"string","description":"The country from the primary address for the Location.","x-workday-type":"Text"},"state":{"type":"string","description":"The state from the primary address for the Location.","x-workday-type":"Text"}}}]},"location_c4502027a2bc100003b188e93ae90032":{"allOf":[{"$ref":"#/definitions/locationHierarchyView_c4502027a2bc100003e166f3f9b30035"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/location"}]},"calibration_performance_39bf5da0d7e41000080603ffcbea0086":{"allOf":[{"$ref":"#/definitions/reviewRating_39bf5da0d7e410000b63055be2bf008b"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/calibration_performance"}]},"calibration_potential_39bf5da0d7e41000080603e64f550085":{"allOf":[{"$ref":"#/definitions/eventPotential_39bf5da0d7e410000bebce1fdd1600a3"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/calibration_potential"}]},"job_profile_f0516314f4c310001022ca5965b60076":{"allOf":[{"$ref":"#/definitions/jobProfileSummary_f0516314f4c31000164975563fc1007f"},{"x-prompt-resource":"/prompt/workerSnapshotForEvent/job_profile"}]},"workerSnapshotForEvent_c4502027a2bc10000368d37f1b3d0022":{"allOf":[{"type":"object","properties":{"compa_ratio":{"type":"integer","description":"Proposed Compa-Ratio as of this ~Worker~ Event","x-workday-type":"Numeric"},"performance_rating_manager":{"type":"integer","description":"The manager's numeric rating value of the manager evaluation. Only returns values for ~Employee~ ~Review~, will return 0 for others. Bypasses normal business process security.","x-workday-type":"Numeric"},"manager_id":{"type":"string","description":"The manager ~worker~ id for this Event","maxLength":36,"x-workday-type":"Text"},"currency":{"type":"string","description":"The currency ID in which the current amount are displayed as of the completion of this ~Worker~ Event.","x-workday-type":"Text"},"effective":{"type":"string","format":"date","description":"The date this business process takes effect.","x-workday-type":"Date"},"is_promotion":{"type":"boolean","description":"Returns true if the event is a promotion and a false if the event is not a promotion.","x-workday-type":"Boolean"},"location":{"$ref":"#/definitions/location_c4502027a2bc100003b188e93ae90032"},"bonus":{"type":"integer","description":"The one-time payment amount for the event, in currency's precision accuracy.","x-workday-type":"Numeric"},"calibration_performance":{"$ref":"#/definitions/calibration_performance_39bf5da0d7e41000080603ffcbea0086"},"base_pay":{"type":"integer","description":"The proposed base pay for the ~employee~ from the ~Employee~ Compensation Event or ~Employee~ Compensation Event subprocess(es). This is the sum of an ~employee's~ compensation element amounts that are considered base pay. The number is represented in the currency and frequency of the ~employee's~ compensation grade profile, or compensation grade if no compensation grade profile exists. Limited to currency's precision.","x-workday-type":"Numeric"},"calibration_potential":{"$ref":"#/definitions/calibration_potential_39bf5da0d7e41000080603e64f550085"},"completed":{"type":"string","format":"date","description":"The date and time the business process was completed.","x-workday-type":"Date"},"job_profile":{"$ref":"#/definitions/job_profile_f0516314f4c310001022ca5965b60076"},"event_label":{"type":"string","description":"Label for this Event","x-workday-type":"Text"},"is_demotion":{"type":"boolean","description":"Returns true if the event is a demotion","x-workday-type":"Boolean"},"compensation_grade_rank":{"type":"integer","description":"The compensation grade rank newly assigned or changed for the ~worker~.","x-workday-type":"Numeric"},"compensation_grade":{"type":"string","description":"The compensation grade name newly assigned or changed for the ~worker~.","x-workday-type":"Text"},"base_pay_annualization_factor":{"type":"integer","description":"The Frequency for the Contract Pay Rate on the position as of this business process' completion.","x-workday-type":"Numeric"},"job_title":{"type":"string","description":"The new job title for the ~worker~ as of the effective date.","x-workday-type":"Text"},"performance_rating_employee":{"type":"integer","description":"The ~employee's~ numeric rating value of the self evaluation. Only returns values for ~Employee~ ~Review~, will return 0 for others. Bypasses normal business process security.","x-workday-type":"Numeric"},"pay_range_penetration":{"type":"integer","description":"Pay Range Penetration for this Event","x-workday-type":"Numeric"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"referenceIndexData_1746e0994aad10000e979868802c1973":{"allOf":[{"type":"object","properties":{"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]},"eventPotential_39bf5da0d7e410000bebce1fdd1600a3":{"allOf":[{"type":"object","properties":{"is_high_potential":{"type":"boolean","description":"High potential for REST API","x-workday-type":"Boolean"},"potential_inactive":{"type":"boolean","description":"High potential for REST API","x-workday-type":"Boolean"},"potential_order":{"type":"string","description":"High potential for REST API","x-workday-type":"Text"},"potential_name":{"type":"string","description":"High potential for REST API","x-workday-type":"Text"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"}}}]}}}