{"swagger":"2.0","info":{"description":"These public APIs are designed to open up foundational Time Tracking functionality in REST. Use this API to give employees the ability to check in and check out of work and to review and modify their recent check-ins and check-outs. You can also use this API to enable managers to check in and check out of work for a worker, to view workers who are currently checked in for work, and to review and modify a worker's check-ins and check-outs.","version":"v1","title":"Time Tracking"},"host":"api.workday.com","basePath":"/timeTracking/v1","tags":[{"name":"timeClockEvents","description":"Create and manage time clock events."}],"schemes":["https"],"paths":{"/timeClockEvents":{"get":{"tags":["timeClockEvents"],"description":"Security Domain: Process: Time Clock Event REST API's","produces":["application/json"],"parameters":[{"name":"fromDate","in":"query","description":"Start date of the time event.","required":false,"type":"string"},{"name":"toDate","in":"query","description":"End date of the time event.","required":false,"type":"string"},{"name":"worker","in":"query","description":"~Worker~ for the Time Block or Clock Event.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"The number of instances to retrieve","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset in the collection","required":false,"type":"integer","format":"int64"},{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["timeClockEventView"]}],"responses":{"200":{"description":"OK","schema":{"type":"object","description":"OK","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/timeClockEventView_3e3738572cc010000fdfe310d0900010"}},"total":{"type":"integer","format":"int64"}}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"invalid input"}}},"401":{"description":"not authorized","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"unauthorized"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"permission denied"}}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"not found: {id}"}}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"internal server error"}}}}},"post":{"tags":["timeClockEvents"],"description":"1. Adds a time clock event for the specified worker.\n2. The data for the time clock event. These fields are required:  \n    - worker\n    - eventType\n    - dateTime\n    - timeZone\n    - timeEntryCode (only for check-in events)\n3. Position can be required if worker has multiple positions.\n4. Not only is time entry code required, but project or Project Plan Task (PPT) can also be required for a given worker.","operationId":"postTime","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["timeClockEventView"]},{"in":"body","name":"timeClockEventView","required":true,"schema":{"$ref":"#/definitions/timeClockEventView_3e3738572cc010000fdfe310d0900010"}}],"responses":{"201":{"description":"posting response","schema":{"$ref":"#/definitions/timeClockEventView_3e3738572cc010000fdfe310d0900010"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"invalid request: validation failures","errors":{"description":"* = Bracketed values in error messages indicate the specific value that caused the error.","error":["\"[Project Plan Task]* is not an allowed projectPlanTask.\"","\"[Project] is not an allowed project.\"","\"[Time Entry Code] is not an allowed timeEntryCode.\"","Enter a businessUnit. A businessUnit is required by the time entry code.","Enter a costCenter. A costCenter is required by the time entry code.","Enter a customOrganization01. A customOrganization01 is required by the time entry code.","Enter a customOrganization02. A customOrganization02 is required by the time entry code.","Enter a customOrganization03. A customOrganization03 is required by the time entry code.","Enter a customOrganization04. A customOrganization04 is required by the time entry code.","Enter a customOrganization05. A customOrganization05 is required by the time entry code.","Enter a customOrganization06. A customOrganization06 is required by the time entry code.","Enter a customOrganization07. A customOrganization07 is required by the time entry code.","Enter a customOrganization08. A customOrganization08 is required by the time entry code.","Enter a customOrganization09. A customOrganization09 is required by the time entry code.","Enter a customOrganization10. A customOrganization10 is required by the time entry code.","Enter a customWorktag01. A customWorktag01 is required by the time entry code.","Enter a customWorktag02. A customWorktag02 is required by the time entry code.","Enter a customWorktag03. A customWorktag03 is required by the time entry code.","Enter a customWorktag04. A customWorktag04 is required by the time entry code.","Enter a customWorktag05. A customWorktag05 is required by the time entry code.","Enter a customWorktag06. A customWorktag06 is required by the time entry code.","Enter a customWorktag07. A customWorktag07 is required by the time entry code.","Enter a customWorktag08. A customWorktag08 is required by the time entry code.","Enter a customWorktag09. A customWorktag09 is required by the time entry code.","Enter a customWorktag10. A customWorktag10 is required by the time entry code.","Enter a customWorktag11. A customWorktag11 is required by the time entry code.","Enter a customWorktag12. A customWorktag12 is required by the time entry code.","Enter a customWorktag13. A customWorktag13 is required by the time entry code.","Enter a customWorktag14. A customWorktag14 is required by the time entry code.","Enter a customWorktag15. A customWorktag15 is required by the time entry code.","Enter a dateTime.","\"Enter a different eventType. [Event Type] is not an allowed eventType.\"","Enter a fund. A fund is required by the time entry code.","Enter a gift. A gift is required by the time entry code.","Enter a grant. A grant is required by the time entry code.","Enter a jobProfile. A jobProfile is required by the time entry code.","Enter a location. A location is required by the time entry code.","Enter a position. Position is required for ~workers~ with multiple positions.","Enter a program. A program is required by the time entry code.","Enter a region. A region is required by the time entry code.","Enter a timeZone.","Enter a worker.","Enter an eventType.","\"Enter either a timeEntryCode, project, or projectPlanTask.\"","Remove businessUnit. BusinessUnit is not allowed on check-out.","Remove businessUnit. BusinessUnit is not allowed.","Remove costCenter. CostCenter is not allowed on check-out.","Remove costCenter. CostCenter is not allowed.","Remove customOrganization01. CustomOrganization01 is not allowed on check-out.","Remove customOrganization01. CustomOrganization01 is not allowed.","Remove customOrganization02. CustomOrganization02 is not allowed on check-out.","Remove customOrganization02. CustomOrganization02 is not allowed.","Remove customOrganization03. CustomOrganization03 is not allowed on check-out.","Remove customOrganization03. CustomOrganization03 is not allowed.","Remove customOrganization04. CustomOrganization04 is not allowed on check-out.","Remove customOrganization04. CustomOrganization04 is not allowed.","Remove customOrganization05. CustomOrganization05 is not allowed on check-out.","Remove customOrganization05. CustomOrganization05 is not allowed.","Remove customOrganization06. CustomOrganization06 is not allowed on check-out.","Remove customOrganization06. CustomOrganization06 is not allowed.","Remove customOrganization07. CustomOrganization07 is not allowed on check-out.","Remove customOrganization07. CustomOrganization07 is not allowed.","Remove customOrganization08. CustomOrganization08 is not allowed on check-out.","Remove customOrganization08. CustomOrganization08 is not allowed.","Remove customOrganization09. CustomOrganization09 is not allowed on check-out.","Remove customOrganization09. CustomOrganization09 is not allowed.","Remove customOrganization10. CustomOrganization10 is not allowed on check-out.","Remove customOrganization10. CustomOrganization10 is not allowed.","Remove customWorktag01. CustomWorktag01 is not allowed on check-out.","Remove customWorktag01. CustomWorktag01 is not allowed.","Remove customWorktag02. CustomWorktag02 is not allowed on check-out.","Remove customWorktag02. CustomWorktag02 is not allowed.","Remove customWorktag03. CustomWorktag03 is not allowed on check-out.","Remove customWorktag03. CustomWorktag03 is not allowed.","Remove customWorktag04. CustomWorktag04 is not allowed on check-out.","Remove customWorktag04. CustomWorktag04 is not allowed.","Remove customWorktag05. CustomWorktag05 is not allowed on check-out.","Remove customWorktag05. CustomWorktag05 is not allowed.","Remove customWorktag06. CustomWorktag06 is not allowed on check-out.","Remove customWorktag06. CustomWorktag06 is not allowed.","Remove customWorktag07. CustomWorktag07 is not allowed on check-out.","Remove customWorktag07. CustomWorktag07 is not allowed.","Remove customWorktag08. CustomWorktag08 is not allowed on check-out.","Remove customWorktag08. CustomWorktag08 is not allowed.","Remove customWorktag09. CustomWorktag09 is not allowed on check-out.","Remove customWorktag09. CustomWorktag09 is not allowed.","Remove customWorktag10. CustomWorktag10 is not allowed on check-out.","Remove customWorktag10. CustomWorktag10 is not allowed.","Remove customWorktag11. CustomWorktag11 is not allowed on check-out.","Remove customWorktag11. CustomWorktag11 is not allowed.","Remove customWorktag12. CustomWorktag12 is not allowed on check-out.","Remove customWorktag12. CustomWorktag12 is not allowed.","Remove customWorktag13. CustomWorktag13 is not allowed on check-out.","Remove customWorktag13. CustomWorktag13 is not allowed.","Remove customWorktag14. CustomWorktag14 is not allowed on check-out.","Remove customWorktag14. CustomWorktag14 is not allowed.","Remove customWorktag15. CustomWorktag15 is not allowed on check-out.","Remove customWorktag15. CustomWorktag15 is not allowed.","Remove fund. Fund is not allowed on check-out.","Remove fund. Fund is not allowed.","Remove gift. Gift is not allowed on check-out.","Remove gift. Gift is not allowed.","Remove grant. Grant is not allowed on check-out.","Remove grant. Grant is not allowed.","Remove jobProfile. JobProfile is not allowed on check-out.","Remove jobProfile. JobProfile is not allowed.","Remove location. Location is not allowed on check-out.","Remove location. Location is not allowed.","Remove overrideRate. OverrideRate is not allowed by the time entry code.","Remove overrideRate. OverrideRate is not allowed on check-out.","Remove position. Position is not allowed on check-out.","Remove position. Position is not required for ~Workers~ with a single position.","Remove program. Program is not allowed on check-out.","Remove program. Program is not allowed.","Remove project because the time entry template is not configured for project time entry.","Remove project. Project is not allowed on check-out.","Remove projectPlanTask because the time entry template is not configured for project time entry.","Remove projectPlanTask. ProjectPlanTask is not allowed on check-out.","Remove region. Region is not allowed on check-out.","Remove region. Region is not allowed.","Remove timeEntryCode. TimeEntryCode is not allowed on check-out.","The position [position] is not valid for the worker on the date of the time clock event.","Remove project or projectPlanTask. The time entry template is not configured for project time entry.","The following worktags are not enabled for self-service edit in worker's time entry template: [worktags not enabled]    ","Enter a [Worktag]. [Worktag] is required by the time entry code or project.               ","invalid request: operation not supported for this resource."]}}}},"401":{"description":"not authorized","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"not authorized"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"permission denied"}}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"internal server error"}}}}}},"/timeClockEvents/{ID}":{"get":{"tags":["timeClockEvents"],"description":"Retrieves the time clock event for the specified identifier.","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["timeClockEventView"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/timeClockEventView_3e3738572cc010000fdfe310d0900010"}},"401":{"description":"not authorized","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"not authorized"}}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"not found: {id}"}}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"internal server error"}}}}},"put":{"tags":["timeClockEvents"],"description":"Secured by: Process: Time Clock Event REST API's","produces":["application/json"],"parameters":[{"name":"view","in":"query","description":"The view of the response","required":false,"type":"string","enum":["timeClockEventView"]},{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"},{"in":"body","name":"timeClockEventView","required":true,"schema":{"$ref":"#/definitions/timeClockEventView_3e3738572cc010000fdfe310d0900010"}}],"responses":{"200":{"description":"update method response","schema":{"$ref":"#/definitions/timeClockEventView_3e3738572cc010000fdfe310d0900010"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"invalid request: validation failures","errors":{"description":"* = Bracketed values in error messages indicate the specific value that caused the error.","error":["\"[Project Plan Task]* is not an allowed projectPlanTask.\"","\"[Project] is not an allowed project.\"","\"[Time Entry Code] is not an allowed timeEntryCode.\"","Enter a businessUnit. A businessUnit is required by the time entry code.","Enter a costCenter. A costCenter is required by the time entry code.","Enter a customOrganization01. A customOrganization01 is required by the time entry code.","Enter a customOrganization02. A customOrganization02 is required by the time entry code.","Enter a customOrganization03. A customOrganization03 is required by the time entry code.","Enter a customOrganization04. A customOrganization04 is required by the time entry code.","Enter a customOrganization05. A customOrganization05 is required by the time entry code.","Enter a customOrganization06. A customOrganization06 is required by the time entry code.","Enter a customOrganization07. A customOrganization07 is required by the time entry code.","Enter a customOrganization08. A customOrganization08 is required by the time entry code.","Enter a customOrganization09. A customOrganization09 is required by the time entry code.","Enter a customOrganization10. A customOrganization10 is required by the time entry code.","Enter a customWorktag01. A customWorktag01 is required by the time entry code.","Enter a customWorktag02. A customWorktag02 is required by the time entry code.","Enter a customWorktag03. A customWorktag03 is required by the time entry code.","Enter a customWorktag04. A customWorktag04 is required by the time entry code.","Enter a customWorktag05. A customWorktag05 is required by the time entry code.","Enter a customWorktag06. A customWorktag06 is required by the time entry code.","Enter a customWorktag07. A customWorktag07 is required by the time entry code.","Enter a customWorktag08. A customWorktag08 is required by the time entry code.","Enter a customWorktag09. A customWorktag09 is required by the time entry code.","Enter a customWorktag10. A customWorktag10 is required by the time entry code.","Enter a customWorktag11. A customWorktag11 is required by the time entry code.","Enter a customWorktag12. A customWorktag12 is required by the time entry code.","Enter a customWorktag13. A customWorktag13 is required by the time entry code.","Enter a customWorktag14. A customWorktag14 is required by the time entry code.","Enter a customWorktag15. A customWorktag15 is required by the time entry code.","Enter a dateTime.","\"Enter a different eventType. [Event Type] is not an allowed eventType.\"","Enter a fund. A fund is required by the time entry code.","Enter a gift. A gift is required by the time entry code.","Enter a grant. A grant is required by the time entry code.","Enter a jobProfile. A jobProfile is required by the time entry code.","Enter a location. A location is required by the time entry code.","Enter a position. Position is required for ~workers~ with multiple positions.","Enter a program. A program is required by the time entry code.","Enter a region. A region is required by the time entry code.","Enter a timeZone.","Enter a worker.","Enter an eventType.","\"Enter either a timeEntryCode, project, or projectPlanTask.\"","Remove businessUnit. BusinessUnit is not allowed on check-out.","Remove businessUnit. BusinessUnit is not allowed.","Remove costCenter. CostCenter is not allowed on check-out.","Remove costCenter. CostCenter is not allowed.","Remove customOrganization01. CustomOrganization01 is not allowed on check-out.","Remove customOrganization01. CustomOrganization01 is not allowed.","Remove customOrganization02. CustomOrganization02 is not allowed on check-out.","Remove customOrganization02. CustomOrganization02 is not allowed.","Remove customOrganization03. CustomOrganization03 is not allowed on check-out.","Remove customOrganization03. CustomOrganization03 is not allowed.","Remove customOrganization04. CustomOrganization04 is not allowed on check-out.","Remove customOrganization04. CustomOrganization04 is not allowed.","Remove customOrganization05. CustomOrganization05 is not allowed on check-out.","Remove customOrganization05. CustomOrganization05 is not allowed.","Remove customOrganization06. CustomOrganization06 is not allowed on check-out.","Remove customOrganization06. CustomOrganization06 is not allowed.","Remove customOrganization07. CustomOrganization07 is not allowed on check-out.","Remove customOrganization07. CustomOrganization07 is not allowed.","Remove customOrganization08. CustomOrganization08 is not allowed on check-out.","Remove customOrganization08. CustomOrganization08 is not allowed.","Remove customOrganization09. CustomOrganization09 is not allowed on check-out.","Remove customOrganization09. CustomOrganization09 is not allowed.","Remove customOrganization10. CustomOrganization10 is not allowed on check-out.","Remove customOrganization10. CustomOrganization10 is not allowed.","Remove customWorktag01. CustomWorktag01 is not allowed on check-out.","Remove customWorktag01. CustomWorktag01 is not allowed.","Remove customWorktag02. CustomWorktag02 is not allowed on check-out.","Remove customWorktag02. CustomWorktag02 is not allowed.","Remove customWorktag03. CustomWorktag03 is not allowed on check-out.","Remove customWorktag03. CustomWorktag03 is not allowed.","Remove customWorktag04. CustomWorktag04 is not allowed on check-out.","Remove customWorktag04. CustomWorktag04 is not allowed.","Remove customWorktag05. CustomWorktag05 is not allowed on check-out.","Remove customWorktag05. CustomWorktag05 is not allowed.","Remove customWorktag06. CustomWorktag06 is not allowed on check-out.","Remove customWorktag06. CustomWorktag06 is not allowed.","Remove customWorktag07. CustomWorktag07 is not allowed on check-out.","Remove customWorktag07. CustomWorktag07 is not allowed.","Remove customWorktag08. CustomWorktag08 is not allowed on check-out.","Remove customWorktag08. CustomWorktag08 is not allowed.","Remove customWorktag09. CustomWorktag09 is not allowed on check-out.","Remove customWorktag09. CustomWorktag09 is not allowed.","Remove customWorktag10. CustomWorktag10 is not allowed on check-out.","Remove customWorktag10. CustomWorktag10 is not allowed.","Remove customWorktag11. CustomWorktag11 is not allowed on check-out.","Remove customWorktag11. CustomWorktag11 is not allowed.","Remove customWorktag12. CustomWorktag12 is not allowed on check-out.","Remove customWorktag12. CustomWorktag12 is not allowed.","Remove customWorktag13. CustomWorktag13 is not allowed on check-out.","Remove customWorktag13. CustomWorktag13 is not allowed.","Remove customWorktag14. CustomWorktag14 is not allowed on check-out.","Remove customWorktag14. CustomWorktag14 is not allowed.","Remove customWorktag15. CustomWorktag15 is not allowed on check-out.","Remove customWorktag15. CustomWorktag15 is not allowed.","Remove fund. Fund is not allowed on check-out.","Remove fund. Fund is not allowed.","Remove gift. Gift is not allowed on check-out.","Remove gift. Gift is not allowed.","Remove grant. Grant is not allowed on check-out.","Remove grant. Grant is not allowed.","Remove jobProfile. JobProfile is not allowed on check-out.","Remove jobProfile. JobProfile is not allowed.","Remove location. Location is not allowed on check-out.","Remove location. Location is not allowed.","Remove overrideRate. OverrideRate is not allowed by the time entry code.","Remove overrideRate. OverrideRate is not allowed on check-out.","Remove position. Position is not allowed on check-out.","Remove position. Position is not required for ~Workers~ with a single position.","Remove program. Program is not allowed on check-out.","Remove program. Program is not allowed.","Remove project because the time entry template is not configured for project time entry.","Remove project. Project is not allowed on check-out.","Remove projectPlanTask because the time entry template is not configured for project time entry.","Remove projectPlanTask. ProjectPlanTask is not allowed on check-out.","Remove region. Region is not allowed on check-out.","Remove region. Region is not allowed.","Remove timeEntryCode. TimeEntryCode is not allowed on check-out.","The position [position] is not valid for the worker on the date of the time clock event.","Remove project or projectPlanTask. The time entry template is not configured for project time entry.","The following worktags are not enabled for self-service edit in worker's time entry template: [worktags not enabled]    ","Enter a [Worktag]. [Worktag] is required by the time entry code or project.               ","invalid request: operation not supported for this resource."]}}}},"401":{"description":"not authorized","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"not authorized"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"permission denied"}}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"internal server error"}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}},"delete":{"tags":["timeClockEvents"],"summary":"Delete a pass-in time clock event","description":"Delete a pass-in time clock event","produces":["application/json"],"parameters":[{"name":"ID","in":"path","description":"Id of specified instance","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"a validation error occurred (see https://developer.workday.com/explorer/overview/error-messages)","schema":{"$ref":"#/definitions/VALIDATION_ERROR_MODEL_REFERENCE"}},"401":{"description":"not authorized","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"not authorized"}}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"permission denied"}}},"500":{"description":"Internal server error","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},"examples":{"application/json":{"error":"internal server error"}}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/v1/authorize","flow":"implicit"}},"definitions":{"timeZone_3e3738572cc010001037f16af03b0017":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/timeZone"}]},"fund_2d6782d92d731000044e0f5ad06e0031":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/fund"}]},"timeEntryCode_ee3d887ce441100008ae7446a1ce002f":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/timeEntryCode"}]},"projectPlanTask_ee3d887ce4411000085b1e9b8cbd0026":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/projectPlanTask"}]},"project_ee3d887ce441100007fa4dd00ec0001d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/project"}]},"position_0a6f96054ac4100007d3b46f91770027":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/position"}]},"eventType_0a6f96054ac41000079a35410ed9001e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/eventType"}]},"region_0a6f96054ac41000076063a6b0ff0014":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/region"}]},"customOrganization07_54bd0898dc9910000d3731974a2a0048":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization07"}]},"customOrganization02_54bd0898dc9910000bc4240d0d30001a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization02"}]},"customOrganization09_54bd0898dc9910000dd9ef603fef005a":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization09"}]},"jobProfile_4cead304c6d910000a66bd72749f0032":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/jobProfile"}]},"customOrganization10_54bd0898dc9910000e213be20f520063":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization10"}]},"location_4cead304c6d910000a93ef699614003c":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/location"}]},"customOrganization08_54bd0898dc9910000d6c2f9727900051":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization08"}]},"grant_4cead304c6d910000a3181cd95d10028":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/grant"}]},"customOrganization06_54bd0898dc9910000cecaf1664fa003e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization06"}]},"gift_4cead304c6d910000a06d2f2d74c001e":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/gift"}]},"customOrganization03_54bd0898dc9910000c0cc64e11d10023":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization03"}]},"program_4cead304c6d9100009cf5aace0360014":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/program"}]},"customOrganization01_a84de86d2c7b100004e23939907b0012":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization01"}]},"customOrganization04_54bd0898dc9910000c39a76b17c0002b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization04"}]},"customOrganization05_54bd0898dc9910000c70c52323dc0035":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customOrganization05"}]},"currency_d5dca550f8fd1000091b129eb05c0088":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/currency"}]},"businessUnit_d5dca550f8fd10000706ddb31c160036":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/businessUnit"}]},"costCenter_d5dca550f8fd1000086abf265e8c0061":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/costCenter"}]},"customWorktag08_28af701b8cb1100016ce4f2c19801297":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag08"}]},"worker_d5dca550f8fd10000531471b60ca0011":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/worker"}]},"customWorktag14_28af701b8cb1100018306ffbba3612cd":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag14"}]},"customWorktag04_28af701b8cb1100015bf87827a8f127b":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag04"}]},"customWorktag12_28af701b8cb1100017abdeefe29112ba":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag12"}]},"customWorktag13_28af701b8cb1100017ff7d1fd47912c4":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag13"}]},"customWorktag09_28af701b8cb1100017027e18de2d12a0":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag09"}]},"customWorktag15_28af701b8cb11000188ce9acf40512d6":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag15"}]},"customWorktag01_28af701b8cb1100005a947a3a30e1257":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag01"}]},"customWorktag07_28af701b8cb11000165d1078efe9128d":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag07"}]},"customWorktag02_28af701b8cb1100006e238c0081f1260":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag02"}]},"customWorktag05_28af701b8cb1100015f2e2684a751284":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag05"}]},"customWorktag11_28af701b8cb11000177e498829db12b2":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag11"}]},"customWorktag06_28af701b8cb110001586eda6b6361272":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag06"}]},"customWorktag03_28af701b8cb11000071f314ba4b81269":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag03"}]},"customWorktag10_28af701b8cb110001740d27ff05812a9":{"allOf":[{"$ref":"#/definitions/INSTANCE_MODEL_REFERENCE"},{"x-prompt-resource":"/prompt/timeClockEventView/customWorktag10"}]},"timeClockEventView_3e3738572cc010000fdfe310d0900010":{"allOf":[{"type":"object","properties":{"dateTime":{"type":"string","format":"date","description":"Returns the Date Time for a Time Clock Event.","x-workday-type":"Date"},"timeZone":{"$ref":"#/definitions/timeZone_3e3738572cc010001037f16af03b0017"},"fund":{"$ref":"#/definitions/fund_2d6782d92d731000044e0f5ad06e0031"},"overrideRate":{"type":"integer","description":"The numeric constant Override Rate (REST).","x-workday-type":"Numeric"},"reference_ID":{"type":"string","description":"The Reference ID to use for lookups within our Workday Web Services. For supervisory organizations, this is also the 'Organization ID' (Internal API Use Only)","x-workday-type":"Text"},"timeEntryCode":{"$ref":"#/definitions/timeEntryCode_ee3d887ce441100008ae7446a1ce002f"},"projectPlanTask":{"$ref":"#/definitions/projectPlanTask_ee3d887ce4411000085b1e9b8cbd0026"},"project":{"$ref":"#/definitions/project_ee3d887ce441100007fa4dd00ec0001d"},"position":{"$ref":"#/definitions/position_0a6f96054ac4100007d3b46f91770027"},"eventType":{"$ref":"#/definitions/eventType_0a6f96054ac41000079a35410ed9001e"},"region":{"$ref":"#/definitions/region_0a6f96054ac41000076063a6b0ff0014"},"customOrganization07":{"$ref":"#/definitions/customOrganization07_54bd0898dc9910000d3731974a2a0048"},"customOrganization02":{"$ref":"#/definitions/customOrganization02_54bd0898dc9910000bc4240d0d30001a"},"customOrganization09":{"$ref":"#/definitions/customOrganization09_54bd0898dc9910000dd9ef603fef005a"},"jobProfile":{"$ref":"#/definitions/jobProfile_4cead304c6d910000a66bd72749f0032"},"customOrganization10":{"$ref":"#/definitions/customOrganization10_54bd0898dc9910000e213be20f520063"},"location":{"$ref":"#/definitions/location_4cead304c6d910000a93ef699614003c"},"customOrganization08":{"$ref":"#/definitions/customOrganization08_54bd0898dc9910000d6c2f9727900051"},"grant":{"$ref":"#/definitions/grant_4cead304c6d910000a3181cd95d10028"},"customOrganization06":{"$ref":"#/definitions/customOrganization06_54bd0898dc9910000cecaf1664fa003e"},"gift":{"$ref":"#/definitions/gift_4cead304c6d910000a06d2f2d74c001e"},"customOrganization03":{"$ref":"#/definitions/customOrganization03_54bd0898dc9910000c0cc64e11d10023"},"program":{"$ref":"#/definitions/program_4cead304c6d9100009cf5aace0360014"},"customOrganization01":{"$ref":"#/definitions/customOrganization01_a84de86d2c7b100004e23939907b0012"},"customOrganization04":{"$ref":"#/definitions/customOrganization04_54bd0898dc9910000c39a76b17c0002b"},"customOrganization05":{"$ref":"#/definitions/customOrganization05_54bd0898dc9910000c70c52323dc0035"},"currency":{"$ref":"#/definitions/currency_d5dca550f8fd1000091b129eb05c0088"},"comment":{"type":"string","description":"Comment associated with the Time Clock Event. (Internal API Use Only)","x-workday-type":"Text"},"businessUnit":{"$ref":"#/definitions/businessUnit_d5dca550f8fd10000706ddb31c160036"},"costCenter":{"$ref":"#/definitions/costCenter_d5dca550f8fd1000086abf265e8c0061"},"customWorktag08":{"$ref":"#/definitions/customWorktag08_28af701b8cb1100016ce4f2c19801297"},"worker":{"$ref":"#/definitions/worker_d5dca550f8fd10000531471b60ca0011"},"customWorktag14":{"$ref":"#/definitions/customWorktag14_28af701b8cb1100018306ffbba3612cd"},"customWorktag04":{"$ref":"#/definitions/customWorktag04_28af701b8cb1100015bf87827a8f127b"},"customWorktag12":{"$ref":"#/definitions/customWorktag12_28af701b8cb1100017abdeefe29112ba"},"customWorktag13":{"$ref":"#/definitions/customWorktag13_28af701b8cb1100017ff7d1fd47912c4"},"customWorktag09":{"$ref":"#/definitions/customWorktag09_28af701b8cb1100017027e18de2d12a0"},"customWorktag15":{"$ref":"#/definitions/customWorktag15_28af701b8cb11000188ce9acf40512d6"},"customWorktag01":{"$ref":"#/definitions/customWorktag01_28af701b8cb1100005a947a3a30e1257"},"customWorktag07":{"$ref":"#/definitions/customWorktag07_28af701b8cb11000165d1078efe9128d"},"customWorktag02":{"$ref":"#/definitions/customWorktag02_28af701b8cb1100006e238c0081f1260"},"customWorktag05":{"$ref":"#/definitions/customWorktag05_28af701b8cb1100015f2e2684a751284"},"customWorktag11":{"$ref":"#/definitions/customWorktag11_28af701b8cb11000177e498829db12b2"},"customWorktag06":{"$ref":"#/definitions/customWorktag06_28af701b8cb110001586eda6b6361272"},"customWorktag03":{"$ref":"#/definitions/customWorktag03_28af701b8cb11000071f314ba4b81269"},"customWorktag10":{"$ref":"#/definitions/customWorktag10_28af701b8cb110001740d27ff05812a9"},"id":{"type":"string","description":"Id of the instance"},"href":{"type":"string","description":"A link to the instance"},"descriptor":{"type":"string","example":"Lorem ipsum dolor sit ame","description":"A preview of the instance"}}}]},"INSTANCE_MODEL_REFERENCE":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the instance","readOnly":true},"href":{"type":"string","description":"A link to the instance","readOnly":true}}},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}},"VALIDATION_ERROR_MODEL_REFERENCE":{"allOf":[{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"},{"properties":{"errors":{"type":"array","description":"An array of validation errors","items":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}]},"FACETS_MODEL_REFERENCE":{"type":"array","items":{"type":"object","description":"This object represents the possible facets for this resource","readOnly":true,"properties":{"descriptor":{"type":"string","description":"A description of the facet"},"facetParameter":{"type":"string","description":"The alias used to select the facet"},"values":{"type":"array","description":"the facet values","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"The number of instances returned by this facet"},"id":{"type":"string","description":"wid / id / reference id","pattern":"^(?:(?:[0-9a-f]{32})|(?:[0-9]+\\$[0-9]+)|(\\S+=\\S+))$"},"descriptor":{"type":"string","description":"A description of the facet"},"href":{"type":"string","description":"A link to the instance","readOnly":true}},"required":["id"]}}}}}}}