{"swagger":"2.0","info":{"description":"The User Info endpoint is used to retrieve identity information about the currently logged-in user.","version":"v1","title":"User Info"},"host":"api.workday.com","basePath":"/common/v1","tags":[{"name":"userInfo"}],"schemes":["https"],"paths":{"/userInfo":{"get":{"tags":["userInfo"],"description":"Retrieves identity information about the currently logged-in user.\n**Secured by:** `System Account as Self`,\n**Scope**: System","produces":["application/json"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"type":"object","description":"collection something or other","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/userinfo_e43770f8ca581000233c8820c94400de"}},"total":{"type":"integer","format":"int64"}}}},"default":{"description":"an error occurred","schema":{"$ref":"#/definitions/ERROR_MODEL_REFERENCE"}}}}}},"securityDefinitions":{"OAuth2":{"type":"oauth2","authorizationUrl":"https://auth.api.workday.com/authorize","flow":"implicit"}},"definitions":{"userinfo_e43770f8ca581000233c8820c94400de":{"allOf":[{"type":"object","properties":{"workdayID":{"type":"string","description":"Returns the Workday ID for a given object.","maxLength":36,"x-workday-type":"Text"},"workerID":{"type":"string","description":"Instance ID of the ~Worker~ for this System Account","x-workday-type":"Text"},"currency":{"type":"string","description":"returns the preferred currency id for the user","x-workday-type":"Text"},"email":{"type":"string","description":"email address","x-workday-type":"Text"},"enablePdfAndExcel":{"type":"boolean","x-workday-type":"Boolean"},"fullName":{"type":"string","description":"Full Name of the person associated with this System Account if any","x-workday-type":"Text"},"imageLastUpdated":{"type":"string","format":"date","x-workday-type":"Date"},"instanceID":{"type":"string","description":"The Instance ID for the System Account.\n\nNot meant for use outside of Worksheets.","x-workday-type":"Text"},"locale":{"type":"string","x-workday-type":"Text"},"timezone":{"type":"string","x-workday-type":"Text"},"language":{"type":"string","x-workday-type":"Text"},"userName":{"type":"string","description":"The user name for this account.","x-workday-type":"Text"}}}]},"ERROR_MODEL_REFERENCE":{"type":"object","required":["error"],"properties":{"error":{"type":"string","description":"A description of the error"}}}}}